<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.oms.mapper.ChannelNewsMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.oms.entity.ChannelNews" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createid" property="createid" jdbcType="BIGINT" />
    <result column="channelid" property="channelid" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="wordkey" property="wordkey" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
    <result column="views" property="views" jdbcType="INTEGER" />
    <result column="publisher" property="publisher" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />

  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhuhuibao.mybatis.oms.entity.ChannelNews" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, date_format(createTime,'%Y-%m-%d %H:%i:%s') createTime, status, createid, channelid, sort, wordkey, description,
    imgurl, views
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_oms_channel_news
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.oms.entity.ChannelNews" >
    insert into t_oms_channel_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      createTime,
      <if test="createid != null" >
        createid,
      </if>
      <if test="channelid != null" >
        channelid,
      </if>

      <if test="sort != null" >
        sort,
      </if>
      <if test="wordkey != null" >
        wordkey,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="imgurl != null" >
        imgurl,
      </if>
      <if test="views != null" >
        views,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="createid != null" >
        #{createid,jdbcType=BIGINT},
      </if>
      <if test="channelid != null" >
        #{channelid,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="wordkey != null" >
        #{wordkey,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="views != null" >
        #{views,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.oms.entity.ChannelNews" >
    update t_oms_channel_news
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createid != null" >
        createid = #{createid,jdbcType=BIGINT},
      </if>
      <if test="channelid != null" >
        channelid = #{channelid,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="wordkey != null" >
        wordkey = #{wordkey,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="views != null" >
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateViews" parameterType="com.zhuhuibao.mybatis.oms.entity.ChannelNews" >
    update t_oms_channel_news set views = views+1 where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryNewsByChannelInfo" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_oms_channel_news
    <where>
      <if test="channelid != null">
        and channelid = #{channelid}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="sort != null">
        and sort = #{sort}
      </if>
      <if test="createid != null">
        and createid = #{createid}
      </if>
    </where>
    order by createTime desc
    <if test="count != null">
      limit #{count}
    </if>
  </select>

  <select id="findAllNewsList" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
    select id,title,date_format(createTime,'%Y-%m-%d %H:%i:%s') createTime from t_oms_channel_news
    <where>
      <if test="channelid != null">
        and channelid = #{channelid}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="sort != null">
        and sort = #{sort}
      </if>
      <if test="createid != null">
        and createid = #{createid}
      </if>
    </where>
    order by createTime desc
  </select>

  <select id="queryViewsByChannel" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
    select id,title,description,imgUrl,views from t_oms_channel_news
    <where>
      <if test="channelid != null">
        and channelid = #{channelid}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="sort != null">
        and sort = #{sort}
      </if>
    </where>
    order by views desc
    limit #{count}
  </select>

  <!-- 查询咨询列表@author:gmli@since2016.05.09 -->
  <select id="findAllContentList" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
    select a.id,a.title,

    CONCAT(b.name,'>',
    (select w.name from t_oms_channel w where w.sort=a.sort and w.parentId=a.channelid) ) name

    ,a.views,
    (case when a.status=0 then '未审核'
    when a.status=1 then '已审核' when
    a.status='2' then '已拒绝' else '回收站' end )
    statusText,a.createid,
    m.username  publisher,
    date_format(a.createTime,'%Y-%m-%d %H:%i:%s') createTime
    from
    t_oms_channel_news a left join t_oms_channel b on a.channelid=b.id
    left
    join t_oms_user m on m.id=a.createid
    <where>
      a.status!=3
      <if test="channelid!=11">
        and a.channelid!='11'
      </if>

      <if test="title != null">
        and a.title like CONCAT('%',#{title},'%')
      </if>
      <if test="status != null">
        and a.status = #{status}
      </if>
      <if test="channelid != null">
        and a.channelid = #{channelid}
      </if>
      <if test="sort != null">
        and a.sort = #{sort}
      </if>
    </where>
    order by a.createTime desc
  </select>
  
    <!-- 查询咨询列表@author:gmli@since2016.05.09 -->
  <select id="findAllChanNewsList" resultType="java.util.Map" parameterType="java.util.Map" >
    select a.id,a.title,   
      date_format(a.createTime,'%Y-%m-%d %H:%i:%s') createTime,
      a.imgurl,
      a.description
      from
     t_oms_channel_news a 
    <where>
      a.status!=3 
      <if test="status != null">
        and a.status = #{status}
      </if>
      <if test="channelid != null">
        and a.channelid = #{channelid}
      </if>
      <if test="sort != null">
        and a.sort = #{sort}
      </if>
    </where>
     <if test="isHot == true">
         order by a.views desc
      </if>
      
      <if test="isHot != true">
         order by a.createTime desc
      </if>
    
    
  </select>
  
   <select id="queryDetailsById" resultType="java.util.Map" parameterType="java.lang.Long" >
    select
      id, title, date_format(createTime,'%Y-%m-%d %H:%i:%s') createTime,  description,content
      ,attachName,attachUrl
    from t_oms_channel_news
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <!-- 查询所属栏目列表@author:gmli@since2016.05.09 -->
  <select id="queryChannelList" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
   select t.id,t.name,t.sort,t.parentId channelid  from t_oms_channel t where (t.parentId in(1,6,13) or t.id in(1,6,13))
  </select>
  <update id="batchDelNews">
    update t_oms_channel_news
    <set>
      status = 3,
    </set>
    where id = #{id}
  </update>
  <select id="findAllTechNewsList" resultType="java.util.Map" parameterType="java.util.Map" >
    select t.id, t.title,ur.username ,date_format(t.createTime,'%Y-%m-%d %H:%i:%s') createTime,t.imgurl,t.content,t.description from t_oms_channel_news t
    left join t_oms_user ur on ur.id = t.createid
    <where>
      <if test="channelid != null">
        and channelid = #{channelid}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="sort != null">
        and sort = #{sort}
      </if>
      <if test="createid != null">
        and createid = #{createid}
      </if>
    </where>
    order by createTime desc
  </select>
  <select id="previewNewsInfo" resultType="java.util.Map" parameterType="java.util.Map" >
    select t.id, t.title,ur.username ,date_format(t.createTime,'%Y-%m-%d %H:%i:%s') createTime,t.imgurl,t.content,t.description from t_oms_channel_news t
    left join t_oms_user ur on ur.id = t.createid
    <where>
      <if test="id != null">
        and t.id = #{id}
      </if>
    </where>
    order by createTime desc
  </select>

  <select id="queryHomepageTechnologyList" resultType="java.util.Map" parameterType="java.util.Map" >
    select a.connectedId as id,a.imgUrl,a.title
    from t_sys_advertising a
    left join t_sys_adv_attr at on at.id = a.advAttrId
    where at.chanType = #{chanType}
    and at.page = #{page}
    and at.advArea = #{advArea}
    and at.advType = #{advType}
    order by a.sort   asc
  </select>

  <select id="findAllPassNewsByType" resultType="java.util.Map">
    select id,title,date_format(createTime,'%Y-%m-%d %H:%i:%s') createTime,description  from t_oms_channel_news
    <where>
      <if test="channelid != null and channelid !='' ">
        and channelid = #{channelid}
      </if>
      <if test="sort != null and sort !='' ">
        and sort = #{sort}
      </if>
      <if test="status != null and status !='' ">
        and status = #{status}
      </if>
    </where>
    order by createTime desc
    <if test="count != null and count!='' ">
      limit 0,#{count}
    </if>
  </select>
  <select id="selectHotViews" resultType="java.util.Map">
    select id,title,views from t_oms_channel_news
    where channelid = #{type} and status =1  order by views desc
    <if test="count != null and count!='' ">
      limit 0,#{count}
    </if>
  </select>
  <select id="selectNewViews" resultType="java.util.Map">
    select id,title,date_format(createTime,'%Y-%m-%d') createTime  from t_oms_channel_news
    where channelid = #{type} and status = 1 order by createTime desc
    <if test="count != null and count!='' ">
      limit 0,#{count}
    </if>
  </select>
  <select id="selectNewsByType" resultType="java.util.Map">
    select id,title,  date_format(createTime,'%Y-%m-%d %H:%i:%s') createTime from  t_oms_channel_news
    where status = 1 and channelid = #{type} and sort = #{sort} order by   createTime  desc
    <if test="count != null and count!='' ">
      limit 0,#{count}
    </if>
  </select>
    <select id="selectByID" resultType="com.zhuhuibao.mybatis.oms.entity.ChannelNews">
        select * from t_oms_channel_news where id = #{id} and status != 3
    </select>
</mapper>