<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.oms.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.oms.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lastLoginTime" property="lastLoginTime" jdbcType="VARCHAR" />
    <result column="lastLoginIp" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="curLoginTime" property="curLoginTime" jdbcType="VARCHAR" />
    <result column="lastLoginIp" property="lastLoginIp" jdbcType="VARCHAR" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, createTime,date_format(curLoginTime,'%Y-%m-%d %H:%i:%s') curLoginTime,curLoginIp,date_format(lastLoginTime,'%Y-%m-%d %H:%i:%s') lastLoginTime,lastLoginIp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_oms_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectUserByAccount" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_oms_user
    where username = #{userName,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_oms_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.oms.entity.User" >
    insert into t_oms_user (id, username, password, 
      createTime)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.oms.entity.User" >
    insert into t_oms_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
        createTime,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
        now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.oms.entity.User" >
    update t_oms_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuhuibao.mybatis.oms.entity.User" >
    update t_oms_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateRecordByPrimaryKey" parameterType="com.zhuhuibao.mybatis.oms.entity.User" >
    update t_oms_user
    set lastLoginTime=curLoginTime,
    curLoginTime=now(),lastLoginIp=curLoginIp,
    curLoginIp=#{curLoginIp,jdbcType=VARCHAR} 
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>