<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.project.mapper.ProjectTestMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.project.entity.ProjectTest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="areaSize" property="areaSize" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="background" property="background" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, areaSize,remark,background,description
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_prj_project_test
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.project.entity.ProjectTest" >
    insert into t_prj_project_test
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="areaSize != null" >
        areaSize,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="background != null" >
        background,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areaSize != null" >
        #{areaSize,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="background != null" >
        #{background,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>