<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.project.mapper.ViewProjectMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.project.entity.ViewProject" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="viewerId" property="viewerId" jdbcType="BIGINT" />
    <result column="companyId" property="companyId" jdbcType="BIGINT" />
    <result column="prjId" property="prjId" jdbcType="BIGINT" />
    <result column="viewTime" property="viewTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, viewerId, prjId, viewTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_prj_viewProject
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_prj_viewProject
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.project.entity.ViewProject" >
    insert into t_prj_viewProject (id, viewerId, prjId, 
      viewTime)
    values (#{id,jdbcType=BIGINT}, #{viewerId,jdbcType=BIGINT}, #{prjId,jdbcType=BIGINT}, 
      #{viewTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.project.entity.ViewProject" >
    insert into t_prj_viewProject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="viewerId != null" >
        viewerId,
      </if>
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="prjId != null" >
        prjId,
      </if>
        viewTime,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="viewerId != null" >
        #{viewerId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="prjId != null" >
        #{prjId,jdbcType=BIGINT},
      </if>
        now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.project.entity.ViewProject" >
    update t_prj_viewProject
    <set >
      <if test="viewerId != null" >
        viewerId = #{viewerId,jdbcType=BIGINT},
      </if>
      <if test="prjId != null" >
        prjId = #{prjId,jdbcType=BIGINT},
      </if>
      <if test="viewTime != null" >
        viewTime = #{viewTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuhuibao.mybatis.project.entity.ViewProject" >
  update t_prj_viewProject
  set viewerId = #{viewerId,jdbcType=BIGINT},
  prjId = #{prjId,jdbcType=BIGINT},
  viewTime = #{viewTime,jdbcType=TIMESTAMP}
  where id = #{id,jdbcType=BIGINT}
</update>
  <select id="checkIsViewProject" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) from t_prj_viewProject t where t.companyId = #{companyId} and t.prjId = #{goodsId}
  </select>
  
  <select id="getAreaOrCity" parameterType="java.util.Map" resultType="java.util.Map"> 
     select w.code,w.cityCode,c.provincecode from t_dictionary_area
      w left join t_dictionary_city c on w.cityCode=c.code
     where w.name=#{area} and c.name=#{city}
  </select>
</mapper>