<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.memCenter.mapper.ResumeLookRecordMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.memCenter.entity.ResumeLookRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="resumeID" property="resumeID" jdbcType="BIGINT" />
    <result column="companyID" property="companyID" jdbcType="BIGINT" />
    <result column="createId" property="createId" jdbcType="BIGINT" />
    <result column="publishDate" property="publishDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, resumeID, companyID,createId,publishDate
  </sql>
  <insert id="addLookRecord" parameterType="java.util.Map" >
    insert into t_i_resume_look_record (id, resumeID, companyID,createId,publishDate
    )
    values (#{id}, #{resumeID}, #{companyID},#{createId},now()
    )
  </insert>

  <select id="findAllMyResumeLookRecord" parameterType="java.util.Map" resultType="java.util.Map">
    select r.id,date_format(r.publishDate,'%Y-%m-%d %H:%i:%s')publishDate,r.companyID,m.enterpriseName from t_i_resume_look_record r
    left join t_m_member m on r.companyID = m.id
    where r.createId = #{id}
    order by r.publishDate desc
  </select>
</mapper>