<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.orderoperation.mapper.OrderoperationMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.orderoperation.entity.Orderoperation">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="orderoperation" property="orderoperation" jdbcType="VARCHAR"/>
        <result column="orderoperationtime" property="orderoperationtime" jdbcType="TIMESTAMP"/>
        <result column="orderstatue" property="orderstatue" jdbcType="INTEGER"/>
        <result column="logisticstatue" property="logisticstatue" jdbcType="INTEGER"/>
        <result column="orderid" property="orderid" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,orderoperation,orderoperationtime,orderstatue,paystatue,logisticstatue,orderid,remark,replacementnumber
     </sql>

    <insert id="insertSelective" parameterType="com.movision.mybatis.orderoperation.entity.Orderoperation">
        insert into yw_orderoperation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                id,
            </if>
            <if test="orderoperation != null">
                orderoperation,
            </if>
            <if test="orderoperationtime != null">
                orderoperationtime,
            </if>
            <if test="orderstatue != null">
                orderstatue,
            </if>
            <if test="logisticstatue != null">
                logisticstatue,
            </if>
            <if test="orderid != null">
                orderid,
            </if>
            <if test="remark != null">
                remark,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="orderoperation != null">
                #{orderoperation,jdbcType=VARCHAR},
            </if>
            <if test="orderoperationtime != null">
                #{orderoperationtime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderstatue != null">
                #{orderstatue,jdbcType=INTEGER},
            </if>
            <if test="logisticstatue != null">
                #{logisticstatue,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>
</mapper>