<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.bossOrders.mapper.BossOrdersMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.bossOrders.entity.BossOrders">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="ordernumber" property="ordernumber" jdbcType="VARCHAR"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="addressid" property="addressid" jdbcType="INTEGER"/>
        <result column="takeway" property="takeway" jdbcType="INTEGER"/>
        <result column="position" property="position" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="bill" property="bill" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="DOUBLE"/>
        <result column="sendmoney" property="sendmoney" jdbcType="DOUBLE"/>
        <result column="isdiscount" property="isdiscount" jdbcType="INTEGER"/>
        <result column="couponsid" property="couponsid" jdbcType="VARCHAR"/>
        <result column="discouponmoney" property="discouponmoney" jdbcType="DOUBLE"/>
        <result column="dispointmoney" property="dispointmoney" jdbcType="DOUBLE"/>
        <result column="realmoney" property="realmoney" jdbcType="DOUBLE"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
        <result column="paytype" property="paytype" jdbcType="INTEGER"/>
        <result column="paytime" property="paytime" jdbcType="TIMESTAMP"/>
        <result column="paycode" property="paycode" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
        <result column="logictisid" property="logictisid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, ordernumber, userid, addressid, takeway, position, status, bill, money, sendmoney, 
    isdiscount, couponsid, discouponmoney, dispointmoney, realmoney, intime, paytype, 
    paytime, paycode, remark, isdel,logictisid
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_orders
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yw_orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.movision.mybatis.bossOrders.entity.BossOrders">
    insert into yw_orders (id, ordernumber, userid, 
      addressid, takeway, position, 
      status, bill, money, 
      sendmoney, isdiscount, couponsid, 
      discouponmoney, dispointmoney, realmoney, 
      intime, paytype, paytime, 
      paycode, remark, isdel,logictisid
      )
    values (#{id,jdbcType=INTEGER}, #{ordernumber,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{addressid,jdbcType=INTEGER}, #{takeway,jdbcType=INTEGER}, #{position,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{bill,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE}, 
      #{sendmoney,jdbcType=DOUBLE}, #{isdiscount,jdbcType=INTEGER}, #{couponsid,jdbcType=VARCHAR}, 
      #{discouponmoney,jdbcType=DOUBLE}, #{dispointmoney,jdbcType=DOUBLE}, #{realmoney,jdbcType=DOUBLE}, 
      #{intime,jdbcType=TIMESTAMP}, #{paytype,jdbcType=INTEGER}, #{paytime,jdbcType=TIMESTAMP}, 
      #{paycode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{isdel,jdbcType=INTEGER},#{logictisid,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.bossOrders.entity.BossOrders">
        insert into yw_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ordernumber != null">
                ordernumber,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="addressid != null">
                addressid,
            </if>
            <if test="takeway != null">
                takeway,
            </if>
            <if test="position != null">
                position,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="bill != null">
                bill,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="sendmoney != null">
                sendmoney,
            </if>
            <if test="isdiscount != null">
                isdiscount,
            </if>
            <if test="couponsid != null">
                couponsid,
            </if>
            <if test="discouponmoney != null">
                discouponmoney,
            </if>
            <if test="dispointmoney != null">
                dispointmoney,
            </if>
            <if test="realmoney != null">
                realmoney,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="paytype != null">
                paytype,
            </if>
            <if test="paytime != null">
                paytime,
            </if>
            <if test="paycode != null">
                paycode,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
            <if test="logictisid != null">
                logictisid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="ordernumber != null">
                #{ordernumber,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="addressid != null">
                #{addressid,jdbcType=INTEGER},
            </if>
            <if test="takeway != null">
                #{takeway,jdbcType=INTEGER},
            </if>
            <if test="position != null">
                #{position,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="bill != null">
                #{bill,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                #{money,jdbcType=DOUBLE},
            </if>
            <if test="sendmoney != null">
                #{sendmoney,jdbcType=DOUBLE},
            </if>
            <if test="isdiscount != null">
                #{isdiscount,jdbcType=INTEGER},
            </if>
            <if test="couponsid != null">
                #{couponsid,jdbcType=VARCHAR},
            </if>
            <if test="discouponmoney != null">
                #{discouponmoney,jdbcType=DOUBLE},
            </if>
            <if test="dispointmoney != null">
                #{dispointmoney,jdbcType=DOUBLE},
            </if>
            <if test="realmoney != null">
                #{realmoney,jdbcType=DOUBLE},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="paytype != null">
                #{paytype,jdbcType=INTEGER},
            </if>
            <if test="paytime != null">
                #{paytime,jdbcType=TIMESTAMP},
            </if>
            <if test="paycode != null">
                #{paycode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
            <if test="logictisid != null">
                #{logictisid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.bossOrders.entity.BossOrders">
        update yw_orders
        <set>
            <if test="ordernumber != null">
                ordernumber = #{ordernumber,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="addressid != null">
                addressid = #{addressid,jdbcType=INTEGER},
            </if>
            <if test="takeway != null">
                takeway = #{takeway,jdbcType=INTEGER},
            </if>
            <if test="position != null">
                position = #{position,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="bill != null">
                bill = #{bill,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DOUBLE},
            </if>
            <if test="sendmoney != null">
                sendmoney = #{sendmoney,jdbcType=DOUBLE},
            </if>
            <if test="isdiscount != null">
                isdiscount = #{isdiscount,jdbcType=INTEGER},
            </if>
            <if test="couponsid != null">
                couponsid = #{couponsid,jdbcType=VARCHAR},
            </if>
            <if test="discouponmoney != null">
                discouponmoney = #{discouponmoney,jdbcType=DOUBLE},
            </if>
            <if test="dispointmoney != null">
                dispointmoney = #{dispointmoney,jdbcType=DOUBLE},
            </if>
            <if test="realmoney != null">
                realmoney = #{realmoney,jdbcType=DOUBLE},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="paytype != null">
                paytype = #{paytype,jdbcType=INTEGER},
            </if>
            <if test="paytime != null">
                paytime = #{paytime,jdbcType=TIMESTAMP},
            </if>
            <if test="paycode != null">
                paycode = #{paycode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
            <if test="logictisid != null">
                isdel = #{logictisid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.bossOrders.entity.BossOrders">
    update yw_orders
    set ordernumber = #{ordernumber,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      addressid = #{addressid,jdbcType=INTEGER},
      takeway = #{takeway,jdbcType=INTEGER},
      position = #{position,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      bill = #{bill,jdbcType=VARCHAR},
      money = #{money,jdbcType=DOUBLE},
      sendmoney = #{sendmoney,jdbcType=DOUBLE},
      isdiscount = #{isdiscount,jdbcType=INTEGER},
      couponsid = #{couponsid,jdbcType=VARCHAR},
      discouponmoney = #{discouponmoney,jdbcType=DOUBLE},
      dispointmoney = #{dispointmoney,jdbcType=DOUBLE},
      realmoney = #{realmoney,jdbcType=DOUBLE},
      intime = #{intime,jdbcType=TIMESTAMP},
      paytype = #{paytype,jdbcType=INTEGER},
      paytime = #{paytime,jdbcType=TIMESTAMP},
      paycode = #{paycode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=INTEGER},
      logictisid= #{logictisid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="findAllOrdersByList" resultType="com.movision.mybatis.bossOrders.entity.BossOrdersVo">
    SELECT
      o.id,
      o.ordernumber,
      o.userid,
      o.addressid,
      o.intime,
      o.position,
      o.money,
      o.realmoney,
      o.status,
      a.name,
      a.phone,
      a.province,
      a.city,
      a.district,
      a.street,
      c.title,
	  s.isdebug,
        d.logisticsid,
        u.nickname
        FROM yw_orders o LEFT JOIN yw_address a ON o.addressid=a.id LEFT JOIN yw_sub_order s ON s.porderid=o.id LEFT
        JOIN yw_coupon c ON c.id=o.couponsid LEFT JOIN yw_order_sub_logistics d ON d.logisticsid=o.logisticsid LEFT JOIN
        yw_user u ON u.id=o.userid
    WHERE o.isdel=0
  </select>
<select id="findAllPerInfo" resultType="com.movision.mybatis.bossOrders.entity.BossOrders" parameterType="java.lang.Integer">
    SELECT o.ordernumber,o.status,o.intime as sintime,
    o.paytype,a.name,o.takeway,s.intime,s.logisticsid,o.paytime,o.remark FROM yw_orders o
 LEFT JOIN yw_address  a ON o.addressid=a.id LEFT JOIN yw_order_sub_logistics s ON s.logisticsid=o.logisticsid WHERE o.id=#{id,jdbcType=INTEGER}
</select>
    <select id="findAllOrderByCondition" parameterType="java.util.Map"
            resultType="com.movision.mybatis.bossOrders.entity.BossOrdersVo">
         SELECT
         o.id,
         o.ordernumber,
         o.userid,
         o.addressid,
         o.intime,
         o.position,
         o.money,
         o.realmoney,
         o.status,
         a.name,
         a.phone,
         a.province,
         a.city,
         a.district,
         a.street,
         c.title,
         s.isdebug,
         d.logisticsid,
         u.nickname
         FROM yw_orders o LEFT JOIN yw_address a ON o.addressid=a.id LEFT JOIN yw_sub_order s ON s.porderid=o.id
         LEFT JOIN yw_coupon c ON c.id=o.couponsid LEFT JOIN yw_order_sub_logistics d ON d.logisticsid=o.logisticsid
         LEFT JOIN yw_user u ON u.id=o.userid
         WHERE o.isdel=0 AND 1
        <if test="ordernumber!=null and ordernumber!=''">
            AND o.ordernumber=#{ordernumber,jdbcType=VARCHAR}
        </if>
        <if test="status!=null and status!=''">
            AND o.`status`=#{status,jdbcType=VARCHAR}
        </if>
        <if test="name!=null and name!=''">
            AND a.`name` LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="position!=null and position!=''">
            AND o.position=#{position,jdbcType=INTEGER}
        </if>
         <if test="logisticid!=null and logisticid!=''">
             AND d.logisticsid=#{logisticid,jdbcType=VARCHAR}
         </if>
        <if test="mintime!=null and maxtime!=null">
             AND o.intime BETWEEN #{mintime,jdbcType=DATE} AND #{maxtime,jdbcType=DATE}
         </if>
    </select>
    <!-- 暂时不做-->
    <!--
        <select id="queryAccuracyConditionByOrder" parameterType="java.util.Map"
                resultType="com.movision.mybatis.bossOrders.entity.BossOrdersVo">
         SELECT
            o.id,
            o.ordernumber,
            o.userid,
            o.addressid,
            o.intime,
            o.money,
            o.realmoney,
            o.status,
            a.name,
            a.phone,
            a.province,
            a.city,
            a.district,
            a.street
          FROM yw_orders o LEFT JOIN yw_address a ON o.addressid=a.id
        </select>-->
    <select id="queryOrderParticulars" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.bossOrders.entity.BossOrdersVo">
        SELECT o.id,
        o.ordernumber,
        o.userid,
        o.addressid,
        o.intime,
        o.status,
        o.paytime,
        o.paytype
        FROM yw_orders o WHERE ordernumber=#{ordernumber,jdbcType=INTEGER}
    </select>

    <select id="findAllAccuracyConditionByOrder" parameterType="java.util.Map"
            resultType="com.movision.mybatis.bossOrders.entity.BossOrdersVo">
SELECT
      o.id,
      o.ordernumber,
      o.userid,
      o.addressid,
      o.intime,
      o.position,
      o.money,
      o.realmoney,
      o.status,
      a.name,
      a.phone,
      a.province,
      a.city,
      a.district,
      a.street,
      c.title,
	  s.isdebug,
        d.logisticsid,
        u.nickname
    FROM yw_orders o LEFT JOIN yw_address a ON o.addressid=a.id LEFT  JOIN yw_sub_order s ON s.porderid=o.id
   LEFT JOIN yw_coupon c ON c.id=o.couponsid LEFT  JOIN yw_order_sub_logistics  d ON d.logisticsid=o.logisticsid LEFT JOIN yw_user u ON u.id=o.userid
        WHERE o.isdel=0 AND 1
        <if test="ordernumber!=null and ordernumber!=''">
             AND o.ordernumber=#{ordernumber,jdbcType=VARCHAR}
         </if>
        <if test="province!=null and province!=''">
            AND  a.province=#{province,jdbcType=VARCHAR}
        </if>
        <if test="city!=null and city!=''">
            AND  a.city=#{city,jdbcType=VARCHAR}
        </if>
        <if test="district!=null and district!=''">
            AND  a.district=#{district,jdbcType=VARCHAR}
        </if>
        <if test="phone!=null and phone!=''">
            AND a.phone=#{phone,jdbcType=VARCHAR}
        </if>
        <if test="email!=null and email!=''">
            AND u.email=#{email,jdbcType=VARCHAR}
        </if>
        <if test="name!=null and name!=''">
            AND a.name LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="takeway!=null and takeway!=''">
            AND o.takeway=#{takeway,jdbcType=VARCHAR}
        </if>
        <if test="paytype!=null and paytype!=''">
            AND o.paytype=#{paytype,jdbcType=VARCHAR}
        </if>
        <if test="mintime!=null and maxtime!=null">
            AND o.intime BETWEEN #{mintime,jdbcType=DATE} AND #{maxtime,jdbcType=DATE}
        </if>

     </select>

    <select id="findAllProvinceName" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.province.entity.Province">
        SELECT code,name FROM yw_province
    </select>


    <select id="findAllCityName" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.city.entity.City">
       SELECT code,name,provincecode FROM yw_city  WHERE provincecode=#{id,jdbcType=INTEGER}
    </select>


    <select id="findAllAreaName" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.area.entity.Area">
        SELECT id,code,name,citycode FROM yw_area WHERE citycode=#{id,jdbcType=INTEGER}
    </select>


    <update id="deleteOrder" parameterType="java.lang.Integer">
        UPDATE yw_orders
        SET isdel=1
        WHERE id=#{id,jdbcType=INTEGER}
    </update>
    <select id="findAllGetInfo" resultType="com.movision.mybatis.address.entity.Address"
            parameterType="java.lang.Integer">
        SELECT a.phone,a.name,u.email,a.province,a.city,a.district,a.street FROM yw_address a LEFT JOIN yw_user u ON
        u.id=a.userid WHERE a.id=(SELECT s.addressid FROM yw_orders s WHERE s.id=#{id,jdbcType=INTEGER} )
    </select>
    <select id="findAllInvoiceInfo" resultType="com.movision.mybatis.invoice.entity.Invoice"
            parameterType="java.lang.Integer">
        SELECT
        i.head,i.name,i.phone,i.kind,i.money,i.onlystatue,o.takeway,s.province,s.city,s.district,s.street,l.intime,l.logisticsid
        FROM yw_invoice i
LEFT JOIN yw_orders o ON o.id=i.orderid LEFT JOIN yw_address s ON s.id=i.addressid LEFT JOIN yw_order_sub_logistics l ON l.logisticsid=o.logisticsid
WHERE  o.id=#{id,jdbcType=INTEGER}
    </select>

    <update id="updateInvoice" parameterType="com.movision.mybatis.invoice.entity.Invoice">
        update yw_invoice
        <set>
            <if test="head != null">
                head = #{head,jdbcType=VARCHAR},
            </if>
            <if test="kind != null">
                kind = #{kind,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="companyname != null">
                companyname = #{companyname,jdbcType=VARCHAR},
            </if>
            <if test="rigaddress != null">
                rigaddress = #{rigaddress,jdbcType=VARCHAR},
            </if>
            <if test="rigphone != null">
                rigphone = #{rigphone,jdbcType=VARCHAR},
            </if>
            <if test="bank != null">
                bank = #{bank,jdbcType=VARCHAR},
            </if>
            <if test="banknum != null">
                banknum = #{banknum,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="onlystatue != null">
                onlystatue = #{onlystatue,jdbcType=VARCHAR},
            </if>
        </set>
        where orderid = #{orderid,jdbcType=INTEGER}
    </update>
    <select id="queryInvoice" resultType="com.movision.mybatis.invoice.entity.Invoice"
            parameterType="java.lang.Integer">
        SELECT head,kind,content,companyname,rigaddress,rigphone,bank,banknum,code,onlystatue FROM yw_invoice WHERE
        orderid=#{orderid,jdbcType=INTEGER}
    </select>
    <select id="findAllBoss" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM yw_orders WHERE isdel=0
    </select>
    <select id="queryAddress" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.address.entity.Address">
        SELECT s.id, s.province,s.city,s.district,s.street FROM yw_address s WHERE s.userid=(SELECT s.userid FROM
        yw_orders s WHERE s.id=#{orderid,jdbcType=INTEGER})
    </select>
    <select id="queryGoods" parameterType="java.lang.Integer" resultType="com.movision.mybatis.goods.entity.Goods">
        SELECT s.`name`,a.typename,s.origprice,s.price,c.num,s.id,s.attribute FROM yw_goods s LEFT JOIN yw_cart c ON
        c.goodsid=s.id
        LEFT JOIN yw_category a on a.protype=s.protype
        WHERE c.userid=(SELECT s.userid FROM yw_orders s WHERE s.id=#{id,jdbcType=INTEGER})
    </select>
    <update id="updateAddress" parameterType="com.movision.mybatis.address.entity.AddressVo">
        update yw_address
        <set>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                district = #{district,jdbcType=VARCHAR},
            </if>
            <if test="street != null">
                street = #{street,jdbcType=VARCHAR},
            </if>
        </set>
        where id=(SELECT addressid FROM yw_orders WHERE id=#{orderid,jdbcType=INTEGER})
    </update>
    <update id="updateEmail" parameterType="com.movision.mybatis.user.entity.User">
        update yw_user
        <set>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where id=(SELECT userid FROM yw_orders WHERE id=#{orderid,jdbcType=INTEGER})
    </update>
    <select id="queryMoney" parameterType="java.lang.Integer" resultType="com.movision.mybatis.orders.entity.Orders">
        SELECT sendmoney,money,discouponmoney,dispointmoney,realmoney FROM  yw_orders WHERE  id=#{id,jdbcType=INTEGER}
    </select>
    <update id="updateOrdersMoney" parameterType="com.movision.mybatis.orders.entity.Orders">
        update yw_orders
        <set>
            <if test="sendmoney != null">
                sendmoney = #{sendmoney,jdbcType=DOUBLE},
            </if>
            <if test="discouponmoney != null">
                discouponmoney = #{discouponmoney,jdbcType=DOUBLE},
            </if>
            <if test="dispointmoney != null">
                dispointmoney = #{dispointmoney,jdbcType=DOUBLE},
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>
    <select id="queryOrderOperation" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.orderoperation.entity.Orderoperation">
        SELECT * from yw_orderoperation WHERE orderid=#{id,jdbcType=INTEGER}
    </select>

    <select id="queryByAddress" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.address.entity.Address">
        SELECT s.id, s.province,s.city,s.district,s.street FROM yw_address s WHERE s.id=#{id,jdbcType=INTEGER}
    </select>
    <select id="findAllAfterService" resultType="com.movision.mybatis.afterservice.entity.Afterservice">
        SELECT
        f.id,f.orderid,o.ordernumber,u.nickname,f.proposertime,f.processingpeople,f.processingtime,a.name,a.province,a.city,a.district,a.street,s.`name`
        AS sname,f.afterstatue,f.amountdue,f.refundamount,f.aftersalestatus,f.processingstatus FROM yw_afterservice f
        LEFT JOIN yw_address a ON a.id=f.addressid
        LEFT JOIN yw_goods s ON s.id=f.goodsid LEFT JOIN yw_orders o ON o.id=f.orderid LEFT JOIN yw_user u ON
        u.id=f.userid WHERE f.isdel=1
    </select>
    <select id="queryAfterService" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.afterservice.entity.Afterservice">
        SELECT g.name,a.afterstatue,a.aftersalestatus,a.amountdue,a.refundamount,a.processingstatus FROM yw_afterservice
        a LEFT JOIN yw_goods g ON g.id=a.goodsid WHERE a.id=#{id,jdbcType=INTEGER}
    </select>
    <update id="updateAfterService" parameterType="com.movision.mybatis.afterservice.entity.Afterservice">
        update yw_afterservice
        <set>
            <if test="processingstatus != null">
                processingstatus = #{processingstatus,jdbcType=INTEGER},
            </if>
            <if test="refundamount != null">
                refundamount = #{refundamount,jdbcType=DOUBLE},
            </if>
            <if test="aftersalestatus != null">
                aftersalestatus = #{aftersalestatus,jdbcType=INTEGER},
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>
    <select id="queryByIdAfterService" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.afterservice.entity.Afterservice">
        SELECT
        f.id,f.orderid,o.ordernumber,u.nickname,f.proposertime,f.processingpeople,f.processingtime,a.name,a.province,a.city,a.district,a.street,s.`name`
        AS
        sname,e.typename,f.afterstatue,f.amountdue,f.refundamount,f.aftersalestatus,f.processingstatus,o.takeway,l.intime,l.logisticsid,g.img_url
        FROM yw_afterservice f LEFT JOIN yw_address a ON a.id=f.addressid
        LEFT JOIN yw_goods s ON s.id=f.goodsid LEFT JOIN yw_orders o ON o.id=f.orderid LEFT JOIN yw_user u ON
        u.id=f.userid LEFT JOIN yw_order_sub_logistics l ON l.logisticsid=o.logisticsid
        LEFT JOIN yw_goods_img g ON g.goodsid=f.goodsid LEFT JOIN yw_category e on e.protype=s.protype
        WHERE f.id=1 AND g.type=2 AND f.id=#{id,jdbcType=INTEGER}
    </select>

    <select id="findAllOrderByConditionAfterService" parameterType="java.util.Map"
            resultType="com.movision.mybatis.afterservice.entity.Afterservice">
        SELECT
        f.id,f.orderid,o.ordernumber,u.nickname,f.proposertime,f.processingpeople,f.processingtime,a.name,a.province,a.city,a.district,a.street,s.`name`
        AS sname,f.afterstatue,f.amountdue,f.refundamount,f.aftersalestatus,f.processingstatus FROM yw_afterservice f
        LEFT JOIN yw_address a ON a.id=f.addressid
        LEFT JOIN yw_goods s ON s.id=f.goodsid LEFT JOIN yw_orders o ON o.id=f.orderid LEFT JOIN yw_user u ON
        u.id=f.userid WHERE f.isdel=1
        <if test="ordernumber!=null and ordernumber!=''">
            AND o.ordernumber=#{ordernumber,jdbcType=VARCHAR}
        </if>
        <if test="name!=null and name!=''">
            AND a.`name` LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="aftersalestatus!=null and aftersalestatus!=''">
            AND f.aftersalestatus=#{aftersalestatus,jdbcType=INTEGER}
        </if>
        <if test="afterstatue!=null and afterstatue!=''">
            AND f.afterstatue=#{afterstatue,jdbcType=INTEGER}
        </if>
        <if test="processingstatus!=null and processingstatus!=''">
            AND f.processingstatus=#{processingstatus,jdbcType=INTEGER}
        </if>
        <if test="mintime!=null and maxtime!=null">
            AND f.proposertime BETWEEN #{mintime,jdbcType=DATE} AND #{maxtime,jdbcType=DATE}
        </if>
    </select>
    <select id="queryRemark" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.afterservice.entity.Afterservice">
        SELECT remark,proposertime FROM yw_afterservice WHERE id=#{id,jdbcType=INTEGER}
    </select>
</mapper>