<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.order.mapper.AlipayRefundCallbackLogMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.order.entity.AlipayRefundCallbackLog" >
    <id column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="notify_time" property="notifyTime" jdbcType="TIMESTAMP" />
    <result column="notify_type" property="notifyType" jdbcType="VARCHAR" />
    <result column="notify_id" property="notifyId" jdbcType="VARCHAR" />
    <result column="sign_type" property="signType" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="success_num" property="successNum" jdbcType="VARCHAR" />
    <result column="result_details" property="resultDetails" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    batch_no, notify_time, notify_type, notify_id, sign_type, sign, success_num, result_details
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_o_alipay_refund_callback_log
    where batch_no = #{batchNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_o_alipay_refund_callback_log
    where batch_no = #{batchNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.order.entity.AlipayRefundCallbackLog" >
    insert into t_o_alipay_refund_callback_log (batch_no, notify_time, notify_type, 
      notify_id, sign_type, sign, 
      success_num, result_details)
    values (#{batchNo,jdbcType=VARCHAR}, #{notifyTime,jdbcType=TIMESTAMP}, #{notifyType,jdbcType=VARCHAR}, 
      #{notifyId,jdbcType=VARCHAR}, #{signType,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, 
      #{successNum,jdbcType=VARCHAR}, #{resultDetails,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.order.entity.AlipayRefundCallbackLog" >
    insert into t_o_alipay_refund_callback_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="notifyTime != null" >
        notify_time,
      </if>
      <if test="notifyType != null" >
        notify_type,
      </if>
      <if test="notifyId != null" >
        notify_id,
      </if>
      <if test="signType != null" >
        sign_type,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="successNum != null" >
        success_num,
      </if>
      <if test="resultDetails != null" >
        result_details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="notifyTime != null" >
        #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyType != null" >
        #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="notifyId != null" >
        #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="signType != null" >
        #{signType,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="successNum != null" >
        #{successNum,jdbcType=VARCHAR},
      </if>
      <if test="resultDetails != null" >
        #{resultDetails,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.order.entity.AlipayRefundCallbackLog" >
    update t_o_alipay_refund_callback_log
    <set >
      <if test="notifyTime != null" >
        notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyType != null" >
        notify_type = #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="notifyId != null" >
        notify_id = #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="signType != null" >
        sign_type = #{signType,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="successNum != null" >
        success_num = #{successNum,jdbcType=VARCHAR},
      </if>
      <if test="resultDetails != null" >
        result_details = #{resultDetails,jdbcType=VARCHAR},
      </if>
    </set>
    where batch_no = #{batchNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuhuibao.mybatis.order.entity.AlipayRefundCallbackLog" >
    update t_o_alipay_refund_callback_log
    set notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      notify_type = #{notifyType,jdbcType=VARCHAR},
      notify_id = #{notifyId,jdbcType=VARCHAR},
      sign_type = #{signType,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      success_num = #{successNum,jdbcType=VARCHAR},
      result_details = #{resultDetails,jdbcType=VARCHAR}
    where batch_no = #{batchNo,jdbcType=VARCHAR}
  </update>
</mapper>