<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhuibao.mybatis.order.mapper.AlipayCallbackLogMapper">
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.order.entity.AlipayCallbackLog">
    <id column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="notify_time" jdbcType="TIMESTAMP" property="notifyTime" />
    <result column="notify_type" jdbcType="VARCHAR" property="notifyType" />
    <result column="notify_id" jdbcType="VARCHAR" property="notifyId" />
    <result column="sign_type" jdbcType="VARCHAR" property="signType" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="payment_type" jdbcType="VARCHAR" property="paymentType" />
    <result column="trade_status" jdbcType="VARCHAR" property="tradeStatus" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_payment" jdbcType="TIMESTAMP" property="gmtPayment" />
    <result column="gmt_close" jdbcType="TIMESTAMP" property="gmtClose" />
    <result column="refund_status" jdbcType="TIMESTAMP" property="refundStatus" />
    <result column="gmt_refund" jdbcType="TIMESTAMP" property="gmtRefund" />
    <result column="seller_email" jdbcType="VARCHAR" property="sellerEmail" />
    <result column="buyer_email" jdbcType="VARCHAR" property="buyerEmail" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="buyer_id" jdbcType="VARCHAR" property="buyerId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="total_fee" jdbcType="DECIMAL" property="totalFee" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="is_total_fee_adjust" jdbcType="CHAR" property="isTotalFeeAdjust" />
    <result column="use_coupon" jdbcType="CHAR" property="useCoupon" />
    <result column="extra_common_param" jdbcType="VARCHAR" property="extraCommonParam" />
    <result column="business_scene" jdbcType="VARCHAR" property="businessScene" />
  </resultMap>
  <sql id="Base_Column_List">
    trade_no, notify_time, notify_type, notify_id, sign_type, sign, out_trade_no, subject, 
    payment_type, trade_status, gmt_create, gmt_payment, gmt_close, refund_status, gmt_refund, 
    seller_email, buyer_email, seller_id, buyer_id, price, total_fee, quantity, body, 
    discount, is_total_fee_adjust, use_coupon, extra_common_param, business_scene
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_o_alipay_callback_log
    where trade_no = #{tradeNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_o_alipay_callback_log
    where trade_no = #{tradeNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.order.entity.AlipayCallbackLog">
    insert into t_o_alipay_callback_log (trade_no, notify_time, notify_type, 
      notify_id, sign_type, sign, 
      out_trade_no, subject, payment_type, 
      trade_status, gmt_create, gmt_payment, 
      gmt_close, refund_status, gmt_refund, 
      seller_email, buyer_email, seller_id, 
      buyer_id, price, total_fee, 
      quantity, body, discount, 
      is_total_fee_adjust, use_coupon, extra_common_param, 
      business_scene)
    values (#{tradeNo,jdbcType=VARCHAR}, #{notifyTime,jdbcType=TIMESTAMP}, #{notifyType,jdbcType=VARCHAR}, 
      #{notifyId,jdbcType=VARCHAR}, #{signType,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, 
      #{outTradeNo,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{paymentType,jdbcType=VARCHAR}, 
      #{tradeStatus,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtPayment,jdbcType=TIMESTAMP}, 
      #{gmtClose,jdbcType=TIMESTAMP}, #{refundStatus,jdbcType=TIMESTAMP}, #{gmtRefund,jdbcType=TIMESTAMP}, 
      #{sellerEmail,jdbcType=VARCHAR}, #{buyerEmail,jdbcType=VARCHAR}, #{sellerId,jdbcType=VARCHAR}, 
      #{buyerId,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{totalFee,jdbcType=DECIMAL}, 
      #{quantity,jdbcType=INTEGER}, #{body,jdbcType=VARCHAR}, #{discount,jdbcType=DOUBLE}, 
      #{isTotalFeeAdjust,jdbcType=CHAR}, #{useCoupon,jdbcType=CHAR}, #{extraCommonParam,jdbcType=VARCHAR}, 
      #{businessScene,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.order.entity.AlipayCallbackLog">
    insert into t_o_alipay_callback_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="notifyTime != null">
        notify_time,
      </if>
      <if test="notifyType != null">
        notify_type,
      </if>
      <if test="notifyId != null">
        notify_id,
      </if>
      <if test="signType != null">
        sign_type,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="outTradeNo != null">
        out_trade_no,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="paymentType != null">
        payment_type,
      </if>
      <if test="tradeStatus != null">
        trade_status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtPayment != null">
        gmt_payment,
      </if>
      <if test="gmtClose != null">
        gmt_close,
      </if>
      <if test="refundStatus != null">
        refund_status,
      </if>
      <if test="gmtRefund != null">
        gmt_refund,
      </if>
      <if test="sellerEmail != null">
        seller_email,
      </if>
      <if test="buyerEmail != null">
        buyer_email,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="totalFee != null">
        total_fee,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="body != null">
        body,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="isTotalFeeAdjust != null">
        is_total_fee_adjust,
      </if>
      <if test="useCoupon != null">
        use_coupon,
      </if>
      <if test="extraCommonParam != null">
        extra_common_param,
      </if>
      <if test="businessScene != null">
        business_scene,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="notifyTime != null">
        #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyType != null">
        #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="notifyId != null">
        #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="signType != null">
        #{signType,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null">
        #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtPayment != null">
        #{gmtPayment,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtClose != null">
        #{gmtClose,jdbcType=TIMESTAMP},
      </if>
      <if test="refundStatus != null">
        #{refundStatus,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtRefund != null">
        #{gmtRefund,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerEmail != null">
        #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="buyerEmail != null">
        #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalFee != null">
        #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="body != null">
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="isTotalFeeAdjust != null">
        #{isTotalFeeAdjust,jdbcType=CHAR},
      </if>
      <if test="useCoupon != null">
        #{useCoupon,jdbcType=CHAR},
      </if>
      <if test="extraCommonParam != null">
        #{extraCommonParam,jdbcType=VARCHAR},
      </if>
      <if test="businessScene != null">
        #{businessScene,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.order.entity.AlipayCallbackLog">
    update t_o_alipay_callback_log
    <set>
      <if test="notifyTime != null">
        notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyType != null">
        notify_type = #{notifyType,jdbcType=VARCHAR},
      </if>
      <if test="notifyId != null">
        notify_id = #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="signType != null">
        sign_type = #{signType,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null">
        payment_type = #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null">
        trade_status = #{tradeStatus,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtPayment != null">
        gmt_payment = #{gmtPayment,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtClose != null">
        gmt_close = #{gmtClose,jdbcType=TIMESTAMP},
      </if>
      <if test="refundStatus != null">
        refund_status = #{refundStatus,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtRefund != null">
        gmt_refund = #{gmtRefund,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerEmail != null">
        seller_email = #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="buyerEmail != null">
        buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalFee != null">
        total_fee = #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="body != null">
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="isTotalFeeAdjust != null">
        is_total_fee_adjust = #{isTotalFeeAdjust,jdbcType=CHAR},
      </if>
      <if test="useCoupon != null">
        use_coupon = #{useCoupon,jdbcType=CHAR},
      </if>
      <if test="extraCommonParam != null">
        extra_common_param = #{extraCommonParam,jdbcType=VARCHAR},
      </if>
      <if test="businessScene != null">
        business_scene = #{businessScene,jdbcType=VARCHAR},
      </if>
    </set>
    where trade_no = #{tradeNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuhuibao.mybatis.order.entity.AlipayCallbackLog">
    update t_o_alipay_callback_log
    set notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      notify_type = #{notifyType,jdbcType=VARCHAR},
      notify_id = #{notifyId,jdbcType=VARCHAR},
      sign_type = #{signType,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      payment_type = #{paymentType,jdbcType=VARCHAR},
      trade_status = #{tradeStatus,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_payment = #{gmtPayment,jdbcType=TIMESTAMP},
      gmt_close = #{gmtClose,jdbcType=TIMESTAMP},
      refund_status = #{refundStatus,jdbcType=TIMESTAMP},
      gmt_refund = #{gmtRefund,jdbcType=TIMESTAMP},
      seller_email = #{sellerEmail,jdbcType=VARCHAR},
      buyer_email = #{buyerEmail,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      total_fee = #{totalFee,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      body = #{body,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=DOUBLE},
      is_total_fee_adjust = #{isTotalFeeAdjust,jdbcType=CHAR},
      use_coupon = #{useCoupon,jdbcType=CHAR},
      extra_common_param = #{extraCommonParam,jdbcType=VARCHAR},
      business_scene = #{businessScene,jdbcType=VARCHAR}
    where trade_no = #{tradeNo,jdbcType=VARCHAR}
  </update>

</mapper>