<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.order.mapper.InvoiceRecordMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.order.entity.InvoiceRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="createId" property="createId" jdbcType="BIGINT" />
    <result column="invoiceTitleType" property="invoiceTitleType" jdbcType="INTEGER" />
    <result column="invoiceTitle" property="invoiceTitle" jdbcType="VARCHAR" />
    <result column="invoiceType" property="invoiceType" jdbcType="CHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="receiveName" property="receiveName" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="isRecentUsed" property="isRecentUsed" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createId, invoiceTitleType, invoiceTitle, invoiceType, createTime, updateTime,
    receiveName, province, city, area, address, mobile, telephone, isRecentUsed
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_o_invoice_record
    where createId = #{createId} and isRecentUsed = #{isRecentUsed}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Map" >
    delete from t_o_invoice_record
    where createId  = #{createId} and invoiceTitleType = #{invoiceTitleType}
  </delete>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.order.entity.InvoiceRecord" >
    insert into t_o_invoice_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createId != null" >
        createId,
      </if>
      <if test="invoiceTitleType != null" >
        invoiceTitleType,
      </if>
      <if test="invoiceTitle != null" >
        invoiceTitle,
      </if>
      <if test="invoiceType != null" >
        invoiceType,
      </if>
        createTime,
        updateTime,
      <if test="receiveName != null" >
        receiveName,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="isRecentUsed != null" >
        isRecentUsed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="invoiceTitleType != null" >
        #{invoiceTitleType,jdbcType=INTEGER},
      </if>
      <if test="invoiceTitle != null" >
        #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null" >
        #{invoiceType,jdbcType=CHAR},
      </if>
      now(),
      now(),
      <if test="receiveName != null" >
        #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="isRecentUsed != null" >
        #{isRecentUsed,jdbcType=CHAR},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE isRecentUsed=1,invoiceTitleType = #{invoiceTitleType},invoiceTitle=#{invoiceTitle},
    invoiceType=#{invoiceType},receiveName = #{receiveName},province=#{province},city=#{city},area=#{area},
    address=#{address},mobile=#{mobile},telephone=#{telephone},isRecentUsed=#{isRecentUsed}
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.order.entity.InvoiceRecord" >
    update t_o_invoice_record
    <set >
      <if test="createId != null" >
        createId = #{createId,jdbcType=BIGINT},
      </if>
      <if test="invoiceTitleType != null" >
        invoiceTitleType = #{invoiceTitleType,jdbcType=INTEGER},
      </if>
      <if test="invoiceTitle != null" >
        invoiceTitle = #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null" >
        invoiceType = #{invoiceType,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
        updateTime = now(),
      <if test="receiveName != null" >
        receiveName = #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="isRecentUsed != null" >
        isRecentUsed = #{isRecentUsed,jdbcType=CHAR},
      </if>
    </set>
    where createId = #{createId} and invoiceTitleType = #{invoiceTitleType}
  </update>

  <update id="updateIsRecentUsed" parameterType="com.zhuhuibao.mybatis.order.entity.InvoiceRecord" >
    update t_o_invoice_record
    <set >
      updateTime = now(),
      <if test="isRecentUsed != null" >
        isRecentUsed = #{isRecentUsed,jdbcType=CHAR},
      </if>
    </set>
    where createId = #{createId,jdbcType=BIGINT}
  </update>
</mapper>