<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.order.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.order.entity.Order" >
    <id column="orderNo" property="orderNo" jdbcType="VARCHAR" />
    <result column="buyerId" property="buyerId" jdbcType="BIGINT" />
    <result column="sellerId" property="sellerId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="payAmount" property="payAmount" jdbcType="DECIMAL" />
    <result column="dealTime" property="dealTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <!--<result column="payMode" property="payMode" jdbcType="CHAR" />-->
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="goodsType" property="goodsType" jdbcType="CHAR" />
    <result column="descriptions" property="descriptions" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    orderNo, buyerId, sellerId, amount, payAmount, dealTime, updateTime, status,
    goodsType, descriptions
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_o_order
    where orderNo = #{orderNo,jdbcType=VARCHAR}
  </select>
  <select id="findListByCourseIdAndStatus" resultType="com.zhuhuibao.mybatis.order.entity.Order">
     select o.* from t_o_order_goods og,t_o_order o where og.goodsId= #{courseId} and o.orderNo=og.orderNo and o.status = #{status} ;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_o_order
    where orderNo = #{orderNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.order.entity.Order" >
    insert into t_o_order (orderNo, buyerId, sellerId,
      amount, payAmount, dealTime, 
      updateTime, status,
      goodsType, descriptions)
    values (#{orderNo,jdbcType=VARCHAR}, #{buyerId,jdbcType=BIGINT}, #{sellerId,jdbcType=VARCHAR},
      #{amount,jdbcType=DECIMAL}, #{payAmount,jdbcType=DECIMAL}, #{dealTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR},
      #{goodsType,jdbcType=CHAR}, #{descriptions,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.order.entity.Order" >
    insert into t_o_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        orderNo,
      </if>
      <if test="buyerId != null" >
        buyerId,
      </if>
      <if test="sellerId != null" >
        sellerId,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="payAmount != null" >
        payAmount,
      </if>
      <if test="dealTime != null" >
        dealTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <!--<if test="payMode != null" >-->
        <!--payMode,-->
      <!--</if>-->
      <if test="status != null" >
        status,
      </if>
      <if test="goodsType != null" >
        goodsType,
      </if>
      <if test="descriptions != null" >
        descriptions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="dealTime != null" >
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <!--<if test="payMode != null" >-->
        <!--#{payMode,jdbcType=CHAR},-->
      <!--</if>-->
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=CHAR},
      </if>
      <if test="descriptions != null" >
        #{descriptions,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.order.entity.Order" >
    update t_o_order
    <set >
      <if test="buyerId != null" >
        buyerId = #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        sellerId = #{sellerId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        payAmount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="dealTime != null" >
        dealTime = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <!--<if test="payMode != null" >-->
        <!--payMode = #{payMode,jdbcType=CHAR},-->
      <!--</if>-->
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="goodsType != null" >
        goodsType = #{goodsType,jdbcType=CHAR},
      </if>
      <if test="descriptions != null" >
        descriptions = #{descriptions,jdbcType=VARCHAR},
      </if>
    </set>
    where orderNo = #{orderNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuhuibao.mybatis.order.entity.Order" >
    update t_o_order
    set buyerId = #{buyerId,jdbcType=BIGINT},
      sellerId = #{sellerId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      payAmount = #{payAmount,jdbcType=DECIMAL},
      dealTime = #{dealTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
--       payMode = #{payMode,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      goodsType = #{goodsType,jdbcType=CHAR},
      descriptions = #{descriptions,jdbcType=VARCHAR}
    where orderNo = #{orderNo,jdbcType=VARCHAR}
  </update>
</mapper>