<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhuibao.mybatis.order.mapper.OrderSmsMapper">
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.order.entity.OrderSms">
    <id column="templateCode" jdbcType="VARCHAR" property="templateCode" />
    <id column="mobile" jdbcType="VARCHAR" property="mobile" />
    <id column="orderNo" jdbcType="VARCHAR" property="orderNo" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="sendTime" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    templateCode, mobile, orderNo, content, status, sendTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.zhuhuibao.mybatis.order.entity.OrderSmsKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_o_sms
    where templateCode = #{templateCode,jdbcType=VARCHAR}
      and mobile = #{mobile,jdbcType=VARCHAR}
      and orderNo = #{orderNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zhuhuibao.mybatis.order.entity.OrderSmsKey">
    delete from t_o_sms
    where templateCode = #{templateCode,jdbcType=VARCHAR}
      and mobile = #{mobile,jdbcType=VARCHAR}
      and orderNo = #{orderNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.order.entity.OrderSms">
    insert into t_o_sms (templateCode, mobile, orderNo, 
      content, status, sendTime, 
      updateTime)
    values (#{templateCode,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.order.entity.OrderSms">
    insert into t_o_sms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templateCode != null">
        templateCode,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="orderNo != null">
        orderNo,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sendTime != null">
        sendTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templateCode != null">
        #{templateCode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.order.entity.OrderSms">
    update t_o_sms
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="sendTime != null">
        sendTime = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where templateCode = #{templateCode,jdbcType=VARCHAR}
      and mobile = #{mobile,jdbcType=VARCHAR}
      and orderNo = #{orderNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuhuibao.mybatis.order.entity.OrderSms">
    update t_o_sms
    set content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      sendTime = #{sendTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where templateCode = #{templateCode,jdbcType=VARCHAR}
      and mobile = #{mobile,jdbcType=VARCHAR}
      and orderNo = #{orderNo,jdbcType=VARCHAR}
  </update>

  <select id="findByOrderNoAndStatusCode" resultType="com.zhuhuibao.mybatis.order.entity.OrderSms">
    Select
    <include refid="Base_Column_List" />
    from t_o_sms where orderNo in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
    and o.orderNo = og.orderNo
    and o.status = #{status}
    and og.templateCode = #{templateCode}
  </select>

</mapper>