<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.order.mapper.PwdTicketMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.order.entity.PwdTicket" >
    <id column="ticketId" property="ticketId" jdbcType="BIGINT" />
    <result column="operateId" property="operateId" jdbcType="BIGINT" />
    <result column="orderNo" property="orderNo" jdbcType="BIGINT" />
    <result column="courseId" property="courseId" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="snCode" property="snCode" jdbcType="VARCHAR" />
    <result column="operateTime" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="ticketType" property="ticketType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ticketId, operateId, orderNo, courseId, mobile, snCode, operateTime, status,ticketType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_o_pwdticket
    where ticketId = #{ticketId,jdbcType=BIGINT}
  </select>
  <select id="findByCourseId" resultType="com.zhuhuibao.mybatis.order.entity.PwdTicket">
    select
    <include refid="Base_Column_List" />
    from t_o_pwdticket
    where courseId = #{courseId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_o_pwdticket
    where ticketId = #{ticketId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.order.entity.PwdTicket" >
    insert into t_o_pwdticket (ticketId, operateId, orderNo, 
      courseId, mobile, snCode, 
      operateTime, status,ticketType)
    values (#{ticketId,jdbcType=BIGINT}, #{operateId,jdbcType=BIGINT}, #{orderNo,jdbcType=BIGINT}, 
      #{courseId,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{snCode,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER},#{ticketType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.order.entity.PwdTicket" >
    insert into t_o_pwdticket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ticketId != null" >
        ticketId,
      </if>
      <if test="operateId != null" >
        operateId,
      </if>
      <if test="orderNo != null" >
        orderNo,
      </if>
      <if test="courseId != null" >
        courseId,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="snCode != null" >
        snCode,
      </if>
      <if test="operateTime != null" >
        operateTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ticketType != null" >
        ticketType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ticketId != null" >
        #{ticketId,jdbcType=BIGINT},
      </if>
      <if test="operateId != null" >
        #{operateId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="snCode != null" >
        #{snCode,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ticketType != null" >
        #{ticketType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.order.entity.PwdTicket" >
    update t_o_pwdticket
    <set >
      <if test="operateId != null" >
        operateId = #{operateId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        orderNo = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="courseId != null" >
        courseId = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="snCode != null" >
        snCode = #{snCode,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        operateTime = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="ticketType != null" >
        #{ticketType,jdbcType=VARCHAR},
      </if>
    </set>
    where ticketId = #{ticketId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuhuibao.mybatis.order.entity.PwdTicket" >
    update t_o_pwdticket
    set operateId = #{operateId,jdbcType=BIGINT},
      orderNo = #{orderNo,jdbcType=BIGINT},
      courseId = #{courseId,jdbcType=BIGINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      snCode = #{snCode,jdbcType=VARCHAR},
      operateTime = #{operateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      ticketType = #{ticketType,jdbcType=VARCHAR}
    where ticketId = #{ticketId,jdbcType=BIGINT}
  </update>
  <update id="updateStatusByCourseId">
     update t_o_pwdticket
     set status = #{status},
     operateId = #{operateId},
     operateTime = NOW()
     where courseId = #{courseId}
  </update>
</mapper>