<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhuibao.mybatis.order.mapper.RefundMapper">
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.order.entity.Refund">
    <result column="batchNo" jdbcType="VARCHAR" property="batchNo" />
    <result column="orderNo" jdbcType="VARCHAR" property="orderNo" />
    <result column="operatorId" jdbcType="INTEGER" property="operatorId" />
    <result column="refundDate" jdbcType="TIMESTAMP" property="refundDate" />
    <result column="totalFee" jdbcType="DECIMAL" property="totalFee" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
  </resultMap>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.order.entity.Refund">
    insert into t_o_refund (batchNo, orderNo, operatorId, 
      refundDate, totalFee, reason
      )
    values (#{batchNo,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{operatorId,jdbcType=INTEGER}, 
      #{refundDate,jdbcType=TIMESTAMP}, #{totalFee,jdbcType=DECIMAL}, #{reason,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.order.entity.Refund">
    insert into t_o_refund
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="batchNo != null">
        batchNo,
      </if>
      <if test="orderNo != null">
        orderNo,
      </if>
      <if test="operatorId != null">
        operatorId,
      </if>
      <if test="refundDate != null">
        refundDate,
      </if>
      <if test="totalFee != null">
        totalFee,
      </if>
      <if test="reason != null">
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="refundDate != null">
        #{refundDate,jdbcType=TIMESTAMP},
      </if>
      <if test="totalFee != null">
        #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>