<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.systemPush.mapper.SystemPushMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.systemPush.entity.SystemPush">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="from_accid" property="fromAccid" jdbcType="VARCHAR"/>
        <result column="to_accids" property="toAccids" jdbcType="VARCHAR"/>
        <result column="body" property="body" jdbcType="VARCHAR"/>
        <result column="inform_time" property="informTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, userid, from_accid, to_accids, body, inform_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_sms_system_push
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_sms_system_push
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.systemPush.entity.SystemPush">
        insert into yw_sms_system_push (id, userid, from_accid,
        to_accids, body, inform_time
        )
        values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{fromAccid,jdbcType=VARCHAR},
        #{toAccids,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR}, #{informTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.systemPush.entity.SystemPush">
        insert into yw_sms_system_push
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="fromAccid != null">
                from_accid,
            </if>
            <if test="toAccids != null">
                to_accids,
            </if>
            <if test="body != null">
                body,
            </if>
            <if test="informTime != null">
                inform_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="fromAccid != null">
                #{fromAccid,jdbcType=VARCHAR},
            </if>
            <if test="toAccids != null">
                #{toAccids,jdbcType=VARCHAR},
            </if>
            <if test="body != null">
                #{body,jdbcType=VARCHAR},
            </if>
            <if test="informTime != null">
                #{informTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.systemPush.entity.SystemPush">
        update yw_sms_system_push
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="fromAccid != null">
                from_accid = #{fromAccid,jdbcType=VARCHAR},
            </if>
            <if test="toAccids != null">
                to_accids = #{toAccids,jdbcType=VARCHAR},
            </if>
            <if test="body != null">
                body = #{body,jdbcType=VARCHAR},
            </if>
            <if test="informTime != null">
                inform_time = #{informTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.systemPush.entity.SystemPush">
        update yw_sms_system_push
        set userid = #{userid,jdbcType=INTEGER},
        from_accid = #{fromAccid,jdbcType=VARCHAR},
        to_accids = #{toAccids,jdbcType=VARCHAR},
        body = #{body,jdbcType=VARCHAR},
        inform_time = #{informTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findAllSystemPush" resultType="com.movision.mybatis.systemPush.entity.SystemPush">
        select * from yw_sms_system_push
    </select>
    <select id="findAllPushCondition" parameterType="java.util.Map"
            resultType="com.movision.mybatis.systemPush.entity.SystemPush">
        select * from yw_sms_system_push WHERE 1
        <if test="body!=null">
            AND body LIKE LIKE concat('%',#{body,jdbcType=VARCHAR},'%')
        </if>
        <if test="pai==0">
            ORDER BY inform_time DESC
        </if>
    </select>
    <select id="queryPushBody" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.systemPush.entity.SystemPush">
        select body from yw_sms_system_push
    </select>
    <delete id="deleteSystemPush" parameterType="java.lang.Integer">
        DELETE FROM yw_sms_system_push WHERE id=#{id,jdbcType=INTEGER}
    </delete>

    <insert id="addPush" parameterType="com.movision.mybatis.systemPush.entity.SystemPush">
        insert into yw_sms_system_push
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="body != null">
                body,
            </if>
            <if test="informTime != null">
                inform_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="body != null">
                #{body,jdbcType=VARCHAR},
            </if>
            <if test="informTime != null">
                #{informTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="findAllPhone" resultType="java.lang.String">
        SELECT phone FROM yw_user
    </select>
    <select id="findPhone" resultType="java.lang.String">
SELECT phone FROM yw_user LIMIT 0,200
    </select>
</mapper>