<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.newInformation.mapper.NewInformationMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.newInformation.entity.NewInformation">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="isread" property="isread" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, userid, isread, intime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_user_new_information
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yw_user_new_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.movision.mybatis.newInformation.entity.NewInformation">
    insert into yw_user_new_information (id, userid, isread, 
      intime)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{isread,jdbcType=INTEGER}, 
      #{intime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.newInformation.entity.NewInformation">
        insert into yw_user_new_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="isread != null">
                isread,
            </if>
            <if test="intime != null">
                intime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="isread != null">
                #{isread,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.newInformation.entity.NewInformation">
        update yw_user_new_information
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="isread != null">
                isread = #{isread,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.newInformation.entity.NewInformation">
    update yw_user_new_information
    set userid = #{userid,jdbcType=INTEGER},
      isread = #{isread,jdbcType=INTEGER},
      intime = #{intime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="queryUserByNewInformation" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT userid FROM yw_user_new_information WHERE userid=(SELECT userid FROM yw_post WHERE id=#{postid,jdbcType=INTEGER})
  </select>

    <update id="updateUserByNewInformation" parameterType="com.movision.mybatis.newInformation.entity.NewInformation">
        update yw_user_new_information
        <set>
            <if test="isread != null">
                isread = #{isread,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where userid = #{userid,jdbcType=INTEGER}
    </update>

    <insert id="insertUserByNewInformation" parameterType="com.movision.mybatis.newInformation.entity.NewInformation">
        insert into yw_user_new_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="isread != null">
                isread,
            </if>
            <if test="intime != null">
                intime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="isread != null">
                #{isread,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="queryUserByNewInformationByCommentid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT userid FROM yw_user_new_information WHERE userid=(SELECT userid FROM yw_post WHERE id=(SELECT postid FROM yw_post_comment WHERE id=#{commentid,jdbcType=INTEGER}))
  </select>

    <select id="querySystemByNewInformation" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT userid FROM yw_user_new_information WHERE userid=(SELECT userid FROM yw_im_user WHERE accid=#{accid,jdbcType=VARCHAR})
  </select>

    <select id="queryCollByNewInformation" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT u.userid FROM yw_im_first_dialogue d LEFT JOIN yw_im_user u ON u.accid=d.toid WHERE d.toid=#{toaccid,jdbcType=VARCHAR}
  </select>

    <update id="updateNewInformtions" parameterType="java.util.Map">
        update yw_user_new_information
        <set>
            <if test="isread != null">
                isread = #{isread,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where userid = #{userid,jdbcType=INTEGER}
    </update>

    <select id="queryNewInformationByUserid" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.newInformation.entity.NewInformation">
    SELECT * FROM yw_user_new_information WHERE userid=#{userid,jdbcType=INTEGER}
  </select>
</mapper>