<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movision.mybatis.applyVipDetail.mapper.ApplyVipDetailMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.applyVipDetail.entity.ApplyVipDetail">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime"/>
        <result column="apply_level" jdbcType="INTEGER" property="applyLevel"/>
        <result column="isdel" jdbcType="INTEGER" property="isdel"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, userid, apply_time, apply_level, isdel
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yw_apply_vip_detail
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_apply_vip_detail
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.applyVipDetail.entity.ApplyVipDetail">
        insert into yw_apply_vip_detail (id, userid, apply_time,
        apply_level,isdel)
        values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{applyTime,jdbcType=TIMESTAMP},
        #{applyLevel,jdbcType=INTEGER},#{isdel,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.applyVipDetail.entity.ApplyVipDetail">
        insert into yw_apply_vip_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            apply_time,
            <if test="applyLevel != null">
                apply_level,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            now(),
            <if test="applyLevel != null">
                #{applyLevel,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.applyVipDetail.entity.ApplyVipDetail">
        update yw_apply_vip_detail
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="applyTime != null">
                apply_time = #{applyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="applyLevel != null">
                apply_level = #{applyLevel,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                isdel=#{isdel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.applyVipDetail.entity.ApplyVipDetail">
        update yw_apply_vip_detail
        set userid = #{userid,jdbcType=INTEGER},
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
        apply_level = #{applyLevel,jdbcType=INTEGER},
        isdel = #{isdel,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectLatestVipApplyRecord" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.applyVipDetail.entity.ApplyVipDetail">
        SELECT *
        FROM yw_apply_vip_detail
        WHERE userid = #{userid}
        AND isdel=0
        order by apply_time DESC
        limit 1
    </select>

    <select id="queryApplyVIPByUserid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM yw_apply_vip_detail WHERE userid=#{userid,jdbcType=INTEGER} AND isdel=1
        AND userid=(SELECT apply_userid FROM yw_audit_vip_detail WHERE apply_userid=#{userid,jdbcType=INTEGER})
    </select>
</mapper>