<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.zhb.mapper.ZhbMapper" >
  <resultMap id="ZhbAccountResultMap" type="com.zhuhuibao.mybatis.zhb.entity.ZhbAccount" >
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
   <resultMap id="ZhbRecordResultMap" type="com.zhuhuibao.mybatis.zhb.entity.ZhbRecord" >
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="buyer_id" property="buyerId" jdbcType="BIGINT" />
    <result column="operater_id" property="operaterId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="ZhbGoodsMap" type="com.zhuhuibao.mybatis.zhb.entity.DictionaryZhbgoods" >
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>

 <select id="selectZhbRecordByOrderNoAndType" parameterType="java.util.Map"  resultMap="ZhbRecordResultMap" >
 	SELECT 
	  id,order_no,buyer_id,operater_id,amount,STATUS,TYPE,goods_type,goods_id,description,add_time,update_time
	FROM
	  t_zhb_record 
	WHERE order_no = #{orderNo,jdbcType=VARCHAR}
	  AND TYPE = #{type,jdbcType=VARCHAR}
 </select>
 
 <select id="selectZhbRecordListByOrderNo" parameterType="java.lang.String"  resultMap="ZhbRecordResultMap" >
 	SELECT 
	  id,order_no,buyer_id,operater_id,amount,STATUS,TYPE,goods_type,goods_id,description,add_time,update_time
	FROM
	  t_zhb_record 
	WHERE order_no = #{orderNo,jdbcType=VARCHAR}
	order by add_time desc
 </select>
 
 <select id="selectZhbRecordList" parameterType="java.util.Map"  resultType="java.util.Map" >
 	SELECT 
	  z.id,
	  z.order_no AS orderNo,
	  z.buyer_id AS buyerId,
	  z.operater_id AS operaterId,
	  CASE
	    WHEN m.mobile IS NOT NULL 
	    AND m.mobile != '' 
	    THEN m.mobile 
	    WHEN m.email IS NOT NULL 
	    AND m.email != '' 
	    THEN m.email 
	  END AS account,
	  m.workType,
	  z.amount,
	  z.status,
	  z.type,
	  z.goods_type AS goodsType,
	  z.goods_id AS goodsId,
	  z.description,
	  date_format(z.add_time,'%Y-%m-%d %H:%i:%s') AS addTime,
	  date_format(z.update_time,'%Y-%m-%d %H:%i:%s') AS updateTime
	FROM
	  t_zhb_record z 
	  LEFT JOIN t_m_member m 
	    ON m.id = z.operater_id 
	WHERE 
	  <if test="companyId == operaterId">
	  	z.buyer_id = #{companyId,jdbcType=BIGINT}
	  </if>
	  <if test="companyId != operaterId">
	  	z.operater_id = #{operaterId,jdbcType=BIGINT}
	  </if>
	  <if test="recordType == 1">
	  	and z.type = '1'
	  </if>
	  <if test="recordType == 2">
	  	and z.type in ('2','3')
	  </if>
	  order by z.add_time desc
 </select>

 <insert id="insertZhbRecord" parameterType="com.zhuhuibao.mybatis.zhb.entity.ZhbRecord">
 	INSERT INTO t_zhb_record
 	<trim prefix="(" suffix=")" suffixOverrides="," >
 	  order_no,
	  buyer_id,
	  operater_id,
	  amount,
	  status,
	  type,
	  add_time,
	  update_time,
	  <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="description != null" >
        description,
      </if>
 	</trim>
 	<trim prefix="values (" suffix=")" suffixOverrides="," >
	  #{orderNo,jdbcType=VARCHAR},
	  #{buyerId,jdbcType=BIGINT},
	  #{operaterId,jdbcType=BIGINT},
	  #{amount,jdbcType=DECIMAL},
	  #{status,jdbcType=VARCHAR},
	  #{type,jdbcType=VARCHAR},
	  now(),
	  now(),
	  <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
 	</trim>
 </insert>
 
 <select id="selectZhbAccount" parameterType="java.lang.Long"  resultMap="ZhbAccountResultMap" >
 
 	SELECT 
	  id,member_id,STATUS,amount,add_time,update_time  
	FROM
	  t_zhb_account 
	WHERE member_id = #{memberId,jdbcType=BIGINT}
 </select>
 
 <insert id="insertZhbAccount" parameterType="com.zhuhuibao.mybatis.zhb.entity.ZhbAccount">
 	INSERT INTO t_zhb_account (
	  member_id,
	  status,
	  amount,
	  add_time,
	  update_time
	) 
	VALUES
	  (
	  #{memberId,jdbcType=BIGINT},
	  #{status,jdbcType=VARCHAR},
	  #{amount,jdbcType=VARCHAR},
	  now(),
	  now()
	  )
 </insert>
 
 <update id="updateZhbAccountEmoney" parameterType="com.zhuhuibao.mybatis.zhb.entity.ZhbAccount" >
 	UPDATE 
	  t_zhb_account 
	SET
	  status = #{status,jdbcType=VARCHAR},
	  amount = #{amount,jdbcType=VARCHAR}, 
	  update_time = now()
	WHERE member_id = #{memberId,jdbcType=BIGINT} 
	  AND update_time =#{updateTime,jdbcType=TIMESTAMP}
 </update>
 
 <select id="selectZhbGoodsByPinyin" parameterType="java.lang.String" resultMap="ZhbGoodsMap">
 	SELECT 
	  id,name,pinyin,type,value,price,add_time
	FROM
	  t_dictionary_zhbgoods 
	WHERE pinyin = #{pinyin,jdbcType=VARCHAR}
 </select>
 
 <select id="selectZhbGoodsById" parameterType="java.lang.Long" resultMap="ZhbGoodsMap">
 	SELECT 
	  id,name,pinyin,type,value,price,add_time
	FROM
	  t_dictionary_zhbgoods 
	WHERE id = #{id,jdbcType=BIGINT}
 </select>
 
  <select id="selectZhbGoodsListById" parameterType="java.lang.String" resultMap="ZhbGoodsMap">
 	SELECT 
	  id,name,pinyin,type,value,price,add_time
	FROM
	  t_dictionary_zhbgoods 
	WHERE type = #{type,jdbcType=VARCHAR}
	ORDER BY id
 </select>
	
</mapper>