<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.vip.mapper.VipInfoMapper" >
  <resultMap id="VipMemberPrivilegeResultMap" type="com.zhuhuibao.mybatis.vip.entity.VipMemberPrivilege" >
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="VipMemberInfoResultMap" type="com.zhuhuibao.mybatis.vip.entity.VipMemberInfo" >
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="vip_level" property="vipLevel" jdbcType="BIGINT" />
    <result column="active_time" property="activeTime" jdbcType="TIMESTAMP" />
    <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="VipPrivilegeResultMap" type="com.zhuhuibao.mybatis.vip.entity.VipPrivilege" >
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="vip_level" property="vipLevel" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="selectVipMemberInfoById" parameterType = "java.lang.Long" resultMap="VipMemberInfoResultMap">
  	SELECT 
	  id,member_id,vip_level,active_time,expire_time,add_time,update_time 
	FROM
	  t_vip_member_info
	WHERE member_id = #{memberId,jdbcType=BIGINT} 
  </select>
  
  <insert id="insertVipMemberInfo" parameterType = "com.zhuhuibao.mybatis.vip.entity.VipMemberInfo">
  	INSERT INTO t_vip_member_info (
	  member_id,
	  vip_level,
	  active_time,
	  expire_time,
	  add_time,
	  update_time
	) 
	VALUES
	  (
	  #{memberId,jdbcType=BIGINT},
	  #{vipLevel,jdbcType=INTEGER},
	  #{activeTime,jdbcType=TIMESTAMP},
	  #{expireTime,jdbcType=TIMESTAMP},
	  now(),
	  now()
	  )
  </insert>
  
  <update id="updateVipMemberInfo" parameterType = "com.zhuhuibao.mybatis.vip.entity.VipMemberInfo">
  	update t_vip_member_info
  	<set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="vipLevel != null">
        vip_level = #{vipLevel,jdbcType=INTEGER},
      </if>
      <if test="activeTime != null">
        active_time = #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      update_time = now(),
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectVipMemberPrivilege" parameterType="java.util.Map" resultMap="VipMemberPrivilegeResultMap">
  	SELECT 
	  id,member_id,type,pinyin,name,value,description,add_time,update_time 
	FROM
	  t_vip_member_privilege 
	WHERE member_id = #{memberId,jdbcType=BIGINT} 
	  AND pinyin = #{pinyin,jdbcType=VARCHAR}
  </select>
  
  <select id="selectVipMemberPrivilegeList" parameterType="java.lang.Long" resultMap="VipMemberPrivilegeResultMap">
  	SELECT 
	  id,member_id,type,pinyin,name,value,description,add_time,update_time 
	FROM
	  t_vip_member_privilege 
	WHERE member_id = #{memberId,jdbcType=BIGINT} 
  </select>
  
  <select id="selectVipPrivilegeListByLevel" parameterType="java.lang.Integer" resultMap="VipPrivilegeResultMap">
  	SELECT 
	  id,vip_level,type,pinyin,name,value,description,add_time,update_time
	FROM
	  t_vip_privilege 
	WHERE vip_level = #{vipLevel,jdbcType=INTEGER}
	ORDER BY id ASC
  </select>
  
  <insert id="insertVipMemberPrivilege" parameterType="com.zhuhuibao.mybatis.vip.entity.VipMemberPrivilege" >
  	INSERT INTO t_vip_member_privilege (
	  member_id,
	  type,
	  pinyin,
	  name,
	  value,
	  description,
	  add_time,
	  update_time
	) 
	VALUES
	  (
	  	#{memberId,jdbcType=BIGINT},
	  	#{type,jdbcType=VARCHAR},
	  	#{pinyin,jdbcType=VARCHAR},
	  	#{name,jdbcType=VARCHAR},
	  	#{value,jdbcType=VARCHAR},
	  	#{description,jdbcType=VARCHAR},
	  	now(),
	  	now()
	  )
  </insert>
  
  <update id="updateVipMemberPrivilegeValue" parameterType="com.zhuhuibao.mybatis.vip.entity.VipMemberPrivilege">
  	update t_vip_member_privilege
  	<set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="pinyin != null">
        pinyin = #{pinyin,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=TIMESTAMP},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=TIMESTAMP},
      </if>
      update_time = now(),
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
</mapper>