<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.witkey.mapper.CooperationMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.witkey.entity.Cooperation" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="createId" property="createId" jdbcType="VARCHAR" />
    <result column="publishTime" property="publishTime" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="parentId" property="parentId" jdbcType="VARCHAR" />
    <result column="parentName" property="parentName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="typeName" property="typeName" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="systemType" property="systemType" jdbcType="VARCHAR" />
    <result column="categoryName" property="categoryName" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="cooperationArea" property="cooperationArea" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="endTime" property="endTime" jdbcType="VARCHAR" />
    <result column="isShow" property="isShow" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="linkMan" property="linkMan" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="is_deleted" property="is_deleted" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="views" property="views" jdbcType="VARCHAR" />
    <result column="memberType" property="memberType" jdbcType="VARCHAR" />
    <result column="headShot" property="headShot" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMap" type="com.zhuhuibao.common.pojo.ResultBean" >
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createId, publishTime, updateTime, title, type, category, province, city, area, 
    price, endTime, isShow, companyName, linkMan, telephone,mobile, email,content,is_deleted,views
  </sql>
  <insert id="publishCooperation" parameterType="com.zhuhuibao.mybatis.witkey.entity.Cooperation" useGeneratedKeys="true" keyProperty="id">
    insert into t_c_cooperation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createId != null" >
        createId,
      </if>
        publishTime,
        updateTime,
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="systemType != null" >
        systemType,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="endTime != null" >
        endTime,
      </if>
      <if test="isShow != null" >
        isShow,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="linkMan != null" >
        linkMan,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="is_deleted != null" >
        is_deleted,
      </if>
      <if test="views != null" >
        views,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createId != null" >
        #{createId},
      </if>
        now(),
        now(),
      <if test="title != null" >
        #{title},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="category != null" >
        #{category},
      </if>
      <if test="systemType != null" >
        #{systemType},
      </if>
      <if test="province != null" >
        #{province},
      </if>
      <if test="city != null" >
        #{city},
      </if>
      <if test="area != null" >
        #{area},
      </if>
      <if test="price != null" >
        #{price},
      </if>
      <if test="endTime != null" >
        #{endTime},
      </if>
      <if test="isShow != null" >
        #{isShow},
      </if>
      <if test="companyName != null" >
        #{companyName},
      </if>
      <if test="linkMan != null" >
        #{linkMan},
      </if>
      <if test="telephone != null" >
        #{telephone},
      </if>
      <if test="mobile != null" >
        #{mobile},
      </if>
      <if test="email != null" >
        #{email},
      </if>
      <if test="content != null" >
        #{content},
      </if>
      <if test="is_deleted != null" >
        #{is_deleted},
      </if>
      <if test="views != null" >
        #{views},
      </if>
    </trim>
  </insert>
  <update id="updateCooperation" parameterType="com.zhuhuibao.mybatis.witkey.entity.Cooperation" >
    update t_c_cooperation
    <set >
        updateTime = now(),
      <if test="title != null" >
        title = #{title},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="category != null" >
        category = #{category},
      </if>
      <if test="systemType != null" >
        systemType = #{systemType},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="area != null" >
        area = #{area},
      </if>
      <if test="price != null" >
        price = #{price},
      </if>
      <if test="endTime != null" >
        endTime = #{endTime},
      </if>
      <if test="isShow != null" >
        isShow = #{isShow},
      </if>
      <if test="companyName != null" >
        companyName = #{companyName},
      </if>
      <if test="linkMan != null" >
        linkMan = #{linkMan},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
      <if test="is_deleted != null" >
        is_deleted = #{is_deleted},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="views != null" >
        views = #{views},
      </if>
      <if test="reason != null">
        reason = #{reason}
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateCooperationViews" parameterType="com.zhuhuibao.mybatis.witkey.entity.Cooperation" >
    update t_c_cooperation
    <set >
      <if test="views != null" >
        views = #{views},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="deleteCooperation" parameterType="com.zhuhuibao.mybatis.witkey.entity.Cooperation" >
    UPDATE t_c_cooperation SET is_deleted = 1 WHERE id = #{id}
  </update>
  <select id="queryCooperationInfoById" resultType="java.util.Map" >
    select c.id, c.createId,date_format(c.updateTime,'%Y-%m-%d') updateTime, c.title,
    c.price, date_format(c.endTime,'%Y-%m-%d') endTime,c.type, c.category, c.province, c.city, c.area,c.systemType,
    c.isShow, c.companyName, c.linkMan, c.telephone, c.mobile,c.email,c.content,c.views,c.is_deleted,c.status,
    concat(p.name,ci.name)as cooperationArea,coo.parentId,
    (SELECT group_concat(name) from t_dictionary_constant where find_in_set(code,c.category) and type = 9)as categoryName,
    (SELECT group_concat(name) from t_dictionary_constant where find_in_set(code,c.systemType) and type = 25)as systemTypeName,
    coo.name as typeName
    from t_c_cooperation c
    left join t_dictionary_province p on p.code = c.province
    left join t_dictionary_city ci on ci.code = c.city
    left join t_dictionary_cooperationType coo on coo.id = c.type
    LEFT JOIN t_m_member m on c.createId = m.id
    where c.id = #{id} and c.is_deleted = 0
  </select>
  <select id="queryUnloginCooperationInfo" resultType="java.util.Map" >
    select c.id,c.title,date_format(c.updateTime,'%Y-%m-%d %H:%i:%s') updateTime
    from t_c_cooperation c
    where c.id = #{id}
  </select>
  <select id="findAllCooperationByPager" resultType="java.util.Map" >
    select c.id, c.createId, date_format(c.publishTime,'%Y-%m-%d %H:%i:%s') publishTime,
    date_format(c.updateTime,'%Y-%m-%d %H:%i:%s') updateTime, c.title, c.type, c.category, c.province, c.city, c.area,
    c.price, date_format(c.endTime,'%Y-%m-%d %H:%i:%s') endTime,
    case WHEN c.endTime &lt; now() THEN '1' WHEN c.endTime &gt; now() THEN '0' END AS timeStatus,
    c.isShow, c.companyName, c.linkMan, c.telephone, c.mobile,c.email,c.content,c.is_deleted,c.views,c.status,
    concat(p.name,ci.name)as cooperationArea,
    (SELECT group_concat(name) from t_dictionary_constant where find_in_set(code,c.category) and type = 9)as categoryName,
    (SELECT group_concat(name) from t_dictionary_constant where find_in_set(code,c.systemType) and type = 25)as systemTypeName,
    coo.name as typeName,
    coo.parentId,
    (select name from t_dictionary_cooperationType where id = coo.parentId)as parentName,
    CASE WHEN m.identify = 2 THEN '个人' WHEN m.identify !=2 THEN '公司' END AS memberType,
    m.headShot
    from t_c_cooperation c
    left join t_dictionary_province p on p.code = c.province
    left join t_dictionary_city ci on ci.code = c.city
    left join t_dictionary_cooperationType coo on coo.id = c.type
    LEFT JOIN t_m_member m on c.createId = m.id
    where c.is_deleted = 0
    <if test="createId != null and createId != ''">
      and c.createId = #{createId}
    </if>
    <if test="title != null and title != ''">
      and c.title like CONCAT('%',#{title},'%')
    </if>
    <if test="smart != null and smart != ''">
      and (c.title like CONCAT('%',#{smart},'%') or c.content like CONCAT('%',#{smart},'%'))
    </if>
    <if test="type != null and type != ''">
      and c.type = #{type}
    </if>
    <if test="status != null and status != ''">
      and c.status = #{status}
    </if>
    <if test="distinction != null and distinction != ''">
      and c.status = 1
    </if>
    <if test="category != null and category != ''">
      and find_in_set(#{category},c.category)
    </if>
    <if test="systemType != null and systemType != ''">
      and find_in_set(#{systemType},c.systemType)
    </if>
    <if test="province != null and province != ''">
      and c.province = #{province}
    </if>
    <if test="city != null and city != ''">
      and c.city = #{city}
    </if>
    <if test="parentId != null and parentId != ''">
      and coo.parentId = #{parentId}
    </if>
    order by c.updateTime desc
  </select>
  <select id="queryHotCooperation" resultType="java.util.Map" >
    select c.id,c.price,c.title,coo.name as TypeName,m.headShot,c.type
    from t_c_cooperation c
    left join t_dictionary_cooperationType coo on coo.id = c.type
    LEFT JOIN t_m_member m on c.createId = m.id
    where coo.parentId = #{type}
    and c.is_deleted = #{is_deleted}
    and c.status = #{status}
    order by c.views desc limit 0,#{count}
  </select>

  <select id="queryMyWitkeyListSize" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) FROM t_c_cooperation c
    left join t_dictionary_cooperationType ct on c.type = ct.id
    WHERE c.createId = #{createId} and c.is_deleted = 0 and ct.parentId = #{parentId}
  </select>

  <select id="findAllWitkeyTaskList" resultType="java.util.Map" >
    select c.id,c.title,ct.name as type,p.name as province,ci.name as city,date_format(v.viewTime,'%Y-%m-%d') viewTime,v.id as recordId
    from t_zhb_viewGoods v
    left join t_c_cooperation c on v.goodsId = c.id
    left join t_dictionary_province p on c.province = p.code
    left join t_dictionary_city ci on c.city = ci.code
    left join t_dictionary_cooperationType ct on c.type = ct.id
    where v.type = 'CKWKRW' and v.`status` = 0
    <if test="companyId != null">
      and v.companyId = #{companyId}
    </if>
    <if test="viewerId != null">
      and v.viewerId = #{viewerId}
    </if>
    <if test="type != null">
      and c.type = #{type}
    </if>
    <if test="title != null">
      and c.title like concat('%',#{title},'%')
    </if>
    order by v.viewTime desc
  </select>

  <update id="deleteWitkeyTask" parameterType="java.lang.String" >
    update t_zhb_viewGoods
    set status = 1
    where id = #{id}
  </update>

  <select id="queryUnloginCooperationInfoById" parameterType="java.lang.String" resultType="java.util.Map">
    SELECT c.id,c.createId,c.title,date_format(c.updateTime,'%Y-%m-%d') updateTime,concat(p.name,ci.name)as cooperationArea,
    (SELECT group_concat(name) from t_dictionary_constant where find_in_set(code,c.category) and type = 9)as categoryName,
    (SELECT group_concat(name) from t_dictionary_constant where find_in_set(code,c.systemType) and type = 25)as systemTypeName,
    coo.name as typeName,c.price,date_format(c.endTime,'%Y-%m-%d') endTime,c.views,
    case when c.companyName is null or c.companyName = '' THEN c.companyName when c.companyName
	 is not null and c.companyName != '' then '****'  end as companyName,
	 case when c.linkMan is null or c.linkMan = '' THEN c.linkMan when c.linkMan
	 is not null and c.linkMan != '' then '****'  end as linkMan,
	 case when c.telephone is null or c.telephone = '' THEN c.telephone when c.telephone
	 is not null and c.telephone != '' then '****'  end as telephone,
	 case when c.content is null or c.content = '' THEN c.content when c.content
	 is not null and c.content != '' then '****'  end as content,
	 case when c.mobile is null or c.mobile = '' THEN c.mobile when c.mobile
	 is not null and c.mobile != '' then '****'  end as mobile,
	 case when c.email is null or c.email = '' THEN c.email when c.email
	 is not null and c.email != '' then '****'  end as email
    from t_c_cooperation c
    left join t_dictionary_province p on p.code = c.province
    left join t_dictionary_city ci on ci.code = c.city
    left join t_dictionary_cooperationType coo on coo.id = c.type
    where c.id = #{id}
  </select>
</mapper>
