### Java template
*.class

# Package Files #
*.jar
*.war
*.ear

#/src/main/resources/logback.xml

#idea ide files
.idea
zhuhuibao.iml

#resources files
/src/main/resources/rebel.xml
/src/main/resources/mybatis/generatorConfig.xml
/src/main/resources/mybatis/init.properties


#test files
/target
#/src/test