<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.orderSubLogistics.mapper.OrderSubLogisticsMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.orderSubLogistics.entity.OrderSubLogistics">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="logisticsid" property="logisticsid" jdbcType="INTEGER"/>
        <result column="info" property="info" jdbcType="VARCHAR"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
        <result column="orderid" property="orderid" jdbcType="INTEGER"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, logisticsid, info, intime, orderid, isdel
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_order_sub_logistics
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_order_sub_logistics
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.orderSubLogistics.entity.OrderSubLogistics">
        insert into yw_order_sub_logistics (id, logisticsid, info,
        intime, orderid, isdel
        )
        values (#{id,jdbcType=INTEGER}, #{logisticsid,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR},
        #{intime,jdbcType=TIMESTAMP}, #{orderid,jdbcType=INTEGER}, #{isdel,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.orderSubLogistics.entity.OrderSubLogistics">
        insert into yw_order_sub_logistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="logisticsid != null">
                logisticsid,
            </if>
            <if test="info != null">
                info,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="orderid != null">
                orderid,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="logisticsid != null">
                #{logisticsid,jdbcType=INTEGER},
            </if>
            <if test="info != null">
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.movision.mybatis.orderSubLogistics.entity.OrderSubLogistics">
        update yw_order_sub_logistics
        <set>
            <if test="logisticsid != null">
                logisticsid = #{logisticsid,jdbcType=INTEGER},
            </if>
            <if test="info != null">
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderid != null">
                orderid = #{orderid,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.orderSubLogistics.entity.OrderSubLogistics">
        update yw_order_sub_logistics
        set logisticsid = #{logisticsid,jdbcType=INTEGER},
        info = #{info,jdbcType=VARCHAR},
        intime = #{intime,jdbcType=TIMESTAMP},
        orderid = #{orderid,jdbcType=INTEGER},
        isdel = #{isdel,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>