<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.postSensitiveWords.mapper.PostSensitiveWordsMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.postSensitiveWords.entity.PostSensitiveWords">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, intime
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_post_sensitive_words
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_post_sensitive_words
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.postSensitiveWords.entity.PostSensitiveWords">
        insert into yw_post_sensitive_words (id, name, intime
        )
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{intime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.postSensitiveWords.entity.PostSensitiveWords">
        insert into yw_post_sensitive_words
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="intime != null">
                intime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.movision.mybatis.postSensitiveWords.entity.PostSensitiveWords">
        update yw_post_sensitive_words
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.postSensitiveWords.entity.PostSensitiveWords">
        update yw_post_sensitive_words
        set name = #{name,jdbcType=VARCHAR},
        intime = #{intime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findAllPostCodition" parameterType="java.util.Map"
            resultType="com.movision.mybatis.postSensitiveWords.entity.PostSensitiveWords">
        select * from yw_post_sensitive_words WHERE 1=1
        <if test="name!=null">
            AND name LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
    </select>
    <select id="findAllPostSensitiveWords"
            resultType="com.movision.mybatis.postSensitiveWords.entity.PostSensitiveWords">
        select * from yw_post_sensitive_words ORDER BY intime DESC
    </select>

    <!--不分页查询所有敏感词列表-->
    <select id="querySensitiveList" resultType="com.movision.mybatis.postSensitiveWords.entity.PostSensitiveWords">
        select name from yw_post_sensitive_words
    </select>

    <select id="queryPostSensitive" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.postSensitiveWords.entity.PostSensitiveWords">
        SELECT  * FROM  yw_post_sensitive_words WHERE id=#{id,jdbcType=INTEGER}
    </select>
</mapper>