<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.bossIndex.mapper.IndexMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.bossIndex.entity.IndexTodayDetails">
        <result column="newPost" property="newPost" jdbcType="INTEGER"/>
        <result column="newMember" property="newMember" jdbcType="INTEGER"/>
        <result column="newActivityApply" property="newActivityApply" jdbcType="INTEGER"/>
        <result column="newOrderForm" property="newOrderForm" jdbcType="INTEGER"/>
        <result column="applyForNotAudit" property="applyForNotAudit" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    newPost, newMember, newActivityApply, newOrderForm,applyForNotAudit
  </sql>

    <select id="queryTheHomepageDetailsToday" resultType="com.movision.mybatis.bossIndex.entity.IndexTodayDetails">
    SELECT COUNT(1) AS newPost ,
    (SELECT COUNT(1) FROM yw_user WHERE DATE(intime)=CURDATE() AND status=0) AS newMember,
    (SELECT COUNT(1) FROM yw_active_part WHERE DATE(intime)=CURDATE()) AS newActivityApply,
    (SELECT COUNT(1) FROM yw_orders WHERE DATE(paytime)=CURDATE() AND isdel=0) AS newOrderForm,
    (SELECT COUNT(1) FROM yw_audit_vip_detail WHERE userid = (SELECT id FROM yw_user WHERE DATE(applydate)=CURDATE())) AS applyForNotAudit
    FROM yw_post WHERE date(intime)=curdate() AND isdel=0 AND isactive=0
  </select>

    <select id="queryProcessedGoodsOrders" resultType="com.movision.mybatis.bossIndex.entity.ProcessedGoodsOrders">
        SELECT COUNT(1) AS addVExamine,
        (SELECT COUNT(1) FROM yw_goods WHERE isself=1 AND isdel=0) AS selfSupportGoods,
        (SELECT COUNT(1) FROM yw_goods WHERE isself=0 AND isdel=0) AS tripartiteGoods,
        <![CDATA[ (SELECT COUNT(1) FROM yw_goods WHERE stock<10 AND isdel=0) AS inventoryWarning, ]]>
        (SELECT COUNT(1) FROM yw_goods WHERE ishot=1 AND isdel=0) AS sellLikeHotCakesGoods,
        (SELECT COUNT(1) FROM yw_goods WHERE stock=0) AS noStock,
        (SELECT COUNT(1) FROM yw_goods WHERE isspecial=1 AND isdel=0) AS promotionItem,
        (SELECT COUNT(1) FROM yw_goods WHERE isdel=1) AS soldOut,
        (SELECT COUNT(1) FROM yw_goods WHERE isdel=0) AS goodsQuantity,
        (SELECT COUNT(1) FROM yw_orders WHERE status=1 AND isdel=0) AS dropShipping,
        (SELECT COUNT(1) FROM yw_orders WHERE status=0 AND isdel=0) AS tobepaid,
        (SELECT COUNT(1) FROM yw_orders o WHERE o.status=2 AND o.isdel=0 AND (SELECT COUNT(1) FROM yw_afterservice WHERE orderid=o.ordernumber)=0) AS deliverGoods,
        (SELECT COUNT(1) FROM yw_afterservice WHERE afterstatue=2 AND aftersalestatus=1 AND processingstatus=2 AND isdel=1) AS refund,
        (SELECT COUNT(1) FROM yw_afterservice WHERE afterstatue=1 AND aftersalestatus=1 AND processingstatus=2 AND isdel=1) AS salesReturn,
        (SELECT COUNT(1) FROM yw_orders WHERE isdel=0 AND status &lt;&gt; 0 AND status &lt;&gt; -1) AS orderQuantity
        FROM yw_apply_vip_detail WHERE apply_level=0
    </select>

    <select id="queryAboveStatistics" resultType="com.movision.mybatis.bossIndex.entity.AboveStatistics">
        SELECT COUNT(1) AS posts,
        (SELECT COUNT(1) FROM yw_orders WHERE isdel=0) AS orders,
        (SELECT COUNT(1) FROM yw_goods WHERE isdel=0) AS goods,
        <![CDATA[ (SELECT COUNT(1) FROM yw_user WHERE status=0 AND level>0) AS vip,]]>
        (SELECT COUNT(1) FROM yw_post WHERE isdel=0 AND isactive=0 AND isessencepool=1) AS quintessence
        FROM yw_post WHERE isdel=0 AND isactive=0
    </select>

</mapper>