<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.productcategory.mapper.ProductCategoryMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.productcategory.entity.ProductCategory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="protype" property="protype" jdbcType="INTEGER"/>
        <result column="typename" property="typename" jdbcType="VARCHAR"/>
        <result column="subtitle" property="subtitle" jdbcType="VARCHAR"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
        <result column="imgurl" property="imgurl" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, protype, typename, subtitle, intime, imgurl
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_category
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_category
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.productcategory.entity.ProductCategory">
        insert into yw_category (id, protype, typename,
        subtitle, intime, imgurl
        )
        values (#{id,jdbcType=INTEGER}, #{protype,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR},
        #{subtitle,jdbcType=VARCHAR}, #{intime,jdbcType=TIMESTAMP}, #{imgurl,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.productcategory.entity.ProductCategory">
        insert into yw_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="protype != null">
                protype,
            </if>
            <if test="typename != null">
                typename,
            </if>
            <if test="subtitle != null">
                subtitle,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="imgurl != null">
                imgurl,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="protype != null">
                #{protype,jdbcType=INTEGER},
            </if>
            <if test="typename != null">
                #{typename,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgurl != null">
                #{imgurl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.movision.mybatis.productcategory.entity.ProductCategory">
        update yw_category
        <set>
            <if test="protype != null">
                protype = #{protype,jdbcType=INTEGER},
            </if>
            <if test="typename != null">
                typename = #{typename,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                subtitle = #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgurl != null">
                imgurl = #{imgurl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.productcategory.entity.ProductCategory">
        update yw_category
        set protype = #{protype,jdbcType=INTEGER},
        typename = #{typename,jdbcType=VARCHAR},
        subtitle = #{subtitle,jdbcType=VARCHAR},
        intime = #{intime,jdbcType=TIMESTAMP},
        imgurl = #{imgurl,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findAllProductCategory" resultType="com.movision.mybatis.productcategory.entity.ProductCategory">
        SELECT id,protype,typename,intime FROM yw_category ORDER BY intime DESC
    </select>

    <select id="findAllGoodsDiscount" resultType="com.movision.mybatis.goodsDiscount.entity.GoodsDiscount">
        SELECT id,name,isenrent,rentday,discount,content,orderid,isdel,startdate,enddate,intime from yw_goods_discount
        ORDER BY intime DESC
</select>
    <select id="findAllCategoryCondition" resultType="com.movision.mybatis.productcategory.entity.ProductCategory">
        SELECT id,protype,typename,intime FROM yw_category WHERE 1
        <if test="typename!=null">
            AND typename LIKE concat('%',#{typename,jdbcType=VARCHAR},'%')
        </if>
        ORDER BY intime DESC
    </select>

    <select id="findAllGoodsDiscountCondition" resultType="com.movision.mybatis.goodsDiscount.entity.GoodsDiscount">
        SELECT id,name,isenrent,rentday,discount,content,orderid,isdel,startdate,enddate,intime from yw_goods_discount
        WHERE 1
        <if test="name!=null">
            AND name LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="isdel!=null and isdel!=''">
            AND isdel=#{isdel,jdbcType=INTEGER}
        </if>
        ORDER BY enddate DESC
    </select>

    <select id="findAllBrandCondition" resultType="com.movision.mybatis.brand.entity.Brand">
        SELECT id,brandid,brandname,isdel,intime FROM yw_brand WHERE 1
        <if test="brandname!=null">
            AND brandname LIKE concat('%',#{brandname,jdbcType=VARCHAR},'%')
        </if>
        <if test="isdel!=null and isdel!=''">
            AND isdel=#{isdel,jdbcType=INTEGER}
        </if>
        ORDER BY intime DESC
    </select>
    <delete id="deleteCategory" parameterType="java.lang.Integer">
        DELETE FROM yw_category WHERE id=#{id,jdbcType=INTEGER}
    </delete>
    <select id="queryCategory" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.productcategory.entity.ProductCategory">
        SELECT id,protype,typename,imgurl,intime FROM yw_category WHERE id=#{id,jdbcType=INTEGER}
    </select>
    <select id="queryGoodsDiscount" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.goodsDiscount.entity.GoodsDiscount">
        SELECT id,name,isenrent,rentday,discount,content,orderid,isdel,startdate,enddate,intime from yw_goods_discount
        WHERE id=#{id,jdbcType=INTEGER}
    </select>
    <select id="queryBrand" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.brand.entity.Brand">
        SELECT id,brandid,brandname,isdel,intime FROM yw_brand WHERE id=#{id,jdbcType=INTEGER}
    </select>
    <insert id="addCategory" parameterType="com.movision.mybatis.productcategory.entity.ProductCategory">
        insert into yw_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typename != null">
                typename,
            </if>
            <if test="imgurl != null">
                imgurl,
            </if>
            <if test="protype != null">
                protype,
            </if>
            <if test="intime != null">
                intime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="typename != null">
                #{typename,jdbcType=VARCHAR},
            </if>
            <if test="imgurl != null">
                #{imgurl,jdbcType=VARCHAR},
            </if>
            <if test="protype != null">
                #{protype,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateCategory"
            parameterType="com.movision.mybatis.productcategory.entity.ProductCategory">
        update yw_category
        <set>
            <if test="typename != null">
                typename = #{typename,jdbcType=VARCHAR},
            </if>
            <if test="imgurl != null">
                imgurl = #{imgurl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findAllBrand" resultType="com.movision.mybatis.brand.entity.Brand">
        SELECT id,brandid,brandname,isdel,intime FROM yw_brand ORDER BY intime DESC
    </select>
    <update id="updateUp" parameterType="java.lang.Integer">
        UPDATE yw_brand SET isdel=0 WHERE id=#{id,jdbcType=INTEGER}
    </update>
    <update id="updateStop" parameterType="java.lang.Integer">
        UPDATE yw_brand SET isdel=1 WHERE id=#{id,jdbcType=INTEGER}
    </update>
    <insert id="addBrand" parameterType="com.movision.mybatis.brand.entity.Brand">
        insert into yw_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="brandname != null">
                brandname,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
            <if test="brandid != null">
                brandid,
            </if>
            <if test="intime != null">
                intime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="brandname != null">
                #{brandname,jdbcType=VARCHAR},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
            <if test="brandid != null">
                #{brandid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateBrand"
            parameterType="com.movision.mybatis.brand.entity.Brand">
        update yw_brand
        <set>
            <if test="brandname != null">
                brandname = #{brandname,jdbcType=VARCHAR},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateDiscount"
            parameterType="com.movision.mybatis.goodsDiscount.entity.GoodsDiscount">
        update yw_goods_discount
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="discount != null">
                discount = #{discount,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="startdate != null">
                startdate = #{startdate,jdbcType=DATE},
            </if>
            <if test="enddate != null">
                enddate = #{enddate,jdbcType=DATE},
            </if>
            <if test="isenrent != null">
                isenrent = #{isenrent,jdbcType=INTEGER},
            </if>
            <if test="rentday != null">
                rentday = #{rentday,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                orderid = #{orderid,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <insert id="addGoodsDiscount" parameterType="com.movision.mybatis.goodsDiscount.entity.GoodsDiscount">
        insert into yw_goods_discount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="discount != null">
                discount,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="startdate != null">
                startdate,
            </if>
            <if test="enddate != null">
                enddate,
            </if>
            <if test="isenrent != null">
                isenrent,
            </if>
            <if test="rentday != null">
                rentday,
            </if>
            <if test="orderid != null">
                orderid,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="discount != null">
                #{discount,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="startdate != null">
                #{startdate,jdbcType=DATE},
            </if>
            <if test="enddate != null">
                #{enddate,jdbcType=DATE},
            </if>
            <if test="isenrent != null">
                #{isenrent,jdbcType=INTEGER},
            </if>
            <if test="rentday != null">
                #{rentday,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="queryAllBrand" resultType="java.lang.Integer">
       SELECT MAX(brandid) from  yw_brand
    </select>
    <select id="queryBrandHave" parameterType="java.lang.String" resultType="java.lang.Integer">
        select COUNT(1) from yw_brand WHERE  brandname=#{brandname,jdbcType=VARCHAR}
    </select>
    <select id="queryAllProtype" resultType="java.lang.Integer">
        SELECT MAX(protype) from  yw_category
    </select>
    <select id="queryCategoryHave" parameterType="java.lang.String" resultType="java.lang.Integer">
        select COUNT(1) from yw_category WHERE  typename=#{typename,jdbcType=VARCHAR}
    </select>
    <select id="queryisdel" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select isdel from yw_brand WHERE id=#{id,jdbcType=INTEGER}
    </select>
    <update id="updateDownD" parameterType="java.lang.Integer">
        update yw_goods_discount set  isdel=1  where id=#{id,jdbcType=INTEGER}
    </update>
    <update id="updateUpD" parameterType="java.lang.Integer">
        update yw_goods_discount set  isdel=0  where id=#{id,jdbcType=INTEGER}
    </update>
    <select id="queryGoodsisdel" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select isdel from yw_goods_discount where id=#{id,jdbcType=INTEGER}
    </select>
</mapper>