<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.goods.mapper.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.goods.entity.Goods">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="subname" property="subname" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="origprice" property="origprice" jdbcType="DOUBLE"/>
        <result column="attribute" property="attribute" jdbcType="INTEGER"/>
        <result column="provincecode" property="provincecode" jdbcType="VARCHAR"/>
        <result column="citycode" property="citycode" jdbcType="VARCHAR"/>
        <result column="isself" property="isself" jdbcType="INTEGER"/>
        <result column="isdamage" property="isdamage" jdbcType="INTEGER"/>
        <result column="isquality" property="isquality" jdbcType="INTEGER"/>
        <result column="promotions" property="promotions" jdbcType="VARCHAR"/>
        <result column="protype" property="protype" jdbcType="INTEGER"/>
        <result column="brandid" property="brandid" jdbcType="VARCHAR"/>
        <result column="brandsupple" property="brandsupple" jdbcType="VARCHAR"/>
        <result column="sales" property="sales" jdbcType="INTEGER"/>
        <result column="stock" property="stock" jdbcType="INTEGER"/>
        <result column="goodsposition" property="goodsposition" jdbcType="INTEGER"/>
        <result column="iscombo" property="iscombo" jdbcType="INTEGER"/>
        <result column="isspecial" property="isspecial" jdbcType="INTEGER"/>
        <result column="isseckill" property="isseckill" jdbcType="INTEGER"/>
        <result column="ishomepage" property="ishomepage" jdbcType="INTEGER"/>
        <result column="recommenddate" property="recommenddate" jdbcType="DATE"/>
        <result column="onlinetime" property="onlinetime" jdbcType="TIMESTAMP"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
        <result column="ishot" property="ishot" jdbcType="INTEGER"/>
        <result column="isessence" property="isessence" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, subname, price, origprice, attribute, provincecode, citycode, isself, isdamage,
        isquality, promotions, protype, brandid, brandsupple, sales, stock, goodsposition, iscombo,
        isspecial, isseckill, ishomepage, recommenddate, onlinetime, isdel, ishot, isessence
  </sql>

    <!--基础查询语句-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_goods
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--查询商城促销活动中促销的所有商品列表-->
    <select id="queryActiveGoods" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT t.* FROM (
        SELECT t1.postid,t2.id,t2.name,t2.subname,t2.price,t2.origprice,t2.img_url AS imgurl
        FROM yw_active_goods t1
        LEFT JOIN (SELECT a.id,a.name,a.subname,a.price,a.origprice,b.img_url
        FROM yw_goods a,yw_goods_img b
        WHERE a.id = b.goodsid AND b.type = '2') t2
        ON t1.goodid = t2.id
        ) t WHERE t.postid = #{postid,jdbcType=INTEGER}
    </select>

    <!--查询月度销量前十商品列表(根据销量倒叙排列)-->
    <select id="queryMonthHot" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT a.*,b.img_url AS imgurl
        FROM (SELECT t1.id, t1.name, t1.price, t1.origprice, t2.vol
        FROM yw_goods t1,(
        SELECT d.goodsid,count(*) AS vol
        FROM yw_sub_order d, yw_orders e
        WHERE d.porderid = e.id
        AND e.status IN (1,2,4,5)
        AND month(e.paytime)=month(NOW())
        GROUP BY d.goodsid
        ) t2
        WHERE t1.id = t2.goodsid
        LIMIT 10) a
        LEFT JOIN (SELECT * FROM yw_goods_img WHERE type = '2') b
        ON a.id = b.goodsid
        ORDER BY vol DESC
    </select>

    <!--查询月度热销-点击查看全部查询所有月度热销商品列表-->
    <select id="findAllMonthHot" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT a.*,b.img_url AS imgurl
        FROM (SELECT t1.id, t1.name, t1.price, t1.origprice, t2.vol
                FROM yw_goods t1,(
        SELECT d.goodsid,count(*) AS vol
        FROM yw_sub_order d, yw_orders e
        WHERE d.porderid = e.id
        AND e.status IN (1,2,4,5)
        AND month(e.paytime)=month(NOW())
        GROUP BY d.goodsid
        ) t2
                WHERE t1.id = t2.goodsid
              ) a
        LEFT JOIN (SELECT * FROM yw_goods_img WHERE type = '2') b
        ON a.id = b.goodsid
        ORDER BY vol DESC
    </select>

    <!--查询月度热销商品的缺省商品列表-->
    <select id="queryDefaultGoods" parameterType="java.util.Map" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT a.*,b.img_url AS imgurl
        FROM (SELECT t1.id, t1.name, t1.price, t1.origprice
        FROM yw_goods t1
        <if test="ids.length != 0">
            WHERE t1.id NOT IN
            <foreach collection="ids" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ) a
        LEFT JOIN (SELECT * FROM yw_goods_img WHERE type = '2') b
        ON a.id = b.goodsid
        LIMIT #{defaultcount,jdbcType=INTEGER}
    </select>

    <!--查询一周热销前十商品列表-->
    <select id="queryWeekHot" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT a.*,b.img_url AS imgurl
        FROM (SELECT t1.id, t1.name, t1.price, t1.origprice, t2.vol
        FROM yw_goods t1,(
        SELECT d.goodsid,count(*) AS vol
        FROM yw_sub_order d, yw_orders e
        WHERE d.porderid = e.id
        AND e.status IN (1,2,4,5)
        AND YEARWEEK(date_format(e.paytime,'%Y-%m-%d')) = YEARWEEK(now())
        AND e.paytime
        GROUP BY d.goodsid
        ) t2
        WHERE t1.id = t2.goodsid
        LIMIT 10) a
        LEFT JOIN (SELECT * FROM yw_goods_img WHERE type = '2') b
        ON a.id = b.goodsid
        ORDER BY vol DESC
    </select>

    <!--查询一周热销-点击查看全部查询所有一周热销商品列表-->
    <select id="findAllWeekHot" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT a.*,b.img_url AS imgurl
        FROM (SELECT t1.id, t1.name, t1.price, t1.origprice, t2.vol
                FROM yw_goods t1,(
        SELECT d.goodsid,count(*) AS vol
        FROM yw_sub_order d, yw_orders e
        WHERE d.porderid = e.id
        AND e.status IN (1,2,4,5)
        AND YEARWEEK(date_format(e.paytime,'%Y-%m-%d')) = YEARWEEK(now())
        GROUP BY d.goodsid
        ) t2
                WHERE t1.id = t2.goodsid
              ) a
        LEFT JOIN (SELECT * FROM yw_goods_img WHERE type = '2') b
        ON a.id = b.goodsid
        ORDER BY vol DESC
    </select>

    <!--查询最近一期的推荐神器列表-->
    <select id="queryLastDayGodList" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT a.*,b.img_url AS imgurl
        FROM (SELECT t1.id, t1.name, t1.price, t1.origprice
             FROM yw_goods t1
            WHERE ishomepage = '1'
              AND recommenddate = (
                SELECT max(recommenddate) FROM yw_goods
              )) a
        LEFT JOIN (SELECT * FROM yw_goods_img WHERE type = '2') b
        ON a.id = b.goodsid
        LIMIT 10;
    </select>

    <!--查询往期每日神器推荐列表-->
    <select id="findAllGodRecommend" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT a.*,b.img_url AS imgurl
        FROM (SELECT t1.id, t1.name, t1.price, t1.origprice
                FROM yw_goods t1
                WHERE ishomepage = '1'
				ORDER BY t1.recommenddate DESC) a
        LEFT JOIN (SELECT * FROM yw_goods_img WHERE type = '2') b
        ON a.id = b.goodsid
    </select>

    <!--查询商城首页精选商品列表-->
    <select id="queryEssenceGoods" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT a.*,b.img_url AS imgurl
        FROM (SELECT t1.id, t1.name, t1.price, t1.origprice, t1.sales, t1.stock, t1.goodsposition
            FROM yw_goods t1
            WHERE t1.isessence = '1'
             LIMIT 8) a
        LEFT JOIN (SELECT * FROM yw_goods_img WHERE type = '2') b
        ON a.id = b.goodsid
    </select>

    <!--查询商城首页热门商品列表-->
    <select id="queryHotGoods" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT a.*,b.img_url AS imgurl
        FROM (SELECT t1.id, t1.name, t1.price, t1.origprice, t1.sales, t1.stock, t1.goodsposition
            FROM yw_goods t1
            WHERE t1.ishot = '1'
             LIMIT 8) a
        LEFT JOIN (SELECT * FROM yw_goods_img WHERE type = '2') b
        ON a.id = b.goodsid
    </select>

    <!--根据商品id查询商品详情-->
    <select id="queryGoodDetail" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.goods.entity.GoodsDetail">
        SELECT t1.*,  (SELECT img_url FROM yw_goods_img WHERE goodsid = #{goodsid,jdbcType=INTEGER} AND type = '1') AS goodsDescribeImgurl,
              (SELECT img_url FROM yw_goods_img WHERE goodsid = #{goodsid,jdbcType=INTEGER} AND type = '3') AS goodsParamImgurl
        FROM yw_goods t1
        WHERE id = #{goodsid,jdbcType=INTEGER}
    </select>

    <!--根据商品id查询商品的实物图列表-->
    <select id="queryGoodsImgList" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.goods.entity.GoodsImg">
        SELECT t.goodsid, t.img_url AS imgurl, t.type, t.oderid
        FROM yw_goods_img t
        WHERE goodsid = #{goodsid,jdbcType=INTEGER}
          AND type = '0'
          ORDER BY oderid
    </select>

    <!--根据商品id查询商品库存-->
    <select id="queryStore" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT stock FROM yw_goods WHERE id = #{goodsid,jdbcType=INTEGER}
    </select>

    <!--查询该商品的该套餐中包含的所有商品列表-->
    <select id="queryComboGoodsList" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT t.id, t.name, t.subname, t.price, t.origprice, t.imgurl FROM(
        SELECT t1.comboid, t2.*, t3.img_url AS imgurl
        FROM yw_goods_combo t1
        LEFT JOIN yw_goods t2
        ON t1.goodsid = t2.id
        LEFT JOIN (SELECT * FROM yw_goods_img WHERE type = '2') t3
        ON t1.goodsid = t3.goodsid
        ) t
        WHERE t.comboid = #{comboid,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_goods
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.goods.entity.Goods">
    insert into yw_goods (id, name, subname, 
      price, origprice, attribute, 
      provincecode, citycode, isself, 
      isdamage, isquality, promotions, 
      protype, brandid, brandsupple,
        sales, stock, goodsposition,
        iscombo, isspecial, isseckill,
        ishomepage, recommenddate, onlinetime,
        isdel, ishot, isessence)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{subname,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{origprice,jdbcType=DOUBLE}, #{attribute,jdbcType=INTEGER}, 
      #{provincecode,jdbcType=VARCHAR}, #{citycode,jdbcType=VARCHAR}, #{isself,jdbcType=INTEGER}, 
      #{isdamage,jdbcType=INTEGER}, #{isquality,jdbcType=INTEGER}, #{promotions,jdbcType=VARCHAR}, 
      #{protype,jdbcType=INTEGER}, #{brandid,jdbcType=VARCHAR}, #{brandsupple,jdbcType=VARCHAR},
        #{sales,jdbcType=INTEGER}, #{stock,jdbcType=INTEGER}, #{goodsposition,jdbcType=INTEGER},
        #{iscombo,jdbcType=INTEGER}, #{isspecial,jdbcType=INTEGER}, #{isseckill,jdbcType=INTEGER},
        #{ishomepage,jdbcType=INTEGER}, #{recommenddate,jdbcType=DATE}, #{onlinetime,jdbcType=TIMESTAMP},
        #{isdel,jdbcType=INTEGER}, #{ishot,jdbcType=INTEGER}, #{isessence,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.goods.entity.Goods">
        insert into yw_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="subname != null">
                subname,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="origprice != null">
                origprice,
            </if>
            <if test="attribute != null">
                attribute,
            </if>
            <if test="provincecode != null">
                provincecode,
            </if>
            <if test="citycode != null">
                citycode,
            </if>
            <if test="isself != null">
                isself,
            </if>
            <if test="isdamage != null">
                isdamage,
            </if>
            <if test="isquality != null">
                isquality,
            </if>
            <if test="promotions != null">
                promotions,
            </if>
            <if test="protype != null">
                protype,
            </if>
            <if test="brandid != null">
                brandid,
            </if>
            <if test="brandsupple != null">
                brandsupple,
            </if>
            <if test="sales != null">
                sales,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="goodsposition != null">
                goodsposition,
            </if>
            <if test="iscombo != null">
                iscombo,
            </if>
            <if test="isspecial != null">
                isspecial,
            </if>
            <if test="isseckill != null">
                isseckill,
            </if>
            <if test="ishomepage != null">
                ishomepage,
            </if>
            <if test="recommenddate != null">
                recommenddate,
            </if>
            <if test="onlinetime != null">
                onlinetime,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
            <if test="ishot != null">
                ishot,
            </if>
            <if test="isessence != null">
                isessence,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="subname != null">
                #{subname,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="origprice != null">
                #{origprice,jdbcType=DOUBLE},
            </if>
            <if test="attribute != null">
                #{attribute,jdbcType=INTEGER},
            </if>
            <if test="provincecode != null">
                #{provincecode,jdbcType=VARCHAR},
            </if>
            <if test="citycode != null">
                #{citycode,jdbcType=VARCHAR},
            </if>
            <if test="isself != null">
                #{isself,jdbcType=INTEGER},
            </if>
            <if test="isdamage != null">
                #{isdamage,jdbcType=INTEGER},
            </if>
            <if test="isquality != null">
                #{isquality,jdbcType=INTEGER},
            </if>
            <if test="promotions != null">
                #{promotions,jdbcType=VARCHAR},
            </if>
            <if test="protype != null">
                #{protype,jdbcType=INTEGER},
            </if>
            <if test="brandid != null">
                #{brandid,jdbcType=VARCHAR},
            </if>
            <if test="brandsupple != null">
                #{brandsupple,jdbcType=VARCHAR},
            </if>
            <if test="sales != null">
                #{sales,jdbcType=INTEGER},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="goodsposition != null">
                #{goodsposition,jdbcType=INTEGER},
            </if>
            <if test="iscombo != null">
                #{iscombo,jdbcType=INTEGER},
            </if>
            <if test="isspecial != null">
                #{isspecial,jdbcType=INTEGER},
            </if>
            <if test="isseckill != null">
                #{isseckill,jdbcType=INTEGER},
            </if>
            <if test="ishomepage != null">
                #{ishomepage,jdbcType=INTEGER},
            </if>
            <if test="recommenddate != null">
                #{recommenddate,jdbcType=DATE},
            </if>
            <if test="onlinetime != null">
                #{onlinetime,jdbcType=TIMESTAMP},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
            <if test="ishot != null">
                #{ishot,jdbcType=INTEGER},
            </if>
            <if test="isessence != null">
                #{isessence,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.goods.entity.Goods">
        update yw_goods
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="subname != null">
                subname = #{subname,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="origprice != null">
                origprice = #{origprice,jdbcType=DOUBLE},
            </if>
            <if test="attribute != null">
                attribute = #{attribute,jdbcType=INTEGER},
            </if>
            <if test="provincecode != null">
                provincecode = #{provincecode,jdbcType=VARCHAR},
            </if>
            <if test="citycode != null">
                citycode = #{citycode,jdbcType=VARCHAR},
            </if>
            <if test="isself != null">
                isself = #{isself,jdbcType=INTEGER},
            </if>
            <if test="isdamage != null">
                isdamage = #{isdamage,jdbcType=INTEGER},
            </if>
            <if test="isquality != null">
                isquality = #{isquality,jdbcType=INTEGER},
            </if>
            <if test="promotions != null">
                promotions = #{promotions,jdbcType=VARCHAR},
            </if>
            <if test="protype != null">
                protype = #{protype,jdbcType=INTEGER},
            </if>
            <if test="brandid != null">
                brandid = #{brandid,jdbcType=VARCHAR},
            </if>
            <if test="brandsupple != null">
                brandsupple = #{brandsupple,jdbcType=VARCHAR},
            </if>
            <if test="sales != null">
                sales = #{sales,jdbcType=INTEGER},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="goodsposition != null">
                goodsposition = #{goodsposition,jdbcType=INTEGER},
            </if>
            <if test="iscombo != null">
                iscombo = #{iscombo,jdbcType=INTEGER},
            </if>
            <if test="isspecial != null">
                isspecial = #{isspecial,jdbcType=INTEGER},
            </if>
            <if test="isseckill != null">
                isseckill = #{isseckill,jdbcType=INTEGER},
            </if>
            <if test="ishomepage != null">
                ishomepage = #{ishomepage,jdbcType=INTEGER},
            </if>
            <if test="recommenddate != null">
                recommenddate = #{recommenddate,jdbcType=DATE},
            </if>
            <if test="onlinetime != null">
                onlinetime = #{onlinetime,jdbcType=TIMESTAMP},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
            <if test="ishot != null">
                ishot = #{ishot,jdbcType=INTEGER},
            </if>
            <if test="isessence != null">
                isessence = #{isessence,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.goods.entity.Goods">
    update yw_goods
    set name = #{name,jdbcType=VARCHAR},
      subname = #{subname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      origprice = #{origprice,jdbcType=DOUBLE},
      attribute = #{attribute,jdbcType=INTEGER},
      provincecode = #{provincecode,jdbcType=VARCHAR},
      citycode = #{citycode,jdbcType=VARCHAR},
      isself = #{isself,jdbcType=INTEGER},
      isdamage = #{isdamage,jdbcType=INTEGER},
      isquality = #{isquality,jdbcType=INTEGER},
      promotions = #{promotions,jdbcType=VARCHAR},
      protype = #{protype,jdbcType=INTEGER},
      brandid = #{brandid,jdbcType=VARCHAR},
      brandsupple = #{brandsupple,jdbcType=VARCHAR},
      sales = #{sales,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      goodsposition = #{goodsposition,jdbcType=INTEGER},
      iscombo = #{iscombo,jdbcType=INTEGER},
      isspecial = #{isspecial,jdbcType=INTEGER},
      isseckill = #{isseckill,jdbcType=INTEGER},
      ishomepage = #{ishomepage,jdbcType=INTEGER},
        recommenddate = #{recommenddate,jdbcType=DATE},
      onlinetime = #{onlinetime,jdbcType=TIMESTAMP},
        isdel = #{isdel,jdbcType=INTEGER},
        ishot = #{ishot,jdbcType=INTEGER},
        isessence = #{isessence,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="deleteGoods" parameterType="java.lang.Integer">
    UPDATE yw_goods SET isdel=1 WHERE id=#{id,jdbcType=INTEGER}
</update>
    <select id="findAllGoodsList" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT
        s.id,s.name,s.protype,d.brandname,s.origprice,s.price,s.stock,s.sales,s.ishomepage,s.recommenddate,s.isdel,s.ishot,s.isessence,COUNT(c.goodsid)
        AS collect from yw_goods s
        LEFT JOIN yw_brand d ON d.brandid=s.brandid LEFT JOIN yw_collection c ON c.goodsid=s.id
        GROUP BY s.id
    </select>
    <select id="findAllGoodsCondition" parameterType="com.movision.mybatis.goods.entity.GoodsVo"
            resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT
        s.id,s.name,s.protype,d.brandname,s.origprice,s.price,s.stock,s.sales,s.ishomepage,s.recommenddate,s.isdel,s.ishot,s.isessence,COUNT(c.goodsid)
        AS collect from yw_goods s
        LEFT JOIN yw_brand d ON d.brandid=s.brandid LEFT JOIN yw_collection c ON c.goodsid=s.id
        WHERE 1=1
        <if test="name!=null and name!=''">
            AND s.name LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="attribute!=null and attribute!=''">
            AND s.attribute=#{producttags,jdbcType=INTEGER}
        </if>
        <if test="brandname!=null and brandname!=''">
            AND s.brandname=#{brand,jdbcType=VARCHAR}
        </if>
        <if test="protype!=null and protype!=''">
            AND s.protype=#{protype,jdbcType=INTEGER}
        </if>
        <if test="isdel!=null and isdel!=''">
            AND s.isdel=#{isdel,jdbcType=INTEGER}
        </if>
        <if test="price!=null and price!=''">
            AND s.price BETWEEN #{minprice,jdbcType=DOUBLE} AND #{maxprice,jdbcType=DOUBLE}
        </if>
        <if test="origprice!=null and origprice!=''">
            AND s.origprice BETWEEN #{minorigprice,jdbcType=DOUBLE} AND #{maxorigprice,jdbcType=DOUBLE}
        </if>
        <if test="stock!=null and stock!=''">
            AND s.stock BETWEEN #{minstock,jdbcType=INTEGER} AND #{maxstock,jdbcType=INTEGER}
        </if>
        <if test="sales!=null and sales!=''">
            AND s.sales BETWEEN #{minsales,jdbcType=INTEGER} AND #{maxsales,jdbcType=INTEGER}
        </if>
        <if test="collect!=null and collect!=''">
            AND s.collect BETWEEN #{mincollect,jdbcType=INTEGER} AND #{maxcollect,jdbcType=INTEGER}
        </if>
        <if test="pai==0">
            ORDER BY s.sales DESC
        </if>
        <if test="pai==1">
            ORDER BY s.stock DESC
        </if>
        <if test="pai==2">
            ORDER BY s.origprice DESC
        </if>
        <if test="pai==3">
            ORDER BY s.collect DESC
        </if>
        GROUP BY s.id
    </select>
    <update id="AddToGoods" parameterType="java.lang.Integer">
         UPDATE yw_goods SET isdel=0 WHERE id=#{id,jdbcType=INTEGER}
    </update>
    <update id="recommendHot" parameterType="java.lang.Integer">
        UPDATE yw_goods SET ishot=1 WHERE id=#{id,jdbcType=INTEGER}
    </update>
    <update id="recommendisessence" parameterType="java.lang.Integer">
        UPDATE yw_goods SET isessence=1 WHERE id=#{id,jdbcType=INTEGER}
    </update>

    <update id="updateDate" parameterType="com.movision.mybatis.goods.entity.GoodsVo">
        update yw_goods
        <set>
            <if test="recommenddate != null">
                recommenddate = #{recommenddate,jdbcType=DATE}
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>

    <select id="findAllQueryPostByGoodsList" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT g.id,
        (SELECT brandname FROM yw_brand b WHERE b.brandid=g.brandid) AS brandname,
        g.name,g.protype,g.isdel,g.origprice,g.price,g.sales,g.stock,g.attribute
        FROM yw_goods g
    </select>

    <select id="findAllMyCollectGoodsList" resultType="com.movision.mybatis.goods.entity.Goods">
        SELECT g.*
        from yw_goods g
        LEFT JOIN yw_collection c ON g.id = c.goodsid
        where c.type = 1
        <if test="userid!=null and userid!='' ">
            AND c.userid = #{userid}
        </if>
        order by c.collect_time DESC
    </select>

    <select id="findAllQueryLikeGoods" parameterType="java.util.Map"
            resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT g.id,
        b.brandname,
        g.name,g.protype,g.isdel,g.origprice,g.price,g.sales,g.stock,g.attribute
        FROM yw_goods g LEFT JOIN yw_brand b ON g.brandid=b.brandid WHERE 1
        <if test="brandname!=null">
            AND b.brandname=#{brandname,jdbcType=VARCHAR}
        </if>
        <if test="name!=null">
            AND g.name LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="protype!=null">
            AND g.protype=#{protype,jdbcType=INTEGER}
        </if>
    </select>
    <select id="findAllCombo" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT g.name,g.price,g.isdel,g.sales,g.protype,b.brandname,c.id,c.comboid,c.comboname,c.combodiscountprice FROM
        yw_goods g LEFT JOIN yw_brand b ON b.brandid=g.brandid
        LEFT JOIN yw_goods_combo o ON o.goodsid=g.id LEFT JOIN yw_combo c ON c.comboid=o.comboid
        WHERE g.id IN(
        SELECT goodsid FROM yw_combo c LEFT JOIN yw_goods_combo o ON o.comboid=c.comboid )
    </select>
    <select id="findAllBrand" resultType="com.movision.mybatis.goods.entity.GoodsVo">

        SELECT b.id ,b.brandname FROM yw_brand b LEFT JOIN yw_goods g on g.brandid=b.brandid GROUP BY b.id

    </select>
    <select id="findAllType" resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT c.id,c.typename FROM yw_category c LEFT JOIN yw_goods g on g.protype=c.protype GROUP BY c.id
    </select>
    <select id="findGoodDetail" resultType="com.movision.mybatis.goods.entity.GoodsVo"
            parameterType="java.lang.Integer">
        SELECT g.id,g.name,g.protype,b.brandname,g.price,g.origprice,g.sales,g.stock,
        (SELECT COUNT(1) FROM yw_collection c WHERE c.goodsid=g.id)  AS collect,g.ishot,g.isessence,g.isdel,g.recommenddate,i.img_url,
        (SELECT COUNT(1) FROM yw_goods_assessment a WHERE g.id=a.goodid  AND a.userid<![CDATA[<>]]>-1 ) AS assess,
        g.onlinetime FROM yw_goods g LEFT JOIN yw_brand b ON b.brandid=g.brandid
        LEFT JOIN yw_goods_img i ON i.goodsid=g.id WHERE g.id=#{id,jdbcType=INTEGER}  GROUP BY g.id
    </select>
    <update id="updateGoods" parameterType="com.movision.mybatis.goods.entity.GoodsVo">
        update yw_goods
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR}
            </if>
        </set>
        <set>
            <if test="protype != null">
                protype = #{protype,jdbcType=INTEGER}
            </if>
        </set>
        <set>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE}
            </if>
        </set>
        <set>
            <if test="origprice != null">
                origprice = #{origprice,jdbcType=DOUBLE}
            </if>
        </set>
        <set>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER}
            </if>
        </set>
        <set>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER}
            </if>
        </set>
        <set>
            <if test="brandid != null">
                brandid = #{brandid,jdbcType=INTEGER}
            </if>
        </set>
        <set>
            <if test="recommenddate != null">
                recommenddate = #{recommenddate,jdbcType=DATE}
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>
    <update id="updateImage" parameterType="com.movision.mybatis.goods.entity.GoodsImg">
        update yw_goods_img
        <set>
            <if test="imgurl != null">
                img_url = #{imgurl,jdbcType=MultipartHttpServletRequest}
            </if>
        </set>
        WHERE goodsid=(SELECT id FROM yw_goods WHERE id=#{id,jdbcType=INTEGER} )
    </update>
</mapper>