<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.address.mapper.AddressMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.address.entity.Address">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="district" property="district" jdbcType="VARCHAR"/>
        <result column="street" property="street" jdbcType="VARCHAR"/>
        <result column="isdefault" property="isdefault" jdbcType="INTEGER"/>
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
        <result column="lng" property="lng" jdbcType="DECIMAL"/>
        <result column="lat" property="lat" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, userid, name, phone, province, city, district, street, isdefault, updatetime,
        isdel,lng, lat
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_address
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--根据用户id查询默认地址-->
    <select id="queryDefaultAddress" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.address.entity.Address">
        SELECT * FROM yw_address
        WHERE userid = #{userid,jdbcType=INTEGER}
        AND isdefault = 1
        and isdel = 0
    </select>

    <!--根据省市区县code查询省市区县名称-->
    <select id="queryNameByCode" parameterType="java.util.Map" resultType="com.movision.mybatis.address.entity.Address">
        SELECT name AS province,
        (SELECT name FROM yw_city WHERE code = #{citycode,jdbcType=INTEGER}) AS city,
        (SELECT name FROM yw_area WHERE code = #{areacode,jdbcType=INTEGER}) AS district
        FROM yw_province
        WHERE code = #{provincecode,jdbcType=INTEGER}
    </select>

    <!--根据地址id查询地址详情-->
    <select id="queryAddressById" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.address.entity.Address">
        SELECT * FROM yw_address WHERE id = #{addressid,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_address
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--基础插入语句-->
    <insert id="insert" parameterType="com.movision.mybatis.address.entity.Address">
        insert into yw_address (id, userid, name,
        phone, province, city,
        district, street, isdefault,
        updatetime, isdel,lng,lat)
        values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
        #{district,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, #{isdefault,jdbcType=INTEGER},
        #{updatetime,jdbcType=TIMESTAMP}, #{isdel,jdbcType=INTEGER},#{lng},#{lat})
    </insert>

    <insert id="insertSelective" parameterType="com.movision.mybatis.address.entity.Address">
        insert into yw_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="district != null">
                district,
            </if>
            <if test="street != null">
                street,
            </if>
            <if test="isdefault != null">
                isdefault,
            </if>
                updatetime,
                isdel,
            <if test="lng!=null">
                lng,
            </if>
            <if test="lat!=null">
                lat,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                #{district,jdbcType=VARCHAR},
            </if>
            <if test="street != null">
                #{street,jdbcType=VARCHAR},
            </if>
            <if test="isdefault != null">
                #{isdefault,jdbcType=INTEGER},
            </if>
            now(),
            0
            <if test="lng">
                #{lng},
            </if>
            <if test="lat">
                #{lat},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.address.entity.Address">
        update yw_address
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null">
                district = #{district,jdbcType=VARCHAR},
            </if>
            <if test="street != null">
                street = #{street,jdbcType=VARCHAR},
            </if>
            <if test="isdefault != null">
                isdefault = #{isdefault,jdbcType=INTEGER},
            </if>
            updatetime = now(),
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
            <if test="lng!=null">
                lng = #{lng},
            </if>
            <if test="lat!=null">
                lat = #{lat},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.address.entity.Address">
        update yw_address
        set userid = #{userid,jdbcType=INTEGER},
        name = #{name,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        province = #{province,jdbcType=VARCHAR},
        city = #{city,jdbcType=VARCHAR},
        district = #{district,jdbcType=VARCHAR},
        street = #{street,jdbcType=VARCHAR},
        isdefault = #{isdefault,jdbcType=INTEGER},
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
        isdel = #{isdel,jdbcType=INTEGER},
        lng = #{lng},
        lat =#{lat}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryMyAddressList" resultType="java.util.HashMap">
        SELECT a.id, a.name, a.userid, a.phone, a.street, a.isdefault,a.lng, a.lat,
        a.province, p.name as provincename,
        a.city, c.name as cityname,
        a.district, area.name as districtname
        FROM yw_address a
        LEFT JOIN yw_province p ON a.province=p.code
        LEFT JOIN yw_city c ON a.city=c.code
        LEFT JOIN yw_area area ON a.district=area.code
        WHERE a.isdel = 0
        <if test="userid!=null and userid!=''">
            AND a.userid = #{userid}
        </if>
        ORDER BY isdefault desc, updatetime DESC
    </select>

    <select id="queryAddressDetail" resultType="java.util.HashMap" parameterType="int">
        SELECT a.id, a.name, a.userid, a.phone, a.street, a.isdefault,a.lng,a.lat,
        a.province, p.name as provincename,
        a.city, c.name as cityname,
        a.district, area.name as districtname
        FROM yw_address a
        LEFT JOIN yw_province p ON a.province=p.code
        LEFT JOIN yw_city c ON a.city=c.code
        LEFT JOIN yw_area area ON a.district=area.code
        <if test="id!=null and id!=''">
            WHERE a.id = #{id}
        </if>
    </select>


</mapper>