<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.postLabel.mapper.PostLabelMapper">
  <resultMap id="BaseResultMap" type="com.movision.mybatis.postLabel.entity.PostLabel">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="heat_value" property="heatValue" jdbcType="INTEGER"/>
    <result column="userid" property="userid" jdbcType="INTEGER"/>
    <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
    <result column="type" property="type" jdbcType="INTEGER"/>
    <result column="photo" property="photo" jdbcType="VARCHAR"/>
    <result column="citycode" property="citycode" jdbcType="VARCHAR"/>
      <result column="isdel" property="isdel" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List">
      id, name, heat_value, userid, intime, type, photo, citycode, isdel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from yw_post_label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yw_post_label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.movision.mybatis.postLabel.entity.PostLabel">
      insert into yw_post_label (id, NAME, heat_value,
      userid, intime,isdel)
      values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{heatValue,jdbcType=INTEGER},
      #{userid,jdbcType=INTEGER}, #{intime,jdbcType=TIMESTAMP}, #{isdel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.movision.mybatis.postLabel.entity.PostLabel">
    insert into yw_post_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
        heat_value,
      <if test="userid != null">
        userid,
      </if>
        intime,
      <if test="type != null">
        type,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="citycode != null">
        citycode,
      </if>
            isdel,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
        1,
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
        now(),
      <if test="type != null">
        #{type},
      </if>
      <if test="photo != null">
        #{photo},
      </if>
      <if test="citycode != null">
        #{citycode},
      </if>
        0,
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.postLabel.entity.PostLabel">
    update yw_post_label
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="heatValue != null">
        heat_value = #{heatValue,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="intime != null">
        intime = #{intime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="photo != null">
        photo = #{photo},
      </if>
      <if test="citycode != null">
        citycode = #{citycode},
      </if>
        <if test="isdel != null">
            isdel = #{isdel,jdbcType=INTEGER},
        </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.postLabel.entity.PostLabel">
    update yw_post_label
    set name = #{name,jdbcType=VARCHAR},
      heat_value = #{heatValue,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
    intime = #{intime,jdbcType=TIMESTAMP},
    type = #{type},
    photo = #{photo},
      isdel = #{isdel,jdbcType=INTEGER},
      photo = #{photo},
    citycode = #{citycode}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryLableName" resultType="com.movision.mybatis.postLabel.entity.PostLabel">
    SELECT * FROM  yw_post_label
  </select>
  <update id="updateLabelHeatValue" parameterType="java.util.Map">
    UPDATE yw_post_label SET heat_value=#{sum,jdbcType=INTEGER} WHERE id=#{labelid,jdbcType=INTEGER}
  </update>
  <select id="queryLabelHeatValue" resultType="com.movision.mybatis.postLabel.entity.PostLabel">
    SELECT * FROM  yw_post_label ORDER  BY heat_value DESC
  </select>
    <select id="queryName" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.postLabel.entity.PostLabelTz">
        SELECT * FROM yw_post_label WHERE id=#{labelid,jdbcType=INTEGER}
    </select>

    <select id="findAllQueryPostLabelList" parameterType="com.movision.mybatis.postLabel.entity.PostLabel"
            resultType="com.movision.mybatis.postLabel.entity.PostLabelDetails">
        SELECT l.*,
        (SELECT u.nickname FROM yw_user u WHERE u.id = l.userid) AS userName
        FROM yw_post_label l
        WHERE isdel = 0
        <if test="name != null">
            AND l.name LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="type != null">
            AND l.type = #{type,jdbcType=INTEGER}
        </if>
        <if test="userid != null">
            AND l.userid = #{userid,jdbcType=INTEGER}
        </if>
        ORDER BY heat_value DESC
    </select>

    <select id="queryPostLabelById" parameterType="com.movision.mybatis.postLabel.entity.PostLabel"
            resultType="com.movision.mybatis.postLabel.entity.PostLabelDetails">
    SELECT l.*,
        (SELECT u.nickname FROM yw_user u WHERE u.id = l.userid) AS userName
        FROM yw_post_label l
        WHERE id = #{id,jdbcType=INTEGER} AND isdel = 0
  </select>

    <update id="deletePostLabel" parameterType="com.movision.mybatis.postLabel.entity.PostLabel">
        UPDATE yw_post_label
        SET isdel = 1
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO yw_post_label (
        name, heat_value, userid, intime, type, photo, isdel, citycode
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.name,jdbcType=VARCHAR},
            1,
            #{item.userid,jdbcType=INTEGER},
            now(),
            #{item.type,jdbcType=INTEGER},
            #{item.photo,jdbcType=VARCHAR},
            0,
            #{item.citycode,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="queryLabelIdList" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT id FROM yw_post_label
        where name IN
        <foreach item="nameStr" collection="array" open="(" separator="," close=")">
            #{nameStr}
        </foreach>
    </select>
</mapper>