<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.goodsDiscount.mapper.GoodsDiscountMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.goodsDiscount.entity.GoodsDiscount">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="startdate" property="startdate" jdbcType="DATE"/>
        <result column="enddate" property="enddate" jdbcType="DATE"/>
        <result column="isenrent" property="isenrent" jdbcType="INTEGER"/>
        <result column="rentday" property="rentday" jdbcType="INTEGER"/>
        <result column="discount" property="discount" jdbcType="INTEGER"/>
        <result column="orderid" property="orderid" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, content, startdate, enddate, isenrent, rentday, discount, orderid, intime, 
    isdel
  </sql>

    <!--基础查询语句-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_goods_discount
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--查询当前商品的所有活动列表-->
    <select id="querygoodsDiscount" resultType="com.movision.mybatis.goodsDiscount.entity.GoodsDiscountVo">
    SELECT * FROM yw_goods_discount
    WHERE isdel = '0'
      AND enddate > DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
     ORDER BY intime DESC
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yw_goods_discount
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.movision.mybatis.goodsDiscount.entity.GoodsDiscount">
    insert into yw_goods_discount (id, name, content, 
      startdate, enddate, isenrent, 
      rentday, discount, orderid, 
      intime, isdel)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{startdate,jdbcType=DATE}, #{enddate,jdbcType=DATE}, #{isenrent,jdbcType=INTEGER}, 
      #{rentday,jdbcType=INTEGER}, #{discount,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}, 
      #{intime,jdbcType=TIMESTAMP}, #{isdel,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.goodsDiscount.entity.GoodsDiscount">
        insert into yw_goods_discount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="startdate != null">
                startdate,
            </if>
            <if test="enddate != null">
                enddate,
            </if>
            <if test="isenrent != null">
                isenrent,
            </if>
            <if test="rentday != null">
                rentday,
            </if>
            <if test="discount != null">
                discount,
            </if>
            <if test="orderid != null">
                orderid,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="startdate != null">
                #{startdate,jdbcType=DATE},
            </if>
            <if test="enddate != null">
                #{enddate,jdbcType=DATE},
            </if>
            <if test="isenrent != null">
                #{isenrent,jdbcType=INTEGER},
            </if>
            <if test="rentday != null">
                #{rentday,jdbcType=INTEGER},
            </if>
            <if test="discount != null">
                #{discount,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.goodsDiscount.entity.GoodsDiscount">
        update yw_goods_discount
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="startdate != null">
                startdate = #{startdate,jdbcType=DATE},
            </if>
            <if test="enddate != null">
                enddate = #{enddate,jdbcType=DATE},
            </if>
            <if test="isenrent != null">
                isenrent = #{isenrent,jdbcType=INTEGER},
            </if>
            <if test="rentday != null">
                rentday = #{rentday,jdbcType=INTEGER},
            </if>
            <if test="discount != null">
                discount = #{discount,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                orderid = #{orderid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.goodsDiscount.entity.GoodsDiscount">
    update yw_goods_discount
    set name = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      startdate = #{startdate,jdbcType=DATE},
      enddate = #{enddate,jdbcType=DATE},
      isenrent = #{isenrent,jdbcType=INTEGER},
      rentday = #{rentday,jdbcType=INTEGER},
      discount = #{discount,jdbcType=INTEGER},
      orderid = #{orderid,jdbcType=INTEGER},
      intime = #{intime,jdbcType=TIMESTAMP},
      isdel = #{isdel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>