<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.userDauStatistics.mapper.UserDauStatisticsMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.userDauStatistics.entity.UserDauStatistics">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="date" property="date" jdbcType="DATE"/>
        <result column="registenum" property="registenum" jdbcType="INTEGER"/>
        <result column="usersum" property="usersum" jdbcType="INTEGER"/>
        <result column="validsum" property="validsum" jdbcType="INTEGER"/>
        <result column="channel" property="channel" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, date, registenum, usersum, validsum, channel, intime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_user_dau_statistics
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yw_user_dau_statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.movision.mybatis.userDauStatistics.entity.UserDauStatistics">
    insert into yw_user_dau_statistics (id, date, registenum, 
      usersum, validsum, channel, 
      intime)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{registenum,jdbcType=INTEGER}, 
      #{usersum,jdbcType=INTEGER}, #{validsum,jdbcType=INTEGER}, #{channel,jdbcType=INTEGER}, 
      #{intime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.userDauStatistics.entity.UserDauStatistics">
        insert into yw_user_dau_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="date != null">
                date,
            </if>
            <if test="registenum != null">
                registenum,
            </if>
            <if test="usersum != null">
                usersum,
            </if>
            <if test="validsum != null">
                validsum,
            </if>
            <if test="channel != null">
                channel,
            </if>
            <if test="intime != null">
                intime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                #{date,jdbcType=DATE},
            </if>
            <if test="registenum != null">
                #{registenum,jdbcType=INTEGER},
            </if>
            <if test="usersum != null">
                #{usersum,jdbcType=INTEGER},
            </if>
            <if test="validsum != null">
                #{validsum,jdbcType=INTEGER},
            </if>
            <if test="channel != null">
                #{channel,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.movision.mybatis.userDauStatistics.entity.UserDauStatistics">
        update yw_user_dau_statistics
        <set>
            <if test="date != null">
                date = #{date,jdbcType=DATE},
            </if>
            <if test="registenum != null">
                registenum = #{registenum,jdbcType=INTEGER},
            </if>
            <if test="usersum != null">
                usersum = #{usersum,jdbcType=INTEGER},
            </if>
            <if test="validsum != null">
                validsum = #{validsum,jdbcType=INTEGER},
            </if>
            <if test="channel != null">
                channel = #{channel,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.userDauStatistics.entity.UserDauStatistics">
    update yw_user_dau_statistics
    set date = #{date,jdbcType=DATE},
      registenum = #{registenum,jdbcType=INTEGER},
      usersum = #{usersum,jdbcType=INTEGER},
      validsum = #{validsum,jdbcType=INTEGER},
      channel = #{channel,jdbcType=INTEGER},
      intime = #{intime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="queryUserStatistics" parameterType="java.util.Map"
            resultType="com.movision.mybatis.userDauStatistics.entity.UserDauStatisticsVo">
        SELECT * FROM yw_user_dau_statistics
        <where>
            <if test="begin != null and end != null">
                <![CDATA[intime >= #{begin,jdbcType=TIMESTAMP} AND intime <= #{end,jdbcType=TIMESTAMP}]]>
            </if>
        </where>
    </select>

    <select id="queryUserStatisticsGather" parameterType="java.util.Map"
            resultType="com.movision.mybatis.userDauStatistics.entity.UserDauStatisticsVo">
        SELECT SUM(a.registenum) AS regGather,sum(a.usersum) AS userGather,sum(a.validsum) AS valGather FROM
        yw_user_dau_statistics ds
        LEFT JOIN (SELECT * FROM yw_user_dau_statistics) a ON a.id = ds.id
        <where>
            <if test="begin != null and end != null">
                <![CDATA[ds.intime >= #{begin,jdbcType=TIMESTAMP} AND ds.intime <= #{end,jdbcType=TIMESTAMP}]]>
            </if>
        </where>
    </select>
</mapper>