<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.cart.mapper.CartMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.cart.entity.Cart">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="goodsid" property="goodsid" jdbcType="INTEGER"/>
        <result column="goodsname" property="goodsname" jdbcType="VARCHAR"/>
        <result column="combotype" property="combotype" jdbcType="INTEGER"/>
        <result column="discountid" property="discountid" jdbcType="INTEGER"/>
        <result column="rom" property="rom" jdbcType="INTEGER"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="takeway" property="takeway" jdbcType="INTEGER"/>
        <result column="isdebug" property="isdebug" jdbcType="INTEGER"/>
        <result column="debugid" property="debugid" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
        <result column="protype" property="protype" jdbcType="INTEGER"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, userid, goodsid, goodsname, combotype, discountid, rom, num, takeway, isdebug, debugid, intime,
        protype, isdel, type
    </sql>

    <!--普通查询语句-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_cart
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--查询该用户购物车中有没有该租赁的商品-->
    <select id="queryIsHaveRent" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*) FROM yw_cart
        WHERE userid = #{userid,jdbcType=INTEGER}
        AND goodsid = #{goodsid,jdbcType=INTEGER}
        <if test="comboid != null and comboid != ''">
            AND combotype = #{comboid,jdbcType=INTEGER}
        </if>
        <if test="comboid == null or comboid == ''">
            AND combotype IS NULL
        </if>
        <if test="discountid != null and discountid != ''">
            AND discountid = #{discountid,jdbcType=INTEGER}
        </if>
        <if test="discountid == null or discountid == ''">
            AND discountid IS NULL
        </if>
        AND isdebug = #{isdebug,jdbcType=INTEGER}
        AND type = #{type,jdbcType=INTEGER}
    </select>

    <!--查询该用户购物车中存不存在该商品-->
    <select id="queryIsHave" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*) FROM yw_cart
        WHERE userid = #{userid,jdbcType=INTEGER}
        AND goodsid = #{goodsid,jdbcType=INTEGER}
        <if test="comboid != null and comboid != ''">
            AND combotype = #{comboid,jdbcType=INTEGER}
        </if>
        <if test="discountid != null and discountid != ''">
            AND discountid = #{discountid,jdbcType=INTEGER}
        </if>
        AND isdebug = #{isdebug,jdbcType=INTEGER}
        AND type = #{type,jdbcType=INTEGER}
    </select>

    <!--租赁的商品在加入购物车前判断购物车中有没有一样的商品且租赁日期相同-->
    <select id="queryRentDate" parameterType="java.util.Map" resultType="com.movision.mybatis.rentdate.entity.Rentdate">
        SELECT rentdate FROM yw_rentdate
        WHERE cartid = (
        SELECT id FROM yw_cart
        WHERE userid = #{userid,jdbcType=INTEGER}
        AND goodsid = #{goodsid,jdbcType=INTEGER}
        <if test="comboid != null and comboid != ''">
            AND combotype = #{comboid,jdbcType=INTEGER}
        </if>
        <if test="discountid != null and discountid != ''">
            AND discountid = #{discountid,jdbcType=INTEGER}
        </if>
        AND type = #{type,jdbcType=INTEGER}
        ) ORDER BY rentdate
    </select>

    <!--如果购物车中有多个只有租赁日期不同的商品，取出所有的购物车id-->
    <select id="queryCartid" parameterType="java.util.Map" resultType="com.movision.mybatis.cart.entity.Cart">
        SELECT id FROM yw_cart
        WHERE userid = #{userid,jdbcType=INTEGER}
        AND goodsid = #{goodsid,jdbcType=INTEGER}
        <if test="comboid != null and comboid != ''">
            AND combotype = #{comboid,jdbcType=INTEGER}
        </if>
        <if test="comboid == null or comboid == ''">
            AND combotype IS NULL
        </if>
        <if test="discountid != null and discountid != ''">
            AND discountid = #{discountid,jdbcType=INTEGER}
        </if>
        <if test="discountid == null or discountid == ''">
            AND discountid IS NULL
        </if>
        AND isdebug = #{isdebug,jdbcType=INTEGER}
        AND type = #{type,jdbcType=INTEGER}
    </select>

    <select id="queryDateList" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.rentdate.entity.Rentdate">
        SELECT rentdate FROM yw_rentdate WHERE cartid = #{cartid,jdbcType=INTEGER}
    </select>

    <!--查询该用户购物车中的所有商品-->
    <select id="queryCartByUser" parameterType="java.lang.Integer" resultType="com.movision.mybatis.cart.entity.CartVo">
        SELECT * FROM (
        SELECT t1.*,t2.img_url AS imgurl,t3.price AS goodsprice, t3.isself, t3.shopid, t3.isdel AS online, t3.stock
            FROM yw_cart t1
            LEFT JOIN (SELECT * FROM yw_goods_img WHERE type='2') t2
            ON t1.goodsid = t2.goodsid
            LEFT JOIN yw_goods t3
            ON t1.goodsid = t3.id
        ) t
        WHERE t.userid = #{userid,jdbcType=INTEGER}
        AND t.isdel = '0'
    </select>

    <!--查询用户购物车中的欲结算的商品-->
    <select id="queryCartVoList" parameterType="int" resultType="com.movision.mybatis.cart.entity.CartVo">
        SELECT DISTINCT * FROM (
        SELECT t1.*,t2.img_url AS imgurl,t3.price AS goodsprice, t3.isself, t3.shopid, t3.isdel AS online, t3.stock
        FROM yw_cart t1
        LEFT JOIN (SELECT * FROM yw_goods_img WHERE type='2') t2
        ON t1.goodsid = t2.goodsid
        LEFT JOIN yw_goods t3
        ON t1.goodsid = t3.id
        ) t
        WHERE t.isdel = '0'
        AND t.id IN
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--根据购物车id查询租赁商品的租赁日期列表-->
    <select id="queryRentDateList" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.rentdate.entity.Rentdate">
        SELECT rentdate FROM yw_rentdate WHERE cartid = #{cartid,jdbcType=INTEGER}
    </select>

    <!--查询购物车中单个商品的数量-->
    <select id="queryGoodsSum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT num FROM yw_cart WHERE id = #{cartid,jdbcType=INTEGER}
    </select>

    <!--在修改购物车商品的数量时校验该商品的库存-->
    <select id="checkStore" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT stock FROM yw_goods WHERE id = (
          SELECT goodsid FROM yw_cart WHERE id = #{cartid,jdbcType=INTEGER}
        )
    </select>

    <!--根据套餐id查询该套餐中所有商品的库存列表-->
    <select id="queryGoodsByComboid" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.goods.entity.GoodsVo">
        SELECT stock FROM yw_goods
        WHERE id IN (
        SELECT goodsid FROM yw_goods_combo WHERE comboid = #{comboid,jdbcType=INTEGER}
        )
    </select>

    <!--根据店铺id查询店铺名称-->
    <select id="queryShopName" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT name FROM yw_shop WHERE id = #{shopid,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_cart
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--删除购物车中原有的商品租用日期-->
    <delete id="deleteCartGoodsRentDate" parameterType="java.util.Map">
        DELETE FROM yw_rentdate
        WHERE cartid = #{cartid,jdbcType=INTEGER}
    </delete>

    <!--插入新的商品租赁日期-->
    <insert id="updateCartGoodsRentDate" parameterType="java.util.Map">
        INSERT INTO yw_rentdate (
        cartid, rentdate, intime
        )
        VALUES
        <foreach collection="rds" item="item" index="index" separator=",">
            (#{cartid,jdbcType=INTEGER}, #{item,jdbcType=DATE}, #{intime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <insert id="insert" parameterType="com.movision.mybatis.cart.entity.Cart">
    insert into yw_cart (id, userid, goodsid,
        goodsname, combotype, discountid, rom,
      num, takeway, isdebug, 
      debugid, intime, protype, 
      isdel, type)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER},
        #{goodsname,jdbcType=VARCHAR}, #{combotype,jdbcType=INTEGER}, #{discountid,jdbcType=INTEGER},
        #{rom,jdbcType=INTEGER},
      #{num,jdbcType=INTEGER}, #{takeway,jdbcType=INTEGER}, #{isdebug,jdbcType=INTEGER}, 
      #{debugid,jdbcType=INTEGER}, #{intime,jdbcType=TIMESTAMP}, #{protype,jdbcType=INTEGER}, 
      #{isdel,jdbcType=INTEGER}, #{type,jdbcType=INTEGER})
  </insert>

    <!--商品加入购物车-->
    <insert id="addGoodsCart" parameterType="java.util.Map">
        <selectKey keyProperty="id" order="AFTER" resultType="Integer">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO yw_cart(userid, goodsid,
        goodsname, combotype, discountid, num, isdebug,
        intime, isdel, type
        )
        VALUES (#{userid,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER},
        (SELECT name FROM yw_goods WHERE id = #{goodsid,jdbcType=INTEGER}), #{comboid,jdbcType=INTEGER},
        #{discountid,jdbcType=INTEGER}, #{sum,jdbcType=INTEGER}, #{isdebug,jdbcType=INTEGER},
        #{intime,jdbcType=TIMESTAMP}, #{isdel,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}
        )
    </insert>

    <!--租赁商品加入购物车批量插入租赁日期-->
    <insert id="addRentDate" parameterType="java.util.List">
        INSERT INTO yw_rentdate (
        cartid, rentdate, intime
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.cartid,jdbcType=INTEGER}, #{item.rentdate,jdbcType=DATE}, #{item.intime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <insert id="insertSelective" parameterType="com.movision.mybatis.cart.entity.Cart">
        insert into yw_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="goodsid != null">
                goodsid,
            </if>
            <if test="goodsname != null">
                goodsname,
            </if>
            <if test="combotype != null">
                combotype,
            </if>
            <if test="discountid != null">
                discountid,
            </if>
            <if test="rom != null">
                rom,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="takeway != null">
                takeway,
            </if>
            <if test="isdebug != null">
                isdebug,
            </if>
            <if test="debugid != null">
                debugid,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="protype != null">
                protype,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
            <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="goodsid != null">
                #{goodsid,jdbcType=INTEGER},
            </if>
            <if test="goodsname != null">
                #{goodsname,jdbcType=VARCHAR},
            </if>
            <if test="combotype != null">
                #{combotype,jdbcType=INTEGER},
            </if>
            <if test="discountid != null">
                #{discountid,jdbcType=INTEGER},
            </if>
            <if test="rom != null">
                #{rom,jdbcType=INTEGER},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="takeway != null">
                #{takeway,jdbcType=INTEGER},
            </if>
            <if test="isdebug != null">
                #{isdebug,jdbcType=INTEGER},
            </if>
            <if test="debugid != null">
                #{debugid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="protype != null">
                #{protype,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.cart.entity.Cart">
        update yw_cart
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="goodsid != null">
                goodsid = #{goodsid,jdbcType=INTEGER},
            </if>
            <if test="goodsname != null">
                goodsname = #{goodsname,jdbcType=VARCHAR},
            </if>
            <if test="combotype != null">
                combotype = #{combotype,jdbcType=INTEGER},
            </if>
            <if test="discountid != null">
                discountid = #{discountid,jdbcType=INTEGER},
            </if>
            <if test="rom != null">
                rom = #{rom,jdbcType=INTEGER},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
            <if test="takeway != null">
                takeway = #{takeway,jdbcType=INTEGER},
            </if>
            <if test="isdebug != null">
                isdebug = #{isdebug,jdbcType=INTEGER},
            </if>
            <if test="debugid != null">
                debugid = #{debugid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="protype != null">
                protype = #{protype,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.cart.entity.Cart">
    update yw_cart
    set userid = #{userid,jdbcType=INTEGER},
      goodsid = #{goodsid,jdbcType=INTEGER},
      goodsname = #{goodsname,jdbcType=VARCHAR},
      combotype = #{combotype,jdbcType=INTEGER},
        discountid = #{discountid,jdbcType=INTEGER},
      rom = #{rom,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      takeway = #{takeway,jdbcType=INTEGER},
      isdebug = #{isdebug,jdbcType=INTEGER},
      debugid = #{debugid,jdbcType=INTEGER},
      intime = #{intime,jdbcType=TIMESTAMP},
      protype = #{protype,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--累加购物车中租赁的商品的数量-->
    <update id="addRentSum" parameterType="java.util.Map">
        UPDATE yw_cart
        SET num = num + #{sum,jdbcType=INTEGER}
         WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <!--累加购物车中购买的商品的数量-->
    <update id="addSum" parameterType="java.util.Map">
    UPDATE yw_cart
    SET num = num + #{sum,jdbcType=INTEGER}
      WHERE userid = #{userid,jdbcType=INTEGER}
        AND goodsid = #{goodsid,jdbcType=INTEGER}
        <if test="comboid != null and comboid != ''">
            AND combotype = #{comboid,jdbcType=INTEGER}
        </if>
        <if test="discountid != null and discountid != ''">
            AND discountid = #{discountid,jdbcType=INTEGER}
        </if>
        AND isdebug = #{isdebug,jdbcType=INTEGER}
        AND type = #{type,jdbcType=INTEGER}
  </update>

    <!--批量删除购物车商品-->
    <update id="deleteCartGoods" parameterType="java.util.Map">
        UPDATE yw_cart
        SET isdel = '1'
        WHERE userid = #{userid,jdbcType=INTEGER}
        AND id IN
        <foreach collection="cartid" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--修改购物车中商品的数量-->
    <update id="updateCartGoodsSum" parameterType="java.util.Map">
        UPDATE yw_cart
        <if test="type == 0">
            SET num = num - 1
        </if>
        <if test="type == 1">
            SET num = num + 1
        </if>
        WHERE id = #{cartid,jdbcType=INTEGER}
    </update>
</mapper>