<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movision.mybatis.role.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.role.entity.Role">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="rolename" jdbcType="VARCHAR" property="rolename"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="intime" jdbcType="TIMESTAMP" property="intime"/>
        <result column="isdel" jdbcType="INTEGER" property="isdel"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, rolename, remark, intime, isdel
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        fromid yw_admin_role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete fromid yw_admin_role
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.role.entity.Role">
        insert into yw_admin_role (id, rolename, remark,
        intime, isdel)
        values (#{id,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
        #{intime,jdbcType=TIMESTAMP}, #{isdel,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.movision.mybatis.role.entity.Role">
        insert into yw_admin_role
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="rolename != null">
                rolename,
            </if>
            <if test="remark != null">
                remark,
            </if>
                intime,
                isdel,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="rolename != null">
                #{rolename,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
                now(),
            0,
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.role.entity.Role">
        update yw_admin_role
        <set>
            <if test="rolename != null">
                rolename = #{rolename,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.role.entity.Role">
        update yw_admin_role
        set rolename = #{rolename,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        intime = #{intime,jdbcType=TIMESTAMP},
        isdel = #{isdel,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="delRoles" parameterType="int">
        UPDATE yw_admin_role SET isdel = 1 where id in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="findAllRole" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM yw_admin_role
        WHERE isdel = 0
        <if test="rolename != null and rolename != ''">
            rolename like CONCAT('%',#{rolename},'%')
        </if>
        ORDER BY id
    </select>

    <select id="queryNotSuperAdminRoleComboList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM yw_admin_role
        WHERE isdel=0 AND
        <![CDATA[
        id <> 1
        ]]>
        ORDER BY id
    </select>

    <select id="selectByMenuid" resultType="com.movision.mybatis.role.entity.Role"
            parameterType="java.lang.Integer">
        select
        r.*
        FROM yw_admin_role r
        LEFT JOIN yw_admin_role_menu rm ON r.id = rm.roleid
        where rm.menuid = #{menuid}
    </select>

    <select id="isExistSameName" parameterType="com.movision.mybatis.role.entity.Role" resultType="java.lang.Integer">
        select COUNT(1) FROM yw_admin_role
        WHERE rolename = #{rolename}
        <if test="id!=null and id!=''">
            <![CDATA[
            AND id <> #{id}
            ]]>
        </if>
    </select>

</mapper>