<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.complainsrecords.mapper.ComplainsrecordsMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.complainsrecords.entity.Complainsrecords">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="message" property="message" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="tsid" property="tsid" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, message, name, tsid, intime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tp_complainsrecords
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tp_complainsrecords
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.complainsrecords.entity.Complainsrecords">
        insert into tp_complainsrecords (id, message, name,
        tsid, intime)
        values (#{id,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{tsid,jdbcType=INTEGER}, #{intime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.complainsrecords.entity.Complainsrecords">
        insert into tp_complainsrecords
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="tsid != null">
                tsid,
            </if>
            <if test="intime != null">
                intime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="tsid != null">
                #{tsid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.movision.mybatis.complainsrecords.entity.Complainsrecords">
        update tp_complainsrecords
        <set>
            <if test="message != null">
                message = #{message,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="tsid != null">
                tsid = #{tsid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.complainsrecords.entity.Complainsrecords">
        update tp_complainsrecords
        set message = #{message,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        tsid = #{tsid,jdbcType=INTEGER},
        intime = #{intime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>