<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhuibao.mybatis.ad.mapper.AdMapper"> 

   <select id="findAllAdList" parameterType="java.util.Map" resultType="java.util.Map">
       select id,code,name,sort,parentId,position from t_sys_adv_constant
       where 
       <if test="chanType==null">
          parentId=0
       </if>
       
        <if test="chanType!=null">
          <if test="chanPage!=null">
            <if test="advArea!=null">
              <if test="advType!=null">
               code = #{advType,jdbcType=VARCHAR}
               </if>
               <if test="advType==null">
               parentId= #{advArea,jdbcType=VARCHAR}
               </if>
            </if>
             <if test="advArea==null">
               parentId= #{chanPage,jdbcType=VARCHAR}
            </if>
          </if>
          
           <if test="chanPage==null">
            parentId= #{chanType,jdbcType=VARCHAR}
          </if>
          
        </if>
   </select> 
   
   <select id="findAllAdDetailsList" parameterType="java.util.Map" resultType="java.util.Map">
		select t.id,t.title,t.advAttrId,t.advType,t.linkUrl,t.imgUrl,date_format(t.createTime,'%Y-%m-%d %H:%i:%s') createTime,(select u.username from t_oms_user u where u.id= t.operatorId) operatorName,
		t.connectedId,t.sort,date_format(t.startDate,'%Y-%m-%d') startDate,date_format(t.endDate,'%Y-%m-%d') endDate from t_sys_advertising  t where advAttrId in(
		select id from t_sys_adv_attr where chanType=#{chanType,jdbcType=VARCHAR} 
		and pageDesc=(select name from t_sys_adv_constant where code in(#{chanPage,jdbcType=VARCHAR})) 
		and advAreaDesc=(select name from t_sys_adv_constant where code in(#{advArea,jdbcType=VARCHAR}))
		 <if test="advType!=null">
		   and advTypeDesc=(select name from t_sys_adv_constant where code in(#{advType,jdbcType=VARCHAR})) 
		 </if>
		 )
   </select> 
   
   
   
    <select id="findAdType" parameterType="java.util.Map" resultType="java.util.Map">
       select id,code,name,sort,parentId,position from t_sys_adv_constant
       where 
       <if test="chanType==null">
          parentId=0
       </if>
       
       <if test="chanType!=null">
       
	        <if test="chanPage!=null">
		          <if test="advArea!=null">
		          
			             <if test="advType!=null">
			             code = #{advType,jdbcType=VARCHAR}
			             </if>
			             <if test="advType==null">
			             parentId= #{advArea,jdbcType=VARCHAR}
			             </if>
		          </if>
		           <if test="advArea==null">
		             parentId= #{chanPage,jdbcType=VARCHAR}
		          </if>
	        </if>
	        
	        <if test="chanPage==null">
	          parentId= #{chanType,jdbcType=VARCHAR}
	        </if>
        
      </if>
        
   </select> 
   
   <update id="updateAdInfo" parameterType="java.util.Map">
   
     update t_sys_adv_constant  
	   <set> 
	      <if test="sort !=null">
	        sort=#{sort,jdbcType=VARCHAR},
	      </if> 
	      name=#{name,jdbcType=VARCHAR} 
	   </set>
	    where id=#{id,jdbcType=VARCHAR}
     
   </update>
   
    <update id="updateAdDetailsInfo" parameterType="java.util.Map">
   
     update t_sys_adv_attr  
     
     
	   <set> 
	     <if test="type==2">
	        pageDesc=#{name,jdbcType=VARCHAR}
	     </if>
	      <if test="type==3">
	        advAreaDesc=#{name,jdbcType=VARCHAR}
	     </if>
	      <if test="type==4">
	        advTypeDesc=#{name,jdbcType=VARCHAR}
	     </if> 
	   </set>
	    where 
	    
	     <if test="type==2">
	        chanType=(select parentId from t_sys_adv_constant where id=#{id,jdbcType=VARCHAR} ) and page=(select position from t_sys_adv_constant where id=#{id,jdbcType=VARCHAR})
	     </if>
	      <if test="type==3">
	         chanType=#{chanType,jdbcType=VARCHAR} 
	         and pageDesc=(select name from t_sys_adv_constant where code=#{chanPage,jdbcType=VARCHAR})
	         and advAreaDesc=(select name from t_sys_adv_constant where id=#{id,jdbcType=VARCHAR})
	     </if>
	     
	      <if test="type==4">
	      
	         chanType=#{chanType,jdbcType=VARCHAR} and pageDesc=(select name from t_sys_adv_constant where code=#{chanPage,jdbcType=VARCHAR})
	         and advTypeDesc=(select name from t_sys_adv_constant where id=#{id,jdbcType=VARCHAR})

	     </if> 
	   
     
   </update>
   
   <insert id="addAdInfo" parameterType="java.util.Map"> 
	insert into t_sys_adv_constant(code,name,parentId,sort,position)
	select (max(code)+1) code,#{name,jdbcType=VARCHAR}
	,#{parentId,jdbcType=VARCHAR},
	#{sort,jdbcType=VARCHAR},
	#{position,jdbcType=VARCHAR}
	from t_sys_adv_constant 
   </insert>
   
    <insert id="addAdDetailsInfo" parameterType="java.util.Map"> 
	 insert into t_sys_adv_attr (chanType,page,pageDesc,advArea,advAreaDesc,advType,advTypeDesc)
	  select #{chanType,jdbcType=VARCHAR} chanType,
	 (select position from t_sys_adv_constant where code=#{chanPage,jdbcType=VARCHAR}) page,
	 (select name from t_sys_adv_constant where code=#{chanPage,jdbcType=VARCHAR}) pageDesc,
	 
	 (select position from t_sys_adv_constant where code=#{parentId,jdbcType=VARCHAR}) advArea,
	 (select name from t_sys_adv_constant where code=#{parentId,jdbcType=VARCHAR}) advAreaDesc,
	 
	  position advType,name advTypeDesc from t_sys_adv_constant   
	 
	  where id= (select max(id) from t_sys_adv_constant);
 
 
   </insert>
   
    <insert id="addAdDetails" parameterType="java.util.Map"> 
	insert into t_sys_advertising
	(title,advAttrId,advType,linkUrl,imgUrl,createTime,operatorId,connectedId,sort,startDate,endDate) 
	select #{title,jdbcType=VARCHAR} title,id,advType,#{linkUrl,jdbcType=VARCHAR},#{imgUrl,jdbcType=VARCHAR},
	now(),#{operatorId,jdbcType=VARCHAR},#{connectedId,jdbcType=VARCHAR},#{sort,jdbcType=VARCHAR},
	#{startDate,jdbcType=VARCHAR},#{endDate,jdbcType=VARCHAR} 
	from t_sys_adv_attr where chanType=#{chanType,jdbcType=VARCHAR} 
	and pageDesc=(select name from t_sys_adv_constant where code in(#{chanPage,jdbcType=VARCHAR})) 
	and advAreaDesc=(select name from t_sys_adv_constant where code in(#{advArea,jdbcType=VARCHAR}))
	and advTypeDesc=(select name from t_sys_adv_constant where code in(#{advType,jdbcType=VARCHAR}))  
   </insert>
   
    <update id="updateAdDetails" parameterType="java.util.Map">
     update t_sys_advertising 
     set title=#{title,jdbcType=VARCHAR},linkUrl=#{linkUrl,jdbcType=VARCHAR},
     imgUrl=#{imgUrl,jdbcType=VARCHAR},operatorId=#{operatorId,jdbcType=VARCHAR},
     connectedId=#{connectedId,jdbcType=VARCHAR},sort=#{sort,jdbcType=VARCHAR},
     startDate=#{startDate,jdbcType=VARCHAR},endDate=#{endDate,jdbcType=VARCHAR}
     where id= #{id,jdbcType=INTEGER}
    </update>
   
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
	    delete from t_sys_advertising
	    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
   <select id="queryIdExits" parameterType="java.util.Map" resultType="java.lang.Integer">
   <if test="method==0">
    select count(1) from t_m_member t where t.id = #{id}
    </if>
    
    <if test="method==1">
    select count(1) from t_p_brand t where t.id = #{id}
    </if>
    
    <if test="method==2">
    select count(1) from t_p_product t where t.id = #{id}
    </if>
    
    <if test="method==3">
    select count(1) from t_i_job t where t.id = #{id}
    </if>
    
  </select>
  
  <select id="findAllConnectedInfo" parameterType="java.util.Map" resultType="java.util.Map">
   <if test="method==0">
    select (case when isnull(t.enterpriseName) then t.personRealName else t.enterpriseName end) name,t.id 
    from t_m_member t where (t.enterpriseName like CONCAT('%',#{name},'%')) or (t.personRealName like CONCAT('%',#{name},'%')) 
    </if>
    
    <if test="method==1">
    select  (case when isnull(t.CNName) then t.ENName else t.CNName end) name,t.id from t_p_brand t
     where (t.CNName like CONCAT('%',#{name},'%'))  
    </if>
    
    <if test="method==2">
    select t.name,t.id  from t_p_product t
     where t.name like CONCAT('%',#{name},'%')
    </if>
    
    <if test="method==3">
    select t.name,t.id from t_i_job t where 
    t.name like CONCAT('%',#{name},'%')
    </if>
    
  </select>
  
   
</mapper>
