<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.coupon.mapper.CouponMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.coupon.entity.Coupon">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="shopid" property="shopid" jdbcType="INTEGER"/>
        <result column="category" property="category" jdbcType="INTEGER"/>
        <result column="statue" property="statue" jdbcType="INTEGER"/>
        <result column="begintime" property="begintime" jdbcType="TIMESTAMP"/>
        <result column="endtime" property="endtime" jdbcType="TIMESTAMP"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
        <result column="tmoney" property="tmoney" jdbcType="DOUBLE"/>
        <result column="usemoney" property="usemoney" jdbcType="DOUBLE"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, userid, title, content, type, shopid, category, statue, begintime, endtime, intime, 
    tmoney, usemoney, isdel
  </sql>

    <!--基础查询语句-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_coupon
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--根据用户id查询该用户名下所有可用优惠券列表-->
    <select id="queryCanUseCoupon" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.coupon.entity.Coupon">
      SELECT * FROM yw_coupon
      WHERE userid = #{userid,jdbcType=INTEGER}
        AND statue = '0'
        AND now() > begintime
        AND endtime > now()
  </select>

    <!--根据用户id查询该用户名下所有已用的优惠券列表-->
    <select id="queryBeUsedCoupon" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.coupon.entity.Coupon">
      SELECT * FROM yw_coupon
      WHERE userid = #{userid,jdbcType=INTEGER}
        AND statue = '1'
  </select>

    <!--根据用户id查询该用户名下所有过期失效的优惠券列表-->
    <select id="queryHaveOverdueCoupon" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.coupon.entity.Coupon">
      SELECT * FROM yw_coupon
      WHERE userid = #{userid,jdbcType=INTEGER}
        AND statue != '1'
        AND now() > endtime
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yw_coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.movision.mybatis.coupon.entity.Coupon">
    insert into yw_coupon (id, userid, title, 
      content, type, shopid, 
      category, statue, begintime, 
      endtime, intime, tmoney, 
      usemoney, isdel)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{shopid,jdbcType=INTEGER}, 
      #{category,jdbcType=INTEGER}, #{statue,jdbcType=INTEGER}, #{begintime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{intime,jdbcType=TIMESTAMP}, #{tmoney,jdbcType=DOUBLE}, 
      #{usemoney,jdbcType=DOUBLE}, #{isdel,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.coupon.entity.Coupon">
        insert into yw_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="shopid != null">
                shopid,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="statue != null">
                statue,
            </if>
            <if test="begintime != null">
                begintime,
            </if>
            <if test="endtime != null">
                endtime,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="tmoney != null">
                tmoney,
            </if>
            <if test="usemoney != null">
                usemoney,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="shopid != null">
                #{shopid,jdbcType=INTEGER},
            </if>
            <if test="category != null">
                #{category,jdbcType=INTEGER},
            </if>
            <if test="statue != null">
                #{statue,jdbcType=INTEGER},
            </if>
            <if test="begintime != null">
                #{begintime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="tmoney != null">
                #{tmoney,jdbcType=DOUBLE},
            </if>
            <if test="usemoney != null">
                #{usemoney,jdbcType=DOUBLE},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.coupon.entity.Coupon">
        update yw_coupon
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="shopid != null">
                shopid = #{shopid,jdbcType=INTEGER},
            </if>
            <if test="category != null">
                category = #{category,jdbcType=INTEGER},
            </if>
            <if test="statue != null">
                statue = #{statue,jdbcType=INTEGER},
            </if>
            <if test="begintime != null">
                begintime = #{begintime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                endtime = #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="tmoney != null">
                tmoney = #{tmoney,jdbcType=DOUBLE},
            </if>
            <if test="usemoney != null">
                usemoney = #{usemoney,jdbcType=DOUBLE},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.coupon.entity.Coupon">
    update yw_coupon
    set userid = #{userid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      shopid = #{shopid,jdbcType=INTEGER},
      category = #{category,jdbcType=INTEGER},
      statue = #{statue,jdbcType=INTEGER},
      begintime = #{begintime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      intime = #{intime,jdbcType=TIMESTAMP},
      tmoney = #{tmoney,jdbcType=DOUBLE},
      usemoney = #{usemoney,jdbcType=DOUBLE},
      isdel = #{isdel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>