<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.memCenter.mapper.AgentMapper">
    <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.memCenter.entity.Agent">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="brandid" property="brandid" jdbcType="BIGINT"/>
        <result column="scateid" property="scateid" jdbcType="VARCHAR"/>
        <result column="agentid" property="agentid" jdbcType="BIGINT"/>
        <result column="proviceid" property="proviceid" jdbcType="VARCHAR"/>
        <result column="createid" property="createid" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>
    <resultMap id="ResultMap" type="com.zhuhuibao.common.pojo.AgentBean">
        <id column="account" property="account" jdbcType="VARCHAR"/>
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="company" property="company" jdbcType="VARCHAR"/>
        <result column="brand" property="brand" jdbcType="VARCHAR"/>
        <result column="brandName" property="brandName" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="agentRange" property="agentRange" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMap1" type="com.zhuhuibao.common.pojo.ResultBean">
        <id column="agentid" property="code" jdbcType="VARCHAR"/>
        <result column="enterpriseName" property="name" jdbcType="VARCHAR"/>
        <result column="proviceid" property="smallIcon" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMap2" type="com.zhuhuibao.common.pojo.ResultBean">
        <id column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="enterpriseLogo" property="smallIcon" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMap3" type="com.zhuhuibao.common.pojo.ResultBean">
        <id column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="smallIcon" property="smallIcon" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMap4" type="com.zhuhuibao.mybatis.memCenter.entity.Member">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="enterpriseName" property="enterpriseName" jdbcType="VARCHAR"/>
        <result column="enterpriseLogo" property="enterpriseLogo" jdbcType="VARCHAR"/>
        <result column="enterpriseWebSite" property="enterpriseWebSite" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, brandid, scateid, agentid, proviceid, createid, status
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_p_brand_agent
        where id = #{id}
    </select>
    <insert id="agentSave" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Agent">
    insert into t_p_brand_agent (id, brandid, scateid, agentid, proviceid, createid, status)
    values (#{id}, #{brandid}, #{scateid}, #{agentid}, #{proviceid}, #{createid}, 0)
  </insert>
    <update id="agentUpdate" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Agent">
        update t_p_brand_agent
        <set>
            <if test="brandid != null">
                brandid = #{brandid},
            </if>
            <if test="scateid != null">
                scateid = #{scateid},
            </if>
            <if test="agentid != null">
                agentid = #{agentid},
            </if>
            <if test="proviceid != null">
                proviceid = #{proviceid},
            </if>
            <if test="createid != null">
                creatid = #{creatid},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="findAgentByMemId" resultMap="ResultMap">
	 SELECT id,account,GROUP_CONCAT(A.AGENTRANGE)as agentRange,province,brand,company FROM (
       SELECT
       a.id,
       CASE WHEN m.mobile IS NOT NULL and m.mobile != '' THEN m.mobile WHEN m.email IS NOT NULL and m.email != '' THEN m.email END AS account,
      m.enterpriseName AS company,
       concat(ca.name,'>',c.name)as agentRange,
       b.CNName AS brand,
      (select GROUP_CONCAT(t.name)name from t_dictionary_province t where find_in_set(t.code,a.proviceid))as province
      FROM t_p_brand_agent a
      LEFT JOIN t_m_member m ON a.agentid = m.id
      LEFT JOIN t_p_category c ON find_in_set(c.id,a.scateid)
      LEFT JOIN t_p_category ca ON c.parentId = ca.id
      LEFT JOIN t_p_brand b ON a.brandid = b.id
      WHERE a.createid = #{id} and a.status = 0
	 ) A
    GROUP BY brand,account
  </select>
    <select id="getAgentByBrandid" resultMap="ResultMap1">
    select distinct a.agentid,m.enterpriseName,a.proviceid from t_p_brand_agent a ,t_m_member m 
    where a.agentid = m.id
    and a.brandid = #{id} and a.status = 0
  </select>
    <select id="updateAgentById" resultMap="ResultMap">
    select a.brandid as brand,b.CNName as brandName,a.proviceid as province,m.id,m.enterpriseName as company,
    CASE WHEN m.mobile IS NOT NULL and m.mobile != '' THEN m.mobile WHEN m.email IS NOT NULL and m.email !='' THEN m.email END AS account,
    a.scateid as agentRange
    from t_p_brand_agent a
    left join t_m_member m on a.agentid = m.id
    left join t_p_brand b on b.id = a.brandid
    where a.id = #{id}
  </select>
    <select id="find" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_p_brand_agent
        where brandid = #{brandid} and agentid = #{agentid} and status = 0
    </select>
    <select id="findAgentByProId" resultMap="ResultMap1">
    select distinct a.agentid,m.enterpriseName,a.proviceid from t_p_brand_agent a
    left join t_m_member m on a.agentid = m.id
    left join t_p_product p on p.brandid = a.brandid
    where p.id = #{id} and a.status = 0
  </select>
    <select id="findManufactorByProId" resultMap="ResultMap4">
    select distinct p.createid as id,m.enterpriseName,m.enterpriseLogo,m.enterpriseWebSite,m.address
    from t_p_product p
    left join t_m_member m on p.createid = m.id
    where p.id = #{id}
  </select>
    <select id="findManufactorByBrandid" resultMap="ResultMap2">
    select distinct b.createid as code,m.enterpriseName as name
    from t_p_brand b
    left join t_m_member m on b.createid = m.id
    where b.id = #{id}
  </select>
    <select id="getGreatAgentByScateid" resultMap="ResultMap3">
    select distinct m.id as code,m.enterpriseName as name,m.enterpriseLogo as smallIcon from t_p_brand_agent a
    left join t_m_member m on a.agentid = m.id
    where find_in_set(#{id},a.scateid) limit 0,6
  </select>
<!--    <select id="getGreatAgentByBrandId" resultMap="ResultMap3">
    select distinct m.id as code,m.enterpriseName as name,m.enterpriseLogo as smallIcon
    from t_p_brand_agent a ,t_m_member m
    where a.agentid = m.id
    and a.brandid = #{id}
  </select>-->


    <select id="getGreatAgentVIPByBrandId" resultMap="ResultMap3">
    select m.id as code,m.enterpriseName as name,m.enterpriseLogo as smallIcon
      from t_p_brand_agent a ,t_m_member m,t_vip_member_info i
      where a.agentid = m.id
      and (i.vip_level=130 or i.vip_level=160)
      and a.brandid = #{id}
  </select>
</mapper>