<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movision.mybatis.homepageManage.mapper.HomepageManageMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.homepageManage.entity.HomepageManage">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="topictype" jdbcType="INTEGER" property="topictype"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="subcontent" jdbcType="VARCHAR" property="subcontent"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="transurl" jdbcType="VARCHAR" property="transurl"/>
        <result column="orderid" jdbcType="VARCHAR" property="orderid"/>
        <result column="intime" jdbcType="TIMESTAMP" property="intime"/>
        <result column="clicksum" jdbcType="INTEGER" property="clicksum"/>
        <result column="ordersum" jdbcType="INTEGER" property="ordersum"/>
        <result column="isdel" jdbcType="INTEGER" property="isdel"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, topictype, content, subcontent, url, transurl, orderid, intime,clicksum,ordersum,isdel
    </sql>

    <!--基础查询语句-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yw_homepage_manage
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="queryBanner" resultType="com.movision.mybatis.homepageManage.entity.HomepageManage">
        SELECT * FROM yw_homepage_manage WHERE topictype = #{type,jdbcType=INTEGER}
    </select>

    <select id="queryBannerList" resultType="com.movision.mybatis.homepageManage.entity.HomepageManage">
        SELECT * FROM yw_homepage_manage WHERE topictype = #{type,jdbcType=INTEGER} ORDER BY orderid
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_homepage_manage
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.homepageManage.entity.HomepageManage">
        insert into yw_homepage_manage (id, topictype, content,
        subcontent, url, transurl, orderid,intime,clicksum,ordersum,isdel)
        values (#{id,jdbcType=INTEGER}, #{topictype,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},
        #{subcontent,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{transurl,jdbcType=VARCHAR},
        #{orderid,jdbcType=INTEGER}, #{intime,jdbcType=TIMESTAMP},#{clicksum,jdbcType=INTEGER},
        #{ordersum,jdbcType=INTEGER},#{isdel,jdbcType=INTEGER}
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.homepageManage.entity.HomepageManage">
        insert into yw_homepage_manage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="topictype != null">
                topictype,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="subcontent != null">
                subcontent,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="transurl != null">
                transurl,
            </if>
            <if test="orderid != null">
                orderid,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="clicksum != null">
                clicksum,
            </if>
            <if test="ordersum != null">
                ordersum,
            </if>
            <if test="isdel!=null">
                isdel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="topictype != null">
                #{topictype,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="subcontent != null">
                #{subcontent,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="transurl != null">
                #{transurl,jdbcType=VARCHAR},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="clicksum != null">
                #{clicksum,jdbcType=INTEGER},
            </if>
            <if test="ordersum != null">
                #{ordersum,jdbcType=INTEGER},
            </if>
            <if test="isdel!=null">
                #{isdel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.homepageManage.entity.HomepageManage">
        update yw_homepage_manage
        <set>
            <if test="topictype != null">
                topictype = #{topictype,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="subcontent != null">
                subcontent = #{subcontent,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="transurl != null">
                transurl = #{transurl,jdbcType=VARCHAR},
            </if>
            <if test="orderid != null">
                orderid = #{orderid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="clicksum != null">
                clicksum = #{clicksum,jdbcType=INTEGER},
            </if>
            <if test="ordersum != null">
                ordersum = #{ordersum,jdbcType=INTEGER},
            </if>
            <if test="isdel!=null">
                isdel=#{isdel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.homepageManage.entity.HomepageManage">
        update yw_homepage_manage
        set topictype = #{topictype,jdbcType=INTEGER},
        content = #{content,jdbcType=VARCHAR},
        subcontent = #{subcontent,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        transurl = #{transurl,jdbcType=VARCHAR},
        orderid = #{orderid,jdbcType=INTEGER},
        intime = #{intime,jdbcType=TIMESTAMP},
        clicksum = #{clicksum,jdbcType=INTEGER},
        ordersum = #{ordersum,jdbcType=INTEGER},
        isdel=#{isdel,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findAllqueryAdvertisementList" resultType="com.movision.mybatis.homepageManage.entity.HomepageManageVo">
        select m.*,t.name,t.type from yw_homepage_manage m LEFT JOIN yw_homepage_manage_type t ON m.topictype=t.type
        WHERE m.isdel=0
    </select>

    <select id="queryAvertisementById" parameterType="java.lang.String"
            resultType="com.movision.mybatis.homepageManage.entity.HomepageManageVo">
        select
        m.id,m.topictype,m.content,m.subcontent,m.url,m.transurl,m.intime,m.orderid,m.clicksum,m.ordersum,t.name,t.wide,t.high
        from yw_homepage_manage m LEFT JOIN yw_homepage_manage_type t ON m.topictype=t.type WHERE
        m.id=#{id,jdbcType=INTEGER} AND m.isdel=0
    </select>

    <select id="queryIsAdd" resultType="java.lang.Integer" parameterType="java.util.Map">
    SELECT COUNT(1) FROM yw_homepage_manage_type WHERE quantity>(SELECT COUNT(1) FROM yw_homepage_manage WHERE topictype=#{topictype,jdbcType=INTEGER}) AND type=#{topictype,jdbcType=INTEGER}
    </select>

    <insert id="addAdvertisement" parameterType="java.util.Map">
        insert into yw_homepage_manage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="topictype != null">
                topictype,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="subcontent != null">
                subcontent,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="transurl != null">
                transurl,
            </if>
            <if test="orderid != null">
                orderid,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="clicksum != null">
                clicksum,
            </if>
            <if test="ordersum != null">
                ordersum,
            </if>
            <if test="isdel!=null">
                isdel
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="topictype != null">
                #{topictype,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="subcontent != null">
                #{subcontent,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="transurl != null">
                #{transurl,jdbcType=VARCHAR},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="clicksum != null">
                #{clicksum,jdbcType=INTEGER},
            </if>
            <if test="ordersum != null">
                #{ordersum,jdbcType=INTEGER},
            </if>
            <if test="isdel!=null">
                #{isdel,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>

    <update id="updateAdvertisement" parameterType="java.util.Map">
        update yw_homepage_manage
        <set>
            <if test="topictype != null">
                topictype = #{topictype,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="subcontent != null">
                subcontent = #{subcontent,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="transurl != null">
                transurl = #{transurl,jdbcType=VARCHAR},
            </if>
            <if test="orderid != null">
                orderid = #{orderid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="clicksum != null">
                clicksum = #{clicksum,jdbcType=INTEGER},
            </if>
            <if test="ordersum != null">
                ordersum = #{ordersum,jdbcType=INTEGER},
            </if>
            <if test="isdel!=null">
                isdel=#{isdel,jdbcType=INTEGER}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findAllQueryAdvertisementLike" resultType="com.movision.mybatis.homepageManage.entity.HomepageManageVo"
            parameterType="java.util.Map">
        select m.*,t.name,t.type from yw_homepage_manage m LEFT JOIN yw_homepage_manage_type t ON m.topictype=t.type
        WHERE m.isdel=0
        <if test="name!=null">
            AND name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="type==1">
            ORDER BY m.intime ASC
        </if>
        <if test="type==null">
            ORDER BY m.intime DESC
        </if>
    </select>

    <select id="queryAdvertisementLocation" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT orderid FROM yw_homepage_manage WHERE topictype=#{type=jdbcType=INTEGER} AND isdel=0
    </select>

    <update id="deleteAdvertisementOrderid" parameterType="java.util.Map">
      UPDATE yw_homepage_manage SET orderid=NULL WHERE id=#{id,jdbcType=INTEGER}
    </update>

    <update id="updateAtionAdvertisementOrderid" parameterType="java.util.Map">
        UPDATE yw_homepage_manage SET orderid=#{orderid,jdbcType=INTEGER} WHERE id=#{id,jdbcType=INTEGER}
    </update>
</mapper>