<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.bossUser.mapper.BossUserMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.bossUser.entity.BossUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="issuper" property="issuper" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="afterlogintime" property="afterlogintime" jdbcType="TIMESTAMP"/>
        <result column="beforelogintime" property="beforelogintime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, phone, username, password, issuper, status, isdel,
        createtime,
        afterlogintime,
        beforelogintime
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_admin_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_admin_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.bossUser.entity.BossUser">
        insert into yw_admin_user (id, name, phone,
        username, password, issuper,
        status, isdel, createtime,
        afterlogintime, beforelogintime)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
        #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{issuper,jdbcType=INTEGER},
        #{status,jdbcType=INTEGER}, #{isdel,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
        #{afterlogintime,jdbcType=TIMESTAMP}, #{beforelogintime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.bossUser.entity.BossUser">
        insert into yw_admin_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="issuper != null">
                issuper,
            </if>
                status,
                isdel,
            createtime,
            <if test="afterlogintime != null">
                afterlogintime,
            </if>
            <if test="beforelogintime != null">
                beforelogintime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="issuper != null">
                #{issuper,jdbcType=INTEGER},
            </if>
            0,
            0,
            now(),
            <if test="afterlogintime != null">
                #{afterlogintime,jdbcType=TIMESTAMP},
            </if>
            <if test="beforelogintime != null">
                #{beforelogintime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.bossUser.entity.BossUser">
        update yw_admin_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="issuper != null">
                issuper = #{issuper,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="afterlogintime != null">
                afterlogintime = #{afterlogintime,jdbcType=TIMESTAMP},
            </if>
            beforelogintime = now(),
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.bossUser.entity.BossUser">
        update yw_admin_user
        set name = #{name,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        username = #{username,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        issuper = #{issuper,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
        isdel = #{isdel,jdbcType=INTEGER},
        createtime = #{createtime,jdbcType=TIMESTAMP},
        afterlogintime = #{afterlogintime,jdbcType=TIMESTAMP},
        beforelogintime = #{beforelogintime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPhone" parameterType="com.movision.mybatis.bossUser.entity.BossUser"
            resultType="com.movision.mybatis.bossUser.entity.BossUser">
        select
        <include refid="Base_Column_List"/>
        from yw_admin_user
        <where>
            <if test="phone != null || phone != ''">
                phone = #{phone}
            </if>
        </where>
    </select>

    <select id="selectByUsername" parameterType="java.lang.String"
            resultType="com.movision.mybatis.bossUser.entity.BossUser">
        select
        <include refid="Base_Column_List"/>
        from yw_admin_user
        where username = #{username}
    </select>

    <update id="updateBossUserLoginInfo" parameterType="com.movision.mybatis.bossUser.entity.BossUser">
        update yw_admin_user
        SET afterlogintime = beforelogintime,
        beforelogintime = now()
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="delBossUser" parameterType="int">
        UPDATE yw_admin_user SET isdel = 1 WHERE id in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="selectBossUserList" resultType="java.util.HashMap">
        SELECT
        id, name, phone, username, issuper, status, isdel,
        date_format(createtime,'%Y-%m-%d %H:%i:%s') createtime,
        date_format(afterlogintime,'%Y-%m-%d %H:%i:%s') afterlogintime,
        date_format(beforelogintime,'%Y-%m-%d %H:%i:%s') beforelogintime
        FROM
        yw_admin_user
        where status = 0 and isdel = 0
        <if test="phone != null and phone != ''">
            phone = #{phone}
        </if>
        <if test="username != null and username != ''">
            username = #{username}
        </if>

    </select>

    <select id="selectBossUserDetail" resultType="java.util.HashMap" parameterType="java.lang.Integer">
        select
        u.id as userid, u.name, u.phone, r.id as roleid, r.rolename
        FROM yw_admin_user u
        LEFT JOIN yw_admin_user_role ur ON ur.userid = u.id
        LEFT JOIN yw_admin_role r ON r.id = ur.roleid
        <where>
            <if test="userid != null and userid != ''">
                u.id = #{userid}
            </if>
        </where>
    </select>
</mapper>