<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.zhuhuibao.mybatis.memberReg.entity.Member" alias="memberReg"/>
        <typeAlias type="com.zhuhuibao.mybatis.memberReg.entity.Validateinfo" alias="validateInfo"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler jdbcType="CLOB" javaType="java.lang.String"
                     handler="org.apache.ibatis.type.ClobTypeHandler"/>
    </typeHandlers>
    <mappers>
    </mappers>
</configuration>
