<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.combo.mapper.ComboMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.combo.entity.Combo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="comboid" property="comboid" jdbcType="INTEGER"/>
        <result column="comboname" property="comboname" jdbcType="VARCHAR"/>
        <result column="combodiscountprice" property="combodiscountprice" jdbcType="DOUBLE"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
        <result column="imgurl" property="imgurl" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, comboid, comboname, combodiscountprice, intime,imgurl
  </sql>

    <!--基础查询语句-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_combo
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--根据商品id查询套餐类别-->
    <select id="queryCombo" parameterType="java.lang.Integer" resultType="com.movision.mybatis.combo.entity.ComboVo">
        SELECT id, comboid, comboname, combodiscountprice,
        (SELECT img_url FROM yw_goods_img WHERE goodsid = #{goodsid,jdbcType=INTEGER} AND type = '2') AS imgurl
        FROM yw_combo
        WHERE comboid in (SELECT DISTINCT comboid FROM yw_goods_combo WHERE goodsid = #{goodsid,jdbcType=INTEGER})
  </select>

    <!--根据套餐id查询套餐库存-->
    <select id="queryComboStork" parameterType="java.lang.Integer" resultType="java.lang.Integer">
       SELECT min(stock) FROM yw_goods
       WHERE id IN(
          SELECT goodsid FROM yw_goods_combo WHERE comboid = #{comboid,jdbcType=INTEGER}
          )
    </select>

    <!--根据套餐id查询套餐名称和套餐折后价-->
    <select id="queryNamePrice" parameterType="java.lang.Integer" resultType="com.movision.mybatis.cart.entity.CartVo">
        SELECT comboname AS comboname, combodiscountprice AS comboprice
        FROM yw_combo WHERE comboid = #{comboid,jdbcType=INTEGER}
    </select>

    <!--根据套餐id查询套餐折后价-->
    <select id="queryComboPrice" parameterType="java.lang.Integer" resultType="java.lang.Double">
        SELECT combodiscountprice FROM yw_combo WHERE id = #{comboid,jdbcType=INTEGER}
    </select>

    <!--根据商品id查询该商品所属的所有套餐图片列表-->
    <select id="queryComboDescribeImgList" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT imgurl FROM yw_combo
        WHERE comboid IN (
          SELECT comboid FROM yw_goods_combo WHERE goodsid = #{goodsid,jdbcType=INTEGER}
        )
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_combo
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.movision.mybatis.combo.entity.Combo">
        insert into yw_combo (id, comboid, comboname, combodiscountprice, intime,imgurl
      )
        values (#{id,jdbcType=INTEGER}, #{comboid,jdbcType=INTEGER}, #{comboname,jdbcType=VARCHAR},
        #{combodiscountprice,jdbcType=DOUBLE}, #{intime,jdbcType=TIMESTAMP},#{imgurl,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.combo.entity.Combo">
        insert into yw_combo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="comboid != null">
                comboid,
            </if>
            <if test="comboname != null">
                comboname,
            </if>
            <if test="combodiscountprice != null">
                combodiscountprice,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="imgurl != null">
                imgurl,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="comboid != null">
                #{comboid,jdbcType=INTEGER},
            </if>
            <if test="comboname != null">
                #{comboname,jdbcType=VARCHAR},
            </if>
            <if test="combodiscountprice != null">
                #{combodiscountprice,jdbcType=DOUBLE},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgurl != null">
                #{imgurl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.combo.entity.Combo">
        update yw_combo
        <set>
            <if test="comboid != null">
                comboid = #{comboid,jdbcType=INTEGER},
            </if>
            <if test="comboname != null">
                comboname = #{comboname,jdbcType=VARCHAR},
            </if>
            <if test="combodiscountprice != null">
                combodiscountprice = #{combodiscountprice,jdbcType=DOUBLE},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgurl != null">
                imgurl = #{imgurl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.combo.entity.Combo">
    update yw_combo
    set comboid = #{comboid,jdbcType=INTEGER},
        comboname = #{comboname,jdbcType=VARCHAR},
        combodiscountprice = #{combodiscountprice,jdbcType=DOUBLE},
        intime = #{intime,jdbcType=TIMESTAMP},
        imgurl = #{imgurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>