<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.followLabel.mapper.FollowLabelMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.followLabel.entity.FollowLabel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="labelid" property="labelid" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, userid, labelid, intime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_follow_label
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_follow_label
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.followLabel.entity.FollowLabel">
        insert into yw_follow_label (id, userid, labelid,
        intime)
        values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{labelid,jdbcType=INTEGER},
        #{intime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.followLabel.entity.FollowLabel">
        insert into yw_follow_label
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="labelid != null">
                labelid,
            </if>
            <if test="intime != null">
                intime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="labelid != null">
                #{labelid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.followLabel.entity.FollowLabel">
        update yw_follow_label
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="labelid != null">
                labelid = #{labelid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.followLabel.entity.FollowLabel">
        update yw_follow_label
        set userid = #{userid,jdbcType=INTEGER},
        labelid = #{labelid,jdbcType=INTEGER},
        intime = #{intime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--查询当前用户是否关注过该标签-->
    <select id="yesOrNo" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM  yw_follow_label WHERE userid=#{userid,jdbcType=INTEGER} AND labelid=#{labelid,jdbcType=INTEGER}
    </select>
    <delete id="cancleLabel" parameterType="java.util.Map">
        DELETE  FROM  yw_follow_label WHERE userid=#{userid,jdbcType=INTEGER} AND labelid=#{labelid,jdbcType=INTEGER}
    </delete>
    <update id="updatePostLabel" parameterType="java.lang.Integer">
        UPDATE  yw_post_label SET fans=fans+1 WHERE id=#{labelid,jdbcType=INTEGER}
    </update>
    <update id="updatePostLabelLess" parameterType="java.lang.Integer">
        UPDATE  yw_post_label SET fans=fans-1 WHERE id=#{labelid,jdbcType=INTEGER}
    </update>
    <update id="updateLabelHeatValue" parameterType="java.util.Map">
        UPDATE  yw_post_label SET heat_value=heat_value+#{points,jdbcType=INTEGER} WHERE id=#{labelid,jdbcType=INTEGER}
    </update>
    <update id="updateLabelHeatValueByPost" parameterType="java.util.Map">
        UPDATE yw_post_label SET heat_value=heat_value+#{points,jdbcType=INTEGER},
        use_count = use_count + 1
        WHERE id=#{labelid,jdbcType=INTEGER}
    </update>
    <select id="queryLabelLabel" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT heat_value FROM  yw_post_label WHERE id=#{labelid,jdbcType=INTEGER}
    </select>
    <update id="lessLabelHeatValue" parameterType="java.util.Map">
        UPDATE yw_post_label SET heat_value=heat_value-#{points,jdbcType=INTEGER} WHERE id=#{labelid,jdbcType=INTEGER}
    </update>
    <update id="lessZeroLabel" parameterType="java.lang.Integer">
        UPDATE yw_post_label SET heat_value=0 WHERE id=#{labelid,jdbcType=INTEGER}
    </update>
</mapper>