<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.systemToPush.mapper.SystemToPushMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.systemToPush.entity.SystemToPush">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="from_accid" property="fromAccid" jdbcType="VARCHAR"/>
        <result column="to_accids" property="toAccids" jdbcType="VARCHAR"/>
        <result column="body" property="body" jdbcType="VARCHAR"/>
        <result column="inform_time" property="informTime" jdbcType="TIMESTAMP"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, userid, from_accid, to_accids, body, inform_time,title
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_system_push
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_system_push
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.systemToPush.entity.SystemToPush">
        insert into yw_system_push (id, userid, from_accid,
        to_accids, body, inform_time,title
        )
        values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{fromAccid,jdbcType=VARCHAR},
        #{toAccids,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR}, #{informTime,jdbcType=TIMESTAMP},
        #{title,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.systemToPush.entity.SystemToPush">
        insert into yw_system_push
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="fromAccid != null">
                from_accid,
            </if>
            <if test="toAccids != null">
                to_accids,
            </if>
            <if test="body != null">
                body,
            </if>
            <if test="informTime != null">
                inform_time,
            </if>
            <if test="title != null">
                title,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="fromAccid != null">
                #{fromAccid,jdbcType=VARCHAR},
            </if>
            <if test="toAccids != null">
                #{toAccids,jdbcType=VARCHAR},
            </if>
            <if test="body != null">
                #{body,jdbcType=VARCHAR},
            </if>
            <if test="informTime != null">
                #{informTime,jdbcType=TIMESTAMP},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.systemToPush.entity.SystemToPush">
        update yw_system_push
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="fromAccid != null">
                from_accid = #{fromAccid,jdbcType=VARCHAR},
            </if>
            <if test="toAccids != null">
                to_accids = #{toAccids,jdbcType=VARCHAR},
            </if>
            <if test="body != null">
                body = #{body,jdbcType=VARCHAR},
            </if>
            <if test="informTime != null">
                inform_time = #{informTime,jdbcType=TIMESTAMP},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.systemToPush.entity.SystemToPush">
        update yw_system_push
        set userid = #{userid,jdbcType=INTEGER},
        from_accid = #{fromAccid,jdbcType=VARCHAR},
        to_accids = #{toAccids,jdbcType=VARCHAR},
        body = #{body,jdbcType=VARCHAR},
        inform_time = #{informTime,jdbcType=TIMESTAMP},
        title = #{title,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findAllSystemToPush" resultType="com.movision.mybatis.systemToPush.entity.SystemToPush">
        select * from  yw_system_push
    </select>
    <select id="findAllSystemCondition" parameterType="java.util.Map"
            resultType="com.movision.mybatis.systemToPush.entity.SystemToPush">
        select * from yw_system_push WHERE 1
        <if test="body!=null">
            AND body LIKE concat('%',#{body,jdbcType=VARCHAR},'%')
        </if>
        <if test="pai==0">
            ORDER BY inform_time DESC
        </if>
    </select>
    <select id="querySystemToPushBody" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.systemToPush.entity.SystemToPush">
        select * from yw_system_push WHERE  id=#{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteSystemToPush" parameterType="java.lang.Integer">
        DELETE  FROM  yw_system_push WHERE  id=#{id,jdbcType=INTEGER}
    </delete>
    <insert id="addSystemToPush" parameterType="com.movision.mybatis.systemToPush.entity.SystemToPush">
        insert into yw_system_push
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="body != null">
                body,
            </if>
            <if test="informTime != null">
                inform_time,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="fromAccid != null">
                from_accid,
            </if>
            <if test="toAccids != null">
                to_accids,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="body != null">
                #{body,jdbcType=VARCHAR},
            </if>
            <if test="informTime != null">
                #{informTime,jdbcType=TIMESTAMP},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="fromAccid != null">
                #{fromAccid,jdbcType=VARCHAR},
            </if>
            <if test="toAccids != null">
                #{toAccids,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>