<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.activeH5.mapper.ActiveH5Mapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.activeH5.entity.ActiveH5">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="photo" property="photo" jdbcType="VARCHAR"/>
        <result column="begintime" property="begintime" jdbcType="TIMESTAMP"/>
        <result column="endtime" property="endtime" jdbcType="TIMESTAMP"/>
        <result column="activitydescription" property="activitydescription" jdbcType="VARCHAR"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
        <result column="pageview" property="pageview" jdbcType="INTEGER"/>
        <result column="isApply" property="isApply" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, photo, begintime, endtime, activitydescription, isdel,intime,pageview, isApply
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tp_activeh5
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tp_activeh5
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.activeH5.entity.ActiveH5">
        insert into tp_activeh5 (id, name, photo,
        begintime, endtime,
        activitydescription, isdel, intime, isApply)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR},
        #{begintime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP},
        #{activitydescription,jdbcType=VARCHAR}, #{isdel,jdbcType=INTEGER},#{intime,jdbcType=TIMESTAMP},
        #{isApply,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.activeH5.entity.ActiveH5">
        insert into tp_activeh5
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="photo != null">
                photo,
            </if>
            <if test="begintime != null">
                begintime,
            </if>
            <if test="endtime != null">
                endtime,
            </if>
            <if test="activitydescription != null">
                activitydescription,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="pageview != null">
                pageview,
            </if>
            <if test="isApply != null">
                isApply,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="photo != null">
                #{photo,jdbcType=VARCHAR},
            </if>
            <if test="begintime != null">
                #{begintime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="activitydescription != null">
                #{activitydescription,jdbcType=VARCHAR},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="pageview != null">
                #{pageview,jdbcType=INTEGER},
            </if>
            <if test="isApply != null">
                #{isApply,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.activeH5.entity.ActiveH5">
        update tp_activeh5
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="photo != null">
                photo = #{photo,jdbcType=VARCHAR},
            </if>
            <if test="begintime != null">
                begintime = #{begintime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                endtime = #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="activitydescription != null">
                activitydescription = #{activitydescription,jdbcType=VARCHAR},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=INTEGER},
            </if>
            <if test="isApply != null">
                isApply = #{isApply,jdbcType=INTEGER},
            </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.activeH5.entity.ActiveH5">
        update tp_activeh5
        set name = #{name,jdbcType=VARCHAR},
        photo = #{photo,jdbcType=VARCHAR},
        begintime = #{begintime,jdbcType=TIMESTAMP},
        endtime = #{endtime,jdbcType=TIMESTAMP},
        activitydescription = #{activitydescription,jdbcType=VARCHAR},
        isdel = #{isdel,jdbcType=INTEGER},
        intime = #{intime,jdbcType=TIMESTAMP},
        isApply = #{isApply,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="deleteActive" parameterType="java.lang.Integer">
    UPDATE  tp_activeh5 SET  isdel=1 WHERE id=#{id,jdbcType=INTEGER}
  </update>
    <!--<select id="findAllActive" resultType="com.movision.mybatis.activeH5.entity.ActiveH5">
    SELECT * FROM tp_activeh5 WHERE isdel=0 ORDER BY intime DESC
  </select>-->
    <update id="updatePageView" parameterType="java.lang.Integer">
        UPDATE tp_activeh5 SET pageview=pageview+1 WHERE id=#{activeid,jdbcType=INTEGER}
    </update>
    <select id="querySum" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.activeH5.entity.ActiveH5Vo">
        SELECT a.id,a.pageview,a.photo,a.begintime,a.endtime AS endime,a.isApply,
        (SELECT COUNT(1) FROM tp_take t WHERE t.activeid=#{activeid,jdbcType=INTEGER}) AS takesum,
        (SELECT COUNT(1) FROM tp_votingrecords v WHERE v.activeid=#{activeid,jdbcType=INTEGER}) AS votesum
        FROM tp_activeh5 a
        WHERE a.id=#{activeid,jdbcType=INTEGER} AND a.isdel=0
    </select>
    <select id="findAllActive" resultType="com.movision.mybatis.activeH5.entity.ActiveH5Vo">
        SELECT
        a.id,a.pageview,a.photo,a.begintime,a.endtime AS endime,a.name,a.intime,a.isApply,
        (SELECT COUNT(1) FROM tp_take ta WHERE ta.activeid = a.id) AS takesum,
        (SELECT COUNT(1) FROM tp_votingrecords tp WHERE tp.activeid = a.id) AS votesum
        FROM tp_activeh5 a WHERE a.isdel=0
        <if test="name != null">
            AND a.name LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
    </if>
    <if test="begintime != null and endtime != null">
        AND (((#{begintime,jdbcType=DATE}  <![CDATA[<=]]> a.begintime) AND (#{endtime,jdbcType=DATE} <![CDATA[<=]]>
        a.endtime))
        OR ((#{begintime,jdbcType=DATE}  <![CDATA[>=]]> a.begintime) AND (#{endtime,jdbcType=DATE} <![CDATA[<=]]>
        a.endtime))
        OR ((#{begintime,jdbcType=DATE}  <![CDATA[>=]]> a.begintime) AND (#{endtime,jdbcType=DATE} <![CDATA[>=]]>
        a.endtime))
        OR ((#{begintime,jdbcType=DATE}  <![CDATA[<=]]> a.begintime) AND (#{endtime,jdbcType=DATE} <![CDATA[>=]]>
        a.endtime)))
    </if>
    ORDER BY intime DESC
</select>

    <select id="queryAllActive" parameterType="java.lang.String"
            resultType="com.movision.mybatis.activeH5.entity.ActiveH5Vo">
        SELECT
        a.id,a.name
        FROM tp_activeh5 a WHERE a.isdel=0
        <if test="name != null">
            AND a.name LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <![CDATA[AND (((now()  <= a.begintime) AND (now() <= a.endtime))
        OR ((now()  >= a.begintime) AND (now() <= a.endtime))
        OR ((now()  >= a.begintime) AND (now() >= a.endtime))
        OR ((now()  <= a.begintime) AND (now() >= a.endtime)))]]>
    </select>

    <select id="queryActivityById" parameterType="java.lang.Integer"
        resultType="com.movision.mybatis.activeH5.entity.ActiveH5">
        SELECT * FROM tp_activeh5 WHERE id = #{id,jdbcType=INTEGER} AND isdel = 0
    </select>
    <select id="queryH5Describe" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.activeH5.entity.ActiveH5">
        SELECT id,activitydescription,awardsSetting,awardsRules FROM tp_activeh5 WHERE id = #{id,jdbcType=INTEGER} AND
        isdel = 0
    </select>
</mapper>