<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.count.mapper.CountMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.count.entity.Count">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="take" property="take" jdbcType="INTEGER"/>
        <result column="access" property="access" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, take, access
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from h_count
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from h_count
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.movision.mybatis.count.entity.Count">
    insert into h_count (id, take, access
      )
    values (#{id,jdbcType=INTEGER}, #{take,jdbcType=INTEGER}, #{access,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.count.entity.Count">
        insert into h_count
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="take != null">
                take,
            </if>
            <if test="access != null">
                access,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="take != null">
                #{take,jdbcType=INTEGER},
            </if>
            <if test="access != null">
                #{access,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.count.entity.Count">
        update h_count
        <set>
            <if test="take != null">
                take = #{take,jdbcType=INTEGER},
            </if>
            <if test="access != null">
                access = #{access,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.count.entity.Count">
    update h_count
    set take = #{take,jdbcType=INTEGER},
      access = #{access,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateTakeCount" parameterType="java.lang.Integer">
    UPDATE  h_count SET  take=take+1 WHERE id=1077
  </update>
    <update id="updateAccessCount" parameterType="java.lang.Integer">
    UPDATE  h_count SET  access=access+1 WHERE id=1077
  </update>

</mapper>