<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.user.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="qq" property="qq" jdbcType="VARCHAR"/>
        <result column="sina" property="sina" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="invitecode" property="invitecode" jdbcType="VARCHAR"/>
        <result column="referrals" property="referrals" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="attention" property="attention" jdbcType="INTEGER"/>
        <result column="fans" property="fans" jdbcType="INTEGER"/>
        <result column="points" property="points" jdbcType="INTEGER"/>
        <result column="photo" property="photo" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
        <result column="growth" property="growth" jdbcType="INTEGER"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="applydate" property="applydate" jdbcType="DATE"/>
        <result column="deviceno" property="deviceno" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, openid, qq, sina, phone, email, token, invitecode, referrals, nickname, sign, attention, fans,
        points, photo, sex, birthday, province, city, intime, growth, level, status, applydate, deviceno
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--查询个人主页中的个人信息-->
    <select id="queryUserInfo" parameterType="java.lang.Integer" resultType="com.movision.mybatis.user.entity.UserVo">
        SELECT t.photo, t.level, t.nickname, t.sign,
        (
        SELECT COUNT(1) FROM yw_post WHERE userid = #{userid,jdbcType=INTEGER}
        ) AS postsum,
        (
        SELECT sum(collectsum) FROM yw_post WHERE userid = #{userid,jdbcType=INTEGER}
        ) AS becollectsum,
        (
        SELECT sum(forwardsum) FROM yw_post WHERE userid = #{userid,jdbcType=INTEGER}
        ) AS besharesum
        FROM yw_user t WHERE t.id = #{userid,jdbcType=INTEGER}
    </select>

    <!--查询圈子的所属圈主-->
    <select id="queryCircleMasterByPhone" parameterType="java.lang.String"
            resultType="com.movision.mybatis.user.entity.User">
        SELECT id, photo, nickname, phone, sign
        FROM yw_user WHERE phone = #{phone,jdbcType=VARCHAR}
    </select>

    <!--查询圈子的管理员列表-->
    <select id="queryCircleManagerList" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.user.entity.User">
        SELECT id,photo,nickname,phone,level FROM yw_user WHERE id in(
        SELECT userid FROM yw_circle_manager WHERE circleid in(
        SELECT id FROM yw_circle WHERE category=#{categoryid,jdbcType=INTEGER}))
    </select>

    <select id="queryCircleManagerByCircleid" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.user.entity.User">
        SELECT id,photo,nickname,phone,level FROM yw_user WHERE id in(
        SELECT userid FROM yw_circle_manager WHERE circleid=#{circleid,jdbcType=INTEGER})
    </select>

    <!--根据登录用户和圈子类型查询圈子的管理员列表-->
    <select id="queryCircleMangerByUseridList" parameterType="java.util.Map"
            resultType="com.movision.mybatis.user.entity.User">
        <if test="userid==null">
            SELECT id,photo,nickname,phone,level FROM yw_user WHERE id in(
            SELECT userid FROM yw_circle_manager WHERE circleid in(
            SELECT id FROM yw_circle
            WHERE category=#{category,jdbcType=INTEGER})) GROUP BY phone DESC
        </if>
        <if test="userid!=null">
            SELECT u.id,u.photo,u.nickname,u.phone,u.level FROM yw_circle_manager m LEFT JOIN yw_user u ON m.userid=u.id
            WHERE m.circleid in(
            SELECT c.id
            FROM yw_circle c WHERE isdel=0
            AND c.phone=(SELECT phone FROM yw_admin_user WHERE id=#{userid,jdbcType=INTEGER}) AND
            c.category=#{category,jdbcType=INTEGER}
            OR c.id in (SELECT circleid FROM yw_circle_manager WHERE userid=(SELECT id FROM yw_user WHERE phone =(SELECT
            phone FROM yw_admin_user WHERE id=#{userid,jdbcType=INTEGER}))) AND c.category=#{category,jdbcType=INTEGER})
            GROUP BY u.nickname
        </if>

    </select>

    <!-- 查询圈子管理员列表 -->
    <select id="queryCircleManagerByCircleList" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.user.entity.User">
        SELECT id,photo,nickname,phone,level FROM yw_user WHERE id in(
        SELECT userid FROM yw_circle_manager WHERE circleid=#{circleid,jdbcType=INTEGER})
    </select>

    <!--根据用户id查询用户积分数-->
    <select id="queryUserPoint" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT points FROM yw_user WHERE id = #{userid,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.user.entity.User">
        insert into yw_user (id, openid, qq, sina, phone, email,
        token, invitecode, referrals,
        nickname, sign, attention,
        fans, points, photo,
        sex, birthday, province,
        city, intime, growth,
        level, status,applydate, deviceno)
        values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR},
        #{sina,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},
        #{token,jdbcType=VARCHAR}, #{invitecode,jdbcType=VARCHAR}, #{referrals,jdbcType=VARCHAR},
        #{nickname,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, #{attention,jdbcType=INTEGER},
        #{fans,jdbcType=INTEGER}, #{points,jdbcType=INTEGER}, #{photo,jdbcType=VARCHAR},
        #{sex,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, #{province,jdbcType=VARCHAR},
        #{city,jdbcType=VARCHAR}, #{intime,jdbcType=TIMESTAMP}, #{growth,jdbcType=INTEGER},
        #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{applydate,jdbcType=DATE}), #{deviceno}
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.movision.mybatis.user.entity.User">
        insert into yw_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="openid != null">
                openid,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="sina != null">
                sina,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="token != null">
                token,
            </if>
            <if test="invitecode != null">
                invitecode,
            </if>
            <if test="referrals != null">
                referrals,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="sign != null">
                sign,
            </if>
                attention,
                fans,
            <if test="points!=null">
                points,
            </if>
            <if test="photo != null">
                photo,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
                intime,
                growth,
                level,
                status,
            <if test="applydate!=null">
                applydate,
            </if>
            <if test="deviceno!=null">
                deviceno,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="openid != null">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                #{qq,jdbcType=VARCHAR},
            </if>
            <if test="sina != null">
                #{sina,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="invitecode != null">
                #{invitecode,jdbcType=VARCHAR},
            </if>
            <if test="referrals != null">
                #{referrals,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sign != null">
                #{sign,jdbcType=VARCHAR},
            </if>
            0,
            0,
            <if test="points != null">
                #{points},
            </if>
            <if test="photo != null">
                #{photo,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            now(),
            0,
            0,
            0,
            <if test="applydate!=null">
                #{applydate,jdbcType=DATE},
            </if>
            <if test="deviceno!=null">
                #{deviceno},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.user.entity.User">
        update yw_user
        <set>
            <if test="openid != null">
                openid = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                qq = #{qq,jdbcType=VARCHAR},
            </if>
            <if test="sina != null">
                sina = #{sina,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="invitecode != null">
                invitecode = #{invitecode,jdbcType=VARCHAR},
            </if>
            <if test="referrals != null">
                referrals = #{referrals,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sign != null">
                sign = #{sign,jdbcType=VARCHAR},
            </if>
            <if test="attention != null">
                attention = #{attention,jdbcType=INTEGER},
            </if>
            <if test="fans != null">
                fans = #{fans,jdbcType=INTEGER},
            </if>
            <if test="points != null">
                points = #{points,jdbcType=INTEGER},
            </if>
            <if test="photo != null">
                photo = #{photo,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="growth != null">
                growth = #{growth,jdbcType=INTEGER},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="applydate!=null">
                applydate=#{applydate,jdbcType=DATE},
            </if>
            <if test="deviceno!=null">
                deviceno=#{deviceno},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.user.entity.User">
        update yw_user
        set openid = #{openid,jdbcType=VARCHAR},
        qq = #{qq,jdbcType=VARCHAR},
        sina = #{sina,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        token = #{token,jdbcType=VARCHAR},
        invitecode = #{invitecode,jdbcType=VARCHAR},
        referrals = #{referrals,jdbcType=VARCHAR},
        nickname = #{nickname,jdbcType=VARCHAR},
        sign = #{sign,jdbcType=VARCHAR},
        attention = #{attention,jdbcType=INTEGER},
        fans = #{fans,jdbcType=INTEGER},
        points = #{points,jdbcType=INTEGER},
        photo = #{photo,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=INTEGER},
        birthday = #{birthday,jdbcType=DATE},
        province = #{province,jdbcType=VARCHAR},
        city = #{city,jdbcType=VARCHAR},
        intime = #{intime,jdbcType=TIMESTAMP},
        growth = #{growth,jdbcType=INTEGER},
        level = #{level,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
        deviceno = #{deviceno}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--用户下单消费积分进行积分扣除-->
    <update id="deductPoints" parameterType="java.util.Map">
        UPDATE yw_user
        SET points = points - #{points,jdbcType=INTEGER}
        WHERE id = #{userid,jdbcType=INTEGER}
    </update>

    <select id="selectByPhone" parameterType="com.movision.mybatis.user.entity.User"
            resultType="com.movision.mybatis.user.entity.User">
        select
        <include refid="Base_Column_List"/>
        from yw_user
        where phone = #{phone}
    </select>

    <select id="selectLoginUserByPhone" parameterType="com.movision.mybatis.user.entity.User"
            resultType="com.movision.mybatis.user.entity.LoginUser">
        select
        u.*, i.accid, i.token as imtoken
        from yw_user u
        LEFT JOIN yw_im_user i on u.id= i.userid AND i.type = 1
        <where>
            <if test="phone != null || phone != ''">
                u.phone = #{phone}
            </if>
        </where>

    </select>

    <update id="updateUserPointsAdd" parameterType="java.util.Map">
        update yw_user
        set
        points =points+#{integral,jdbcType=INTEGER}
        where phone = #{phone,jdbcType=VARCHAR}
    </update>

    <update id="updateUserPointsMinus" parameterType="java.util.Map">
        update yw_user
        set
        points =points-#{integral,jdbcType=INTEGER}
        where id = #{userid,jdbcType=INTEGER}
    </update>

    <select id="queryUserByPoints" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT u.points
        FROM yw_user u
        WHERE u.id=#{id,jdbcType=INTEGER}
    </select>

    <select id="isExistAccount" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(1) FROM yw_user
        <where>
            <if test="phone != null and phone != ''">
                phone = #{phone}
            </if>
        </where>
    </select>

    <insert id="registerAccount" parameterType="com.movision.mybatis.user.entity.RegisterUser" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO yw_user (phone, intime, status, token, nickname, deviceno)
        VALUES (#{phone}, #{intime}, #{status}, #{token}, #{nickname}, #{deviceno})
    </insert>

    <!--插入帖子活动分享记录-->
    <insert id="insertPostShare" parameterType="java.util.Map">
        INSERT INTO yw_post_share (userid, postid, intime, channel)
        VALUES (#{userid,jdbcType=INTEGER}, #{postid,jdbcType=INTEGER}, #{intime,jdbcType=TIMESTAMP}, #{channel,jdbcType=VARCHAR})
    </insert>

    <!--插入商品分享记录-->
    <insert id="insertGoodsShare" parameterType="java.util.Map">
        INSERT INTO yw_goods_share (userid, goodsid, intime, channel)
        VALUES (#{userid,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER}, #{intime,jdbcType=TIMESTAMP}, #{channel,jdbcType=VARCHAR})
    </insert>

    <select id="queryUserByOpenid" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT u.openid FROM yw_user u WHERE id=#{userid,jdbcType=INTEGER}
    </select>

    <select id="selectAllUser" resultType="com.movision.mybatis.user.entity.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM yw_user
    </select>

    <select id="queryUserByNickname" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT u.nickname FROM yw_user u WHERE u.id=#{userid,jdbcType=INTEGER}
    </select>
    <select id="queryUserByNicknameBy" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT u.nickname FROM yw_user u WHERE u.id=(SELECT c.userid FROM yw_post c WHERE
        id=#{postid,jdbcType=INTEGER})
    </select>
    <select id="queryUser" resultType="com.movision.mybatis.user.entity.User" parameterType="java.lang.String">
        SELECT * FROM yw_user WHERE phone=#{phone,jdbcType=VARCHAR}
    </select>

    <select id="isAppAdminUser" parameterType="java.lang.String" resultType="int">
        SELECT count(1) FROM yw_user appuser LEFT JOIN yw_admin_user bossuser
        ON appuser.phone = bossuser.phone
        WHERE appuser.phone = #{phone}
    </select>

    <select id="findAllUser" resultType="com.movision.mybatis.user.entity.User" parameterType="java.lang.Integer">
        SELECT u.id,u.nickname,u.phone FROM yw_user u WHERE u.id=#{id,jdbcType=INTEGER}
    </select>
    <select id="findAlllikeQueryPostByNickname" resultType="com.movision.mybatis.user.entity.UserLike"
            parameterType="java.lang.String">
        SELECT u.nickname,u.id FROM yw_user u WHERE nickname LIKE concat('%',#{name,jdbcType=VARCHAR},'%') AND
        u.status=0 AND phone IS NOT NULL
    </select>

    <update id="updateRegisterUser" parameterType="com.movision.mybatis.user.entity.RegisterUser">
        update yw_user
        SET token = #{token}, deviceno = #{deviceno}
        WHERE phone = #{phone}
    </update>

    <select id="queryUserbyPhoneByUserid" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT phone FROM yw_user WHERE id=#{userid,jdbcType=INTEGER}
    </select>

    <!-- 查看VIP申请列表 -->
    <select id="findAllqueryUsers" resultType="com.movision.mybatis.user.entity.UserVo">
        SELECT u.id,u.nickname,u.phone,u.level,u.status,vd.id AS appyid,
        (SELECT authstatus FROM yw_autonym_authentication WHERE userid=u.id) AS autonym,
        (SELECT COUNT(1) FROM yw_post p WHERE p.userid=u.id) AS postsum,
        (SELECT COUNT(1) FROM yw_post po WHERE po.userid=u.id and po.isessence=1) AS isessencesum,
        (SELECT COALESCE(SUM(points),0) FROM yw_post_rewarded r WHERE r.postid IN (SELECT p1.id FROM yw_post p1 WHERE
        p1.userid=vd.userid AND p1.isdel=0)) AS exceptional,
        (SELECT COALESCE(SUM(collectsum),0) FROM yw_post p2 WHERE p2.userid=vd.userid AND p2.isdel=0) AS becollectsum,
        (SELECT COUNT(1) FROM yw_post_share s WHERE s.postid IN (SELECT p5.id FROM yw_post p5 WHERE p5.userid=vd.userid
        AND p5.isdel=0)) AS besharesum,
        (SELECT COALESCE(SUM(commentsum),0) FROM yw_post p3 WHERE p3.userid=vd.userid AND p3.isdel=0) AS commentsum,
        (SELECT COALESCE(SUM(zansum),0) FROM yw_post p4 WHERE p4.userid=vd.userid AND p4.isdel=0) AS
        zansum,u.fans,u.applydate
        FROM yw_user u LEFT JOIN yw_apply_vip_detail vd ON vd.userid=u.id LEFT JOIN yw_autonym_authentication au ON
        au.userid=u.id
        WHERE vd.userid=u.id AND vd.isdel=0 AND u.status=0 AND u.phone IS NOT NULL ORDER BY vd.apply_time DESC
    </select>

    <!-- 查看VIP列表-->
    <select id="findAllqueryUserVIPByList" resultType="com.movision.mybatis.user.entity.UserVo">
        SELECT u.id,u.nickname,u.phone,u.level,u.status,
        (SELECT COUNT(1) FROM yw_post p WHERE p.userid=u.id) AS postsum,
        (SELECT COUNT(1) FROM yw_post po WHERE po.userid=u.id and po.isessence=1) AS isessencesum,
        (SELECT COALESCE(SUM(points),0) FROM yw_post_rewarded r WHERE r.postid IN (SELECT p1.id FROM yw_post p1 WHERE
        p1.userid=u.id AND p1.isdel=0)) AS exceptional,
        (SELECT COALESCE(SUM(collectsum),0) FROM yw_post p2 WHERE p2.userid=u.id AND p2.isdel=0) AS becollectsum,
        (SELECT COUNT(1) FROM yw_post_share s WHERE s.postid IN (SELECT p5.id FROM yw_post p5 WHERE p5.userid=u.id AND
        p5.isdel=0)) AS besharesum,
        (SELECT COALESCE(SUM(commentsum),0) FROM yw_post p3 WHERE p3.userid=u.id AND p3.isdel=0) AS commentsum,
        (SELECT COALESCE(SUM(zansum),0) FROM yw_post p4 WHERE p4.userid=u.id AND p4.isdel=0) AS
        zansum,u.fans,vd.apply_time AS applydate,au.authstatus
        FROM (yw_user u LEFT JOIN yw_apply_vip_detail vd ON vd.userid=u.id) LEFT JOIN yw_autonym_authentication au ON
        au.userid=u.id
        WHERE level>0 AND status=0 ORDER BY intime
    </select>

    <!-- 根据条件查询vip列表  -->
    <select id="findAllQueryByConditionvipList" parameterType="java.util.Map"
            resultType="com.movision.mybatis.user.entity.UserVo">
        SELECT u.id,u.nickname,u.phone,u.level,u.status,
        (SELECT COUNT(1) FROM yw_post p WHERE p.userid=u.id) AS postsum,
        (SELECT COUNT(1) FROM yw_post po WHERE po.userid=u.id and po.isessence=1) AS isessencesum,
        (SELECT COALESCE(SUM(points),0) FROM yw_post_rewarded r WHERE r.postid IN (SELECT p1.id FROM yw_post p1 WHERE
        p1.userid=u.id AND p1.isdel=0)) AS exceptional,
        (SELECT COALESCE(SUM(collectsum),0) FROM yw_post p2 WHERE p2.userid=u.id AND p2.isdel=0) AS becollectsum,
        (SELECT COUNT(1) FROM yw_post_share s WHERE s.postid IN (SELECT p5.id FROM yw_post p5 WHERE p5.userid=u.id AND
        p5.isdel=0)) AS besharesum,
        (SELECT COALESCE(SUM(commentsum),0) FROM yw_post p3 WHERE p3.userid=u.id AND p3.isdel=0) AS commentsum,
        (SELECT COALESCE(SUM(zansum),0) FROM yw_post p4 WHERE p4.userid=u.id AND p4.isdel=0) AS
        zansum,u.fans,vd.apply_time AS applydate,au.authstatus
        FROM (yw_user u LEFT JOIN yw_apply_vip_detail vd ON vd.userid=u.id) LEFT JOIN yw_autonym_authentication au ON
        au.userid=u.id WHERE u.level>0 AND u.status=0
        <if test="name!=null">
            AND u.nickname LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="phone!=null">
            AND u.phone=#{phone,jdbcType=VARCHAR}
        </if>
        <if test="begintime!=null and endtime!=null">
            AND vd.apply_time BETWEEN #{begintime,jdbcType=DATE} AND #{endtime,jdbcType=DATE}
        </if>
        <if test="authstatus==0">
            AND au.authstatus=#{authstatus,jdbcType=INTEGER}
        </if>
        <if test="authstatus==1">
            AND au.authstatus=#{authstatus,jdbcType=INTEGER}
        </if>
        <if test="authstatus==2">
            AND au.authstatus=#{authstatus,jdbcType=INTEGER}
        </if>
        <if test="authstatus==3">
            AND au.authstatus IS NULL
        </if>
        <if test="type==1">
            ORDER BY vd.apply_time DESC
        </if>
        <if test="type==2">
            ORDER BY level DESC
        </if>
        <if test="type==null">
            ORDER BY intime
        </if>
    </select>

    <select id="findAllQueryIssuePostManList" resultType="com.movision.mybatis.bossUser.entity.BossUser">
        SELECT id,username FROM yw_admin_user WHERE isdel=0 AND status=0 AND username IS NOT NULL AND phone IS NOT NULL
    </select>

    <select id="findAllQueryCircleManList" resultType="com.movision.mybatis.user.entity.User">
        SELECT id,nickname FROM yw_user WHERE status=0 AND  nickname IS NOT NULL AND phone IS NOT NULL
    </select>

    <select id="findAllqueryAddVSortUser" resultType="com.movision.mybatis.user.entity.UserVo"
            parameterType="java.util.Map">
        SELECT u.id,u.nickname,u.phone,u.level,u.status,
        (SELECT COUNT(1) FROM yw_post p WHERE p.userid=u.id) AS postsum,
        (SELECT COUNT(1) FROM yw_post po WHERE po.userid=u.id and po.isessence=1) AS isessencesum,
        (SELECT COALESCE(SUM(points),0) FROM yw_post_rewarded r WHERE r.postid IN (SELECT p1.id FROM yw_post p1 WHERE
        p1.userid=u.id AND p1.isdel=0)) AS exceptional,
        (SELECT COALESCE(SUM(collectsum),0) FROM yw_post p2 WHERE p2.userid=u.id AND p2.isdel=0) AS becollectsum,
        (SELECT COUNT(1) FROM yw_post_share s WHERE s.postid IN (SELECT p5.id FROM yw_post p5 WHERE p5.userid=u.id AND
        p5.isdel=0)) AS besharesum,
        (SELECT COALESCE(SUM(commentsum),0) FROM yw_post p3 WHERE p3.userid=u.id AND p3.isdel=0) AS commentsum,
        (SELECT COALESCE(SUM(zansum),0) FROM yw_post p4 WHERE p4.userid=u.id AND p4.isdel=0) AS
        zansum,u.fans,u.applydate
        <if test="time!=null">
            FROM yw_user u LEFT JOIN yw_audit_vip_detail vd ON vd.apply_userid=u.id WHERE u.level>0 AND u.status=0 AND
            vd.status=0 ORDER BY vd.audit_time DESC
        </if>
        <if test="grade!=null">
            FROM yw_user u WHERE u.level>0 AND u.status=0 ORDER BY u.level DESC
        </if>
    </select>

    <select id="">
        SELECT u.id,u.nickname,u.phone,u.level,u.status,
        (SELECT COUNT(1) FROM yw_post p WHERE p.userid=u.id) AS postsum,
        (SELECT COUNT(1) FROM yw_post po WHERE po.userid=u.id and po.isessence=1) AS isessencesum,
        (SELECT COALESCE(SUM(points),0) FROM yw_post_rewarded r WHERE r.postid IN (SELECT p1.id FROM yw_post p1 WHERE
        p1.userid=vd.userid AND p1.isdel=0)) AS exceptional,
        (SELECT COALESCE(SUM(collectsum),0) FROM yw_post p2 WHERE p2.userid=vd.userid AND p2.isdel=0) AS becollectsum,
        (SELECT COUNT(1) FROM yw_post_share s WHERE s.postid IN (SELECT p5.id FROM yw_post p5 WHERE p5.userid=vd.userid
        AND p5.isdel=0)) AS besharesum,
        (SELECT COALESCE(SUM(commentsum),0) FROM yw_post p3 WHERE p3.userid=vd.userid AND p3.isdel=0) AS commentsum,
        (SELECT COALESCE(SUM(zansum),0) FROM yw_post p4 WHERE p4.userid=vd.userid AND p4.isdel=0) AS
        zansum,u.fans,u.applydate
        FROM yw_user u LEFT JOIN yw_apply_vip_detail vd ON vd.userid=u.id WHERE vd.userid=u.id AND u.status=0
        <if test="">
            AND u.nickname LIKE concat('%',#{,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <!-- 条件查询VIP申请用户列表 -->
    <select id="findAllQueryUniteConditionByApply" parameterType="java.util.Map"
            resultType="com.movision.mybatis.user.entity.UserVo">
        SELECT u.id,u.nickname,u.phone,u.level,u.status,vd.id AS appyid,
        (SELECT authstatus FROM yw_autonym_authentication WHERE userid=u.id) AS authstatus,
        (SELECT COUNT(1) FROM yw_post p WHERE p.userid=u.id) AS postsum,
        (SELECT COUNT(1) FROM yw_post po WHERE po.userid=u.id and po.isessence=1) AS isessencesum,
        (SELECT COALESCE(SUM(points),0) FROM yw_post_rewarded r WHERE r.postid IN (SELECT p1.id FROM yw_post p1 WHERE
        p1.userid=vd.userid AND p1.isdel=0)) AS exceptional,
        (SELECT COALESCE(SUM(collectsum),0) FROM yw_post p2 WHERE p2.userid=vd.userid AND p2.isdel=0) AS becollectsum,
        (SELECT COUNT(1) FROM yw_post_share s WHERE s.postid IN (SELECT p5.id FROM yw_post p5 WHERE p5.userid=vd.userid
        AND p5.isdel=0)) AS besharesum,
        (SELECT COALESCE(SUM(commentsum),0) FROM yw_post p3 WHERE p3.userid=vd.userid AND p3.isdel=0) AS commentsum,
        (SELECT COALESCE(SUM(zansum),0) FROM yw_post p4 WHERE p4.userid=vd.userid AND p4.isdel=0) AS
        zansum,u.fans,u.applydate
        FROM yw_user u LEFT JOIN yw_apply_vip_detail vd ON vd.userid=u.id LEFT JOIN yw_autonym_authentication au ON
        au.userid=u.id
        WHERE vd.userid=u.id AND vd.isdel=0 AND u.status=0 AND u.phone IS NOT NULL
        <if test="username!=null">
            AND u.nickname LIKE concat('%',#{username,jdbcType=VARCHAR},'%')
        </if>
        <if test="phone!=null">
            AND u.phone=#{phone,jdbcType=VARCHAR}
        </if>
        <if test="authstatus==0">
            AND (SELECT authstatus FROM yw_autonym_authentication WHERE userid=u.id)=#{authstatus,jdbcType=INTEGER}
        </if>
        <if test="authstatus==1">
            AND (SELECT authstatus FROM yw_autonym_authentication WHERE userid=u.id)=#{authstatus,jdbcType=INTEGER}
        </if>
        <if test="authstatus==2">
            AND (SELECT authstatus FROM yw_autonym_authentication WHERE userid=u.id)=#{authstatus,jdbcType=INTEGER}
        </if>
        <if test="authstatus==3">
            AND (SELECT authstatus FROM yw_autonym_authentication WHERE userid=u.id) IS NULL
        </if>
        <if test="begintime!=null and endtime!=null">
            AND vd.apply_time BETWEEN #{begintime,jdbcType=DATE} AND #{endtime,jdbcType=DATE}
        </if>
        <if test="type==1">
            ORDER BY vd.apply_time DESC
        </if>
        <if test="type==2">
            ORDER BY u.level DESC
        </if>
    </select>

    <select id="findAllQueryUserExamineAndVerify" parameterType="java.util.Map"
            resultType="com.movision.mybatis.user.entity.UserVo">
        SELECT u.id,u.nickname,u.phone,u.level,u.status,vd.id AS appyid,
        (SELECT authstatus FROM yw_autonym_authentication WHERE userid=u.id) AS autonym,
        (SELECT COUNT(1) FROM yw_post p WHERE p.userid=u.id) AS postsum,
        (SELECT COUNT(1) FROM yw_post po WHERE po.userid=u.id and po.isessence=1) AS isessencesum,
        (SELECT COALESCE(SUM(points),0) FROM yw_post_rewarded r WHERE r.postid IN (SELECT p1.id FROM yw_post p1 WHERE
        p1.userid=vd.userid AND p1.isdel=0)) AS exceptional,
        (SELECT COALESCE(SUM(collectsum),0) FROM yw_post p2 WHERE p2.userid=vd.userid AND p2.isdel=0) AS becollectsum,
        (SELECT COUNT(1) FROM yw_post_share s WHERE s.postid IN (SELECT p5.id FROM yw_post p5 WHERE p5.userid=vd.userid
        AND p5.isdel=0)) AS besharesum,
        (SELECT COALESCE(SUM(commentsum),0) FROM yw_post p3 WHERE p3.userid=vd.userid AND p3.isdel=0) AS commentsum,
        (SELECT COALESCE(SUM(zansum),0) FROM yw_post p4 WHERE p4.userid=vd.userid AND p4.isdel=0) AS
        zansum,u.fans,u.applydate
        FROM yw_user u LEFT JOIN yw_audit_vip_detail vd ON vd.apply_userid=u.id LEFT JOIN yw_autonym_authentication au
        ON
        au.userid=u.id
        WHERE vd.apply_userid=u.id AND u.status=0 AND u.phone IS NOT NULL
        <if test="username!=null">
            AND u.nickname LIKE concat('%',#{username,jdbcType=VARCHAR},'%')
        </if>
        <if test="phone!=null">
            AND u.phone=#{phone,jdbcType=VARCHAR}
        </if>
        <if test="authstatus==0">
            AND (SELECT authstatus FROM yw_autonym_authentication WHERE userid=u.id)=#{authstatus,jdbcType=INTEGER}
        </if>
        <if test="authstatus==1">
            AND (SELECT authstatus FROM yw_autonym_authentication WHERE userid=u.id)=#{authstatus,jdbcType=INTEGER}
        </if>
        <if test="authstatus==2">
            AND (SELECT authstatus FROM yw_autonym_authentication WHERE userid=u.id)=#{authstatus,jdbcType=INTEGER}
        </if>
        <if test="authstatus==3">
            AND (SELECT authstatus FROM yw_autonym_authentication WHERE userid=u.id) IS NULL
        </if>
        <if test="begintime!=null and endtime!=null">
            AND vd.apply_time BETWEEN #{begintime,jdbcType=DATE} AND #{endtime,jdbcType=DATE}
        </if>
        <if test="type==1">
            ORDER BY vd.apply_time DESC
        </if>
        <if test="type==2">
            ORDER BY u.level DESC
        </if>
    </select>


    <select id="findAllqueryAllUserList" parameterType="java.util.Map"
            resultType="com.movision.mybatis.user.entity.UserAll">
        SELECT u.id,u.nickname,u.phone,u.level,u.status,u.points,u.fans,u.intime,u.qq,u.sina,u.openid,aut.authstatus,
        (SELECT COUNT(1) FROM yw_coupon WHERE isdel=0 AND userid=u.id) AS coupon,
        (SELECT COUNT(1) FROM yw_post WHERE isdel=0 AND userid=u.id AND isactive=0) AS postsum,
        (SELECT COUNT(1) FROM yw_post WHERE isdel=0 AND userid=u.id AND isessence=1 AND isactive=0) AS isessencesum
        FROM yw_user u LEFT JOIN yw_autonym_authentication aut ON aut.userid=u.id WHERE 1 AND u.phone IS NOT NULL
        <if test="nickname!=null">
            AND u.nickname LIKE concat('%',#{nickname,jdbcType=VARCHAR},'%')
        </if>
        <if test="phone!=null">
            AND u.phone=#{phone,jdbcType=VARCHAR}
        </if>
        <if test="authentication==0">
            AND aut.authstatus=#{authentication,jdbcType=INTEGER}
        </if>
        <if test="authentication==1">
            AND aut.authstatus=#{authentication,jdbcType=INTEGER}
        </if>
        <if test="authentication==2">
            AND aut.authstatus=#{authentication,jdbcType=INTEGER}
        </if>
        <if test="authentication==3">
            AND aut.authstatus IS NULL
        </if>
        <if test="level!=null">
            AND level=#{level,jdbcType=INTEGER}
        </if>
        <if test="status!=null">
            AND u.status=#{status,jdbcType=INTEGER}
        </if>
        <if test="begintime!=null and endtime!=null">
            AND u.intime BETWEEN #{begintime,jdbcType=DATE} AND #{endtime,jdbcType=DATE}
        </if>
        <if test="price!=null and conditionon!=null and conditiontwo!=null">
            <if test="conditionon==1">
                <if test="conditiontwo==3">
                    AND u.points &gt; #{price,jdbcType=INTEGER}
                </if>
                <if test="conditiontwo==2">
                    AND u.points = #{price,jdbcType=INTEGER}
                </if>
                <if test="conditiontwo==1">
                    AND u.points &lt; #{price,jdbcType=INTEGER}
                </if>
            </if>
            <if test="conditionon==2">
                <if test="conditiontwo==3">
                    AND coupon &gt; #{price,jdbcType=INTEGER}
                </if>
                <if test="conditiontwo==2">
                    AND coupon=#{price,jdbcType=INTEGER}
                </if>
                <if test="conditiontwo==1">
                    AND coupon &lt; #{price,jdbcType=INTEGER}
                </if>
            </if>
            <if test="conditionon==3">
                <if test="conditiontwo==3">
                    AND postsum &gt; #{price,jdbcType=INTEGER}
                </if>
                <if test="conditiontwo==2">
                    AND postsum=#{price,jdbcType=INTEGER}
                </if>
                <if test="conditiontwo==1">
                    AND postsum &lt; #{price,jdbcType=INTEGER}
                </if>
            </if>
            <if test="conditionon==4">
                <if test="conditiontwo==3">
                    AND isessencesum &gt; #{price,jdbcType=INTEGER}
                </if>
                <if test="conditiontwo==2">
                    AND isessencesum=#{price,jdbcType=INTEGER}
                </if>
                <if test="conditiontwo==1">
                    AND isessencesum &lt; #{price,jdbcType=INTEGER}
                </if>
            </if>
            <if test="conditionon==5">
                <if test="conditiontwo==3">
                    AND u.fans &gt; #{price,jdbcType=INTEGER}
                </if>
                <if test="conditiontwo==2">
                    AND u.fans = #{price,jdbcType=INTEGER}
                </if>
                <if test="conditiontwo==1">
                    AND u.fans &lt; #{price,jdbcType=INTEGER}
                </if>
            </if>
        </if>
        <if test="login!=null">
            <if test="login==1">
                AND u.phone IS NOT NULL
            </if>
            <if test="login==2">
                AND u.openid IS NOT NULL
            </if>
            <if test="login==3">
                AND u.qq IS NOT NULL
            </if>
            <if test="login==4">
                AND u.sina IS NOT NULL
            </if>
        </if>
        <if test="pointsSort!=null">
            <if test="pointsSort==0">
                ORDER BY coupon ASC
            </if>
            <if test="pointsSort==1">
                ORDER BY coupon DESC
            </if>
        </if>
        <if test="postsumSort!=null">
            <if test="postsumSort==0">
                ORDER BY postsum ASC
            </if>
            <if test="postsumSort==1">
                ORDER BY postsum DESC
            </if>
        </if>
        <if test="isessenceSort!=null">
            <if test="isessenceSort==0">
                ORDER BY isessencesum ASC
            </if>
            <if test="isessenceSort==1">
                ORDER BY isessencesum DESC
            </if>
        </if>
        <if test="fansSort!=null">
            <if test="fansSort==0">
                ORDER BY fans ASC
            </if>
            <if test="fansSort==1">
                ORDER BY fans DESC
            </if>
        </if>
        <if test="pai!=null">
            <if test="pai==0">
                ORDER BY u.intime ASC
            </if>
            <if test="pai==1">
                ORDER BY u.intime DESC
            </if>
            <if test="pai==2">
                ORDER BY u.level ASC
            </if>
        </if>
    </select>

    <update id="deleteUserByid" parameterType="java.util.Map">
        UPDATE yw_user
        <if test="type==1">
            SET status=1
        </if>
        <if test="type==0">
            SET status=0
        </if>
        WHERE id=#{userid,jdbcType=INTEGER}
    </update>

    <update id="deleteUserLevl" parameterType="java.util.Map">
        UPDATE yw_user
        <if test="type==1">
            SET level=1
        </if>
        <if test="type==0">
            SET level=0
        </if>
        WHERE id=#{userid,jdbcType=INTEGER}
    </update>

    <update id="updateAuditByUser" parameterType="java.util.Map">
        UPDATE yw_apply_vip_detail
        <if test="isdel==1">
            SET isdel=1
        </if>
        <if test="isdel==0">
            SET isdel=0
        </if>
        WHERE id=#{appyid,jdbcType=INTEGER}
    </update>

    <update id="updateVIPDetail" parameterType="java.util.Map">
        UPDATE yw_audit_vip_detail
        <set>
            <if test="status==0">
                status=#{status,jdbcType=INTEGER},
            </if>
            <if test="status==1">
                status=#{status,jdbcType=INTEGER},
                reason=#{reason,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE
    </update>
    <select id="queryUserParticulars" parameterType="java.lang.String"
            resultType="com.movision.mybatis.user.entity.UserParticulars">
        SELECT u.*,vd.audit_time as viptime,aut.name,aut.idnumber,
        (SELECT COUNT(1) FROM yw_post AS p WHERE p.userid=#{userid,jdbcType=INTEGER}) as postsum,
        (SELECT COUNT(1) FROM yw_post WHERE userid=#{userid,jdbcType=INTEGER} AND isessence=1) AS isessenceid,
        (SELECT COALESCE(SUM(points),0) FROM yw_post_rewarded WHERE userid=#{userid,jdbcType=INTEGER}) AS reward,
        (SELECT SUM(points) FROM yw_post_rewarded WHERE postid IN (SELECT id FROM yw_post WHERE userid=#{userid,jdbcType=INTEGER})) AS byreward,
        (SELECT COUNT(1) FROM yw_collection WHERE userid=#{userid,jdbcType=INTEGER} AND type=0) AS collectpost,
        (SELECT COUNT(1) FROM yw_collection WHERE userid=#{userid,jdbcType=INTEGER} AND type=1) AS collectgoods,
        (SELECT COUNT(1) FROM yw_collection WHERE postid IN ( SELECT id FROM yw_post WHERE userid=#{userid,jdbcType=INTEGER})) as bycollect,
        (SELECT COUNT(1) FROM yw_goods_share WHERE userid=#{userid,jdbcType=INTEGER}) as sharegoods,
        (SELECT COUNT(1) FROM yw_post_share WHERE userid=#{userid,jdbcType=INTEGER}) as sharepost,
        (SELECT COUNT(1) FROM yw_post_share WHERE postid IN ( SELECT id FROM yw_post WHERE userid=#{userid,jdbcType=INTEGER})) as byshare,
        (SELECT COUNT(1) FROM yw_post_comment WHERE userid=#{userid,jdbcType=INTEGER}) as commentpost,
        (SELECT COUNT(1) FROM yw_goods_assessment WHERE userid=#{userid,jdbcType=INTEGER}) as commentassessment,
        (SELECT COUNT(1) FROM yw_post_comment WHERE postid IN ( SELECT id FROM yw_post WHERE userid=#{userid,jdbcType=INTEGER})) as bycomment,
        (SELECT COUNT(1) FROM yw_post_zan_record WHERE userid=#{userid,jdbcType=INTEGER}) as zansum,
        (SELECT COUNT(1) FROM yw_post_zan_record WHERE postid IN ( SELECT id FROM yw_post WHERE userid=#{userid,jdbcType=INTEGER})) as byzansum,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE userid=#{userid,jdbcType=INTEGER}) as circlefollow,
        (SELECT COUNT(1) FROM yw_post WHERE userid=#{userid,jdbcType=INTEGER} AND ishot=1 AND isdel=0) as ishot,
        (SELECT MIN(intime) FROM yw_post WHERE userid=1) AS oneissuepost,
        (SELECT MIN(collect_time) FROM yw_collection WHERE userid=1) AS onecollection
        FROM yw_user AS u
        LEFT JOIN yw_audit_vip_detail AS vd ON vd.apply_userid=#{userid,jdbcType=INTEGER} AND vd.status=0
        LEFT JOIN yw_autonym_authentication AS aut ON aut.userid=#{userid,jdbcType=INTEGER} AND aut.authstatus=1
        WHERE u.id=#{userid,jdbcType=INTEGER} AND u.status=0
    </select>

    <select id="queryProvinces" resultType="com.movision.mybatis.province.entity.ProvinceVo"
            parameterType="java.lang.String">
        SELECT addr.name,addr.phone,
        (SELECT name FROM yw_province WHERE code=addr.province)AS province,
        (SELECT name FROM yw_city WHERE code=addr.city) AS city,
        (SELECT name FROM yw_area WHERE code=addr.district) AS district,addr.street
        FROM
        yw_address as addr WHERE addr.userid=#{userid,jdbcType=INTEGER} AND addr.isdel=0
    </select>

    <select id="queryUserById" parameterType="java.lang.Integer" resultType="com.movision.mybatis.user.entity.UserAll">
        SELECT u.id,u.nickname,u.phone,u.level,u.status,u.points,u.fans,u.intime,u.qq,u.sina,u.openid,aut.authstatus,
        (SELECT COUNT(1) FROM yw_coupon WHERE isdel=0 AND userid=u.id) AS coupon,
        (SELECT COUNT(1) FROM yw_post WHERE isdel=0 AND userid=u.id) AS postsum,
        (SELECT COUNT(1) FROM yw_post WHERE isdel=0 AND userid=u.id AND isessence=1) AS isessencesum
        FROM yw_user u LEFT JOIN yw_autonym_authentication aut ON aut.userid=u.id WHERE u.id =
        (#{userid,jdbcType=INTEGER}) AND u.status=0
    </select>

    <select id="findAllqueryAttentionUserList" resultType="com.movision.mybatis.user.entity.UserAll"
            parameterType="java.lang.Integer">
        SELECT u.id,u.nickname,u.phone,u.level,u.status,u.points,u.fans,u.intime,u.qq,u.sina,u.openid,aut.authstatus,
        (SELECT COUNT(1) FROM yw_coupon WHERE isdel=0 AND userid=u.id) AS coupon,
        (SELECT COUNT(1) FROM yw_post WHERE isdel=0 AND userid=u.id) AS postsum,
        (SELECT COUNT(1) FROM yw_post WHERE isdel=0 AND userid=u.id AND isessence=1) AS isessencesum
        FROM yw_user u LEFT JOIN yw_autonym_authentication aut ON aut.userid=u.id WHERE u.id IN
        (SELECT userid FROM yw_follow_circle fc WHERE fc.circleid=#{circleid,jdbcType=INTEGER} AND u.status=0 AND
        u.phone IS NOT NULL
        <if test="type!=null">
            AND date(fc.intime) = curdate()
        </if>
        )
    </select>

    <update id="updateUserPoints" parameterType="java.util.Map">
        UPDATE yw_user SET points=points+#{integral,jdbcType=INTEGER} WHERE id=#{userid,jdbcType=INTEGER}
    </update>

    <select id="queryUserUseIntegral" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT point FROM yw_points_record
        WHERE userid=#{userid,jdbcType=INTEGER} AND isadd=1 AND isdel=0 AND type=21 AND orderid=#{orderid,jdbcType=INTEGER}
    </select>

    <select id="queryUserByRewarde" resultType="int" parameterType="int">
      select points from yw_user WHERE id=#{userid,jdbcType=INTEGER}
    </select>

    <update id="updateUserPoint" parameterType="java.util.Map">
        UPDATE yw_user
        <if test="type==0">
            SET points=points+#{integral,jdbcType=INTEGER}
        </if>
        <if test="type==1">
            SET points=points-#{integral,jdbcType=INTEGER}
        </if>
        WHERE id=#{userid,jdbcType=INTEGER}
    </update>

    <select id="selectUserByThirdAccount" parameterType="java.util.Map"
            resultType="com.movision.mybatis.user.entity.User">
        select *
        from yw_user
        <where>
            <if test="qq!=null and qq!=''">
                AND qq = #{qq}
            </if>
            <if test="wx!=null and wx!=''">
                and openid = #{wx}
            </if>
            <if test="wb!=null and wb!=''">
                and sina = #{wb}
            </if>
        </where>
    </select>

    <select id="selectLoginUserByToken" parameterType="java.lang.String"
            resultType="com.movision.mybatis.user.entity.LoginUser">
        select
        u.*, i.accid, i.token as imtoken
        from yw_user u
        LEFT JOIN yw_im_user i on u.id= i.userid AND i.type = 1
        <where>
            <if test="token != null || token != ''">
                u.token = #{token}
            </if>
        </where>
    </select>

    <select id="selectLoginuserByUserid" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.user.entity.LoginUser">
        select
        u.*, i.accid, i.token as imtoken
        from yw_user u
        LEFT JOIN yw_im_user i on u.id= i.userid AND i.type = 1
        <where>
            <if test="id != null || id != ''">
                u.id = #{id}
            </if>
        </where>
    </select>

    <select id="countByNickname" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1)
        from yw_user
        where nickname = #{nickname}
    </select>

</mapper>