<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.rewarded.mapper.RewardedMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.rewarded.entity.Rewarded">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="postid" property="postid" jdbcType="INTEGER"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="points" property="points" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, postid, userid, points, intime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_post_rewarded
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_post_rewarded
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.movision.mybatis.rewarded.entity.Rewarded">
    insert into yw_post_rewarded (id, postid, userid, 
      points, intime)
    values (#{id,jdbcType=INTEGER}, #{postid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{points,jdbcType=INTEGER}, #{intime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.rewarded.entity.Rewarded">
        insert into yw_post_rewarded
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="postid != null">
                postid,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="points != null">
                points,
            </if>
            <if test="intime != null">
                intime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="postid != null">
                #{postid,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="points != null">
                #{points,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.rewarded.entity.Rewarded">
        update yw_post_rewarded
        <set>
            <if test="postid != null">
                postid = #{postid,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="points != null">
                points = #{points,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.rewarded.entity.Rewarded">
    update yw_post_rewarded
    set postid = #{postid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      points = #{points,jdbcType=INTEGER},
      intime = #{intime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <insert id="insertRewarded">

    </insert>

    <!-- 根据打赏时间倒序展示列表 -->
    <select id="findAllqueryPostAward" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.rewarded.entity.RewardedVo">
      SELECT r.*,u.nickname
      FROM yw_post_rewarded r
      LEFT JOIN yw_user u
      ON r.userid=u.id
        WHERE r.postid=#{postid,jdbcType=INTEGER}
        <if test="pai==1">
            ORDER BY intime DESC
        </if>
        <if test="pai==null">
            ORDER BY intime ASC
        </if>
    </select>
</mapper>