<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">
    <description>安全配置</description>

    <!-- 凭证匹配器 -->
    <bean id="credentialsMatcher"
          class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="${password.algorithmName}"/>
        <property name="hashIterations" value="${password.hashIterations}"/>
    </bean>
    <!-- Realm实现 -->
    <bean id="userRealm" class="com.zhuhuibao.shiro.realm.ShiroRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
        <property name="cachingEnabled" value="true"/>
    </bean>

    <!-- Realm实现运营管理系统 -->
    <bean id="omsRealm" class="com.zhuhuibao.shiro.realm.OMSRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
        <property name="cachingEnabled" value="true"/>
    </bean>

    <!-- 用户授权信息Cache, 采用EhCache
    <bean id="ehcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache.xml"/>
    </bean>  -->

    <!--43200000-->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="43200000"/>
        <property name="deleteInvalidSessions" value="true"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="sessionDAO" ref="redisSessionDAO"/>
    </bean>

    <!-- shiro redisManager -->
    <bean id="redisManager" class="org.crazycake.shiro.RedisManager">
        <property name="host" value="${redis.host}"/>
        <property name="port" value="${redis.port}"/>
        <property name="expire" value="${redis.expire}"/>
    </bean>

    <!-- redisSessionDAO -->
    <bean id="redisSessionDAO" class="org.crazycake.shiro.RedisSessionDAO">
        <property name="redisManager" ref="redisManager"/>
    </bean>

    <!-- cacheManager -->
    <bean id="cacheManager" class="org.crazycake.shiro.RedisCacheManager">
        <property name="redisManager" ref="redisManager"/>
    </bean>

    <!-- 安全管理器 配置权限管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--<property name="realm" ref="userRealm"/>-->
        <property name="realms">
            <list>
                <ref bean="userRealm"/>
                <ref bean="omsRealm"/>
            </list>
        </property>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod"
                  value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>

    <!-- 基于Form表单的身份验证过滤器 -->
    <bean id="formAuthenticationFilter"
          class="org.apache.shiro.web.filter.authc.FormAuthenticationFilter">
        <property name="usernameParam" value="username"/>
        <property name="passwordParam" value="password"/>
        <property name="rememberMeParam" value="rememberMe"/>
        <property name="loginUrl" value="/auth/login.html"/>
    </bean>
    <bean id="orRolesAuthorizationFilter"
          class="com.zhuhuibao.shiro.filter.OrRolesAuthorizationFilter">
    </bean>
    <bean id="orPermissionsAuthorizationFilter"
          class="com.zhuhuibao.shiro.filter.OrPermissionsAuthorizationFilter">
    </bean>
    <!-- shiro定义 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/rest/exception/error_401"/>
        <property name="successUrl" value="/index.html"/>
        <property name="filters">
            <util:map>
                <entry key="authc" value-ref="formAuthenticationFilter"/>
                <entry key="orroles" value-ref="orRolesAuthorizationFilter"/>
                <entry key="orperms" value-ref="orPermissionsAuthorizationFilter"/>
            </util:map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                <!--url = orroles[status]
                status:会员状态 0：未激活(只针对邮件)，1：注册成功，2：注销，5：完善资料待审核 6：完善资料已审核，
                                7：资料审核已拒绝，9：实名认证待审核，10：实名认证已认证  11：实名认证已拒绝-->
                <!--url = orperms[identity:role:status]
                identity:1-企业 2-个人 3-厂家;
                role:100-管理员 200-专家 300-员工;
                status:6-完善资料已审核   9-实名认证待审核 10-实名认证已认证-->

                <!--orroles["100"] 企业管理员,其他不限 orroles["200"]专家身份,其他不限  orroles["300"]企业员工,其他不限  -->

                <!--特殊处理-->
                /rest/tech/mc/data/sel_download_data = authc
                /rest/system/mc/brand/sel_brand_by_scateid = anon
                /rest/job/mc/resume/download_resume = anon
                /rest/expert/mc/base/sel_myQuestionList = authc
                /rest/expert/mc/sel_my_looked_expertList = authc
                <!--企业+不限+不限-->
                /rest/tech/mc/coop/cg/sel_my_looked_achievementList =  orperms["1:100:1,1:100:5,1:100:6,1:100:7,1:100:9,1:100:10,1:100:11,1:300:1,1:300:5,1:300:6,1:300:7,1:300:9,1:300:10,1:300:11,3:100:1,3:100:5,3:100:6,3:100:7,3:100:9,3:100:10,3:100:11,3:300:1,3:300:5,3:300:6,3:300:7,3:300:9,3:300:10,3:300:11"]
                /rest/expert/mc/sel_my_looked_achievementList = orperms["1:100:1,1:100:5,1:100:6,1:100:7,1:100:9,1:100:10,1:100:11,1:300:1,1:300:5,1:300:6,1:300:7,1:300:9,1:300:10,1:300:11,3:100:1,3:100:5,3:100:6,3:100:7,3:100:9,3:100:10,3:100:11,3:300:1,3:300:5,3:300:6,3:300:7,3:300:9,3:300:10,3:300:11"]

                <!--前端调整为新接口之后删除以下配置-->
                /rest/job/mc/recruit/sel_recommend_position = anon
                /rest/job/mc/recruit/sel_latest_position = anon
                /rest/job/mc/resume/upd_jobRelresume = anon


                <!-- 具备“不限+不限+完善资料”权限的配置 -->
                /rest/system/mc/enquiry/** = orroles["6,9,10,11"]
                /rest/system/mc/product/** = orroles["6,9,10,11"]
                /rest/system/mc/quote/** =  orroles["6,9,10,11"]
                /rest/tech/mc/data/**  =   orroles["6,9,10,11"]
                /rest/tech/mc/coop/cg/**  =   orroles["6,9,10,11"]

                <!--具备"企业+不限+不限"的权限的配置 -->
                /rest/member/mc/user = orperms["1:100:1,1:100:5,1:100:6,1:100:7,1:100:9,1:100:10,1:100:11,1:300:1,1:300:5,1:300:6,1:300:7,1:300:9,1:300:10,1:300:11,3:100:1,3:100:5,3:100:6,3:100:7,3:100:9,3:100:10,3:100:11,3:300:1,3:300:5,3:300:6,3:300:7,3:300:9,3:300:10,3:300:11"]


                <!--具备“厂家+角色不限+实名认证”权限的配置 -->
                /rest/system/mc/brand/** = orperms["3:100:10,3:300:10"]
                /rest/system/mc/agent/** = orperms["3:100:10,3:300:10"]

                <!--具备“企业+角色不限+完善资料”权限的配置 -->
                /rest/expo/mc/** =  orperms["1:100:6,1:100:9,1:100:10,1:100:11,1:300:6,1:300:9,1:300:10,1:300:11"]
                /rest/tech/mc/coop/xq/** =  orperms["1:100:6,1:100:9,1:100:10,1:100:11,1:300:6,1:300:9,1:300:10,1:300:11"]

                <!--具备"企业+管理员+完善资料"的权限的配置   -->
                /rest/member/mc/company/sel_successCase =  orperms["1:100:6,1:100:9,1:100:10,1:100:11,3:100:6,3:100:9,3:100:10,3:100:11"]
                /rest/member/mc/company/upd_successCase =    orperms["1:100:6,1:100:9,1:100:10,1:100:11,3:100:6,3:100:9,3:100:10,3:100:11"]
                /rest/member/mc/company/del_successCase =  orperms["1:100:6,1:100:9,1:100:10,1:100:11,3:100:6,3:100:9,3:100:10,3:100:11"]

                <!--具备"企业+管理员+实名认证"的权限的配置   -->
                /rest/member/mc/company/add_certificate  = orperms["1:100:10,3:100:10"]
                /rest/member/mc/shop/** = orperms["1:100:10,3:100:10"]

                <!--具备"企业+管理员+不限"的权限配置-->
                /rest/member/mc/company/** =  orperms["1:100:1,1:100:5,1:100:6,1:100:7,1:100:9,1:100:10,1:100:11,3:100:1,3:100:5,3:100:6,3:100:7,3:100:9,3:100:10,3:100:11"]


                <!-- 具备“企业+角色不限+实名认证”权限的配置  -->
                /rest/job/mc/recruit/** = orperms["1:100:10,1:300:10,3:100:10,3:300:10"]

                <!-- 具备“个人+角色不限+状态不限”权限的配置     -->
                /rest/job/mc/resume/** = orperms["2:100:1,2:100:5,2:100:6,2:100:7,2:100:9,2:100:10,2:100:11,2:200:1,2:200:5,2:200:6,2:200:7,2:200:9,2:200:10,2:200:11"]
                /rest/member/mc/individual/base/** =  orperms["2:100:1,2:100:5,2:100:6,2:100:7,2:100:9,2:100:10,2:100:11,2:200:1,2:200:5,2:200:6,2:200:7,2:200:9,2:200:10,2:200:11"]
                /rest/member/mc/individual/real/** =   orperms["2:100:1,2:100:5,2:100:6,2:100:7,2:100:9,2:100:10,2:100:11,2:200:1,2:200:5,2:200:6,2:200:7,2:200:9,2:200:10,2:200:11"]

                <!--具备"个人+角色不限+完善资料"权限的配置 -->


                <!--具备"个人+角色不限+实名认证"权限的配置 -->
                /rest/member/mc/individual/cert/** = orperms["2:100:10,2:200:10"]

                <!-- 具备“个人+专家+状态不限”权限的配置 -->
                /rest/expert/mc/** = orperms["2:200:1,2:200:5,2:200:6,2:200:7,2:200:9,2:200:10,2:200:11"]


                /logout = logout
                /swagger/** = anon

            </value>
        </property>

    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

</beans> 