<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.memberReg.mapper.MemberRegMapper">
    <insert id="registerMember" parameterType="memberReg" useGeneratedKeys="true" keyProperty="id">
  	insert into t_m_member(mobile,email,password,registerTime,status,identify,emailCheckCode,workType) values
  	(#{mobile},#{email},#{password},str_to_date(#{registerTime},'%Y-%m-%d %H:%i:%s'),#{status},#{identify},#{emailCheckCode},#{workType})
  </insert>
    <sql id="Base_Column_List">
    id, mobile, email,password, date_format(registerTime,'%Y-%m-%d %H:%i:%s') registerTime, status,identify 
  </sql>

    <select id="findMemberByAccount" parameterType="memberReg" resultType="memberReg">
        select
        <include refid="Base_Column_List"/>
        from t_m_member WHERE status != 0 and status != 2
        <if test="mobile != null and mobile != '' ">
            AND mobile = #{mobile}
        </if>
        <if test="email != null">
            AND email = #{email}
        </if>
    </select>

    <select id="isExistAccount" parameterType="memberReg" resultType="int">
        select count(1) from t_m_member WHERE status != 0 and status != 2
        <if test="mobile != null and mobile != '' ">
            AND mobile = #{mobile}
        </if>
        <if test="email != null and email != '' ">
            AND email = #{email}
        </if>
    </select>

    <select id="findMemberByMail" resultType="com.zhuhuibao.mybatis.memberReg.entity.Member">
        select
        <include refid="Base_Column_List"/>
        from t_m_member
        where email = #{email} and status !=2
    </select>

    <select id="findMemberInfoById" resultType="com.zhuhuibao.mybatis.memberReg.entity.Member">
    select id,case when mobile != '' or mobile != null then mobile when email!= '' or email != null then email end as  account,
	date_format(registerTime,'%Y-%m-%d %H:%i:%s') registerTime, status,identify,headShot,workType
    from t_m_member
    where id = #{id}
   </select>

    <update id="updateEmailCode" parameterType="com.zhuhuibao.mybatis.memberReg.entity.Member">
        update t_m_member
        <set>
            <if test="emailCheckCode != null">
                emailCheckCode = #{emailCheckCode}
            </if>
        </set>
        where email = #{email}
    </update>
    
    
    <update id="updateLoginTime" parameterType="java.lang.String">
        update t_m_member set loginTime=now()
       
        where mobile =#{account} or mobile=#{account}
    </update>
    
    

    <update id="updateMemberStatus" parameterType="com.zhuhuibao.mybatis.memberReg.entity.Member">
        update t_m_member
        <set>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where email = #{email} and id = #{id}
    </update>

    <update id="updateMemberValidatePass" parameterType="com.zhuhuibao.mybatis.memberReg.entity.Member">
  	update t_m_member set isValidatePass = #{isValidatePass}
  	where email = #{email} and id = #{id}
  </update>

    <update id="updateMemberPwd" parameterType="com.zhuhuibao.mybatis.memberReg.entity.Member">
        update t_m_member
        <set>
            <if test="password != null">
                password = #{password}
            </if>
        </set>
        <where>
            <if test="mobile != null">
                mobile = #{mobile}
            </if>
            <if test="email != null">
                email = #{email}
            </if>
        </where>
    </update>

    <select id="getLoginMemberByAccount" parameterType="memberReg"
            resultType="com.zhuhuibao.mybatis.memberReg.entity.LoginMember">
        SELECT a.id,CASE WHEN a.mobile != '' OR a.mobile != NULL THEN a.mobile WHEN a.email!= '' OR a.email != NULL THEN a.email END AS account,
        a.password,a.status,a.identify,a.workType role,IF(b.status=1,'1','0') isexpert,a.enterpriseLinkman,a.fixedTelephone,a.email,
        CASE WHEN a.workType = 100 AND a.identify !=2 THEN a.id
        WHEN a.workType !=100 AND a.identify !=2 THEN a.enterpriseEmployeeParentId
        WHEN a.identify = 2 THEN a.id
        END AS companyId ,a.registerTime ,a.workType,a.headShot,a.nickname,a.enterpriseName AS companyName ,vip.vip_level,pvip.vip_level parentVipLevel
        FROM t_m_member a LEFT OUTER JOIN t_e_expert b ON a.id=b.createId AND b.status=1 AND b.is_deleted=0
        LEFT JOIN t_vip_member_info vip ON a.id = vip.member_id
        LEFT JOIN t_vip_member_info pvip ON a.enterpriseEmployeeParentId = pvip.member_id
        WHERE a.status != 0 AND a.status != 2
        <if test="mobile != null and mobile != '' ">
            AND  a.mobile = #{mobile}
        </if>
        <if test="email != null and email != '' ">
            AND  a.email = #{email}
        </if>
        <if test="id != null and id != '' ">
            AND  a.id = #{id}
        </if>
    </select>

    <select id="findCountByAccount" resultType="java.lang.Integer">
            SELECT COUNT(1) FROM  t_m_member WHERE (mobile = #{account} or email = #{account}) and status !=2
    </select>

</mapper>