<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.memCenter.mapper.MemberShopMapper">
    <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.memCenter.entity.MemberShop">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="shopName" property="shopName" jdbcType="VARCHAR"/>
        <result column="companyId" property="companyId" jdbcType="INTEGER"/>
        <result column="companyName" property="companyName" jdbcType="VARCHAR"/>
        <result column="companyAccount" property="companyAccount" jdbcType="VARCHAR"/>
        <result column="bannerUrl" property="bannerUrl" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="opreatorId" property="opreatorId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, shopName, companyId, companyName, companyAccount, bannerUrl, updateTime, opreatorId, 
    status,reason
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_m_shop
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findByCompanyID" resultType="com.zhuhuibao.mybatis.memCenter.entity.MemberShop">
        select
        <include refid="Base_Column_List"/>
        from t_m_shop
        where companyId = #{companyId,jdbcType=INTEGER}
    </select>
    <select id="findAllByCondition" resultType="com.zhuhuibao.mybatis.memCenter.entity.MemberShop">
        select
        <include refid="Base_Column_List"/>
        from t_m_shop
        where 1=1
        <if test="account != null">
            and companyAccount like CONCAT('%',#{account},'%')
        </if>
        <if test="companyName != null">
            and companyName like CONCAT('%',#{companyName},'%')
        </if>
        <if test="shopName != null">
            and shopName like CONCAT('%',#{shopName},'%')
        </if>
        <if test="status != null">
            and status like CONCAT('%',#{status},'%')
        </if>

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_m_shop
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zhuhuibao.mybatis.memCenter.entity.MemberShop">
    insert into t_m_shop (id, shopName, companyId, 
      companyName, companyAccount, bannerUrl, 
      updateTime, opreatorId, status,reason
      )
    values (#{id,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}, 
      #{companyName,jdbcType=VARCHAR}, #{companyAccount,jdbcType=VARCHAR}, #{bannerUrl,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{opreatorId,jdbcType=INTEGER}, #{status,jdbcType=CHAR} , #{reason,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.memCenter.entity.MemberShop">
        insert into t_m_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="shopName != null">
                shopName,
            </if>
            <if test="companyId != null">
                companyId,
            </if>
            <if test="companyName != null">
                companyName,
            </if>
            <if test="companyAccount != null">
                companyAccount,
            </if>
            <if test="bannerUrl != null">
                bannerUrl,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="opreatorId != null">
                opreatorId,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="reason != null">
                reason,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="shopName != null">
                #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyAccount != null">
                #{companyAccount,jdbcType=VARCHAR},
            </if>
            <if test="bannerUrl != null">
                #{bannerUrl,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="opreatorId != null">
                #{opreatorId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.memCenter.entity.MemberShop">
        update t_m_shop
        <set>
            <if test="shopName != null">
                shopName = #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                companyId = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="companyName != null">
                companyName = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyAccount != null">
                companyAccount = #{companyAccount,jdbcType=VARCHAR},
            </if>
            <if test="bannerUrl != null">
                bannerUrl = #{bannerUrl,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="opreatorId != null">
                opreatorId = #{opreatorId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhuhuibao.mybatis.memCenter.entity.MemberShop">
    update t_m_shop
    set shopName = #{shopName,jdbcType=VARCHAR},
      companyId = #{companyId,jdbcType=INTEGER},
      companyName = #{companyName,jdbcType=VARCHAR},
      companyAccount = #{companyAccount,jdbcType=VARCHAR},
      bannerUrl = #{bannerUrl,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      opreatorId = #{opreatorId,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      reason = #{reason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="queryShopBanner" resultType="java.util.Map">
        select
        shopName,bannerUrl
        from t_m_shop
        where companyId = #{id} and status = 2
    </select>
</mapper>