<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.bossMenu.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.bossMenu.entity.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="menuname" property="menuname" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="orderid" property="orderid" jdbcType="INTEGER"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, menuname, pid, orderid, isdel, remark
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_admin_menu
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_admin_menu
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.bossMenu.entity.Menu">
        insert into yw_admin_menu (id, menuname, pid,
        orderid, isdel, remark
        )
        values (#{id,jdbcType=INTEGER}, #{menuname,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER},
        #{orderid,jdbcType=INTEGER}, #{isdel,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.bossMenu.entity.Menu">
        insert into yw_admin_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="menuname != null">
                menuname,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="orderid != null">
                orderid,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="menuname != null">
                #{menuname,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.bossMenu.entity.Menu">
        update yw_admin_menu
        <set>
            <if test="menuname != null">
                menuname = #{menuname,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                orderid = #{orderid,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.bossMenu.entity.Menu">
        update yw_admin_menu
        set menuname = #{menuname,jdbcType=VARCHAR},
        pid = #{pid,jdbcType=INTEGER},
        orderid = #{orderid,jdbcType=INTEGER},
        isdel = #{isdel,jdbcType=INTEGER},
        remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--排序规则-->
    <select id="findAllMenuList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yw_admin_menu
        where isdel = 1
        <if test="menuname != null and menuname != ''">
            menuname like CONCAT('%',#{menuname},'%')
        </if>
        ORDER by pid,orderid
    </select>

    <select id="selectByRoleid" resultType="com.movision.mybatis.bossMenu.entity.Menu"
            parameterType="java.lang.Integer">
        select
        m.*
        FROM yw_admin_menu m
        LEFT JOIN yw_admin_role_menu rm ON m.id = rm.menuid
        where rm.roleid = #{roleid}
    </select>

    <select id="selectAllMenu" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yw_admin_menu
        where isdel = 1
    </select>

    <select id="selectAllParentMenu" resultType="com.movision.mybatis.bossMenu.entity.AuthMenu">
        select
        yw_admin_menu.*
        from yw_admin_menu
        where isdel = 1 AND pid = 0
        ORDER BY orderid
    </select>

    <select id="selectAllChildrenMenu" resultType="com.movision.mybatis.bossMenu.entity.AuthMenu">
        select
        yw_admin_menu.*
        from yw_admin_menu
        <![CDATA[
        where isdel = 1 AND pid <> 0
        ]]>
        ORDER BY orderid
    </select>

    <select id="selectAuthroizeParentMenu" resultType="com.movision.mybatis.bossMenu.entity.AuthMenu"
            parameterType="java.lang.Integer">
        select
        m.*
        from yw_admin_menu m
        LEFT JOIN yw_admin_role_menu rm ON m.id = rm.menuid
        where m.isdel = 1 AND m.pid = 0
        and rm.roleid = #{roleid}
        ORDER BY m.orderid
    </select>

    <select id="selectAuthroizeChildrenMenu" resultType="com.movision.mybatis.bossMenu.entity.AuthMenu"
            parameterType="java.lang.Integer">
        SELECT
        m.*
        FROM yw_admin_menu m
        LEFT JOIN yw_admin_role_menu rm ON m.id = rm.menuid
        <![CDATA[
        WHERE m.isdel = 1 AND m.pid <> 0
        AND rm.roleid = #{roleid}
        ORDER BY m.orderid
         ]]>
    </select>

    <select id="xxxx" resultType="com.movision.mybatis.bossMenu.entity.AuthMenu" parameterType="java.util.HashMap">
        SELECT
        m.*
        FROM yw_admin_menu m
        LEFT JOIN yw_admin_role_menu rm ON m.id = rm.menuid
        <![CDATA[
        WHERE m.isdel = 1 AND m.pid <> 0
        AND rm.roleid = #{roleid}
        ORDER BY m.orderid
         ]]>
    </select>


</mapper>