<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.circleCategory.mapper.CircleCategoryMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.circleCategory.entity.CircleCategory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="categoryname" property="categoryname" jdbcType="VARCHAR"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
        <result column="discoverpageurl" property="discoverpageurl" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, categoryname, intime, discoverpageurl
  </sql>

    <!--基础查询语句-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        fromid yw_circle_category
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--查询发现次banner圈子类型轮播图列表-->
    <select id="queryCircleCategoryList" resultType="com.movision.mybatis.circleCategory.entity.CircleCategory">
        SELECT * FROM yw_circle_category
    </select>

    <!--查询所有圈子的分类-->
    <select id="queryCircleByCategory" resultType="com.movision.mybatis.circleCategory.entity.CircleCategoryVo">
        SELECT id,categoryname FROM yw_circle_category
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete fromid yw_circle_category
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.movision.mybatis.circleCategory.entity.CircleCategory">
    insert into yw_circle_category (id, categoryname, intime, 
      discoverpageurl)
    values (#{id,jdbcType=INTEGER}, #{categoryname,jdbcType=VARCHAR}, #{intime,jdbcType=TIMESTAMP}, 
      #{discoverpageurl,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.circleCategory.entity.CircleCategory">
        insert into yw_circle_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="categoryname != null">
                categoryname,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="discoverpageurl != null">
                discoverpageurl,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="categoryname != null">
                #{categoryname,jdbcType=VARCHAR},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="discoverpageurl != null">
                #{discoverpageurl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.circleCategory.entity.CircleCategory">
        update yw_circle_category
        <set>
            <if test="categoryname != null">
                categoryname = #{categoryname,jdbcType=VARCHAR},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="discoverpageurl != null">
                discoverpageurl = #{discoverpageurl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.circleCategory.entity.CircleCategory">
    update yw_circle_category
    set categoryname = #{categoryname,jdbcType=VARCHAR},
      intime = #{intime,jdbcType=TIMESTAMP},
      discoverpageurl = #{discoverpageurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>