<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.circle.mapper.CircleMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.circle.entity.Circle">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="isofficial" property="isofficial" jdbcType="INTEGER"/>
        <result column="scope" property="scope" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="photo" property="photo" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="notice" property="notice" jdbcType="VARCHAR"/>
        <result column="permission" property="permission" jdbcType="INTEGER"/>
        <result column="isrecommend" property="isrecommend" jdbcType="INTEGER"/>
        <result column="maylikeimg" property="maylikeimg" jdbcType="TIMESTAMP"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="supportnum" property="supportnum" jdbcType="INTEGER"/>
        <result column="isdiscover" property="isdiscover" jdbcType="INTEGER"/>
        <result column="orderid" property="orderid" jdbcType="INTEGER"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, isofficial, scope, phone, photo, category, code, name, introduction, notice,
        permission, isrecommend, maylikeimg, createtime, status, supportnum, isdiscover, orderid,
        isdel,userid
    </sql>

    <!--基础查询语句-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_circle
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!-- 根据圈子id查询手机号 -->
    <select id="queryCircleByPhone" parameterType="java.lang.Integer" resultType="String">
        SELECT c.phone
        FROM yw_circle c
        WHERE c.id=#{id,jdbcType=INTEGER}
    </select>

    <!--查询发现页中列出的圈子-->
    <select id="queryHotCircleList" resultType="com.movision.mybatis.circle.entity.CircleVo">
        SELECT t1.id,t1.photo,t1.category,t1.code,t1.name,t1.introduction,t1.isdiscover
        FROM yw_circle t1 WHERE t1.isdiscover = '1' AND t1.status = '1'
        ORDER BY orderid
    </select>

    <!--根据圈子id查询圈子详情-->
    <select id="queryCircleIndex1" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.circle.entity.CircleVo">
        SELECT id,isofficial,scope,phone,photo,category,code,name,introduction,notice,permission,createtime,status,supportnum
        FROM yw_circle WHERE id = #{circleid,jdbcType=INTEGER}
    </select>

    <!--按照分类id查询圈子列表-->
    <select id="queryCircleByCategory" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.circle.entity.CircleVo">
        SELECT id,name,photo FROM yw_circle
        WHERE category = #{categoryid,jdbcType=INTEGER}
          AND status = '1'
    </select>

    <!--查询所有待审核的圈子-->
    <select id="queryAuditCircle" resultType="com.movision.mybatis.circle.entity.CircleVo">
        SELECT id,name,photo,supportnum FROM yw_circle
        WHERE status = '0'
    </select>

    <!--查询当前圈子的开放范围scope-->
    <select id="queryCircleScope" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT scope FROM yw_circle WHERE id = #{circleid,jdbcType=INTEGER}
    </select>

    <!--查询当前圈子所有者userid-->
    <select id="queryCircleOwner" parameterType="java.lang.Integer" resultType="com.movision.mybatis.user.entity.User">
        SELECT id, level FROM yw_user WHERE phone = (
        SELECT phone FROM yw_circle WHERE id = #{circleid,jdbcType=INTEGER}
        )
    </select>

    <!--查询帖子详情最下方推荐的4个热门圈子-->
    <select id="queryHotCircle" resultType="com.movision.mybatis.circle.entity.Circle">
        SELECT t1.id,t1.name,t1.maylikeimg
        FROM yw_circle t1 WHERE t1.isdiscover = '1' AND t1.status = '1'
        ORDER BY orderid
        LIMIT 4;
    </select>

    <!--查询圈子的信息（包括公告和简介等）-->
    <select id="queryCircleInfo" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.circle.entity.CircleVo">
        SELECT * FROM (
        SELECT t1.id, t1.phone, t1.category, t1.code, t1.introduction, t1.notice, t1.createtime, t1.status,
        t1.supportnum, t2.categoryname
        FROM yw_circle t1
        LEFT JOIN yw_circle_category t2
        ON t1.category = t2.id) t
        WHERE t.id = #{circleid,jdbcType=INTEGER}
    </select>

    <!--查询当前用户是否已经支持该圈子-->
    <select id="queryIsSupport" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*) FROM yw_circle_support_record
        WHERE circleid = #{circleid,jdbcType=INTEGER}
          AND userid = #{userid,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_circle
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.movision.mybatis.circle.entity.Circle">
        insert into yw_circle (id, isofficial, scope,
        phone, photo, category,
        code, name, introduction,
      notice, permission, isrecommend, maylikeimg,
        createtime, status, supportnum, isdiscover,
        orderid,userid)
        values (#{id,jdbcType=INTEGER}, #{isofficial,jdbcType=INTEGER}, #{scope,jdbcType=INTEGER},
        #{phone,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{category,jdbcType=INTEGER},
        #{code,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR},
      #{notice,jdbcType=VARCHAR}, #{permission,jdbcType=INTEGER}, #{isrecommend,jdbcType=INTEGER}, #{maylikeimg,jdbcType=INTEGER},
        #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{supportnum,jdbcType=INTEGER},
        #{isdiscover,jdbcType=INTEGER},
        #{orderid,jdbcType=INTEGER},#{userid,jdbcType=INTEGER})
  </insert>

    <!--新增一条该用户支持该圈子的记录-->
    <insert id="addSupportRecored" parameterType="java.util.Map">
      INSERT INTO yw_circle_support_record (circleid, userid)
      VALUES (#{circleid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="com.movision.mybatis.circle.entity.Circle">
        insert into yw_circle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="isofficial != null">
                isofficial,
            </if>
            <if test="scope != null">
                scope,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="photo != null">
                photo,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="notice != null">
                notice,
            </if>
            <if test="permission != null">
                permission,
            </if>
            <if test="isrecommend != null">
                isrecommend,
            </if>
            <if test="maylikeimg != null">
                maylikeimg,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="supportnum != null">
                supportnum,
            </if>
            <if test="isdiscover != null">
                isdiscover,
            </if>
            <if test="orderid != null">
                orderid,
            </if>
            <if test="userid != null">
                userid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="isofficial != null">
                #{isofficial,jdbcType=INTEGER},
            </if>
            <if test="scope != null">
                #{scope,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="photo != null">
                #{photo,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                #{category,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="notice != null">
                #{notice,jdbcType=VARCHAR},
            </if>
            <if test="permission != null">
                #{permission,jdbcType=INTEGER},
            </if>
            <if test="isrecommend != null">
                #{isrecommend,jdbcType=INTEGER},
            </if>
            <if test="maylikeimg != null">
                #{maylikeimg,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="supportnum != null">
                #{supportnum,jdbcType=INTEGER},
            </if>
            <if test="isdiscover != null">
                #{isdiscover,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.circle.entity.Circle">
        update yw_circle
        <set>
            <if test="isofficial != null">
                isofficial = #{isofficial,jdbcType=INTEGER},
            </if>
            <if test="scope != null">
                scope = #{scope,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="photo != null">
                photo = #{photo,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                category = #{category,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="notice != null">
                notice = #{notice,jdbcType=VARCHAR},
            </if>
            <if test="permission != null">
                permission = #{permission,jdbcType=INTEGER},
            </if>
            <if test="isrecommend != null">
                isrecommend = #{isrecommend,jdbcType=INTEGER},
            </if>
            <if test="maylikeimg != null">
                maylikeimg = #{maylikeimg,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="supportnum != null">
                supportnum = #{supportnum,jdbcType=INTEGER},
            </if>
            <if test="isdiscover != null">
                isdiscover = #{isdiscover,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                orderid = #{orderid,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.circle.entity.Circle">
        update yw_circle
        set isofficial = #{isofficial,jdbcType=INTEGER},
        scope = #{scope,jdbcType=INTEGER},
        phone = #{phone,jdbcType=VARCHAR},
        photo = #{photo,jdbcType=VARCHAR},
        category = #{category,jdbcType=INTEGER},
        code = #{code,jdbcType=INTEGER},
        name = #{name,jdbcType=VARCHAR},
        introduction = #{introduction,jdbcType=VARCHAR},
        notice = #{notice,jdbcType=VARCHAR},
        permission = #{permission,jdbcType=INTEGER},
        isrecommend = #{isrecommend,jdbcType=INTEGER},
        maylikeimg = #{maylikeimg,jdbcType=INTEGER},
        createtime = #{createtime,jdbcType=TIMESTAMP},
        status = #{status,jdbcType=INTEGER},
        supportnum = #{supportnum,jdbcType=INTEGER},
        isdiscover = #{isdiscover,jdbcType=INTEGER},
        orderid = #{orderid,jdbcType=INTEGER},
        userid = #{userid,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--给审核中的圈子总支持数+1-->
    <update id="addSupportSum" parameterType="java.util.Map">
        UPDATE yw_circle
        SET supportnum = supportnum+1
        WHERE id = #{circleid,jdbcType=INTEGER}
    </update>

    <select id="findAllqueryCircleByList" resultType="com.movision.mybatis.circle.entity.CircleVo">
        SELECT * FROM yw_circle WHERE category=#{category,jdbcType=INTEGER}
    </select>

    <select id="queryCircleByLikeList" resultType="com.movision.mybatis.circle.entity.CircleVo"
            parameterType="java.util.Map">
        SELECT c.* ,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE circleid=c.id) as follownum,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE circleid=c.id) AS follownewnum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid=c.id AND date(intime) = curdate()) AS postnewnum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid=c.id AND isessence=1) AS isessencenum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid=c.id) AS postnum,
        (SELECT u.nickname FROM yw_user u WHERE phone=c.phone) AS circlename,
        (SELECT u.level FROM yw_user u WHERE phone=c.phone) AS categorylevel
        FROM yw_circle c WHERE isdel=0
        <if test="type!=null">
            AND category=#{type,jdbcType=INTEGER}
        </if>
        <if test="status==0">
            AND c.status=0
        </if>
        <if test="status==1">
            AND c.status=1
        </if>
        <if test="status==2">
            AND c.status=2
        </if>
        <if test="circleid!=null">
            AND c.id=#{circleid,jdbcType=INTEGER}
        </if>
        <if test="circleman != null">
            AND (SELECT u.nickname FROM yw_user u WHERE id=c.userid) LIKE concat('%',#{circleman,jdbcType=VARCHAR},'%')
        </if>
        <if test="begintime!=null and endtime!=null">
            AND createtime BETWEEN #{begintime,jdbcType=TIMESTAMP} AND #{endtime,jdbcType=TIMESTAMP}
        </if>
        <if test="userid!=null">
            AND c.phone=(SELECT phone FROM yw_admin_user WHERE id=#{userid,jdbcType=INTEGER})
        </if>
        ORDER BY category
        <if test="pai==null">
            ,c.createtime DESC
        </if>
        <if test="pai==1">
            ,follownum DESC
        </if>
    </select>

    <select id="queryCircleManagementByLikeList" resultType="com.movision.mybatis.circle.entity.CircleVo"
            parameterType="java.util.Map">
        SELECT c.* ,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE circleid=c.id) as follownum,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE circleid=c.id) AS follownewnum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid=c.id AND date(intime) = curdate()) AS postnewnum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid=c.id AND isessence=1) AS isessencenum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid=c.id) AS postnum,
        (SELECT u.nickname FROM yw_user u WHERE phone=c.phone) AS circlename,
        (SELECT u.level FROM yw_user u WHERE phone=c.phone) AS categorylevel
        FROM yw_circle c WHERE isdel=0
        <if test="type!=null">
            AND category=#{type,jdbcType=INTEGER}
        </if>
        <if test="status==0">
            AND c.status=0
        </if>
        <if test="status==1">
            AND c.status=1
        </if>
        <if test="status==2">
            AND c.status=2
        </if>
        <if test="circleid!=null">
            AND c.id=#{circleid,jdbcType=INTEGER}
        </if>
        <if test="circleman != null">
            AND (SELECT u.nickname FROM yw_user u WHERE id=c.userid) LIKE concat('%',#{circleman,jdbcType=VARCHAR},'%')
        </if>
        <if test="begintime!=null and endtime!=null">
            AND createtime BETWEEN #{begintime,jdbcType=TIMESTAMP} AND #{endtime,jdbcType=TIMESTAMP}
        </if>
        <if test="userid!=null">
            AND c.id IN (SELECT circleid FROM yw_circle_manager WHERE userid=#{userid,jdbcType=INTEGER})
        </if>
        ORDER BY category
        <if test="pai==null">
            ,c.createtime DESC
        </if>
        <if test="pai==1">
            ,follownum DESC
        </if>
    </select>

    <select id="queryCircleBycirclemaster" resultType="com.movision.mybatis.user.entity.User"
            parameterType="java.lang.String">
        SELECT u.level,u.nickname FROM yw_user u WHERE u.phone=#{phone,jdbcType=VARCHAR}
    </select>

    <select id="querycirclemanagerlist" resultType="java.util.List" parameterType="java.lang.Integer">
        SELECT m.userid FROM yw_circle_manager m LEFT JOIN yw_circle c ON c.id=m.circleid
     </select>

    <select id="queryFollowSum" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT COUNT(1) FROM yw_follow_circle WHERE circleid=#{circleid,jdbcType=INTEGER};
    </select>

    <select id="queryCircleByNum" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM yw_circle
    </select>

    <select id="queryCircleByName" resultType="com.movision.mybatis.circle.entity.Circle"
            parameterType="java.lang.Integer">
        SELECT name,category FROM yw_circle WHERE id=#{circleid,jdbcType=INTEGER}
    </select>

    <select id="queryListByCircleCategory" resultType="com.movision.mybatis.circle.entity.CircleIndexList"
            parameterType="java.util.Map">
        SELECT c.id AS category,c.categoryname , c.intime,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE circleid IN (SELECT id FROM yw_circle WHERE category=c.id)) as
        follownum,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE circleid IN(select circleid from yw_follow_circle where
        date(intime) = curdate())) AS follownewnum ,
        (SELECT COUNT(1) FROM yw_post WHERE isdel=0 AND isactive=0 AND circleid IN(SELECT id FROM yw_circle WHERE
        category=c.id AND status=1 AND isdel=0) AND date(intime) =
        curdate()) AS postnewnum,
        (SELECT COUNT(1) FROM yw_post WHERE isdel=0 AND isactive=0 AND circleid IN(SELECT id FROM yw_circle WHERE
        category=c.id AND status=1 AND isdel=0) AND isessence=1)
        AS isessencenum,
        (SELECT COUNT(1) FROM yw_post p WHERE p.isdel=0 AND p.isactive=0 AND p.circleid IN (SELECT id FROM yw_circle
        WHERE category=c.id AND status=1 AND isdel=0)) AS postnum,
        (SELECT COALESCE(SUM(supportnum),0) FROM yw_circle WHERE category=c.id) AS supportnum
        FROM yw_circle_category c
        <if test="categoryid!=null">
            WHERE c.id=#{categoryid,jdbcType=INTEGER}
        </if>
    </select>

    <select id="queryListByCircleCategoryTo" resultType="com.movision.mybatis.circle.entity.Circle">
        select c.id AS category,c.categoryname from yw_circle_category c ORDER BY c.id DESC
    </select>

    <select id="queryListByCircleList" parameterType="java.util.Map"
            resultType="com.movision.mybatis.circle.entity.Circle">
        SELECT id,name,category FROM yw_circle WHERE isdel=0 AND status=1
        <if test="categoryid!=null">
            AND category=#{categoryid,jdbcType=INTEGER}
        </if>
    </select>
    <select id="queryListByCircleListByUserid" parameterType="java.util.Map"
            resultType="com.movision.mybatis.circle.entity.Circle">
        SELECT id,name,category FROM yw_circle WHERE phone=(SELECT phone FROM yw_admin_user WHERE id=#{userid,jdbcType=INTEGER}) AND isdel=0 AND status=1 AND category=#{categoryid,jdbcType=INTEGER}
    </select>

    <select id="queryCircleUserList" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.user.entity.User">
        SELECT * FROM yw_user WHERE id IN(SELECT userid FROM yw_circle_manager WHERE circleid IN(SELECT id FROM
        yw_circle WHERE category=#{categoryid,jdbcType=INTEGER}))
    </select>

    <select id="queryCircleMan" parameterType="java.lang.Integer" resultType="com.movision.mybatis.user.entity.User">
        SELECT * FROM yw_user u WHERE u.phone IN (
        SELECT c.phone FROM yw_circle c WHERE c.category =#{categoryid,jdbcType=INTEGER})
    </select>

    <select id="queryFollowAndNewNum" resultType="com.movision.mybatis.circle.entity.CircleFollowNum"
            parameterType="java.lang.Integer">
        SELECT COUNT(1) AS num,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE circleid IN
        (select circleid from yw_follow_circle where date(intime) = curdate())) AS newnum
        FROM yw_follow_circle WHERE circleid IN (SELECT id FROM yw_circle WHERE category=#{categoryid,jdbcType=INTEGER})
    </select>

    <select id="queryCircleSum" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.circle.entity.CircleVo">
        SELECT c.* ,
        ( SELECT COUNT(1) FROM yw_follow_circle WHERE circleid=#{circleid,jdbcType=INTEGER}) as follownum,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE circleid=#{circleid,jdbcType=INTEGER}) AS follownewnum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid=#{circleid,jdbcType=INTEGER} AND date(intime) = curdate()) AS
        postnewnum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid=#{circleid,jdbcType=INTEGER} AND isessence=1) AS isessencenum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid=#{circleid,jdbcType=INTEGER}) AS postnum
        FROM yw_circle c WHERE isdel=0 AND c.id=#{circleid,jdbcType=INTEGER}
    </select>

    <select id="queryCirclePostNum" resultType="com.movision.mybatis.circle.entity.CirclePostNum"
            parameterType="java.lang.Integer">
        SELECT COUNT(1) AS postnum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid IN(SELECT id FROM yw_circle WHERE
        category=#{categoryid,jdbcType=INTEGER}) AND date(intime) = curdate()) AS newpostnum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid IN(SELECT id FROM yw_circle WHERE category=#{categoryid,jdbcType=INTEGER}) AND isessence=1) AS isessencenum
         FROM yw_post p WHERE p.circleid IN (SELECT id FROM yw_circle WHERE category=#{categoryid,jdbcType=INTEGER})
    </select>

    <select id="queryCircleSupportnum" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.circle.entity.CircleVo">
        SELECT SUM(supportnum) AS supportnum,(SELECT intime from yw_circle_category WHERE id=0) AS intime FROM
        yw_circle
        WHERE category=#{categoryid,jdbcType=INTEGER}
    </select>

    <select id="queryFollowAndNum" resultType="com.movision.mybatis.circle.entity.CircleIndexList"
            parameterType="java.lang.Integer">
         SELECT c.categoryname ,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE circleid IN (SELECT id FROM yw_circle WHERE category=#{categoryid,jdbcType=INTEGER})) as follownum,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE circleid IN(select circleid from yw_follow_circle where
        date(intime) = curdate())) AS follownewnum ,
        (SELECT COUNT(1) FROM yw_post WHERE circleid IN(SELECT id FROM yw_circle WHERE category=#{categoryid,jdbcType=INTEGER}) AND date(intime) = curdate()) AS postnewnum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid IN(SELECT id FROM yw_circle WHERE category=#{categoryid,jdbcType=INTEGER}) AND isessence=1) AS isessencenum,
        (SELECT COUNT(1) FROM yw_post p WHERE p.circleid IN (SELECT id FROM yw_circle WHERE category=#{categoryid,jdbcType=INTEGER})) AS postnum,
        (SELECT intime from yw_circle_category WHERE id=#{categoryid,jdbcType=INTEGER}) AS intime,
		(SELECT SUM(supportnum) FROM yw_circle WHERE category=#{categoryid,jdbcType=INTEGER}) AS supportnum
        FROM yw_circle_category c WHERE c.id=#{categoryid,jdbcType=INTEGER}

    </select>

    <select id="queryDiscoverList" resultType="com.movision.mybatis.circle.entity.Circle">
        SELECT orderid FROM yw_circle WHERE status=1 AND isdel=0 GROUP BY orderid
    </select>

    <select id="queryCircleDiscover" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT isdiscover FROM yw_circle WHERE id=#{circleid,jdbcType=INTEGER} AND status=1 AND isdel=0
    </select>

    <update id="updateDiscover" parameterType="java.util.Map">
        UPDATE yw_circle SET orderid=#{orderid,jdbcType=INTEGER},isdiscover=1 WHERE id=#{circleid,jdbcType=INTEGER}
    </update>

    <update id="updateDiscoverDel" parameterType="java.lang.String">
        UPDATE yw_circle SET orderid=0,isdiscover=0 WHERE id=#{circleid,jdbcType=INTEGER}
    </update>

    <select id="queryCircleRecommendIndex" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT isrecommend FROM yw_circle WHERE id=#{circleid,jdbcType=INTEGER}
    </select>

    <update id="updateCircleIndex" parameterType="java.lang.Integer">
        UPDATE yw_circle SET isrecommend=1 WHERE id=#{circleid,jdbcType=INTEGER} AND isrecommend=0
    </update>

    <update id="updateCircleIndexDel" parameterType="java.lang.String">
        UPDATE yw_circle SET isrecommend=0 WHERE id=#{circleid,jdbcType=INTEGER} AND isrecommend=1
    </update>

    <select id="quryCircleDetails" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.circle.entity.CircleDetails">
        SELECT c.*,
        u.nickname,
        cat.categoryname
        FROM yw_circle as c
        LEFT JOIN yw_user as u ON c.phone=u.phone
        LEFT JOIN yw_circle_category as cat ON cat.id=c.category
        WHERE c.id=#{circleid.jdbcType=INTEGER} AND c.status=1 AND c.isdel=0
    </select>

    <update id="updateCircle" parameterType="com.movision.mybatis.circle.entity.CircleDetails">
        update yw_circle
        <set>
            <if test="phone!=null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="photo!=null">
                photo = #{photo,jdbcType=VARCHAR},
            </if>
            <if test="category!=null">
                category = #{category,jdbcType=INTEGER},
            </if>
            <if test="name!=null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="introduction!=null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="permission!=null">
                permission = #{permission,jdbcType=INTEGER},
            </if>
            <if test="createtime!=null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="status!=null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="isrecommend!=null">
                isrecommend = #{isrecommend,jdbcType=INTEGER},
            </if>
            <if test="orderid!=null">
                orderid = #{orderid,jdbcType=INTEGER},
            </if>
            <if test="maylikeimg!=null">
                maylikeimg=#{maylikeimg,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryCircleByShow" resultType="com.movision.mybatis.circle.entity.CircleDetails">
        SELECT c.*,
        (SELECT categoryname FROM yw_circle_category WHERE id=c.category) AS categoryname,
        u.id as circlemanid,u.nickname as nickname,ue.username as username
        FROM yw_circle AS c LEFT JOIN yw_user AS u ON u.phone=c.phone
        LEFT JOIN yw_admin_user ue ON c.userid=ue.id
        WHERE c.id=#{circleid,jdbcType=INTEGER}
    </select>

    <select id="queryCircleByOrderidList" resultType="java.lang.Integer">
        SELECT orderid FROM yw_circle WHERE orderid BETWEEN 1 AND 9 AND isdiscover=1 AND status=1 AND isdel=0 ORDER BY
        orderid DESC
    </select>

    <insert id="insertCircle" parameterType="com.movision.mybatis.circle.entity.CircleDetails">
        <selectKey keyProperty="id" order="AFTER" resultType="Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into yw_circle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="isofficial != null">
                isofficial,
            </if>
            <if test="scope != null">
                scope,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="photo != null">
                photo,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="notice != null">
                notice,
            </if>
            <if test="permission != null">
                permission,
            </if>
            <if test="isrecommend != null">
                isrecommend,
            </if>
            <if test="maylikeimg != null">
                maylikeimg,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="supportnum != null">
                supportnum,
            </if>
            <if test="isdiscover != null">
                isdiscover,
            </if>
            <if test="orderid != null">
                orderid,
            </if>
            <if test="userid != null">
                userid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="isofficial != null">
                #{isofficial,jdbcType=INTEGER},
            </if>
            <if test="scope != null">
                #{scope,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="photo != null">
                #{photo,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                #{category,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="notice != null">
                #{notice,jdbcType=VARCHAR},
            </if>
            <if test="permission != null">
                #{permission,jdbcType=INTEGER},
            </if>
            <if test="isrecommend != null">
                #{isrecommend,jdbcType=INTEGER},
            </if>
            <if test="maylikeimg != null">
                #{maylikeimg,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="supportnum != null">
                #{supportnum,jdbcType=INTEGER},
            </if>
            <if test="isdiscover != null">
                #{isdiscover,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="findAllMyFollowCircleList" resultType="com.movision.mybatis.circle.entity.Circle">
        SELECT c.*
        FROM yw_circle c
        LEFT JOIN yw_follow_circle f on c.id = f.circleid
        WHERE c.isdel = 0
        AND c.status = 1
        <if test="userid!=null and userid!=''">
            and f.userid = #{userid}
        </if>
    </select>

    <select id="queryCircleAwaitAudit" parameterType="java.util.Map"
            resultType="com.movision.mybatis.circle.entity.CircleVo">
        SELECT c.* ,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE circleid=c.id) as follownum,
        (SELECT COUNT(1) FROM yw_follow_circle WHERE circleid=c.id) AS follownewnum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid=c.id AND date(intime) = curdate() AND isdel=0 AND isactive=0) AS
        postnewnum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid=c.id AND isessence=1 AND isdel=0 AND isactive=0) AS isessencenum,
        (SELECT COUNT(1) FROM yw_post WHERE circleid=c.id AND isdel=0 AND isactive=0) AS postnum,
        (SELECT u.nickname FROM yw_user u WHERE id=c.userid) AS circlename,
        (SELECT u.level FROM yw_user u WHERE id=c.userid) AS categorylevel
        FROM yw_circle c WHERE c.isdel=0 AND c.status=0
        <if test="type!=null">
            AND category=#{type,jdbcType=INTEGER}
        </if>
        <if test="circleid!=null">
            AND c.id=#{circleid,jdbcType=INTEGER}
        </if>
        <if test="circleman != null">
            AND (SELECT u.nickname FROM yw_user u WHERE id=c.userid) LIKE concat('%',#{circleman,jdbcType=VARCHAR},'%')
        </if>
        <if test="begintime!=null and endtime!=null">
            AND createtime BETWEEN #{begintime,jdbcType=TIMESTAMP} AND #{endtime,jdbcType=TIMESTAMP}
        </if>
        ORDER BY category
        <if test="pai==null">
            ,c.createtime DESC
        </if>
        <if test="pai==1">
            ,follownum DESC
        </if>
    </select>

    <update id="updateAuditCircle" parameterType="java.util.Map">
        update yw_circle
        <set>
            <if test="status==1">
                status=#{status,jdbcType=INTEGER}
            </if>
            <if test="status==2">
                status=#{status,jdbcType=INTEGER}
            </if>
        </set>
        where id = #{circleid,jdbcType=INTEGER}
    </update>

    <!--
    <update id="updateCircleCategoryClassify" parameterType="java.util.Map">
        update yw_circle_category
        <set>
            <if test="categoryname!=null">
                categoryname = #{categoryname,jdbcType=VARCHAR},
            </if>
            <if test="discoverpageurl!=null">
                discoverpageurl = #{discoverpageurl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{categoryid,jdbcType=INTEGER}
    </update>
    -->

    <select id="queryCircleCategoryClassify" parameterType="java.lang.String"
            resultType="com.movision.mybatis.category.entity.Category">
        SELECT * FROM yw_circle_category WHERE id=#{categoryid,jdbcType=INTEGER}
    </select>

    <select id="queryCIrcleIdByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT id FROM yw_circle WHERE phone=(SELECT phone FROM yw_admin_user WHERE id=#{userid,jdbcType=INTEGER})
    </select>
</mapper>