<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhuibao.mybatis.oms.mapper.ComplainSuggestMapper">
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.oms.entity.ComplainSuggest">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="createId" jdbcType="BIGINT" property="createId" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="companyName" jdbcType="VARCHAR" property="companyName" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    
  </resultMap>
  <sql id="Base_Column_List">
    id, title, content, createId, date_format(time,'%Y-%m-%d %H:%i:%s') time, companyName, userName, telephone, email,status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    
    select  a.id, a.title, a.content, a.createId, date_format(a.time,'%Y-%m-%d %H:%i:%s') time, a.companyName, a.userName, a.telephone, a.email,a.status
   ,case when m.mobile != '' or m.mobile != null then m.mobile when m.email!= '' or m.email != null then m.email end as account
    from t_sys_complain_suggest a left JOIN t_m_member m  on a.createId=m.id
     
    where a.id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findAllComplaintSuggest" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_complain_suggest a
    
    <where>
      <if test="title != null">
        and a.title like CONCAT('%',#{title},'%')
      </if>
      <if test="status != null">
        and a.status = #{status}
      </if>
      <if test="userName != null">
        and a.username like CONCAT('%',#{userName},'%')
      </if>
    </where> 
	order by a.time desc 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_complain_suggest
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.oms.entity.ComplainSuggest">
    insert into t_sys_complain_suggest (title, content, 
      createId, time, companyName, 
      userName, telephone, email
      )
    values (#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{createId,jdbcType=BIGINT}, now(),#{companyName,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{telephone,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.oms.entity.ComplainSuggest">
    insert into t_sys_complain_suggest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createId != null">
        createId,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="companyName != null">
        companyName,
      </if>
      <if test="userName != null">
        userName,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.oms.entity.ComplainSuggest">
    update t_sys_complain_suggest
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        createId = #{createId,jdbcType=BIGINT},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="companyName != null">
        companyName = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>