<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhuibao.mybatis.oms.mapper.MemberSucCaseMapper">
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.oms.entity.MemberSucCase">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="createId" jdbcType="BIGINT" property="createId" /> 
    <result column="companyName" jdbcType="VARCHAR" property="companyName" /> 
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="publishTime" jdbcType="VARCHAR" property="publishTime" />
    <result column="updateTime" jdbcType="VARCHAR" property="updateTime" />
    <result column="views" jdbcType="VARCHAR" property="views" />
    <result column="imgUrl" jdbcType="VARCHAR" property="imgUrl" />
    <result column="is_deleted" jdbcType="VARCHAR" property="is_deleted" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    
  </resultMap>
  <sql id="Base_Column_List">
    id, title, content, createId, companyName, publishTime, updateTime, views,status,imgUrl,is_deleted,reason
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
   select 
       c.id,c.createid,c.title,c.imgUrl,c.content,date_format(c.publishTime,'%Y-%m-%d %H:%i:%s') publishTime,date_format(c.updateTime,'%Y-%m-%d %H:%i:%s') updateTime,c.views,c.status,c.is_deleted,m.enterpriseName companyName,c.reason ,(case when isnull(m.mobile) then m.email else m.mobile end) account
      from t_m_success_case c left join t_m_member m on c.createid=m.id
    where c.id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="findAllSucCaseList" resultMap="BaseResultMap" parameterType="java.util.Map" >
     select 
       c.id,c.createid,c.title,c.imgUrl,c.content,date_format(c.publishTime,'%Y-%m-%d %H:%i:%s') publishTime,date_format(c.updateTime,'%Y-%m-%d %H:%i:%s') updateTime,c.views,c.status,c.is_deleted,m.enterpriseName companyName,c.reason ,(case when isnull(m.mobile) then m.email else m.mobile end) account
      from t_m_success_case c left join t_m_member m on c.createid=m.id
    <where>
      <if test="title != null">
        and c.title like CONCAT('%',#{title},'%')
      </if>
      <if test="status != null">
        and c.status = #{status}
      </if>
     
    </where> 
	order by c.updateTime desc 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_m_success_case
    where id = #{id,jdbcType=BIGINT}
  </delete>
   
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.oms.entity.MemberSucCase">
    update t_m_success_case
    <set>
       
     
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if> 
      
       <if test="imgUrl != null">
        imgUrl = #{imgUrl,jdbcType=VARCHAR},
      </if> 
  
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      
       <if test="1 == 1">
        updateTime=now(),
      </if>
      
      
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>