<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.sitemail.mapper.MessageLogMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.sitemail.entity.MessageLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="recID" property="recID" jdbcType="BIGINT" />
    <result column="messageID" property="messageID" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, recID, messageID, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_messageLog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_sys_messageLog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.sitemail.entity.MessageLog" >
    insert into t_sys_messageLog (id, recID, messageID, 
      status)
    values (#{id,jdbcType=BIGINT}, #{recID,jdbcType=BIGINT}, #{messageID,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.sitemail.entity.MessageLog" >
    insert into t_sys_messageLog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recID != null" >
        recID,
      </if>
      <if test="messageID != null" >
        messageID,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="recID != null" >
        #{recID,jdbcType=BIGINT},
      </if>
      <if test="messageID != null" >
        #{messageID,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.sitemail.entity.MessageLog" >
    update t_sys_messageLog
    <set >
      <if test="recID != null" >
        recID = #{recID},
      </if>
      <if test="messageID != null" >
        messageID = #{messageID},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateNewsStatus" parameterType="com.zhuhuibao.mybatis.sitemail.entity.MessageLog" >
    update t_sys_messageLog
    <set >
      <if test="status != null" >
        status = #{status},
      </if>
    </set>
    where messageID = #{messageID} and recID = #{recID}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuhuibao.mybatis.sitemail.entity.MessageLog" >
    update t_sys_messageLog
    set recID = #{recID,jdbcType=BIGINT},
      messageID = #{messageID,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryUnreadMsgCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(mg.recID) msgCount
	 from t_sys_messageLog mg ,t_sys_messageText mt
	 where mt.id = mg.messageID
       <if test="recID != null">
         and mg.recID = #{recID}
       </if>
       <if test="type != null">
         and mt.type = #{type}
       </if>
       <if test="status != null">
         and mg.status = #{status}
       </if>
  </select>
  <insert id="addNewsToLog" parameterType="java.util.Map" >
    insert into t_sys_messageLog (recID,messageID,status)
    select #{recID},mt.id,'1' from t_sys_messageText mt where mt.sendID is null and mt.id not in (select ml.messageID from t_sys_messageLog ml where ml.recID = #{recID})
  </insert>
  <select id="selUnreadNewsCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select msgCount1+msgCount2 as count from
    (select count(mt.id)msgCount1 from t_sys_messageText mt where mt.sendID is null and mt.id not in (select ml.messageID from
    t_sys_messageLog ml where ml.recID = #{recID}))T1,
    (select count(mg.recID) msgCount2
    from t_sys_messageLog mg ,t_sys_messageText mt
    where mt.id = mg.messageID
    <if test="recID != null">
      and mg.recID = #{recID}
    </if>
    <if test="type != null">
      and mt.type = #{type}
    </if>
    <if test="status != null">
      and mg.status = #{status}
    </if>
    )T2
  </select>
  <select id="queryNewsById" parameterType="java.lang.String" resultType="java.util.Map">
    select mt.title,mt.messageText,date_format(mt.sendTime,'%Y-%m-%d %H:%i:%s') sendTime,
    mt.source, mt.type
    from t_sys_messageText mt
    where mt.id = #{id}
  </select>

  <select id="queryNewsList" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT mt.id,mt.title FROM t_sys_messageText mt
    LEFT JOIN t_sys_messageLog ml on mt.id = ml.messageID
    WHERE ml.recID = #{recID} and ml.status != 3 order by ml.status,mt.sendTime desc limit 0,#{count}
  </select>
</mapper>