<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.memCenter.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.memCenter.entity.Message" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="createid" property="createid" jdbcType="VARCHAR" />
    <result column="receiveid" property="receiveid" jdbcType="VARCHAR" />
    <result column="receiveName" property="receiveName" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="isShow" property="isShow" jdbcType="BIT" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="postDate" property="postDate" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, receiveid, receiveName, title, content, isShow, companyName, linkman, telephone, 
    mobile,createid,type
  </sql>
  <insert id="saveMessage" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Message" useGeneratedKeys="true" keyProperty="id">
    insert into t_sys_message (id, receiveid,createid, receiveName, title, content, isShow,
      companyName, linkman, telephone, mobile,postDate,type)
    values (#{id}, #{receiveid},#{createid} ,#{receiveName}, #{title}, #{content}, #{isShow},
      #{companyName}, #{linkman}, #{telephone}, #{mobile},now(),#{type})
  </insert>

  <select id="findAllMySendMsgList" parameterType="java.util.Map" resultType="java.util.Map">
    select msg.id,msg.title,
    case when m.identify = 2 then m.personRealName when m.identify!=2 then m.enterpriseName end as name,
    date_format(msg.postDate,'%Y-%m-%d %H:%i:%s')postDate
    from t_sys_message msg
    left join t_m_member m on m.id = msg.receiveid
    where msg.createid = #{id} and msg.sendDelete = 0
  </select>

  <select id="findAllMyReceiveMsgList" parameterType="java.util.Map" resultType="java.util.Map">
    select msg.id,msg.title,  msg.status,
    CASE WHEN m.mobile IS NOT NULL and m.mobile != '' THEN m.mobile WHEN m.email IS NOT NULL and m.email != '' THEN m.email END AS account,
    date_format(msg.postDate,'%Y-%m-%d %H:%i:%s')postDate
    from t_sys_message msg
    left join t_m_member m on m.id = msg.createid
    where msg.receiveid = #{id} and msg.ReceiveDelete = 0
  </select>

  <update id="updateMessage" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Message" >
    update t_sys_message
    <set >
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="sendDelete != null" >
        sendDelete = #{sendDelete},
      </if>
      <if test="ReceiveDelete != null" >
        ReceiveDelete = #{ReceiveDelete},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="queryMySendMsgById" parameterType="java.lang.String" resultType="java.util.Map">
    select msg.id,msg.title,msg.content,msg.isShow,
    case when msg.isShow = 1 THEN msg.companyName ELSE '' end as companyName,
    case when msg.isShow = 1 THEN msg.linkman ELSE '' end as linkman,
    case when msg.isShow = 1 THEN msg.telephone ELSE '' end as telephone,
    case when msg.isShow = 1 THEN msg.mobile ELSE '' end as mobile,
    case when m.identify = 2 then m.personRealName when m.identify!=2 then m.enterpriseName end as recevieName,
    date_format(msg.postDate,'%Y-%m-%d %H:%i:%s')postDate
    from t_sys_message msg
    left join t_m_member m on m.id = msg.receiveid
	where msg.id = #{id}
  </select>

  <select id="queryMyReceiveMsgById" parameterType="java.lang.String" resultType="java.util.Map">
    select msg.id,msg.title,msg.content,msg.isShow,
    case when msg.isShow = 1 THEN msg.companyName ELSE '' end as companyName,
    case when msg.isShow = 1 THEN msg.linkman ELSE '' end as linkman,
    case when msg.isShow = 1 THEN msg.telephone ELSE '' end as telephone,
    case when msg.isShow = 1 THEN msg.mobile ELSE '' end as mobile,
    CASE WHEN m.mobile IS NOT NULL and m.mobile != '' THEN m.mobile WHEN m.email IS NOT NULL and m.email != '' THEN m.email END AS account,
    date_format(msg.postDate,'%Y-%m-%d %H:%i:%s')postDate
    from t_sys_message msg
    left join t_m_member m on m.id = msg.createid
	where msg.id = #{id}
  </select>
</mapper>