<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.common.mapper.SysResearchMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.common.entity.SysResearch" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="webTradeExp" property="webTradeExp" jdbcType="VARCHAR" />
    <result column="webTradeYear" property="webTradeYear" jdbcType="VARCHAR" />
    <result column="tradeCount" property="tradeCount" jdbcType="VARCHAR" />
    <result column="tradeMoney" property="tradeMoney" jdbcType="VARCHAR" />
    <result column="webDevices" property="webDevices" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="income" property="income" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="qqNum" property="qqNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, webTradeExp, webTradeYear, tradeCount, tradeMoney, webDevices, sex, age, education, 
    income, city, mobile, qqNum
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_research
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sys_research
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.common.entity.SysResearch" >
    insert into t_sys_research (id, webTradeExp, webTradeYear, 
      tradeCount, tradeMoney, webDevices, 
      sex, age, education, 
      income, city, mobile, 
      qqNum)
    values (#{id,jdbcType=INTEGER}, #{webTradeExp,jdbcType=VARCHAR}, #{webTradeYear,jdbcType=VARCHAR}, 
      #{tradeCount,jdbcType=VARCHAR}, #{tradeMoney,jdbcType=VARCHAR}, #{webDevices,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{income,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{qqNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.common.entity.SysResearch" >
    insert into t_sys_research
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="webTradeExp != null" >
        webTradeExp,
      </if>
      <if test="webTradeYear != null" >
        webTradeYear,
      </if>
      <if test="tradeCount != null" >
        tradeCount,
      </if>
      <if test="tradeMoney != null" >
        tradeMoney,
      </if>
      <if test="webDevices != null" >
        webDevices,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="income != null" >
        income,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="qqNum != null" >
        qqNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="webTradeExp != null" >
        #{webTradeExp,jdbcType=VARCHAR},
      </if>
      <if test="webTradeYear != null" >
        #{webTradeYear,jdbcType=VARCHAR},
      </if>
      <if test="tradeCount != null" >
        #{tradeCount,jdbcType=VARCHAR},
      </if>
      <if test="tradeMoney != null" >
        #{tradeMoney,jdbcType=VARCHAR},
      </if>
      <if test="webDevices != null" >
        #{webDevices,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="income != null" >
        #{income,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="qqNum != null" >
        #{qqNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.common.entity.SysResearch" >
    update t_sys_research
    <set >
      <if test="webTradeExp != null" >
        webTradeExp = #{webTradeExp,jdbcType=VARCHAR},
      </if>
      <if test="webTradeYear != null" >
        webTradeYear = #{webTradeYear,jdbcType=VARCHAR},
      </if>
      <if test="tradeCount != null" >
        tradeCount = #{tradeCount,jdbcType=VARCHAR},
      </if>
      <if test="tradeMoney != null" >
        tradeMoney = #{tradeMoney,jdbcType=VARCHAR},
      </if>
      <if test="webDevices != null" >
        webDevices = #{webDevices,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="income != null" >
        income = #{income,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="qqNum != null" >
        qqNum = #{qqNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuhuibao.mybatis.common.entity.SysResearch" >
    update t_sys_research
    set webTradeExp = #{webTradeExp,jdbcType=VARCHAR},
      webTradeYear = #{webTradeYear,jdbcType=VARCHAR},
      tradeCount = #{tradeCount,jdbcType=VARCHAR},
      tradeMoney = #{tradeMoney,jdbcType=VARCHAR},
      webDevices = #{webDevices,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      income = #{income,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      qqNum = #{qqNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>