<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.fuwuhao.mapper.FuwuhaoMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.fuwuhao.entity.Fuwuhao">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="OPENID" property="openid" jdbcType="VARCHAR"/>
        <result column="unionid" property="unionid" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, OPENID, unionid,code,count
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tp_fuwuhao
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tp_fuwuhao
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.movision.mybatis.fuwuhao.entity.Fuwuhao">
    insert into tp_fuwuhao (id, OPENID, unionid
      )
        values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.fuwuhao.entity.Fuwuhao">
        insert into tp_fuwuhao
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="openid != null">
                OPENID,
            </if>
            <if test="unionid != null">
                unionid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="openid != null">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="unionid != null">
                #{unionid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.fuwuhao.entity.Fuwuhao">
        update tp_fuwuhao
        <set>
            <if test="openid != null">
                OPENID = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="unionid != null">
                unionid = #{unionid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.fuwuhao.entity.Fuwuhao">
    update tp_fuwuhao
        set OPENID = #{openid,jdbcType=VARCHAR},
        unionid = #{unionid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="openidByUnionid" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT unionid FROM tp_fuwuhao WHERE openid=#{openid,jdbcType=VARCHAR}
  </select>
    <select id="haveFuwu" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT  COUNT(1) FROM  tp_fuwuhao WHERE openid=#{openid,jdbcType=VARCHAR}
    </select>
    <update id="updateFU" parameterType="java.lang.String">
        UPDATE  tp_fuwuhao SET code=#{code,jdbcType=VARCHAR},count=#{count,jdbcType=INTEGER} WHERE  openid=#{openid,jdbcType=VARCHAR}
    </update>
</mapper>