<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.activity.mapper.ActivityApplyMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.activity.entity.ActivityApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apply_name" property="applyName" jdbcType="VARCHAR" />
    <result column="apply_mobile" property="applyMobile" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="activity_id" property="activityId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, apply_name, apply_mobile, apply_time, activity_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_activity_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sys_activity_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.activity.entity.ActivityApply" >
    insert into t_sys_activity_apply (id, apply_name, apply_mobile, 
      apply_time, activity_id)
    values (#{id,jdbcType=INTEGER}, #{applyName,jdbcType=VARCHAR}, #{applyMobile,jdbcType=VARCHAR}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{activityId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.activity.entity.ActivityApply" >
    insert into t_sys_activity_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applyName != null" >
        apply_name,
      </if>
      <if test="applyMobile != null" >
        apply_mobile,
      </if>
        apply_time,
      <if test="activityId != null" >
        activity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applyName != null" >
        #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="applyMobile != null" >
        #{applyMobile,jdbcType=VARCHAR},
      </if>
        now(),
      <if test="activityId != null" >
        #{activityId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.activity.entity.ActivityApply" >
    update t_sys_activity_apply
    <set >
      <if test="applyName != null" >
        apply_name = #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="applyMobile != null" >
        apply_mobile = #{applyMobile,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuhuibao.mybatis.activity.entity.ActivityApply" >
    update t_sys_activity_apply
    set apply_name = #{applyName,jdbcType=VARCHAR},
      apply_mobile = #{applyMobile,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      activity_id = #{activityId,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>