<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.expo.mapper.ExhibitionMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.expo.entity.Exhibition" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="createid" property="createid" jdbcType="VARCHAR" />
    <result column="createName" property="createName" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="publishTime" property="publishTime" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="VARCHAR" />
    <result column="startDate" property="startDate" jdbcType="VARCHAR" />
    <result column="endDate" property="endDate" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="provinceName" property="provinceName" jdbcType="VARCHAR" />
    <result column="cityName" property="cityName" jdbcType="VARCHAR" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="subType" property="subType" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="imgUrl" property="imgUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="views" property="views" jdbcType="VARCHAR" />
    <result column="createrType" property="createrType" jdbcType="VARCHAR" />
    <result column="is_deleted" property="is_deleted" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    
    
  </resultMap>
  <select id="queryExhibitionInfoById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    e.id,e.createid,e.title,e.startDate,endDate,e.province,e.city,e.area,e.type,e.subType,e.company,
    e.address,e.imgUrl,e.status,e.introduce,e.views,e.createrType,e.is_deleted,
    date_format(e.updateTime,'%Y-%m-%d') updateTime,date_format(e.publishTime,'%Y-%m-%d') publishTime,
    ci.name as cityName,p.name as provinceName,a.name as areaName, e.reason
    from t_c_exhibition e
    left join t_dictionary_city ci on ci.code = e.city
    left join t_dictionary_province p on p.code = e.province
    left join t_dictionary_area a on a.code = e.area
    where e.id = #{id}
  </select>
  <insert id="publishExhibition" parameterType="com.zhuhuibao.mybatis.expo.entity.Exhibition" >
    insert into t_c_exhibition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createid != null" >
        createid,
      </if>
      <if test="title != null" >
        title,
      </if>
        publishTime,
        updateTime,
      <if test="startDate != null" >
        startDate,
      </if>
      <if test="endDate != null" >
        endDate,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="subType != null and subType !='' " >
        subType,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="imgUrl != null" >
        imgUrl,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="views != null" >
        views,
      </if>
      <if test="createrType != null" >
        createrType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="createid != null" >
        #{createid},
      </if>
      <if test="title != null" >
        #{title},
      </if>
        now(),
        now(),
      <if test="startDate != null" >
        #{startDate},
      </if>
      <if test="endDate != null" >
        #{endDate},
      </if>
      <if test="province != null" >
        #{province},
      </if>
      <if test="city != null" >
        #{city},
      </if>
      <if test="area != null" >
        #{area},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="subType != null and subType !='' " >
        #{subType},
      </if>
      <if test="company != null" >
        #{company},
      </if>
      <if test="address != null" >
        #{address},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="introduce != null" >
        #{introduce},
      </if>
      <if test="views != null" >
        #{views},
      </if>
      <if test="createrType != null" >
        #{createrType},
      </if>
    </trim>
  </insert>
  <update id="updateExhibitionInfoById" parameterType="com.zhuhuibao.mybatis.expo.entity.Exhibition" >
    update t_c_exhibition
    <set >
      <if test="title != null" >
        title = #{title},
      </if>
      <if test="startDate != null" >
        startDate = #{startDate},
      </if>
      <if test="endDate != null" >
        endDate = #{endDate},
      </if>
        updateTime = now(),
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="area != null" >
        area = #{area},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="subType != null and subType!='' " >
        subType = #{subType},
      </if>
      <if test="company != null" >
        company = #{company},
      </if>
      <if test="address != null" >
        address = #{address},
      </if>
      <if test="imgUrl != null" >
        imgUrl = #{imgUrl},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce},
      </if>
      <if test="views != null" >
        views = #{views},
      </if>
      <if test="createrType != null" >
        createrType = #{createrType},
      </if>
      <if test="is_deleted != null" >
        is_deleted = #{is_deleted},
      </if>
      <if test="reason != null">
        reason = #{reason},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateExhibitionViews" parameterType="com.zhuhuibao.mybatis.expo.entity.Exhibition" >
    update t_c_exhibition
    <set >
      <if test="views != null" >
        views = #{views},
      </if>
    </set>
    where id = #{id}
  </update>
  <select id="findAllExhibition" resultType="java.util.Map" parameterType="java.util.Map" >
    select e.id,e.createid,e.title,c.name as type,e.subType,e.views,date_format(e.updateTime,'%Y-%m-%d') updateTime,
    e.status,date_format(e.publishTime,'%Y-%m-%d') publishTime,e.startDate,e.endDate,e.imgUrl,e.address,e.introduce,e.company,
    case when e.createrType = 1 then (select u.username from t_oms_user u where u.id = e.createid)
    when e.createrType = 2 then (select m.enterpriseName from t_m_member m where m.id = e.createid) end as createName,
    ci.name as cityName,p.name as provinceName,a.name as areaName
    from t_c_exhibition e
    left join t_dictionary_constant c on e.`type` = c.code and c.`type` = 17
    left join t_dictionary_city ci on ci.code = e.city
    left join t_dictionary_province p on p.code = e.province
    left join t_dictionary_area a on a.code = e.area
    where e.is_deleted = 0
    <if test="title != null and title != ''">
      and e.title like CONCAT('%',#{title},'%')
    </if>
    <if test="createId != null and createId != ''">
      and e.createid = #{createId}
    </if>
    <if test="status != null and status != ''">
      and e.status = #{status}
    </if>
    <if test="type != null and type != ''">
      and e.type = #{type}
    </if>
    <if test="subType != null and subType != ''">
      and e.subType = #{subType}
    </if>
    <if test="province != null and province != ''">
      and e.province = #{province}
    </if>
    <if test="type1 != null and type1 != ''">
      and e.status = 1
    </if>
    <if test="type2 != null and type2 != ''">
      and e.type in (1,2,3)
    </if>
    order by e.updateTime desc
  </select>
  <select id="findNewExhibition" resultType="java.util.Map" parameterType="java.util.Map" >
    select e.id,e.createid,e.title,c.name as type,e.views,date_format(e.updateTime,'%Y-%m-%d') updateTime,
    e.status,date_format(e.publishTime,'%Y-%m-%d') publishTime,e.startDate,e.endDate,e.imgUrl,e.address,e.introduce,
    case when e.createrType = 1 then (select u.username from t_oms_user u where u.id = e.createid)
    when e.createrType = 2 then (select m.enterpriseName from t_m_member m where m.id = e.createid) end as createName,
    ci.name as cityName,p.name as provinceName,a.name as areaName
    from t_c_exhibition e
    left join t_dictionary_constant c on e.`type` = c.code and c.`type` = 17
    left join t_dictionary_city ci on ci.code = e.city
    left join t_dictionary_province p on p.code = e.province
    left join t_dictionary_area a on a.code = e.area
    where e.is_deleted = 0 and e.type = #{type} and e.status = 1
    order by e.updateTime desc limit 0,#{count}
  </select>

  <select id="queryHomepageExhibitionList" resultType="java.util.Map" parameterType="java.util.Map" >
    select a.connectedId as id,a.imgUrl,a.title
    from t_sys_advertising a
    left join t_sys_adv_attr at on at.id = a.advAttrId
    where at.chanType = #{chanType}
    and at.page = #{page}
    and at.advArea = #{advArea}
    and at.advType = #{advType}
  </select>

  <select id="queryMyExhibitionListSize" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(*) FROM t_c_exhibition
    where createid = #{createId} and type = #{type}
  </select>

  <select id="findAllExpoListByCompanyId" resultType="java.util.Map" parameterType="java.util.Map" >
    select e.id,e.title,e.imgUrl,date_format(e.updateTime,'%Y-%m-%d') updateTime,e.views,e.endDate
    from t_c_exhibition e
    where e.createid = #{createid} and e.is_deleted = 0 and e.status = 1
    order by e.updateTime desc
  </select>
</mapper>