<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.imSystemInform.mapper.ImSystemInformMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.imSystemInform.entity.ImSystemInform">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="from_accid" property="fromAccid" jdbcType="VARCHAR"/>
        <result column="to_accids" property="toAccids" jdbcType="VARCHAR"/>
        <result column="body" property="body" jdbcType="VARCHAR"/>
        <result column="inform_time" property="informTime" jdbcType="TIMESTAMP"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="pushcontent" property="pushcontent" jdbcType="VARCHAR"/>
        <result column="isread" property="isread" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, userid, from_accid, to_accids, body, inform_time, title,pushcontent,isread
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_im_system_informs
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_im_system_informs
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.imSystemInform.entity.ImSystemInform">
        insert into yw_im_system_informs (id, userid, from_accid,
        to_accids, body, inform_time, title,pushcontent,isread
        )
        values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{fromAccid,jdbcType=VARCHAR},
        #{toAccids,jdbcType=VARCHAR}, #{body,jdbcType=VARCHAR}, #{informTime,jdbcType=TIMESTAMP},
        #{title}, #{pushcontent,jdbcType=VARCHAR},#{isread,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.imSystemInform.entity.ImSystemInform">
        insert into yw_im_system_informs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="fromAccid != null">
                from_accid,
            </if>
            <if test="toAccids != null">
                to_accids,
            </if>
            <if test="body != null">
                body,
            </if>
                inform_time,
            <if test="title!=null">
                title,
            </if>
            <if test="pushcontent!=null">
                pushcontent,
            </if>
            <if test="isread!=null">
                isread,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="fromAccid != null">
                #{fromAccid,jdbcType=VARCHAR},
            </if>
            <if test="toAccids != null">
                #{toAccids,jdbcType=VARCHAR},
            </if>
            <if test="body != null">
                #{body,jdbcType=VARCHAR},
            </if>
            now(),
            <if test="title != null">
                #{title},
            </if>
            <if test="pushcontent != null">
                #{pushcontent,jdbcType=VARCHAR},
            </if>
            <if test="isread != null">
                #{isread,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.imSystemInform.entity.ImSystemInform">
        update yw_im_system_informs
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="fromAccid != null">
                from_accid = #{fromAccid,jdbcType=VARCHAR},
            </if>
            <if test="toAccids != null">
                to_accids = #{toAccids,jdbcType=VARCHAR},
            </if>
            <if test="body != null">
                body = #{body,jdbcType=VARCHAR},
            </if>
            <if test="informTime != null">
                inform_time = #{informTime,jdbcType=TIMESTAMP},
            </if>
            <if test="title !=null">
                title = #{title},
            </if>
            <if test="pushcontent !=null">
                pushcontent = #{pushcontent,jdbcType=VARCHAR}
            </if>
            <if test="isread !=null">
                isread = #{isread,jdbcType=INTEGER}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.imSystemInform.entity.ImSystemInform">
        update yw_im_system_informs
        set userid = #{userid,jdbcType=INTEGER},
        from_accid = #{fromAccid,jdbcType=VARCHAR},
        to_accids = #{toAccids,jdbcType=VARCHAR},
        body = #{body,jdbcType=VARCHAR},
        inform_time = #{informTime,jdbcType=TIMESTAMP},
        title = #{title},pushcontent = #{pushcontent,jdbcType=VARCHAR},isread=#{isread,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectAll" resultType="com.movision.mybatis.imSystemInform.entity.ImSystemInform">
        SELECT id,userid,from_accid,body,infrom_time,title,pushcontent,isread
        FROM yw_im_system_informs
        ORDER BY inform_time DESC
    </select>
    <select id="findAllSystemInform" resultType="com.movision.mybatis.imSystemInform.entity.ImSystemInform"
            parameterType="java.util.Map">
        SELECT *
        FROM yw_im_system_informs WHERE 1
        <if test="body!=null">
            AND body LIKE concat('%',#{body,jdbcType=VARCHAR},'%')
        </if>
        <if test="pai==0">
            ORDER BY inform_time DESC
        </if>
    </select>
    <select id="queryByUserid" resultType="com.movision.mybatis.imSystemInform.entity.ImSystemInform">
        SELECT body,inform_time FROM yw_im_system_informs ORDER BY inform_time DESC LIMIT 0,1
    </select>
</mapper>