<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.logisticsfeeCalculateRule.mapper.LogisticsfeeCalculateRuleMapper">
    <resultMap id="BaseResultMap"
               type="com.movision.mybatis.logisticsfeeCalculateRule.entity.LogisticsfeeCalculateRule">
        <result column="shopid" property="shopid" jdbcType="INTEGER"/>
        <result column="startprice" property="startprice" jdbcType="DOUBLE"/>
        <result column="startdistance" property="startdistance" jdbcType="DOUBLE"/>
        <result column="beyondbilling" property="beyondbilling" jdbcType="DOUBLE"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
        <result column="capping" property="capping" jdbcType="DOUBLE"/>
    </resultMap>

    <!--根据店铺id查询运费计费规则-->
    <select id="queryLogisticsfeeCalculateRule" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.logisticsfeeCalculateRule.entity.LogisticsfeeCalculateRule">
    SELECT * FROM yw_logisticsfee_calculate_rule WHERE shopid = #{shopid,jdbcType=INTEGER}
  </select>

    <insert id="insert" parameterType="com.movision.mybatis.logisticsfeeCalculateRule.entity.LogisticsfeeCalculateRule">
    insert into yw_logisticsfee_calculate_rule (shopid, startprice, startdistance,
        beyondbilling, intime, capping)
    values (#{shopid,jdbcType=INTEGER}, #{startprice,jdbcType=DOUBLE}, #{startdistance,jdbcType=DOUBLE},
        #{beyondbilling,jdbcType=DOUBLE}, #{intime,jdbcType=TIMESTAMP}, #{capping,jdbcType=DOUBLE})
  </insert>
    <insert id="insertSelective"
            parameterType="com.movision.mybatis.logisticsfeeCalculateRule.entity.LogisticsfeeCalculateRule">
        insert into yw_logisticsfee_calculate_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopid != null">
                shopid,
            </if>
            <if test="startprice != null">
                startprice,
            </if>
            <if test="startdistance != null">
                startdistance,
            </if>
            <if test="beyondbilling != null">
                beyondbilling,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="capping != null">
                capping,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopid != null">
                #{shopid,jdbcType=INTEGER},
            </if>
            <if test="startprice != null">
                #{startprice,jdbcType=DOUBLE},
            </if>
            <if test="startdistance != null">
                #{startdistance,jdbcType=DOUBLE},
            </if>
            <if test="beyondbilling != null">
                #{beyondbilling,jdbcType=DOUBLE},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="capping != null">
                #{capping,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <!--shopid,startprice,startdistance,beyondbilling -->
    <update id="updateCarriageCalculate" parameterType="java.util.Map">
        UPDATE yw_logisticsfee_calculate_rule
        SET
        <if test="startprice!=null">
            startprice=#{startprice,jdbcType=DOUBLE},
        </if>
        <if test="startdistance!=null">
            startdistance=#{startdistance,jdbcType=DOUBLE},
        </if>
        <if test="beyondbilling!=null">
            beyondbilling=#{beyondbilling,jdbcType=DOUBLE},
        </if>
        <if test="intime!=null">
            intime=#{intime,jdbcType=TIMESTAMP},
        </if>
        <if test="capping != null">
            capping=#{capping,jdbcType=DOUBLE}
        </if>
        WHERE shopid=#{shopid,jdbcType=INTEGER}
    </update>

    <select id="queryCarriageCalculate" parameterType="java.lang.String"
            resultType="com.movision.mybatis.logisticsfeeCalculateRule.entity.LogisticsfeeCalculateRule">
        SELECT * FROM  yw_logisticsfee_calculate_rule WHERE shopid=#{shopid,jdbcType=INTEGER}
    </select>
</mapper>