<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.invoice.mapper.InvoiceMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.invoice.entity.Invoice">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="orderid" property="orderid" jdbcType="INTEGER"/>
        <result column="head" property="head" jdbcType="VARCHAR"/>
        <result column="addressid" property="addressid" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="INTEGER"/>
        <result column="money" property="money" jdbcType="DOUBLE"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="kind" property="kind" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="companyname" property="companyname" jdbcType="VARCHAR"/>
        <result column="rigaddress" property="rigaddress" jdbcType="VARCHAR"/>
        <result column="rigphone" property="rigphone" jdbcType="VARCHAR"/>
        <result column="bank" property="bank" jdbcType="VARCHAR"/>
        <result column="banknum" property="banknum" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="onlystatue" property="onlystatue" jdbcType="INTEGER"/>
        <result column="logisticsnumber" property="logisticsnumber" jdbcType="VARCHAR"/>
        <result column="logisticsway" property="logisticsway" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, orderid, head, addressid, phone, money, name,
        kind,content,companyname,rigaddress,rigphone,bank,banknum,code,onlystatue,logisticsnumber,logisticsway
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_invoice
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--根据订单id查询发票信息-->
    <select id="queryInvoiceInfo" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.invoice.entity.Invoice">
        SELECT * FROM yw_invoice WHERE orderid = #{orderid,jdbcType=INTEGER}
    </select>

    <!--根据订单编号查询发票相关信息-->
    <select id="queryInvoice" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.invoice.entity.InvoiceVo">
        SELECT t.* FROM (
            SELECT t1.orderid, t1.kind, t1.head, t1.content, t2.name, t2.phone,
            (SELECT name FROM yw_province WHERE code = t2.province) AS province,
            (SELECT name FROM yw_city WHERE code = t2.city) AS city,
            (SELECT name FROM yw_area WHERE code = t2.district) AS district,
            t2.street
            FROM yw_invoice t1
            LEFT JOIN yw_address t2
              ON t1.addressid = t2.id
          ) t
        WHERE t.orderid = (
            SELECT id FROM yw_orders WHERE ordernumber = #{ordernumber,jdbcType=INTEGER}
        )
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_invoice
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.invoice.entity.Invoice">
        insert into yw_invoice (id, orderid, head,
        addressid, phone, money,
        name, kind,content,companyname,rigaddress,rigphone,bank,banknum,code,onlystatue,logisticsnumber,logisticsway)
        values (#{id,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}, #{head,jdbcType=VARCHAR},
        #{addressid,jdbcType=INTEGER}, #{phone,jdbcType=INTEGER}, #{money,jdbcType=DOUBLE},
        #{name,jdbcType=VARCHAR},
        #{kind,jdbcType=INTEGER},#{content,jdbcType=VARCHAR},#{companyname,jdbcType=VARCHAR},#{rigaddress,jdbcType=VARCHAR},#{rigphone,jdbcType=VARCHAR},
        #{bank,jdbcType=VARCHAR},#{banknum,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{onlystatue,jdbcType=INTEGER},#{logisticsnumber,jdbcType=VARCHAR},#{logisticsway,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.invoice.entity.Invoice">
        insert into yw_invoice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderid != null">
                orderid,
            </if>
            <if test="head != null">
                head,
            </if>
            <if test="addressid != null">
                addressid,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="kind != null">
                kind,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="companyname != null">
                companyname,
            </if>
            <if test="rigaddress != null">
                rigaddress,
            </if>
            <if test="rigphone != null">
                rigphone,
            </if>
            <if test="bank != null">
                bank,
            </if>
            <if test="banknum != null">
                banknum,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="onlystatue != null">
                onlystatue,
            </if>
            <if test="logisticsnumber != null">
                logisticsnumber,
            </if>
            <if test="logisticsway != null">
                logisticsway,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="head != null">
                #{head,jdbcType=VARCHAR},
            </if>
            <if test="addressid != null">
                #{addressid,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                #{money,jdbcType=DOUBLE},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="kind != null">
                #{kind,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="companyname != null">
                #{companyname,jdbcType=VARCHAR},
            </if>
            <if test="rigaddress != null">
                #{rigaddress,jdbcType=VARCHAR},
            </if>
            <if test="rigphone != null">
                #{rigphone,jdbcType=VARCHAR},
            </if>
            <if test="bank != null">
                #{bank,jdbcType=VARCHAR},
            </if>
            <if test="banknum != null">
                #{banknum,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="onlystatue != null">
                #{onlystatue,jdbcType=INTEGER},
            </if>
            <if test="logisticsnumber != null">
                #{logisticsnumber,jdbcType=VARCHAR},
            </if>
            <if test="logisticsway != null">
                #{logisticsway,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.invoice.entity.Invoice">
        update yw_invoice
        <set>
            <if test="orderid != null">
                orderid = #{orderid,jdbcType=INTEGER},
            </if>
            <if test="head != null">
                head = #{head,jdbcType=VARCHAR},
            </if>
            <if test="addressid != null">
                addressid = #{addressid,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DOUBLE},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="kind != null">
                kind = #{kind,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="companyname != null">
                companyname = #{companyname,jdbcType=VARCHAR},
            </if>
            <if test="rigaddress != null">
                rigaddress = #{rigaddress,jdbcType=VARCHAR},
            </if>
            <if test="rigphone != null">
                rigphone = #{rigphone,jdbcType=VARCHAR},
            </if>
            <if test="bank != null">
                bank = #{bank,jdbcType=VARCHAR},
            </if>
            <if test="banknum != null">
                banknum = #{banknum,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="onlystatue != null">
                onlystatue = #{onlystatue,jdbcType=INTEGER},
            </if>
            <if test="logisticsnumber != null">
                logisticsnumber = #{logisticsnumber,jdbcType=VARCHAR},
            </if>
            <if test="logisticsway != null">
                logisticsway = #{logisticsway,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.invoice.entity.Invoice">
        update yw_invoice
        set orderid = #{orderid,jdbcType=INTEGER},
        head = #{head,jdbcType=VARCHAR},
        addressid = #{addressid,jdbcType=INTEGER},
        phone = #{phone,jdbcType=INTEGER},
        money = #{money,jdbcType=DOUBLE},
        name = #{name,jdbcType=VARCHAR},
        kind = #{kind,jdbcType=INTEGER},
        content = #{content,jdbcType=VARCHAR},
        companyname = #{companyname,jdbcType=VARCHAR},
        rigaddress = #{rigaddress,jdbcType=VARCHAR},
        rigphone = #{rigphone,jdbcType=VARCHAR},
        bank = #{bank,jdbcType=VARCHAR},
        banknum = #{banknum,jdbcType=VARCHAR},
        code = #{code,jdbcType=VARCHAR},
        onlystatue = #{onlystatue,jdbcType=INTEGER},
        logisticsnumber = #{logisticsnumber,jdbcType=VARCHAR},
        logisticsway = #{logisticsway,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>