<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.goodscombo.mapper.GoodsComboMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.goodscombo.entity.GoodsCombo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="comboid" property="comboid" jdbcType="INTEGER"/>
        <result column="goodsid" property="goodsid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, comboid, goodsid
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        fromid yw_goods_combo
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete fromid yw_goods_combo
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.goodscombo.entity.GoodsCombo">
        insert into yw_goods_combo (id, comboid, goodsid
        )
        values (#{id,jdbcType=INTEGER}, #{comboid,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.goodscombo.entity.GoodsCombo">
        insert into yw_goods_combo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="comboid != null">
                comboid,
            </if>
            <if test="goodsid != null">
                goodsid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="comboid != null">
                #{comboid,jdbcType=INTEGER},
            </if>
            <if test="goodsid != null">
                #{goodsid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.goodscombo.entity.GoodsCombo">
        update yw_goods_combo
        <set>
            <if test="comboid != null">
                comboid = #{comboid,jdbcType=INTEGER},
            </if>
            <if test="goodsid != null">
                goodsid = #{goodsid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.goodscombo.entity.GoodsCombo">
        update yw_goods_combo
        set comboid = #{comboid,jdbcType=INTEGER},
        goodsid = #{goodsid,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>