<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.imLoginRecord.mapper.ImLoginRecordMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.imLoginRecord.entity.ImLoginRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="eventType" property="eventtype" jdbcType="VARCHAR"/>
        <result column="accid" property="accid" jdbcType="VARCHAR"/>
        <result column="clientIp" property="clientip" jdbcType="VARCHAR"/>
        <result column="clientType" property="clienttype" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="sdkVersion" property="sdkversion" jdbcType="VARCHAR"/>
        <result column="timestamp" property="timestamp" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, eventType, accid, clientIp, clientType, code, sdkVersion, timestamp
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_im_login
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_im_login
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.imLoginRecord.entity.ImLoginRecord">
        insert into yw_im_login (id, eventType, accid,
        clientIp, clientType, code,
        sdkVersion, timestamp)
        values (#{id,jdbcType=INTEGER}, #{eventtype,jdbcType=VARCHAR}, #{accid,jdbcType=VARCHAR},
        #{clientip,jdbcType=VARCHAR}, #{clienttype,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
        #{sdkversion,jdbcType=VARCHAR}, #{timestamp,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.imLoginRecord.entity.ImLoginRecord">
        insert into yw_im_login
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="eventtype != null">
                eventType,
            </if>
            <if test="accid != null">
                accid,
            </if>
            <if test="clientip != null">
                clientIp,
            </if>
            <if test="clienttype != null">
                clientType,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="sdkversion != null">
                sdkVersion,
            </if>
            <if test="timestamp != null">
                timestamp,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="eventtype != null">
                #{eventtype,jdbcType=VARCHAR},
            </if>
            <if test="accid != null">
                #{accid,jdbcType=VARCHAR},
            </if>
            <if test="clientip != null">
                #{clientip,jdbcType=VARCHAR},
            </if>
            <if test="clienttype != null">
                #{clienttype,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="sdkversion != null">
                #{sdkversion,jdbcType=VARCHAR},
            </if>
            <if test="timestamp != null">
                #{timestamp,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.imLoginRecord.entity.ImLoginRecord">
        update yw_im_login
        <set>
            <if test="eventtype != null">
                eventType = #{eventtype,jdbcType=VARCHAR},
            </if>
            <if test="accid != null">
                accid = #{accid,jdbcType=VARCHAR},
            </if>
            <if test="clientip != null">
                clientIp = #{clientip,jdbcType=VARCHAR},
            </if>
            <if test="clienttype != null">
                clientType = #{clienttype,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="sdkversion != null">
                sdkVersion = #{sdkversion,jdbcType=VARCHAR},
            </if>
            <if test="timestamp != null">
                timestamp = #{timestamp,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.imLoginRecord.entity.ImLoginRecord">
        update yw_im_login
        set eventType = #{eventtype,jdbcType=VARCHAR},
        accid = #{accid,jdbcType=VARCHAR},
        clientIp = #{clientip,jdbcType=VARCHAR},
        clientType = #{clienttype,jdbcType=VARCHAR},
        code = #{code,jdbcType=VARCHAR},
        sdkVersion = #{sdkversion,jdbcType=VARCHAR},
        timestamp = #{timestamp,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryRecordByaccidAndTimestamp" parameterType="com.movision.mybatis.imLoginRecord.entity.ImLoginRecord"
            resultType="com.movision.mybatis.imLoginRecord.entity.ImLoginRecord">
        SELECT *
        FROM yw_im_login
        where accid = #{accid} and timestamp = #{timestamp}
    </select>
</mapper>