<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.payment.mapper.PaymentGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.payment.entity.PaymentGoods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="viewerId" property="viewerId" jdbcType="BIGINT" />
    <result column="goodsId" property="goodsId" jdbcType="BIGINT" />
    <result column="viewTime" property="viewTime" jdbcType="TIMESTAMP" />
    <result column="companyId" property="companyId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, viewerId, goodsId, viewTime, companyId, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_zhb_viewGoods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_zhb_viewGoods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.payment.entity.PaymentGoods" >
    insert into t_zhb_viewGoods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="viewerId != null" >
        viewerId,
      </if>
      <if test="goodsId != null" >
        goodsId,
      </if>
        viewTime,
      <if test="companyId != null" >
        companyId,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="viewerId != null" >
        #{viewerId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
        now(),
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.payment.entity.PaymentGoods" >
    update t_zhb_viewGoods
    <set >
      <if test="viewerId != null" >
        viewerId = #{viewerId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goodsId = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="viewTime != null" >
        viewTime = #{viewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyId != null" >
        companyId = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="checkIsViewGoods" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) from t_zhb_viewGoods t where t.companyId = #{companyId} and t.goodsId = #{goodsId} and t.type=#{type}
  </select>
</mapper>