<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.systemLayout.mapper.SystemLayoutMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.systemLayout.entity.SystemLayout">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="module" property="module" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="details" property="details" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, module, type, value, details
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_system_layout
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yw_system_layout
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.movision.mybatis.systemLayout.entity.SystemLayout">
    insert into yw_system_layout (id, module, type,
        value, details)
    values (#{id,jdbcType=INTEGER}, #{module,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
        #{value,jdbcType=VARCHAR}, #{details,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.systemLayout.entity.SystemLayout">
        insert into yw_system_layout
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="module != null">
                module,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="value != null">
                value,
            </if>
            <if test="details != null">
                details,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="module != null">
                #{module,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="details != null">
                #{details,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.systemLayout.entity.SystemLayout">
        update yw_system_layout
        <set>
            <if test="module != null">
                module = #{module,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                value = #{value,jdbcType=VARCHAR},
            </if>
            <if test="details != null">
                details = #{details,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.systemLayout.entity.SystemLayout">
    update yw_system_layout
    set module = #{module,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
        details = #{details,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryRobotSeparate" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT value FROM yw_system_layout WHERE type = #{separate,jdbcType=VARCHAR} AND module = 'robot'
    </select>

    <select id="queryRobotpercentage" parameterType="java.lang.String" resultType="java.lang.Double">
        SELECT value FROM yw_system_layout WHERE type = #{separate,jdbcType=VARCHAR} AND module = 'robot'
    </select>

    <select id="queryServiceUrl" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT value FROM yw_system_layout WHERE type = #{fileurl,jdbcType=VARCHAR} AND module = 'file'
    </select>

    <select id="queryFileRatio" parameterType="java.lang.String" resultType="java.lang.Double">
        SELECT value FROM yw_system_layout WHERE module = 'file' AND type = #{ratio,jdbcType=VARCHAR}
    </select>

    <select id="queryImgBucket" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT value FROM yw_system_layout WHERE module = 'file' AND type = #{img,jdbcType=VARCHAR}
    </select>

    <!-- 查询所有系统配置  -->
    <select id="findAllQuerySystemLayotAll" parameterType="java.lang.String"
            resultType="com.movision.mybatis.systemLayout.entity.SystemLayout">
        SELECT * FROM yw_system_layout
        <where>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY module DESC
    </select>

    <select id="querySystemLayoutById" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.systemLayout.entity.SystemLayout">
        SELECT * FROM yw_system_layout WHERE id = #{id,jdbcType=INTEGER}
    </select>
</mapper>