<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.tech.mapper.TechCooperationMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.tech.entity.TechCooperation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="createID" property="createID" jdbcType="BIGINT" />
    <result column="publishTime" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="systemCategory" property="systemCategory" jdbcType="INTEGER" />
    <result column="applicationArea" property="applicationArea" jdbcType="INTEGER" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="cooperation" property="cooperation" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="views" property="views" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhuhuibao.mybatis.tech.entity.TechCooperation" extends="BaseResultMap" >
    <result column="notes" property="notes" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createID, publishTime, updateTime, title, systemCategory, applicationArea, linkman, 
    companyName, telephone, email, province, city, area, address, cooperation, type, 
    status, views
  </sql>
  <sql id="Blob_Column_List" >
    notes
  </sql>
  <select id="previewTechCooperationDetail" resultType="java.util.Map" parameterType="java.util.Map" >
  select
  t.id, t.createID, date_format(t.publishTime,'%Y-%m-%d') publishTime, date_format(t.updateTime,'%Y-%m-%d') updateTime, t.title, dc.name systemCategory, dn.name applicationArea, t.linkman,
  t.companyName, t.telephone, t.email, po.name province,ct.name city,ar.name area, t.address, t.cooperation, t.type,
  t.status,t.notes
  from t_tech_cooperation t
  left join t_dictionary_province po on po.code = t.province
  left join t_dictionary_city ct on ct.code = t.city
  left join t_dictionary_area ar on ar.code = t.area
  left join t_dictionary_constant dc on dc.code = t.systemCategory and dc.type =19
  left join t_dictionary_constant dn on dn.code = t.applicationArea and dn.type =18
  where t.id = #{id,jdbcType=BIGINT}
  <if test="type != null">
    and t.type = #{type}
  </if>
</select>

  <select id="previewUnloginTechCoopDetail" resultType="java.util.Map" parameterType="java.lang.Long" >
   select
   t.id, t.title, dc.name systemCategory, dn.name applicationArea,t.cooperation,t.notes
   from t_tech_cooperation t
   left join t_dictionary_constant dc on dc.code = t.systemCategory and dc.type =19
   left join t_dictionary_constant dn on dn.code = t.applicationArea and dn.type =18
    where t.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    t.id, t.createID, date_format(t.publishTime,'%Y-%m-%d') publishTime, date_format(t.updateTime,'%Y-%m-%d') updateTime, t.title, t.systemCategory, t.applicationArea, t.linkman,
    t.companyName, t.telephone, t.email, t.province,t.city,t.area, t.address, t.cooperation, t.type,
    t.status,t.notes
    from t_tech_cooperation t
    where t.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectMcCoopDetail" resultType="java.util.Map" parameterType="java.lang.Long" >
    select
    t.id, t.createID, date_format(t.publishTime,'%Y-%m-%d') publishTime, date_format(t.updateTime,'%Y-%m-%d') updateTime, t.title,
	 t.systemCategory,dc.name systemCategoryName, t.applicationArea,dn.name applicationAreaName, t.linkman,
    t.companyName, t.telephone, t.email, t.province,pv.name provinceName,t.city,ct.name cityName,t.area,ar.name areaName,t.address, t.cooperation, t.type,
    t.status,t.notes
    from t_tech_cooperation t
    left join t_dictionary_province pv on pv.code = t.province
    left join t_dictionary_city ct on ct.code = t.city
    left join t_dictionary_area ar on ar.code = t.area
    left join t_dictionary_constant dc on dc.code = t.systemCategory and dc.type =19
    left join t_dictionary_constant dn on dn.code = t.applicationArea and dn.type =18
    where t.id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.tech.entity.TechCooperation" >
    insert into t_tech_cooperation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createID != null" >
        createID,
      </if>
        publishTime,
        updateTime,
      <if test="title != null" >
        title,
      </if>
      <if test="systemCategory != null" >
        systemCategory,
      </if>
      <if test="applicationArea != null" >
        applicationArea,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="cooperation != null" >
        cooperation,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="views != null" >
        views,
      </if>
      <if test="notes != null" >
        notes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createID != null" >
        #{createID,jdbcType=BIGINT},
      </if>
        now(),
        now(),
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="systemCategory != null" >
        #{systemCategory,jdbcType=INTEGER},
      </if>
      <if test="applicationArea != null" >
        #{applicationArea,jdbcType=INTEGER},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="cooperation != null" >
        #{cooperation,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="views != null" >
        #{views,jdbcType=BIGINT},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.tech.entity.TechCooperation" >
    update t_tech_cooperation
    <set >
      <if test="createID != null" >
        createID = #{createID,jdbcType=BIGINT},
      </if>
      <if test="publishTime != null" >
        publishTime = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = now(),
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="systemCategory != null" >
        systemCategory = #{systemCategory,jdbcType=INTEGER},
      </if>
      <if test="applicationArea != null" >
        applicationArea = #{applicationArea,jdbcType=INTEGER},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        companyName = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="cooperation != null" >
        cooperation = #{cooperation,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="views != null" >
        views = #{views,jdbcType=BIGINT},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=LONGVARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteTechCooperation" parameterType="java.util.Map" >
    update t_tech_cooperation
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateTechCooperationViews" parameterType="java.lang.Long" >
    update t_tech_cooperation set views = views+1
    where id = #{id}
  </update>
  <select id="findAllTechCooperationPager" parameterType="java.util.Map" resultType="java.util.Map">
    select t.id, t.createID, t.title,dc.name systemCategory, dn.name applicationAreaName,t.applicationArea,
    concat(po.name,'-',ct.name) provincecity,t.cooperation from t_tech_cooperation t
    left join t_dictionary_province po on po.code = t.province
    left join t_dictionary_city ct on ct.code = t.city
    left join t_dictionary_area ar on ar.code = t.area
    left join t_dictionary_constant dc on dc.code = t.systemCategory and dc.type =19
    left join t_dictionary_constant dn on dn.code = t.applicationArea and dn.type =18
    where t.status != 4
    <if test="createID != null and createID != ''" >
      and t.createID = #{createID}
    </if>
       <if test="status != null and status != ''" >
          and t.status = #{status}
       </if>
       <if test="title != null and title != ''">
         and t.title like concat('%',#{title},'%')
       </if>
       <if test="systemCategory != null and systemCategory != ''">
       and t.systemCategory = #{systemCategory}
       </if>
       <if test="applicationArea != null and applicationArea != ''">
         and t.applicationArea = #{applicationArea}
       </if>
       <if test="type != null">
         and t.type = #{type}
       </if>
    order by t.updateTime desc
  </select>

  <select id="findAllOMSTechCooperationPager" parameterType="java.util.Map" resultType="java.util.Map">
    select t.id, case when ur.mobile != '' or ur.mobile != null then ur.mobile when ur.email!= '' or ur.email != null then ur.email end as  username,
    date_format(t.publishTime,'%Y-%m-%d') publishTime, date_format(t.updateTime,'%Y-%m-%d') updateTime, t.title, dc.name systemCategory,
    dn.name applicationArea,  t.type,
    t.status from t_tech_cooperation t
    left join t_m_member ur on ur.id = t.createID
    left join t_dictionary_constant dc on dc.code = t.systemCategory and dc.type =19
    left join t_dictionary_constant dn on dn.code = t.applicationArea and dn.type =18
    where t.status != 4
      <if test="status != null and status != ''">
        and t.status = #{status}
      </if>
      <if test="title != null and title != ''">
        and t.title like concat('%',#{title},'%')
      </if>
      <if test="systemCategory != null and systemCategory != ''">
        and t.systemCategory = #{systemCategory}
      </if>
      <if test="applicationArea != null and applicationArea != ''">
        and t.applicationArea = #{applicationArea}
      </if>
      <if test="type != null and type != ''">
        and t.type = #{type}
      </if>
    order by t.updateTime desc
  </select>

  <select id="findCoopViewsOrder" parameterType="java.util.Map" resultType="java.util.Map">
    select id,createid,title, from t_tech_cooperation
    <where>
      <if test="status != null">
        and status = #{status}
      </if>
    </where>
    order by views desc limit #{count}
  </select>

  <select id="findIndexTechCooperation" parameterType="java.util.Map" resultType="java.util.Map">
    select
    t.id, date_format(t.publishTime,'%Y-%m-%d') publishTime, date_format(t.updateTime,'%Y-%m-%d') updateTime, t.title, dc.name systemCategory, dn.name applicationArea, t.linkman,
    t.companyName, t.telephone, t.email, po.name province,ct.name city,ar.name area, t.address, t.cooperation, t.notes,t.type
    from t_tech_cooperation t
    left join t_dictionary_province po on po.code = t.province
    left join t_dictionary_city ct on ct.code = t.city
    left join t_dictionary_area ar on ar.code = t.area
    left join t_dictionary_constant dc on dc.code = t.systemCategory and dc.type =19
    left join t_dictionary_constant dn on dn.code = t.applicationArea and dn.type =18
    where t.status != 4

    <if test="status != null">
      and t.status = #{status}
    </if>
    <if test="type != null">
      and t.type = #{type}
    </if>
    order by t.type,t.updateTime desc
    limit #{count}
  </select>
</mapper>