<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.tech.mapper.TechExpertCourseMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.tech.entity.TechExpertCourse" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="proposerId" property="proposerId" jdbcType="BIGINT" />
    <result column="operateId" property="operateId" jdbcType="BIGINT" />
    <result column="publishTime" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhuhuibao.mybatis.tech.entity.TechExpertCourse" extends="BaseResultMap" >
    <result column="notes" property="notes" jdbcType="LONGVARCHAR" />
  </resultMap>

  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select t.id, t.proposerId,t.operateId, t.title, t.teacher, t.city, t.linkman, date_format(t.startTime,'%Y-%m-%d') startTime,
    date_format(t.endTime,'%Y-%m-%d') endTime, t.mobile, t.status,t.notes from t_tech_expert_applyCourse t
    where t.id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_tech_expert_applyCourse
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.tech.entity.TechExpertCourse" >
    insert into t_tech_expert_applyCourse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="proposerId != null" >
        proposerId,
      </if>
      <if test="operateId != null" >
        operateId,
      </if>
        publishTime,
        updateTime,
      <if test="title != null" >
        title,
      </if>
      <if test="teacher != null" >
        teacher,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="startTime != null" >
        startTime,
      </if>
      <if test="endTime != null" >
        endTime,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="proposerId != null" >
        #{proposerId,jdbcType=BIGINT},
      </if>
      <if test="operateId != null" >
        #{operateId,jdbcType=BIGINT},
      </if>
        now(),
        now(),
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=LONGVARCHAR},
      </if>
      <if test="type != null">
        #{type},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.tech.entity.TechExpertCourse" >
    update t_tech_expert_applyCourse
    <set >
      <if test="operateId != null" >
        operateId = #{operateId,jdbcType=BIGINT},
      </if>
      <if test="publishTime != null" >
        publishTime = #{publishTime,jdbcType=TIMESTAMP},
      </if>
        updateTime = now(),
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        startTime = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        endTime = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findAllOMSTrainCoursePager" parameterType="java.util.Map" resultType="java.util.Map">
  select t.id, t.title, t.teacher, t.city, t.linkman, date_format(t.publishTime,'%Y-%m-%d') publishTime,
    date_format(t.updateTime,'%Y-%m-%d') updateTime, t.mobile, t.status from t_tech_expert_applyCourse t
    <where>
      t.status != 3
      <if test="type != null">
        and type = #{type}
      </if>
      <if test="mobile != null">
        and mobile like concat('%',#{mobile},'%')
      </if>
      <if test="linkman != null">
        and t.linkman like concat('%',#{linkman},'%')
      </if>
      <if test="status != null">
        and t.status = #{status}
      </if>
    </where>
  </select>
</mapper>