<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.memCenter.mapper.BrandMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.memCenter.entity.Brand" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="CNName" property="CNName" jdbcType="VARCHAR" />
    <result column="ENName" property="ENName" jdbcType="VARCHAR" />
    <result column="views" property="views" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="logourl" property="logourl" jdbcType="VARCHAR" />
    <result column="createid" property="createid" jdbcType="BIGINT" />
    <result column="enterpriseName" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="certificate" property="certificate" jdbcType="VARCHAR" />
    <result column="webSite" property="webSite" jdbcType="VARCHAR" />
    <result column="publishTime" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="checkTime" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="lastModifyTime" property="lastModifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMap" type="com.zhuhuibao.common.pojo.ResultBean" >
    <result column="brandid" property="code" jdbcType="VARCHAR" />
    <result column="logourl" property="name" jdbcType="VARCHAR" />
    <result column="CNName" property="smallIcon" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMap1" type="com.zhuhuibao.common.pojo.BrandBean" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="CNName" property="brandCNName" jdbcType="VARCHAR" />
    <result column="scateid" property="scateid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMap2" type="com.zhuhuibao.common.pojo.SuggestBrand" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="CNName" property="brandCNName" jdbcType="VARCHAR" />
    <result column="logoUrl" property="logoUrl" jdbcType="VARCHAR" />
    <result column="scateid" property="scateid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMap3" type="com.zhuhuibao.common.pojo.ResultBean" >
    <result column="id" property="code" jdbcType="VARCHAR" />
    <result column="CNName" property="name" jdbcType="VARCHAR" />
    <result column="logourl" property="smallIcon" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMap4" type="com.zhuhuibao.common.pojo.BrandDetailBean" >
    <result column="enterpriseName" property="company" jdbcType="VARCHAR" />
    <result column="webSite" property="webSite" jdbcType="VARCHAR" />
    <result column="enterpriseTelephone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="description" property="brandDesc" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgUrl" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="CNName" property="cnName" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="logourl" property="logo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, CNName, ENName, views, weight, logourl, createid, description, imgurl,
    status, owner, certificate, webSite, publishTime, checkTime, lastModifyTime
  </sql>
  <insert id="addBrand" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Brand" >
    insert into t_p_brand (id, CNName, ENName, logourl,
    createid, description, imgurl,
    status, owner, certificate,
    webSite, publishTime)
    values (#{id}, #{CNName}, #{ENName}, #{logourl},
    #{createid}, #{description}, #{imgurl},
    2, #{owner}, #{certificate},
    #{webSite}, #{publishTime})
  </insert>
  <update id="updateBrand" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Brand" >
    update t_p_brand
    <set >
      <if test="CNName != null" >
        CNName = #{CNName},
      </if>
      <if test="ENName != null" >
        ENName = #{ENName},
      </if>
      <if test="views != null" >
        views = #{views},
      </if>
      <if test="logourl != null" >
        logourl = #{logourl},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="imgurl != null" >
        imgurl = #{imgurl},
      </if>
      <if test="owner != null" >
        owner = #{owner},
      </if>
      <if test="certificate != null" >
        certificate = #{certificate},
      </if>
      <if test="webSite != null" >
        webSite = #{webSite},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      lastModifyTime = #{lastModifyTime},
    </set>
    where id = #{id}
  </update>
  <select id="searchBrandByStatus" resultMap="BaseResultMap" >
    select
    distinct b.id,b.CNName,b.ENName, b.views, b.weight, b.logourl, b.createid, b.description, b.imgurl,
    b.status, b.owner, b.certificate, b.webSite, b.publishTime, b.checkTime, b.lastModifyTime
    from t_p_brand b
    left join t_p_product p on b.id = p.brandid
    where b.createid = #{createid} and b.status !=3
    <if test="status != null" >
      and b.status = #{status}
    </if>
  </select>
  <select id="searchBrand" resultMap="BaseResultMap" >
    select
    *
    from t_p_brand b
    where b.createid = #{createid} and b.status !=3
    <if test="status != null" >
      and b.status = #{status}
    </if>
  </select>
  <select id="findAllByPager" resultMap="BaseResultMap" >
    select
    b.CNName,b.owner,b.id,b.certificate,b.webSite,b.publishTime,b.logourl,b.status,m.enterpriseName
    from t_p_brand b
    LEFT JOIN t_m_member m on b.createid = m.id
    WHERE 1=1
    <if test="status != null" >
      and b.status = #{status}
    </if>
    <if test="CNName != null" >
      and b.CNName like CONCAT('%',#{CNName},'%')
    </if>
  </select>
  <select id="findBrandSize" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Brand" resultType="java.lang.Integer" >
    select
    COUNT(*)
    from t_p_brand b
    where 1=1
    <if test="status != null" >
      and b.status = #{status}
    </if>
    <if test="CNName != null" >
      and b.CNName like CONCAT('%',#{CNName},'%')
    </if>
  </select>
  <select id="searchBrandSize" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Brand" resultType="java.lang.Integer">
    select
    COUNT(*)
    from t_p_brand
    where createid = #{createid} and status !=3
    <if test="status != null" >
      and status = #{status}
    </if>
  </select>
  <select id="brandDetails" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_p_brand
    where id = #{id}
  </select>
  <update id="deleteBrand">
    update t_p_brand
    <set >
      status = 3
    </set>
    where id = #{id}
  </update>
  <select id="findAllBrand" resultMap="ResultMap" >
    select
    distinct t.brandid,b.logourl,b.CNName
    from t_p_product t
    LEFT JOIN t_p_brand b ON t.brandid = b.id
    WHERE t.scateid = #{scateid} and b.status = 1 and t.status = 1
  </select>
  <select id="findBrandByScateid" resultMap="ResultMap3" >
    select
    distinct t.brandid as id,b.CNName
    from t_p_product t
    LEFT JOIN t_p_brand b ON t.brandid = b.id
    WHERE t.scateid = #{scateid} and b.status = 1 and t.status = 1
  </select>
  <select id="searchSuggestBrand" resultMap="ResultMap3" >
    select
    id,CNName,logourl
    from t_p_brand
    where status = 1
    order by views desc limit 0,5
  </select>
  <select id="searchAll" resultMap="ResultMap1" >
    SELECT DISTINCT b.id,b.CNName,p.scateid
    FROM t_p_product p
    LEFT JOIN t_p_brand b ON b.id = p.brandid
    where b.status = 1 and p.status = 1 ORDER by b.weight DESC
  </select>
  <select id="SuggestBrand" resultMap="ResultMap2" >
    SELECT DISTINCT b.id,b.CNName,p.scateid,b.logourl
    FROM t_p_product p
    LEFT JOIN t_p_brand b ON b.id = p.brandid
    where b.status = 1 and p.status = 1
    ORDER by b.views desc
  </select>
  <select id="details"  resultMap="ResultMap4">
    select
    m.enterpriseName,m.address,m.province,m.city,m.area,m.enterpriseTelephone,b.webSite,b.imgurl,b.description,b.CNName,b.id,b.logourl
    from t_p_brand b
    LEFT JOIN t_m_member m on b.createid = m.id
    where b.id = #{id}
  </select>
</mapper>