<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.oms.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.oms.entity.Category" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parentId" property="parentId" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="is_deleted" property="is_deleted" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMap" type="com.zhuhuibao.common.ResultBean" >
    <result column="id" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, parentId, sort,smallIcon,bigIcon
  </sql>
  <select id="findSystemList" resultMap="ResultMap">
    select
    id,name
    from t_p_category
    where parentId = 0
  </select>
  <select id="findSubSystemList" resultMap="ResultMap">
    select
    id,name
    from t_p_category
    where parentId = #{parentId}
  </select>
  <insert id="addSystem" parameterType="com.zhuhuibao.mybatis.oms.entity.Category" >
    insert into t_p_category (id, name, parentId,
    sort,is_deleted)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER},
    #{sort,jdbcType=INTEGER},0)
  </insert>
  <update id="updateSystem" parameterType="com.zhuhuibao.mybatis.oms.entity.Category" >
    update t_p_category
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parentId = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="is_deleted != null" >
        is_deleted = #{is_deleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="deleteSystem" parameterType="com.zhuhuibao.mybatis.oms.entity.Category" >
    update t_p_category
    <set >
      is_deleted = 1
    </set>
    where id = #{id}
  </update>
   <select id="findCategoryAssemble" resultType="com.zhuhuibao.mybatis.oms.entity.CategoryAssemble">
    SELECT * FROM
	(
	SELECT P.ID fcateid,T.ID scateid,P.NAME fname,P.smallIcon,T.NAME sname FROM 
	(SELECT T.id,T.NAME,T.smallIcon FROM t_p_category T WHERE T.parentId=0 ) P LEFT JOIN t_p_category T ON P.ID=T.parentId 
	) P LEFT JOIN
	(SELECT distinct(B.id) brandid,B.brandCNName,B.brandENName,P.fcateid,P.scateid FROM  t_p_product P  LEFT JOIN t_p_brand  B ON P.brandid=B.ID) B
	  ON (P.fcateid=B.fcateid AND P.scateid=B.scateid)
  </select>
  <select id="findSecondSystemList" resultType="com.zhuhuibao.mybatis.oms.entity.Category">
    select
    <include refid="Base_Column_List" />
    from t_p_category
    where parentId = #{parentId}
  </select>
</mapper>