<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.memCenter.mapper.JobRelResumeMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.memCenter.entity.JobRelResume" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="jobID" property="jobID" jdbcType="BIGINT" />
    <result column="resumeID" property="resumeID" jdbcType="BIGINT" />
    <result column="publishDate" property="publishDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jobID, resumeID,publishDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_i_jobRelresume
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_i_jobRelresume
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.memCenter.entity.JobRelResume" >
    insert into t_i_jobRelresume (id, jobID, resumeID
      )
    values (#{id,jdbcType=BIGINT}, #{jobID,jdbcType=BIGINT}, #{resumeID,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.memCenter.entity.JobRelResume" >
    insert into t_i_jobRelresume
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jobID != null" >
        jobID,
      </if>
      <if test="resumeID != null" >
        resumeID,
      </if>
      publishDate,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="jobID != null" >
        #{jobID,jdbcType=BIGINT},
      </if>
      <if test="resumeID != null" >
        #{resumeID,jdbcType=BIGINT},
      </if>
      current_date(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.memCenter.entity.JobRelResume" >
    update t_i_jobRelresume
    <set >
      <if test="jobID != null" >
        jobID = #{jobID,jdbcType=BIGINT},
      </if>
      <if test="resumeID != null" >
        resumeID = #{resumeID,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuhuibao.mybatis.memCenter.entity.JobRelResume" >
    update t_i_jobRelresume
    set jobID = #{jobID,jdbcType=BIGINT},
      resumeID = #{resumeID,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="isExistApplyPosition" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) from t_i_jobRelresume t where
    jobID = #{jobID} and resumeID = #{resumeID} and (current_date() -publishDate) &lt;= 10
  </select>
</mapper>