<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.memCenter.mapper.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.memCenter.entity.Member" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="emailCheckCode" property="emailCheckCode" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="registerTime" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="identify" property="identify" jdbcType="VARCHAR" />
    <result column="enterpriseName" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="workType" property="workType" jdbcType="INTEGER" />
    <result column="enterpriseEmployeeParentId" property="enterpriseEmployeeParentId" jdbcType="BIGINT" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="enterpriseType" property="enterpriseType" jdbcType="INTEGER" />
    <result column="enterpriseLogo" property="enterpriseLogo" jdbcType="VARCHAR" />
    <result column="enterpriseDesc" property="enterpriseDesc" jdbcType="VARCHAR" />
    <result column="headShot" property="headShot" jdbcType="VARCHAR" />
    <result column="saleProductDesc" property="saleProductDesc" jdbcType="VARCHAR" />
    <result column="enterpriseCreaterTime" property="enterpriseCreaterTime" jdbcType="VARCHAR" />
    <result column="registerCapital" property="registerCapital" jdbcType="VARCHAR" />
    <result column="employeeNumber" property="employeeNumber" jdbcType="VARCHAR" />
    <result column="companyBusinessLicenseImg" property="companyBusinessLicenseImg" jdbcType="VARCHAR" />
    <result column="enterpriseTelephone" property="enterpriseTelephone" jdbcType="VARCHAR" />
    <result column="enterpriseFox" property="enterpriseFox" jdbcType="VARCHAR" />
    <result column="enterpriseWebSite" property="enterpriseWebSite" jdbcType="VARCHAR" />
    <result column="enterpriseLinkman" property="enterpriseLinkman" jdbcType="VARCHAR" />
    <result column="enterpriseLMDep" property="enterpriseLMDep" jdbcType="VARCHAR" />
    <result column="fixedTelephone" property="fixedTelephone" jdbcType="VARCHAR" />
    <result column="fixedMobile" property="fixedMobile" jdbcType="VARCHAR" />
    <result column="QQ" property="QQ" jdbcType="VARCHAR" />
    <result column="personRealName" property="personRealName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="personCompanyType" property="personCompanyType" jdbcType="INTEGER" />
    <result column="personIdentifyCard" property="personIdentifyCard" jdbcType="VARCHAR" />
    <result column="personIDFrontImgUrl" property="personIDFrontImgUrl" jdbcType="VARCHAR" />
    <result column="personIDBackImgUrl" property="personIDBackImgUrl" jdbcType="VARCHAR" />
    <result column="isrecommend" property="isrecommend" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMap" type="com.zhuhuibao.common.AccountBean" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="enterpriseName" property="enterpriseName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMap1" type="com.zhuhuibao.common.ResultBean" >
    <result column="id" property="code" jdbcType="VARCHAR" />
    <result column="enterpriseName" property="name" jdbcType="VARCHAR" />
    <result column="enterpriseLogo" property="smallIcon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mobile, email, emailCheckCode, password, registerTime, status, identify,
    enterpriseName, workType, enterpriseEmployeeParentId, province,
    city, area, address, enterpriseType, enterpriseLogo, enterpriseDesc, headShot, saleProductDesc,
    enterpriseCreaterTime, registerCapital, employeeNumber, companyBusinessLicenseImg,
    enterpriseTelephone, enterpriseFox, enterpriseWebSite, enterpriseLinkman, enterpriseLMDep,
    fixedTelephone, fixedMobile, QQ, personRealName, sex, personCompanyType,
    personIdentifyCard, personIDFrontImgUrl, personIDBackImgUrl,isrecommend
  </sql>
  <select id="findMemById" resultType="com.zhuhuibao.mybatis.memCenter.entity.Member">
    select
    <include refid="Base_Column_List" />
    from t_m_member
    where id = #{id}
  </select>
  <update id="updateMemInfo" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member">
    update t_m_member
    <set>
      <if test="mobile != null" >
        mobile = #{mobile},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="emailCheckCode != null" >
        emailCheckCode = #{emailCheckCode},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="registerTime != null" >
        registerTime = #{registerTime},
      </if>
      <if test="status != null" >
        status = (case when status = 4 then 4 else #{status} end ),
      </if>
      <if test="identify != null" >
        identify = #{identify},
      </if>
      <if test="enterpriseName != null" >
        enterpriseName = #{enterpriseName},
      </if>
      <if test="workType != null" >
        workType = #{workType},
      </if>
      <if test="enterpriseEmployeeParentId != null" >
        enterpriseEmployeeParentId = #{enterpriseEmployeeParentId},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="area != null" >
        area = #{area},
      </if>
      <if test="address != null" >
        address = #{address},
      </if>
      <if test="enterpriseType != null" >
        enterpriseType = #{enterpriseType},
      </if>
      <if test="enterpriseLogo != null" >
        enterpriseLogo = #{enterpriseLogo},
      </if>
      <if test="enterpriseDesc != null" >
        enterpriseDesc = #{enterpriseDesc},
      </if>
      <if test="headShot != null" >
        headShot = #{headShot},
      </if>
      <if test="saleProductDesc != null" >
        saleProductDesc = #{saleProductDesc},
      </if>
      <if test="enterpriseCreaterTime != null" >
        enterpriseCreaterTime = #{enterpriseCreaterTime},
      </if>
      <if test="registerCapital != null" >
        registerCapital = #{registerCapital},
      </if>
      <if test="employeeNumber != null" >
        employeeNumber = #{employeeNumber},
      </if>
      <if test="companyBusinessLicenseImg != null" >
        companyBusinessLicenseImg = #{companyBusinessLicenseImg},
      </if>
      <if test="enterpriseTelephone != null" >
        enterpriseTelephone = #{enterpriseTelephone},
      </if>
      <if test="enterpriseFox != null" >
        enterpriseFox = #{enterpriseFox},
      </if>
      <if test="enterpriseWebSite != null" >
        enterpriseWebSite = #{enterpriseWebSite},
      </if>
      <if test="enterpriseLinkman != null" >
        enterpriseLinkman = #{enterpriseLinkman},
      </if>
      <if test="enterpriseLMDep != null" >
        enterpriseLMDep = #{enterpriseLMDep},
      </if>
      <if test="fixedTelephone != null" >
        fixedTelephone = #{fixedTelephone},
      </if>
      <if test="fixedMobile != null" >
        fixedMobile = #{fixedMobile},
      </if>
      <if test="QQ != null" >
        QQ = #{QQ},
      </if>
      <if test="personRealName != null" >
        personRealName = #{personRealName},
      </if>
      <if test="sex != null" >
        sex = #{sex},
      </if>
      <if test="personCompanyType != null" >
        personCompanyType = #{personCompanyType},
      </if>
      <if test="personIdentifyCard != null" >
        personIdentifyCard = #{personIdentifyCard},
      </if>
      <if test="personIDFrontImgUrl != null" >
        personIDFrontImgUrl = #{personIDFrontImgUrl},
      </if>
      <if test="personIDBackImgUrl != null" >
        personIDBackImgUrl = #{personIDBackImgUrl},
      </if>
      <if test="isrecommend != null" >
        isrecommend = #{isrecommend},
      </if>
    </set>
    where id = #{id}
  </update>
  <insert id="addMember" keyProperty="id" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member" useGeneratedKeys="true">
    insert into t_m_member(mobile,email,password,registerTime,status,identify,enterpriseEmployeeParentId,workType,personRealName) values
    (#{mobile},#{email},#{password},now(),1,case when #{identify}==null then 2 else #{identify} end,#{enterpriseEmployeeParentId},#{workType},#{personRealName})
  </insert>
  <update id="updateMember" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member">
    update t_m_member
    <set>
      <if test="mobile != null">
        mobile = #{mobile},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="workType != null">
        workType = #{workType},
      </if>
      <if test="personRealName != null">
        personRealName = #{personRealName},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
    </set>
    where id = #{id}
  </update>
  <!--  <update id="disableMember" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member">
      update t_m_member
      <set>
        <if test="status!= null">
          status = 3,
        </if>
      </set>
      where id = #{id}
    </update>-->
  <update id="deleteMember">
    update t_m_member
    <set>
      status = 2,
    </set>
    where id = #{id}
  </update>
  <select id="findAllByPager" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_m_member
    where
    enterpriseEmployeeParentId = #{enterpriseEmployeeParentId} and status=1
    <if test="account != null and account != '' ">
      and (email like CONCAT('%',#{account},'%') or mobile like CONCAT('%',#{account},'%'))
    </if>
  </select>
  <select id="findStaffByParentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_m_member
    where
    enterpriseEmployeeParentId = #{enterpriseEmployeeParentId} and status=1
    <if test="account != null and account != '' ">
      and (email like CONCAT('%',#{account},'%') or mobile like CONCAT('%',#{account},'%'))
    </if>
  </select>
  <select id="findMember" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_m_member
    where status != 2 and status != 0
    <if test="mobile != null and mobile != '' ">
      and mobile = #{mobile}
    </if>
    <if test="email != null">
      and email = #{email}
    </if>
  </select>
  <update id="resetPwd" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member">
    update t_m_member
    <set>
      password = #{password},
    </set>
    where id=#{id}
  </update>
  <update id="uploadHeadShot" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member">
    update t_m_member
    <set>
      headShot = #{headShot},
    </set>
    where
    id = #{id}
  </update>
  <update id="uploadLogo" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member">
    update t_m_member
    <set>
      enterpriseLogo = #{enterpriseLogo},
    </set>
    where
    id = #{id}
  </update>
  <select id="findAgentMember" resultMap="ResultMap">
    select
    id,
    CASE WHEN mobile IS NOT NULL and mobile != '' THEN mobile WHEN email IS NOT NULL and email != '' THEN email END AS account,
    enterpriseName
    from t_m_member
    where
    identify like '%4%' and status in(1,3,4,5) AND
    <if test="type == 1">
      (email like CONCAT('%',#{account},'%') or mobile like CONCAT('%',#{account},'%'))
    </if>
    <if test="type == 2">
      enterpriseName like CONCAT('%',#{account},'%')
    </if>
  </select>
  <insert id="agentRegister" keyProperty="id" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member" useGeneratedKeys="true">
   insert into t_m_member(email,password,registerTime,status,identify) values
    (#{email},#{password},now(),1,1)
  </insert>
  <select id="findNewEngineerOrSupplier" resultMap="BaseResultMap">
    select * FROM t_m_member WHERE
    status in(1,3,4,5) and
    <if test="type==1">
      identify like '%3%'
    </if>
    <if test="type == 2">
      identify like '%4%'
    </if>
    <if test="type == 3">
      identify like '%5%'
    </if>
    <if test="type == 4">
      identify like '%6%'
    </if>
    order by registerTime desc
    <if test="type==1">
      limit 0,2
    </if>
    <if test="type == 2">
      limit 0,2
    </if>
    <if test="type == 3">
      limit 0,2
    </if>
    <if test="type == 4">
      limit 0,4
    </if>
  </select>
  <select id="findnewIdentifyEngineer" resultMap="BaseResultMap">
    select * FROM t_m_member WHERE
    status = 5 and
    <if test="type==1">
      identify like '%3%'
    </if>
    <if test="type == 2">
      identify like '%4%'
    </if>
    <if test="type == 3">
      identify like '%5%'
    </if>
    <if test="type == 4">
      identify like '%6%'
    </if>
    order by registerTime desc
  </select>
  <select id="findGreatCompany" resultMap="ResultMap1">
    SELECT id,enterpriseName,enterpriseLogo FROM t_m_member
    where isrecommend = 1 and status in(1,3,4,5) AND
    <if test="type==1">
      identify like '%3%'
    </if>
    <if test="type == 2">
      identify like '%4%'
    </if>
    <if test="type == 3">
      identify like '%5%'
    </if>
    <if test="type == 4">
      identify like '%6%'
    </if>
  </select>
</mapper>