<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhuibao.mybatis.memCenter.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.memCenter.entity.Member">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="emailCheckCode" property="emailCheckCode" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="registerTime" property="registerTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="identify" property="identify" jdbcType="INTEGER" />
    <result column="isValidatePass" property="isValidatePass" jdbcType="INTEGER" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="employeeType" property="employeeType" jdbcType="INTEGER" />
    <result column="enterpriseEmployeeParentId" property="enterpriseEmployeeParentId" jdbcType="BIGINT" />
    <result column="enterpriseMemberType" property="enterpriseMemberType" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="enterpriseType" property="enterpriseType" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="enterpriseLogo" property="enterpriseLogo" jdbcType="VARCHAR" />
    <result column="enterpriseDesc" property="enterpriseDesc" jdbcType="VARCHAR" />
    <result column="enterpriseHeadShot" property="enterpriseHeadShot" jdbcType="VARCHAR" />
    <result column="saleProductDesc" property="saleProductDesc" jdbcType="VARCHAR" />
    <result column="enterpriseQualification" property="enterpriseQualification" jdbcType="INTEGER" />
    <result column="enterpriseQLevel" property="enterpriseQLevel" jdbcType="INTEGER" />
    <result column="fcateid" property="fcateid" jdbcType="INTEGER" />
    <result column="scateid" property="scateid" jdbcType="INTEGER" />
    <result column="companyCorporationName" property="companyCorporationName" jdbcType="VARCHAR" />
    <result column="cpyCommericalRegNum" property="cpyCommericalRegNum" jdbcType="VARCHAR" />
    <result column="companyCreaterTime" property="companyCreaterTime" jdbcType="VARCHAR" />
    <result column="registerCapital" property="registerCapital" jdbcType="VARCHAR" />
    <result column="registerAddress" property="registerAddress" jdbcType="VARCHAR" />
    <result column="companyBusinessScope" property="companyBusinessScope" jdbcType="VARCHAR" />
    <result column="companyBusinessLicenseImg" property="companyBusinessLicenseImg" jdbcType="VARCHAR" />
    <result column="certificateType" property="certificateType" jdbcType="INTEGER" />
    <result column="certificateGrade" property="certificateGrade" jdbcType="INTEGER" />
    <result column="certificateName" property="certificateName" jdbcType="VARCHAR" />
    <result column="certificateOrganization" property="certificateOrganization" jdbcType="VARCHAR" />
    <result column="certificateUrl" property="certificateUrl" jdbcType="VARCHAR" />
    <result column="enterpriseTel" property="enterpriseTel" jdbcType="INTEGER" />
    <result column="enterpriseFox" property="enterpriseFox" jdbcType="INTEGER" />
    <result column="enterpriseWebSite" property="enterpriseWebSite" jdbcType="VARCHAR" />
    <result column="enterpriseLinkman" property="enterpriseLinkman" jdbcType="VARCHAR" />
    <result column="enterpriseLMSex" property="enterpriseLMSex" jdbcType="INTEGER" />
    <result column="enterpriseLMDep" property="enterpriseLMDep" jdbcType="VARCHAR" />
    <result column="enterpriseLMTel" property="enterpriseLMTel" jdbcType="INTEGER" />
    <result column="enterpriseLMMobile" property="enterpriseLMMobile" jdbcType="INTEGER" />
    <result column="enterpriseQQ" property="enterpriseQQ" jdbcType="INTEGER" />
    <result column="personRealName" property="personRealName" jdbcType="VARCHAR" />
    <result column="personID" property="personID" jdbcType="INTEGER" />
    <result column="personSex" property="personSex" jdbcType="INTEGER" />
    <result column="personPosition" property="personPosition" jdbcType="INTEGER" />
    <result column="personProvince" property="personProvince" jdbcType="VARCHAR" />
    <result column="personCity" property="personCity" jdbcType="VARCHAR" />
    <result column="personArea" property="personArea" jdbcType="VARCHAR" />
    <result column="personAddress" property="personAddress" jdbcType="VARCHAR" />
    <result column="personMobile" property="personMobile" jdbcType="INTEGER" />
    <result column="personTel" property="personTel" jdbcType="INTEGER" />
    <result column="personQQ" property="personQQ" jdbcType="INTEGER" />
    <result column="personHeadShot" property="personHeadShot" jdbcType="VARCHAR" />
    <result column="personIDFrontImgUrl" property="personIDFrontImgUrl" jdbcType="VARCHAR" />
    <result column="personIDBackImgUrl" property="personIDBackImgUrl" jdbcType="VARCHAR" />
    <result column="personCertificateName" property="personCertificateName" jdbcType="VARCHAR" />
    <result column="personCertificateOrg" property="personCertificateOrg" jdbcType="VARCHAR" />
    <result column="personCertificateUrl" property="personCertificateUrl" jdbcType="VARCHAR" />
    <result column="is_deleted" property="is_deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mobile, email, emailCheckCode, password, registerTime, status, identify, isValidatePass,
    companyName, employeeType, enterpriseEmployeeParentId, enterpriseMemberType, province,
    city, area, enterpriseType, address, enterpriseLogo, enterpriseDesc, enterpriseHeadShot,
    saleProductDesc, enterpriseQualification, enterpriseQLevel, fcateid, scateid, companyCorporationName,
    cpyCommericalRegNum, companyCreaterTime, registerCapital, registerAddress, companyBusinessScope,
    companyBusinessLicenseImg, certificateType, certificateGrade, certificateName, certificateOrganization,
    certificateUrl, enterpriseTel, enterpriseFox, enterpriseWebSite, enterpriseLinkman,
    enterpriseLMSex, enterpriseLMDep, enterpriseLMTel, enterpriseLMMobile, enterpriseQQ,
    personRealName, personID, personSex, personPosition, personProvince, personCity,
    personArea, personAddress, personMobile, personTel, personQQ, personHeadShot, personIDFrontImgUrl,
    personIDBackImgUrl, personCertificateName, personCertificateOrg, personCertificateUrl,
    is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_m_member
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_m_member
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <select id="findMemById" resultType="com.zhuhuibao.mybatis.memCenter.entity.Member">
    select
    <include refid="Base_Column_List" />
    from t_m_member
    where id = #{id}
  </select>

  <update id="updateMemInfo" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member">
    update t_m_member
    <set>
      <if test="companyName != null" >
        companyName = #{companyName},
      </if>
      <if test="enterpriseMemberType != null" >
        enterpriseMemberType = #{enterpriseMemberType},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="area != null" >
        area = #{area},
      </if>
      <if test="address != null" >
        address = #{address},
      </if>
      <if test="enterpriseLogo != null" >
        enterpriseLogo = #{enterpriseLogo},
      </if>
      <if test="enterpriseHeadShot != null" >
        enterpriseHeadShot = #{enterpriseHeadShot},
      </if>
      <if test="saleProductDesc != null" >
        saleProductDesc = #{saleProductDesc},
      </if>
      <if test="enterpriseDesc != null" >
        enterpriseDesc = #{enterpriseDesc},
      </if>
      <if test="companyCorporationName != null" >
        companyCorporationName = #{companyCorporationName},
      </if>
      <if test="cpyCommericalRegNum != null" >
        cpyCommericalRegNum = #{cpyCommericalRegNum},
      </if>
      <if test="companyCreaterTime != null" >
        companyCreaterTime = #{companyCreaterTime},
      </if>
      <if test="registerCapital != null" >
        registerCapital = #{registerCapital},
      </if>
      <if test="registerAddress != null" >
        registerAddress = #{registerAddress},
      </if>
      <if test="companyBusinessScope != null" >
        companyBusinessScope = #{companyBusinessScope},
      </if>
      <if test="companyBusinessLicenseImg != null" >
        companyBusinessLicenseImg = #{companyBusinessLicenseImg},
      </if>
      <if test="certificateType != null" >
        certificateType = #{certificateType},
      </if>
      <if test="certificateGrade != null" >
        certificateGrade = #{certificateGrade},
      </if>
      <if test="certificateName != null" >
        certificateName = #{certificateName},
      </if>
      <if test="certificateOrganization != null" >
        certificateOrganization = #{certificateOrganization},
      </if>
      <if test="certificateUrl != null" >
        certificateUrl = #{certificateUrl},
      </if>
      <if test="enterpriseTel != null" >
        enterpriseTel = #{enterpriseTel},
      </if>
      <if test="enterpriseFox != null" >
        enterpriseFox = #{enterpriseFox},
      </if>
      <if test="enterpriseWebSite != null" >
        enterpriseWebSite = #{enterpriseWebSite},
      </if>
      <if test="enterpriseLinkman != null" >
        enterpriseLinkman = #{enterpriseLinkman},
      </if>
      <if test="enterpriseLMSex != null" >
        enterpriseLMSex = #{enterpriseLMSex},
      </if>
      <if test="enterpriseLMDep != null" >
        enterpriseLMDep = #{enterpriseLMDep},
      </if>
      <if test="enterpriseLMTel != null" >
        enterpriseLMTel = #{enterpriseLMTel},
      </if>
      <if test="enterpriseLMMobile != null" >
        enterpriseLMMobile = #{enterpriseLMMobile},
      </if>
      <if test="enterpriseQQ != null" >
        enterpriseQQ = #{enterpriseQQ},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile},
      </if>
      <if test="personRealName != null" >
        personRealName = #{personRealName},
      </if>
      <if test="personSex != null" >
        personSex = #{personSex},
      </if>
      <if test="personPosition != null" >
        personPosition = #{personPosition},
      </if>
      <if test="personProvince != null" >
        personProvince = #{personProvince},
      </if>
      <if test="personCity != null" >
        personCity = #{personCity},
      </if>
      <if test="personArea != null" >
        personArea = #{personArea},
      </if>
      <if test="personAddress != null" >
        personAddress = #{personAddress},
      </if>
      <if test="personMobile != null" >
        personMobile = #{personMobile},
      </if>
      <if test="personTel != null" >
        personTel = #{personTel},
      </if>
      <if test="personQQ != null" >
        personQQ = #{personQQ},
      </if>
      <if test="personHeadShot != null" >
        personHeadShot = #{personHeadShot},
      </if>
      <if test="personIDFrontImgUrl != null" >
        personIDFrontImgUrl = #{personIDFrontImgUrl},
      </if>
      <if test="personIDBackImgUrl != null" >
        personIDBackImgUrl = #{personIDBackImgUrl},
      </if>
      <if test="personCertificateName != null" >
        personCertificateName = #{personCertificateName},
      </if>
      <if test="personCertificateOrg != null" >
        personCertificateOrg = #{personCertificateOrg},
      </if>
      <if test="personCertificateUrl != null" >
        personCertificateUrl = #{personCertificateUrl},
      </if>
    </set>
    where id = #{id}
  </update>
  <insert id="addMember" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member" useGeneratedKeys="true" keyProperty="id">
    insert into t_m_member(mobile,email,password,registerTime,status,identify,enterpriseEmployeeParentId,employeeType) values
    (#{mobile},#{email},#{password},date_format(now(),'%Y-%m-%d %H:%i:%s'),#{status},2,#{enterpriseEmployeeParentId},#{employeeType})
  </insert>
  <update id="updateMember" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member">
    update t_m_member
    <set>
      <if test="mobile != null" >
        mobile = #{mobile},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="employeeType != null" >
        employeeType = #{employeeType},
      </if>
      <if test="personRealName != null" >
        personRealName = #{personRealName},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="disableMember" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member">
    update t_m_member
    <set>
      <if test="status!= null" >
        status = 2,
      </if>
    </set>
    where 1=1
    <if test="mobile != null and mobile != '' " >
      and mobile = #{mobile}
    </if>
    <if test="email != null" >
      and email = #{email}
    </if>
  </update>
  <update id="deleteMember" parameterType="com.zhuhuibao.mybatis.memCenter.entity.Member">
    update t_m_member
    <set>
        is_deleted = 1,
    </set>
    where 1=1
    <if test="mobile != null and mobile != '' " >
      and mobile = #{mobile}
    </if>
    <if test="email != null" >
      and email = #{email}
    </if>
  </update>
  <select id="findStaffByParentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_m_member
    where
    enterpriseEmployeeParentId = #{enterpriseEmployeeParentId} and is_deleted = 0
    <if test="mobile != null and mobile != '' " >
      and mobile = #{mobile}
    </if>
    <if test="email != null" >
      and email = #{email}
    </if>
  </select>
</mapper>