<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuhuibao.mybatis.product.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.zhuhuibao.mybatis.product.entity.Product">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="createid" jdbcType="BIGINT" property="createid" />
    <result column="fcateid" jdbcType="INTEGER" property="fcateid" />
    <result column="scateid" jdbcType="INTEGER" property="scateid" />
    <result column="brandid" jdbcType="INTEGER" property="brandid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="publishTime" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="lastmodified" jdbcType="TIMESTAMP" property="lastmodified" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="repository" jdbcType="DOUBLE" property="repository" />
    <result column="number" jdbcType="DOUBLE" property="number" />
    <result column="hit" jdbcType="INTEGER" property="hit" />
    <result column="imgUrl" jdbcType="VARCHAR" property="imgUrl" />
    <result column="paramIDs" jdbcType="VARCHAR" property="paramIDs" />
    <result column="paramValues" jdbcType="VARCHAR" property="paramValues" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zhuhuibao.mybatis.product.entity.ProductWithBLOBs">
    <result column="detailDesc" jdbcType="LONGVARCHAR" property="detailDesc" />
    <result column="paras" jdbcType="LONGVARCHAR" property="paras" />
    <result column="service" jdbcType="LONGVARCHAR" property="service" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, createid, fcateid, scateid, brandid, status, publishTime, lastmodified, 
    price, unit, repository, number, hit, imgUrl, paramIDs, paramValues
  </sql>
  <sql id="Blob_Column_List">
    detailDesc, paras, service
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select t.id, t.name, t.createid, t.fcateid, t.scateid, t.brandid, t.status, date_format(t.publishTime,'%Y-%m-%d %H:%i:%s') publishTime, t.lastmodified, 
	  t.price, t.unit, t.repository, t.number, t.hit, t.imgUrl, t.paramIDs,t.paramValues,t.detailDesc, t.paras, t.service,concat(c.name,'>',c1.name) categoryName,
	  b.brandCNName  
	  from t_p_product t left join t_p_category c on t.fcateid = c.id
	  left join t_p_category c1 on t.scateid = c1.id 
	  left join t_p_brand b on t.brandid = b.id
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_p_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhuhuibao.mybatis.product.entity.ProductWithBLOBs">
    insert into t_p_product (name, createid, 
      fcateid, scateid, brandid, 
      status, publishTime, lastmodified, 
      price, unit, repository, 
      number, hit, imgUrl, 
      paramIDs, paramValues, detailDesc, 
      paras, service)
    values (#{name,jdbcType=VARCHAR}, #{createid,jdbcType=BIGINT}, 
      #{fcateid,jdbcType=INTEGER}, #{scateid,jdbcType=INTEGER}, #{brandid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, now(), #{lastmodified,jdbcType=TIMESTAMP}, 
      #{price,jdbcType=DOUBLE}, #{unit,jdbcType=VARCHAR}, #{repository,jdbcType=DOUBLE}, 
      #{number,jdbcType=DOUBLE}, #{hit,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, 
      #{paramIDs,jdbcType=VARCHAR}, #{paramValues,jdbcType=VARCHAR}, #{detailDesc,jdbcType=LONGVARCHAR}, 
      #{paras,jdbcType=LONGVARCHAR}, #{service,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuhuibao.mybatis.product.entity.ProductWithBLOBs">
    insert into t_p_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="createid != null">
        createid,
      </if>
      <if test="fcateid != null">
        fcateid,
      </if>
      <if test="scateid != null">
        scateid,
      </if>
      <if test="brandid != null">
        brandid,
      </if>
      <if test="status != null">
        status,
      </if>
        publishTime,
      <if test="lastmodified != null">
        lastmodified,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="repository != null">
        repository,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="hit != null">
        hit,
      </if>
      <if test="imgUrl != null">
        imgUrl,
      </if>
      <if test="paramIDs != null">
        paramIDs,
      </if>
      <if test="paramValues != null">
        paramValues,
      </if>
      <if test="detailDesc != null">
        detailDesc,
      </if>
      <if test="paras != null">
        paras,
      </if>
      <if test="service != null">
        service,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createid != null">
        #{createid,jdbcType=BIGINT},
      </if>
      <if test="fcateid != null">
        #{fcateid,jdbcType=INTEGER},
      </if>
      <if test="scateid != null">
        #{scateid,jdbcType=INTEGER},
      </if>
      <if test="brandid != null">
        #{brandid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      now(),
      <if test="lastmodified != null">
        #{lastmodified,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="repository != null">
        #{repository,jdbcType=DOUBLE},
      </if>
      <if test="number != null">
        #{number,jdbcType=DOUBLE},
      </if>
      <if test="hit != null">
        #{hit,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="paramIDs != null">
        #{paramIDs,jdbcType=VARCHAR},
      </if>
      <if test="paramValues != null">
        #{paramValues,jdbcType=VARCHAR},
      </if>
      <if test="detailDesc != null">
        #{detailDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="paras != null">
        #{paras,jdbcType=LONGVARCHAR},
      </if>
      <if test="service != null">
        #{service,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuhuibao.mybatis.product.entity.ProductWithBLOBs">
    update t_p_product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createid != null">
        createid = #{createid,jdbcType=BIGINT},
      </if>
      <if test="fcateid != null">
        fcateid = #{fcateid,jdbcType=INTEGER},
      </if>
      <if test="scateid != null">
        scateid = #{scateid,jdbcType=INTEGER},
      </if>
      <if test="brandid != null">
        brandid = #{brandid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="publishTime != null">
        publishTime = #{publishTime,jdbcType=TIMESTAMP},
      </if>
        lastmodified = now(),
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="repository != null">
        repository = #{repository,jdbcType=DOUBLE},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=DOUBLE},
      </if>
      <if test="hit != null">
        hit = #{hit,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        imgUrl = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="paramIDs != null">
        paramIDs = #{paramIDs,jdbcType=VARCHAR},
      </if>
      <if test="paramValues != null">
        paramValues = #{paramValues,jdbcType=VARCHAR},
      </if>
      <if test="detailDesc != null">
        detailDesc = #{detailDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="paras != null">
        paras = #{paras,jdbcType=LONGVARCHAR},
      </if>
      <if test="service != null">
        service = #{service,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findAllByPager" parameterType="com.zhuhuibao.mybatis.product.entity.Product" resultType="com.zhuhuibao.mybatis.product.entity.Product">
      select t.id, t.name, t.createid, t.fcateid, t.scateid, t.brandid, t.status, date_format(t.publishTime,'%Y-%m-%d %H:%i:%s') publishTime, t.lastmodified, 
	  t.price, t.unit, t.repository, t.number, t.hit, t.imgUrl, t.paramIDs,t.paramValues,t.detailDesc, t.paras, t.service,concat(c.name,'>',c1.name) categoryName,
	  b.brandCNName  
	  from t_p_product t left join t_p_category c on t.fcateid = c.id
	  left join t_p_category c1 on t.scateid = c1.id 
	  left join t_p_brand b on t.brandid = b.id
      where t.status != 2 
      <if test="fcateid != null">
        and t.fcateid = #{fcateid,jdbcType=INTEGER}
      </if>
      <if test="scateid != null">
        and t.scateid = #{scateid,jdbcType=INTEGER}
      </if>
      <if test="status != null">
        and t.status = #{status,jdbcType=INTEGER}
      </if>
       <if test="createid != null">
        and t.createid = #{createid,jdbcType=BIGINT}
      </if>
      order by publishTime desc
  </select>
   <select id="queryProductByParam" parameterType="com.zhuhuibao.mybatis.product.entity.ProductWithBLOBs" resultType="com.zhuhuibao.mybatis.product.entity.ProductWithBLOBs">
      select t.id, t.name, t.createid, t.fcateid, t.scateid, t.brandid, t.status, 
	  t.price, t.unit, t.repository, t.number, t.hit, t.imgUrl, t.paramIDs,t.paramValues,t.detailDesc, t.paras, t.service,
	  b.brandCNName  
	  from t_p_product t  
	  left join t_p_brand b on t.brandid = b.id
      where t.status != 2 and t.status = 1 and t.paramIDs = #{paramIDs} and t.paramValues = #{paramValues}

  </select>
</mapper>