<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhuibao.mybatis.memberReg.mapper.ValidateinfoMapper">

  <insert id="insertValidateInfo" parameterType="validateInfo" useGeneratedKeys="true" keyProperty="id">
  	insert into t_m_validateinfo(account,valid,createTime,checkCode) values
  	(#{account},#{valid},#{createTime},#{checkCode})
  </insert>
  
  <select id="findMemberValidateInfo" parameterType="validateInfo" resultType="validateInfo">
	  select * from t_m_validateinfo 
	  <where>
	  	<if test="account != null"> 
	  		AND account = #{account}
	  	</if>
	  	<if test="checkCode">
	  		AND checkCode = #{checkCode}
	  	</if>
	  	<if test="valid">
	  		AND valid = #{valid}
	  	</if>
	  </where>
  </select>
  
  <update id="updateValidateInfo" parameterType="validateInfo">
  update t_m_validateinfo 
  	<set>
	    <if test="valid!= null" >
	    	valid = #{valid}
	    </if>
    </set>
    where checkCode = #{checkCode}
  </update>
  
  <delete id="deleteValidateInfo" parameterType="validateInfo">
  delete from t_m_validateinfo where account = #{account}
  </delete>
</mapper>