<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movision.mybatis.post.mapper.PostMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.post.entity.Post">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="circleid" jdbcType="INTEGER" property="circleid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="subtitle" jdbcType="VARCHAR" property="subtitle"/>
        <result column="postcontent" jdbcType="VARCHAR" property="postcontent"/>
        <result column="zansum" jdbcType="INTEGER" property="zansum"/>
        <result column="commentsum" jdbcType="INTEGER" property="commentsum"/>
        <result column="forwardsum" jdbcType="INTEGER" property="forwardsum"/>
        <result column="collectsum" jdbcType="INTEGER" property="collectsum"/>
        <result column="isactive" jdbcType="INTEGER" property="isactive"/>
        <result column="activetype" jdbcType="INTEGER" property="activetype"/>
        <result column="activefee" jdbcType="DOUBLE" property="activefee"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="ishot" jdbcType="INTEGER" property="ishot"/>
        <result column="orderid" jdbcType="INTEGER" property="orderid"/>
        <result column="isessence" jdbcType="INTEGER" property="isessence"/>
        <result column="isessencepool" jdbcType="INTEGER" property="isessencepool"/>
        <result column="coverimg" jdbcType="VARCHAR" property="coverimg"/>
        <result column="hotimgurl" jdbcType="VARCHAR" property="hotimgurl"/>
        <result column="intime" jdbcType="TIMESTAMP" property="intime"/>
        <result column="totalpoint" jdbcType="INTEGER" property="totalpoint"/>
        <result column="isdel" jdbcType="INTEGER" property="isdel"/>
    </resultMap>
    <!--BaseColumn-->
    <sql id="Base_Column_List">
        id, circleid, title, subtitle, postcontent, zansum, commentsum, forwardsum, collectsum,
        isactive, activetype, activefee, type, ishot, orderid, isessence, isessencepool, coverimg, hotimgurl, intime,
        totalpoint,
        isdel
  </sql>

    <!--基础查询语句-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from yw_post
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--查询首页今日精选的帖子数据-->
    <select id="queryTodayEssence" resultType="com.movision.mybatis.post.entity.PostVo">
        select * from (select
        t1.id,t1.title,t1.subtitle,t1.isactive,t1.type,t1.coverimg,t1.orderid,t1.intime,t1.isessence,t1.isessencepool,t1.isdel,t2.category
        AS
        category,t2.code AS code
                        from yw_post t1
                        LEFT JOIN yw_circle t2 ON
        t1.circleid = t2.id) t
        where DATE_FORMAT(t.intime,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d')
        AND t.isessence = '1'
        AND t.isdel = '0'
        order by t.orderid
    </select>

    <!--查询首页dayago天前精选的帖子数据-->
    <select id="queryDayAgoEssence" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.post.entity.PostVo">
        select * from (select
        t1.id,t1.title,t1.subtitle,t1.isactive,t1.type,t1.coverimg,t1.orderid,t1.intime,t1.isessence,t1.isessencepool,t1.isdel,t2.category
        AS
        category,t2.code AS code
                        from yw_post t1
                        LEFT JOIN yw_circle t2 ON
        t1.circleid = t2.id) t
        where TO_DAYS(NOW())-TO_DAYS(t.intime) = #{dayago,jdbcType=INTEGER}
        and t.isessence = '1'
        AND t.isdel = '0'
        order by t.orderid
    </select>

    <!--登录时查询用户可能喜欢的圈子-->
    <select id="queryMayLikeCircle" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.circle.entity.Circle">
        SELECT t1.id,t1.category,t1.code,t1.maylikeimg FROM yw_circle t1
         WHERE id NOT IN(
        SELECT circleid FROM yw_follow_circle WHERE userid = #{userid,jdbcType=INTEGER})
        AND t1.status = '1'
    </select>

    <!--未登录时查询我们推荐的圈子-->
    <select id="queryRecommendCircle" resultType="com.movision.mybatis.circle.entity.Circle">
        SELECT t1.id,t1.category,t1.code,t1.maylikeimg FROM yw_circle t1
        WHERE t1.isrecommend = '1' AND t1.status = '1'
    </select>

    <!--查询yw_post表中所有热门活动列表-->
    <select id="queryHotActiveList" resultType="com.movision.mybatis.post.entity.Post">
        SELECT
        t1.id,t1.title,t1.subtitle,t1.postcontent,t1.isactive,t1.activetype,t1.activefee,t1.ishot,t1.hotimgurl,t1.intime
        FROM yw_post t1 WHERE t1.isactive = '1' AND t1.ishot = '1' AND t1.isdel = '0'
        ORDER BY intime DESC
    </select>

    <select id="queryCircleSubPost" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.post.entity.Post">
        SELECT t1.id,t1.title,t1.subtitle,t1.isactive,t1.type,t1.ishot,t1.coverimg,t1.isdel
        FROM yw_post t1
        WHERE t1.circleid = #{circleid,jdbcType=INTEGER}
          AND t1.isdel = '0'
          AND t1.ishot = '1'
          AND t1.isactive = '0'
    </select>

    <!--查询帖子详情-->
    <select id="queryPostDetail" parameterType="java.util.Map"
            resultType="com.movision.mybatis.post.entity.PostVo">
        SELECT t1.*,t2.category AS category,t2.code AS code,
        <if test="userid != null">
            (SELECT count(*) FROM yw_follow_circle
            WHERE userid = #{userid,jdbcType=INTEGER}
            AND circleid = (SELECT circleid FROM yw_post WHERE id = #{postid,jdbcType=INTEGER})) AS isfollow
        </if>
        <if test="userid == null">
            0 AS isfollow
        </if>
        FROM yw_post t1,yw_circle t2
        WHERE t1.id = #{postid,jdbcType=INTEGER}
          AND t1.circleid = t2.id
    </select>

    <!-- 查询指定帖子所属圈子的id -->
    <select id="queryPostByCircleid" parameterType="java.lang.Integer" resultType="Integer">
        SELECT p.circleid
        FROM yw_post p
        WHERE p.id=#{id,jdbcType=INTEGER}
    </select>

    <!--查询往期3天的精选帖子列表-->
    <select id="queryPastPostList" parameterType="java.util.Map"
            resultType="com.movision.mybatis.post.entity.PostVo">
        SELECT *,t2.category AS category,t2.code AS code
        FROM yw_post t1,yw_circle t2
        WHERE DATE(t1.intime) <![CDATA[ = ]]> DATE_ADD(#{date},INTERVAL-#{days} DAY)
          AND t1.circleid = t2.id
          AND t1.isdel = '0'
          AND t1.isessence = '1'
          AND t2.status = '1'
    </select>

    <select id="queryPostList" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.post.entity.PostVo">
        SELECT *,t2.category AS category, t2.code AS code FROM yw_post t1
        LEFT JOIN yw_circle t2 ON
            t1.circleid = t2.id
        WHERE circleid = #{circleid,jdbcType=INTEGER}
          AND isdel = '0'
          ORDER BY intime DESC
    </select>

    <!--根据圈子id查询当前圈子里所更新的帖子总数-->
    <select id="queryPostNumByCircleid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(1) FROM yw_post
        WHERE circleid = #{circleid,jdbcType=INTEGER}
          AND isdel = '0'
    </select>

    <!--根据圈子id查询该原生视频帖子的视频url-->
    <select id="queryVideoUrl" parameterType="java.lang.Integer" resultType="String">
        SELECT videourl FROM yw_video WHERE postid = #{postid,jdbcType=INTEGER}
    </select>

    <!--查询所有活动列表-->
    <select id="queryAllActive" resultType="com.movision.mybatis.post.entity.PostVo">
        SELECT t.* FROM (
        SELECT t1.id, t1.title, t1.subtitle, t1.postcontent, t1.zansum, t1.commentsum, t1.forwardsum, t1.collectsum,
        t1.isactive, t1.activetype, t1.activefee, t1.ishot, t1.isessence, t1.isessencepool, t1.orderid, t1.coverimg,
        t1.intime,
        t1.totalpoint, t1.isdel, t2.begintime, t2.endtime
        FROM yw_post t1
        LEFT JOIN yw_active_period t2
        ON t1.id = t2.postid
        ) t WHERE t.isactive = '1'
        ORDER BY t.intime DESC
    </select>

    <!--查询告知类活动详情-->
    <select id="queryNoticeActive" parameterType="java.lang.Integer"
            resultType="com.movision.mybatis.post.entity.ActiveVo">
        SELECT t.* FROM (
        SELECT t1.*,t2.begintime,t2.endtime
        FROM yw_post t1
        LEFT JOIN yw_active_period t2
        ON t1.id = t2.postid
        ) t
        WHERE t.id = #{postid,jdbcType=INTEGER}
    </select>

    <!--查询该用户有没有参与该活动-->
    <select id="queryUserPartSum" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*) FROM yw_active_part
        WHERE postid = #{postid,jdbcType=INTEGER}
          AND userid = #{userid,jdbcType=INTEGER}
    </select>

    <!--查询该活动的参与总人数-->
    <select id="queryActivePartSum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(*) FROM yw_active_part
        WHERE postid = #{postid,jdbcType=INTEGER}
    </select>

    <!--查询用户发布的历史帖子和用户分享出去的历史帖子(这里取的是分享时间)-->
    <select id="personPost" parameterType="java.lang.Integer" resultType="com.movision.mybatis.post.entity.PostVo">
        SELECT a.*,b.name AS circlename FROM (
            (
                SELECT id, circleid, title, subtitle, coverimg, intime
                FROM yw_post
                WHERE circleid IN (
                  SELECT id FROM yw_circle WHERE phone = (
                    SELECT phone FROM yw_user WHERE id = #{userid,jdbcType=INTEGER}
                  )
                )
                AND isactive = '0'
                AND isdel = '0'
            )
          UNION
            (
                SELECT t.id, t.circleid, t.title, t.subtitle, t.coverimg, t1.intime  FROM (
                    SELECT id, circleid, title, subtitle, coverimg, intime
                    FROM yw_post
                    WHERE id IN (
                      SELECT postid FROM yw_post_share WHERE userid = #{userid,jdbcType=INTEGER}
                    )
                    AND isactive = '0'
                    AND isdel = '0'
                ) t LEFT JOIN yw_post_share t1 ON t.id = t1.postid
            )
        ) a LEFT JOIN yw_circle b ON a.circleid = b.id
    </select>

    <!--查询用户参与过的历史活动列表-->
    <select id="personActive" parameterType="java.lang.Integer" resultType="com.movision.mybatis.post.entity.ActiveVo">
        SELECT * FROM (
            SELECT t1.id, t1.title, t1.subtitle, t1.coverimg, t2.begintime, t2.endtime
            FROM yw_post t1
            LEFT JOIN yw_active_period t2
             ON t1.id = t2.postid
            ) t
        WHERE t.id IN (
             SELECT postid FROM yw_active_part WHERE userid = #{userid,jdbcType=INTEGER}
         )
    </select>

    <!--基础删除语句-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_post
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--基础插入语句（无判断全量）-->
    <insert id="insert" parameterType="com.movision.mybatis.post.entity.Post">
    insert into yw_post (id, circleid, title, 
      subtitle, postcontent, zansum,
        commentsum, forwardsum, collectsum,
        isactive, activetype, activefee, type, ishot, orderid,
        isessence, isessencepool, coverimg, hotimgurl,
      intime, totalpoint, isdel
      )
    values (#{id,jdbcType=INTEGER}, #{circleid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{subtitle,jdbcType=VARCHAR}, #{postcontent,jdbcType=VARCHAR}, #{zansum,jdbcType=INTEGER},
        #{commentsum,jdbcType=INTEGER}, #{forwardsum,jdbcType=INTEGER}, #{collectsum,jdbcType=INTEGER},
        #{isactive,jdbcType=INTEGER}, #{activetype,jdbcType=INTEGER}, #{activefee,jdbcType=DOUBLE},
        #{type,jdbcType=INTEGER},
        #{ishot,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER},#{isessence,jdbcType=INTEGER},
        #{isessencepool,jdbcType=INTEGER}, #{coverimg,jdbcType=VARCHAR},#{hotimgurl,jdbcType=VARCHAR},
      #{intime,jdbcType=TIMESTAMP}, #{totalpoint,jdbcType=INTEGER}, #{isdel,jdbcType=INTEGER}
      )
  </insert>

    <!--APP端发布普通帖-->
    <insert id="releasePost" parameterType="com.movision.mybatis.post.entity.Post">
        <selectKey keyProperty="id" order="AFTER" resultType="Integer">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO yw_post (circleid, title,
          postcontent, zansum, commentsum, forwardsum,
        collectsum, isactive, type, ishot, isessence,
        isessencepool, coverimg, intime, totalpoint, isdel
        )
        VALUES (
          #{circleid,jdbcType=INTEGER},#{title,jdbcType=VARCHAR},#{postcontent,jdbcType=VARCHAR},
          #{zansum,jdbcType=INTEGER},#{commentsum,jdbcType=INTEGER},#{forwardsum,jdbcType=INTEGER},
          #{collectsum,jdbcType=INTEGER},#{isactive,jdbcType=INTEGER},#{type,jdbcType=INTEGER},
          #{ishot,jdbcType=INTEGER},#{isessence,jdbcType=INTEGER},#{isessencepool,jdbcType=INTEGER},
        #{coverimg,jdbcType=VARCHAR},#{intime,jdbcType=TIMESTAMP},#{totalpoint,jdbcType=INTEGER},#{isdel,jdbcType=INTEGER}
        )
    </insert>

    <!--插入一条用户参与活动的记录-->
    <insert id="saveActiveRecord" parameterType="java.util.Map">
      INSERT INTO yw_active_part (
        postid, userid, title, email, videourl, introduction
      )
      VALUES (
        #{postid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{videourl,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}
      )
    </insert>

    <!--批量插入发布帖子时分享的所有商品-->
    <insert id="insertPostShareGoods" parameterType="java.util.List">
        INSERT INTO yw_post_share_goods (
        postid, goodsid
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.postid,jdbcType=INTEGER},#{item.goodsid,jdbcType=INTEGER})
        </foreach>
    </insert>

    <!--基础插入语句（选择性插入）-->
    <insert id="insertSelective" parameterType="com.movision.mybatis.post.entity.Post">
        insert into yw_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="circleid != null">
                circleid,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="subtitle != null">
                subtitle,
            </if>
            <if test="postcontent != null">
                postcontent,
            </if>
            <if test="zansum != null">
                zansum,
            </if>
            <if test="commentsum != null">
                commentsum,
            </if>
            <if test="forwardsum != null">
                forwardsum,
            </if>
            <if test="collectsum != null">
                collectsum,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
            <if test="activetype != null">
                activetype,
            </if>
            <if test="activefee != null">
                activefee,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="ishot != null">
                ishot,
            </if>
            <if test="orderid != null">
                orderid,
            </if>
            <if test="isessence != null">
                isessence,
            </if>
            <if test="isessencepool != null">
                isessencepool,
            </if>
            <if test="coverimg != null">
                coverimg,
            </if>
            <if test="hotimgurl != null">
                hotimgurl,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="totalpoint != null">
                totalpoint,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="circleid != null">
                #{circleid,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="postcontent != null">
                #{postcontent,jdbcType=VARCHAR},
            </if>
            <if test="zansum != null">
                #{zansum,jdbcType=INTEGER},
            </if>
            <if test="commentsum != null">
                #{commentsum,jdbcType=INTEGER},
            </if>
            <if test="forwardsum != null">
                #{forwardsum,jdbcType=INTEGER},
            </if>
            <if test="collectsum != null">
                #{collectsum,jdbcType=INTEGER},
            </if>
            <if test="isactive != null">
                #{isactive,jdbcType=INTEGER},
            </if>
            <if test="activetype != null">
                #{activetype,jdbcType=INTEGER},
            </if>
            <if test="activefee != null">
                #{activefee,jdbcType=DOUBLE},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="ishot != null">
                #{ishot,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="isessence != null">
                #{isessence,jdbcType=INTEGER},
            </if>
            <if test="isessencepool != null">
                #{isessencepool,jdbcType=INTEGER},
            </if>
            <if test="coverimg != null">
                #{coverimg,jdbcType=VARCHAR},
            </if>
            <if test="hotimgurl != null">
                #{hotimgurl,jdbcType=VARCHAR},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="totalpoint != null">
                #{totalpoint,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--基础update语句（有判断）-->
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.post.entity.Post">
        update yw_post
        <set>
            <if test="circleid != null">
                circleid = #{circleid,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                subtitle = #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="postcontent != null">
                postcontent = #{postcontent,jdbcType=VARCHAR},
            </if>
            <if test="zansum != null">
                zansum = #{zansum,jdbcType=INTEGER},
            </if>
            <if test="commentsum != null">
                commentsum = #{commentsum,jdbcType=INTEGER},
            </if>
            <if test="forwardsum != null">
                forwardsum = #{forwardsum,jdbcType=INTEGER},
            </if>
            <if test="collectsum != null">
                collectsum = #{collectsum,jdbcType=INTEGER},
            </if>
            <if test="isactive != null">
                isactive = #{isactive,jdbcType=INTEGER},
            </if>
            <if test="activetype != null">
                activetype = #{activetype,jdbcType=INTEGER},
            </if>
            <if test="activefee != null">
                activefee = #{activefee,jdbcType=DOUBLE},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="ishot != null">
                ishot = #{ishot,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="isessence != null">
                isessence = #{isessence,jdbcType=INTEGER},
            </if>
            <if test="isessencepool != null">
                isessencepool = #{isessencepool,jdbcType=INTEGER},
            </if>
            <if test="coverimg != null">
                coverimg = #{coverimg,jdbcType=VARCHAR},
            </if>
            <if test="hotimgurl != null">
                hotimgurl = #{hotimgurl,jdbcType=VARCHAR},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="totalpoint != null">
                totalpoint = #{totalpoint,jdbcType=INTEGER},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--基础update语句（无判断全量修改）-->
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.post.entity.Post">
    update yw_post
    set circleid = #{circleid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      postcontent = #{postcontent,jdbcType=VARCHAR},
      zansum = #{zansum,jdbcType=INTEGER},
      commentsum = #{commentsum,jdbcType=INTEGER},
      forwardsum = #{forwardsum,jdbcType=INTEGER},
      collectsum = #{collectsum,jdbcType=INTEGER},
      isactive = #{isactive,jdbcType=INTEGER},
        activetype = #{activetype,jdbcType=INTEGER},
        activefee = #{activefee,jdbcType=DOUBLE},
      type = #{type,jdbcType=INTEGER},
      ishot = #{ishot,jdbcType=INTEGER},
      orderid = #{orderid,jdbcType=INTEGER},
      isessence = #{isessence,jdbcType=INTEGER},
        isessencepool = #{isessencepool,jdbcType=INTEGER},
      coverimg = #{coverimg,jdbcType=VARCHAR},
        hotimgurl = #{hotimgurl,jdbcType=VARCHAR},
      intime = #{intime,jdbcType=TIMESTAMP},
      totalpoint = #{totalpoint,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updatePostByZanSum" parameterType="java.lang.Integer">
        UPDATE yw_post
        SET zansum = zansum+1
        WHERE id=#{id,jdbcType=INTEGER}
    </update>

    <select id="queryPostByZanSum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT p.zansum
        FROM yw_post p
        WHERE id=#{id,jdbcType=INTEGER}
    </select>

    <update id="updatePostBycommentsum" parameterType="java.lang.Integer">
        UPDATE yw_post
        SET commentsum=commentsum+1
        WHERE id=#{postid,jdbcType=INTEGER}
    </update>

    <!-- 查询帖子列表 -->
    <select id="queryPostByList" resultType="com.movision.mybatis.post.entity.Post">
        SELECT * FROM yw_post WHERE isdel=0 ORDER BY intime DESC
    </select>

    <!-- 逻辑删除帖子 -->
    <update id="deletePost" parameterType="java.lang.Integer">
        UPDATE yw_post
        SET isdel=1
        WHERE id=#{postid,jdbcType=INTEGER}
    </update>
</mapper>