<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.PostZanRecord.mapper.PostZanRecordMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.PostZanRecord.entity.PostZanRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="postid" property="postid" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, userid, postid, intime
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_post_zan_record
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_post_zan_record
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.movision.mybatis.PostZanRecord.entity.PostZanRecord">
        insert into yw_post_zan_record (id, userid, postid,
        intime)
        values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{postid,jdbcType=INTEGER},
        #{intime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.movision.mybatis.PostZanRecord.entity.PostZanRecord">
        insert into yw_post_zan_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="postid != null">
                postid,
            </if>
            <if test="intime != null">
                intime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="postid != null">
                #{postid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.PostZanRecord.entity.PostZanRecord">
        update yw_post_zan_record
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="postid != null">
                postid = #{postid,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.PostZanRecord.entity.PostZanRecord">
        update yw_post_zan_record
        set userid = #{userid,jdbcType=INTEGER},
        postid = #{postid,jdbcType=INTEGER},
        intime = #{intime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="queryByUserid" parameterType="java.lang.String"
            resultType="com.movision.mybatis.PostZanRecord.entity.PostZanRecordVo">
 SELECT r.intime,u.nickname FROM yw_post_zan_record r LEFT JOIN yw_user u
    ON r.userid=u.id WHERE r.postid IN (SELECT id FROM yw_post WHERE userid=#{userid,jdbcType=INTEGER} and isdel=0)
    </select>
    <select id="findAllZanList" parameterType="java.lang.String" resultType="java.util.Map">
         SELECT r.intime,u.nickname,u.photo,r.postid FROM yw_post_zan_record r LEFT JOIN yw_user u
    ON r.userid=u.id WHERE r.postid IN (SELECT id FROM yw_post WHERE userid=#{userid,jdbcType=INTEGER} and isdel=0) ORDER BY r.intime DESC
    </select>
</mapper>