<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movision.mybatis.submission.mapper.SubmissionMapper">
    <resultMap id="BaseResultMap" type="com.movision.mybatis.submission.entity.Submission">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="videourl" property="videourl" jdbcType="VARCHAR"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, title, videourl, userid, email, comment, status, intime
  </sql>

    <!--基础查询语句-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yw_submission
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from yw_submission
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.movision.mybatis.submission.entity.Submission">
    insert into yw_submission (id, title, videourl, 
      userid, email, comment, 
      status, intime)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{videourl,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{intime,jdbcType=TIMESTAMP})
  </insert>

    <!--提交原生视频申请-->
    <insert id="commitSubmission" parameterType="java.util.Map">
    INSERT INTO yw_submission (
      title, videourl, userid, email, comment, status, intime
    )
    VALUES (#{title,jdbcType=VARCHAR}, #{videourl,jdbcType=VARCHAR},
      #{userid,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{intime,jdbcType=TIMESTAMP}
    )
  </insert>

    <insert id="insertSelective" parameterType="com.movision.mybatis.submission.entity.Submission">
        insert into yw_submission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="videourl != null">
                videourl,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="intime != null">
                intime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="videourl != null">
                #{videourl,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.movision.mybatis.submission.entity.Submission">
        update yw_submission
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="videourl != null">
                videourl = #{videourl,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.movision.mybatis.submission.entity.Submission">
    update yw_submission
    set title = #{title,jdbcType=VARCHAR},
      videourl = #{videourl,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      intime = #{intime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="findAllQueryContributeList" resultType="com.movision.mybatis.submission.entity.SubmissionVo">
        SELECT s.*,u.nickname,u.level FROM yw_submission s LEFT JOIN yw_user u ON s.userid=u.id
    </select>

    <select id="findAllqueryUniteConditionByContribute" resultType="com.movision.mybatis.submission.entity.SubmissionVo"
            parameterType="java.util.Map">
        SELECT s.*,u.nickname,u.level FROM yw_submission s LEFT JOIN yw_user u ON s.userid=u.id WHERE 1
        <if test="nickname!=null">
            AND u.nickname LIKE concat('%',#{nickname,jdbcType=VARCHAR},'%')
        </if>
        <if test="email">
            AND s.email=#{email.jdbcType=VARCHAR}
        </if>
        <if test="type!=null">
            AND s.status=#{type,jdbcType=INTEGER}
        </if>
        <if test="vip!=null">
            AND u.level=#{vip,jdbcType=INTEGER}
        </if>
        <if test="begintime!=null and endtime!=null">
            AND s.intime BETWEEN #{begintime,jdbcType=DATE} AND #{endtime,jdbcType=DATE}
        </if>
    </select>

    <select id="queryContributeBounce" resultType="com.movision.mybatis.submission.entity.Submission"
            parameterType="java.lang.String">
        SELECT * FROM yw_submission WHERE id=#{id,jdbcType=INTEGER}
    </select>

    <update id="deleteContributeById" parameterType="java.lang.String">
        DELETE FROM yw_submission where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="update_contribute_audit" parameterType="java.util.Map">
        update yw_submission set status = #{status,jdbcType=INTEGER} where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>